<div class="col-xs-12 no-padding result-area-tab" >
    <!-- Top Header --><div class="result-scroll">
    <div class="type-details border-none" *ngIf="editorControl.result_header.order && jsonBuilderHandler.getJSONBuilt().templateType == 'Numerical'"><span class="form-label">Heading:</span>
        <textarea class="wysiwyg" [(ngModel)]="editorControl.result_header.props.title"></textarea>
    </div>
    <div><a href="javascript:void();"></a>
    <a href="javascript:void();" class="result-anchor">
        <span></span>
        <span></span>
    </a></div>
    
    <!-- Top Header END -->
    <!-- ** For numerical calculators **  -->
    <div class="panel-group main-result-parent"  id="accordionResult" *ngIf="jsonBuilderHandler.getJSONBuilt().templateType == 'Numerical' && resultSection" >
        <div class="panel panel-default" *ngFor="let control of resultSection.items,let i=index">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span >
                        <a data-toggle="collapse" data-parent="#accordionResult" href="#collapse{{i+1}}" [class.collapsed]="jsonBuilderHandler.getSelectedControl() != control" (click)="accordianOpen('#collapse'+(i+1), control);">
                            <span class="result-arrow" ></span>
                            <input [(ngModel)]="jsonBuilderHandler.getJSONBuilt().formula[i].name" type="textbox" class="edit-name hide" />
                            <span  class="result_text">Result #{{i+1}} 
                                <span *ngIf="jsonBuilderHandler.getJSONBuilt().formula[i].name!==''" style="font-size: large;">:</span>
                                {{jsonBuilderHandler.getJSONBuilt().formula[i].name}}</span>   
                            <!--<span  class="index-span" *ngIf="jsonBuilderHandler.getJSONBuilt().formula[i].name==='Result'"> {{i+1}}</span>                     -->
                        </a>
                    </span>
                    <span class="pull-right icon-action ">

                        <div class="help-tip"> 
                            <a href="javascript:void();" class="edit_name_link" ><i class="material-icons">create</i></a>
                            <div _ngcontent-wag-11="" class="help-checktip">Edit</div>
                        </div>
                        <div class="help-tip"> 
                            <a href="javascript:void();" *ngIf="!control.addLoading" (click)="addNewSection(control);callGA('ADDRESULT'); control.addLoading=true;"><i class="material-icons">add_circle</i></a>
                            <div class="result-spinner" *ngIf="control.addLoading"><span class=""><i class="material-icons loader-result">autorenew</i></span></div>                     
                            <div _ngcontent-wag-11="" class="help-checktip">Add</div>
                        </div>
                    
                        

                        <div class="help-tip"> 
                        <a href="javascript:void();" *ngIf="!control.delLoading"><i class="material-icons" [class.hide]="resultSection.items.length==1 || i==0" (click)="deleteResult(i,control); control.delLoading=true;">delete</i></a>
                        <div class="result-spinner" *ngIf="control.delLoading"><span class=""><i class="material-icons loader-result">autorenew</i></span></div>                     
                        <div class="help-checktip">Delete</div>
                        </div> 
                   
                    </span>
                </h4>
            </div>
            <div id="collapse{{i+1}}" class="panel-collapse collapse" [class.in]="jsonBuilderHandler.getSelectedControl() == control">
                <div class="panel-body">
                    <div class="type-details">
                    <!--<input type="text" [(ngModel)]="jsonBuilderHandler.getJSONBuilt().formula[i].name">-->
                    <span class="form-label">Formula:</span>
                        <div class="input-group col-md-12 no-padding" *ngIf="jsonBuilderHandler.getJSONBuilt().formula[i].result!=''">
                            <input type="text" class="file-input" data-toggle="modal" data-target="#formula-modal-new" (click)="toggleFormula(i)" readonly placeholder="{{jsonBuilderHandler.getJSONBuilt().formula[i].result}}">
                            <label class="input-group-btn">
                                    <span class="btn btn-default btn-flat btn-basic2 btn-upload" (click)="toggleFormula(i);callGA('EDITFORMULA')" data-toggle="modal" data-target="#formula-modal-new" >
                                    EDIT
                                </span>
                            </label>
                        </div>
                        <div class="col-md-12 no-padding">
                            <button *ngIf="jsonBuilderHandler.getJSONBuilt().formula[i].result==''" (click)="toggleFormula(i);callGA('EDITFORMULA')" data-toggle="modal" data-target="#formula-modal-new" type="button" class="btn btn-default btn-flat btn-basic2 btn-basic3">CREATE FORMULA</button>
                        </div>
                        <div class="type-details-sub">
                            <span class="form-label hide">Toggle Result:</span>
                            <!-- add_section wysiwyg component  -->
                            <add_section [control]="control" *ngIf="jsonBuilderHandler.getSelectedControl() == control"></add_section>
                            <!-- add_section wysiwyg component  End -->
                        </div>
                        <!--<div class="type-details-sub">
                            <span class="form-label">Heading:</span>
                            <div contenteditable class="ques-textarea" ></div>
                        </div>
                        <div class="type-details-sub">
                            <span class="form-label">Sub Heading:</span>
                            <div contenteditable class="ques-textarea" ></div>
                        </div>
                        <div class="type-details-sub">
                            <span class="form-label">Description:</span>
                            <div contenteditable class="ques-textarea" ></div>
                        </div>

                        <div class="type-details-sub"><span class="form-label">Image:</span>
                            <div class="col-xs-12 no-padding">
                                <div class="input-group">
                                    <input type="text" class="file-input" placeholder="No file" readonly>
                                    <label class="input-group-btn">
                                        <span class="btn btn-default btn-flat btn-basic2 btn-upload" >
                                            UPLOAD <input type=""  style="display: none;">
                                        </span>
                                    </label>
                                </div>
                            </div>
                         </div>-->
                         
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!-- FOr numeric calc end -->

    
    <!-- ** for recommendation calc ** -->
    <div class="panel-group main-result-parent recomResult"  id="accordionResult" *ngIf="(jsonBuilderHandler.getJSONBuilt().templateType == 'Recommendation' && (jsonBuilderHandler.getSelectedFormula())  )" >
        <div class="panel panel-default" >
            <div class="panel-heading hide">
                <h4 class="panel-title">
                    <span>
                        <a>
                            <span  class="result_text">
                                <span *ngIf="jsonBuilderHandler.getSelectedFormula().name!==''" >
                                    Outcome {{jsonBuilderHandler.getJSONBuilt().formula.indexOf(jsonBuilderHandler.getSelectedFormula()) + 1}}: {{jsonBuilderHandler.getSelectedFormula().name}}
                                </span>
                            </span>        
                        </a>
                    </span>
                </h4>
            </div>
            <div >
                <div class="panel-body">
                    <div class="type-details">
                    <!--<span class="form-label">RESULT:</span>-->
                      <div class="">
                            <span class="form-label"> Page Title:</span>
                                <a class="check check-small default" (click)="copyToAll('header')"> Apply to all outcomes</a>
                            <input type="text" class="form-text" [(ngModel)]="jsonBuilderHandler.getSelectedFormula().decimal">
                        </div>
                        <div class="type-details-sub">
                            <span class="form-label">Outcome Title:</span>
                            <textarea class="big-text" [(ngModel)]="jsonBuilderHandler.getSelectedFormula().name" (keyup)="textAreaAdjust($event)"></textarea>
                        </div>                      
                        <!--<div class="type-details-sub">
                            <span class="form-label">Value:</span>
                               <input type="text" class="form-text" (keydown)="disableSpace($event)"  [value]="jsonBuilderHandler.getSelectedFormula().value.trim()" (blur)="editOutcome($event)">
                        </div>   -->
                        <div class="type-details-sub"><span class="form-label">Outcome Image:</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox" name="properties-checkbox"
                                    class="show-check"
                                    [checked]="jsonBuilderHandler.getSelectedFormula().range.status"
                                    (change)=" jsonBuilderHandler.getSelectedFormula().range.status = ! jsonBuilderHandler.getSelectedFormula().range.status"
                                    data-size="mini" data-on-color="blue">
                                    <span class="lever"></span>
                                </label>
                            </div>
                            <div class="col-xs-12 no-padding" [class.hide]="!jsonBuilderHandler.getSelectedFormula().range.status">                                  
                                <div class="input-group">
                                    <input
                                         type="text"
                                        class="file-input"
                                        [value]="jsonBuilderHandler.getSelectedFormula().result"
                                        placeholder="No file"
                                        readonly
                                    >
                                    <label class="input-group-btn">
                                        <span 
                                            class="btn btn-default btn-flat btn-basic2" 
                                            data-fp-apikey="ANQWcFDQRUiGfBqjfgINQz" 
                                            (click)="upload(i);">
                                            UPLOAD <input type=""  style="display: none;">
                                        </span>
                                    </label>
                                </div>
                            </div>
                         </div>                       
                        <div class="type-details-sub">
                            <span class="form-label">Description:</span>
                             <editor-wysiwyg [controls]="jsonBuilderHandler.getSelectedFormula()"></editor-wysiwyg>
                            <!--<textarea class="big-text" [(ngModel)]="jsonBuilderHandler.getSelectedFormula().html"></textarea>-->
                        </div>
                        <div class="type-details-sub">
                            <span class="form-label">Button Text:</span>
                            <a class="check check-small default" (click)="copyToAll('button')"> Apply to all outcomes</a>
                            <input type="text" class="form-text" (keyup)="jsonBuilderHandler.setSelectedFormula(jsonBuilderHandler.getSelectedFormula())" [(ngModel)]="jsonBuilderHandler.getSelectedFormula().units.preValue" style="margin-bottom: 10px">                    
                            <a class="check check-small default" style="margin-bottom: 10px" (click)="copyToAll('url')"> Apply to all outcomes</a>
                            <div class="col-md-12 col-xs-12 no-padding full-check-value">
                                <label class="check-value">URL</label>            
                                <input type="text" class="form-text value-text" placeholder="http://" (keyup)="jsonBuilderHandler.setSelectedFormula(jsonBuilderHandler.getSelectedFormula())" [(ngModel)]="jsonBuilderHandler.getSelectedFormula().units.postValue" />
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>

     <div class="panel-group main-result-parent hide"  id="accordionResultSec" *ngIf="jsonBuilderHandler.getJSONBuilt().templateType == 'Numerical' && resultSection" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span >
                        <a data-toggle="collapse" data-parent="#accordionResultSec" href="#collapse11">
                            <i class="material-icons">keyboard_arrow_down</i>
                            <span  class="result_text">Result</span>  
                        </a>
                    </span>
                </h4></div>
                <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="type-details">
                    <!--<input type="text" [(ngModel)]="jsonBuilderHandler.getJSONBuilt().formula[i].name">-->
                    <span class="form-label">Formula:</span>
                        <div class="input-group col-md-12 no-padding">
                            <input type="text" class="file-input" data-toggle="modal" data-target="#formula-modal-new" readonly>
                            <label class="input-group-btn">
                                    <span class="btn btn-default btn-flat btn-basic2 btn-upload" data-toggle="modal" data-target="#formula-modal-new" >
                                    EDIT
                                </span>
                            </label>
                        </div>
                        <div class="col-md-12 no-padding">
                            <button data-toggle="modal" data-target="#formula-modal-new" type="button" class="btn btn-default btn-flat btn-basic2 btn-basic3">CREATE FORMULA</button>
                        </div>
                        <div class="type-details-sub">
                            <span class="form-label hide">Toggle Result:</span>
                            <!-- add_section wysiwyg component  -->
                            <!-- add_section wysiwyg component  End -->
                        </div>                         
                    </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span>
                            <a data-toggle="collapse" data-parent="#accordionResultSec" href="#collapse22">
                                <i class="material-icons">keyboard_arrow_down</i>
                                <span  class="result_text">Lead Generation</span>   
                            </a>
                        </span>
                    </h4>
                </div>
                <div id="collapse22" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="type-details lead-parent">
                            <!-- leadform component  -->
                            <editor-lead-form [control]="editorControl" 
                                [leadsection]="leadformSection"
                                id="editorabhi">
                            </editor-lead-form>
                            <!-- leadform component  -->
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span>
                            <a data-toggle="collapse" data-parent="#accordionResultSec" href="#collapse33">
                                <i class="material-icons">keyboard_arrow_down</i>
                                <span  class="result_text">Settings</span>   
                            </a>
                        </span>
                    </h4>
                </div>               
            <div id="collapse33" class="panel-collapse collapse">
                <div class="panel-body">
                     <div class="type-details" *ngIf="jsonBuilderHandler.getJSONBuilt().templateType !== 'Recommendation'">
                        <div *ngIf="editorControl.leadform.visible || editorControl.click_button.visible">
                            <span class="form-label">Call To Action:</span>
                            <div class="help-tip editor-helptip">
                                <i class="material-icons">info_outline</i>
                                <div class="help-checktip">You can send the user to a website for further action.</div>
                            </div>
                            <div class="col-md-12 col-xs-12 no-padding full-check-value" style="margin-bottom: 10px;">
                                <label class="check-value">TEXT</label>
                                <input class="form-text value-text" *ngIf="editorControl.leadform.visible" [(ngModel)]="editorControl.leadform.props.title" [readonly]="!isCtaAccessible" (click)="ctaCheck()" >
                                <input class="form-text value-text" *ngIf="editorControl.click_button.visible" [(ngModel)]="editorControl.click_button.props.title" [readonly]="!isCtaAccessible" (click)="ctaCheck()"  >
                            </div>
                            <!-- <input type="text" class="detail-text" *ngIf="editorControl.leadform.visible" [(ngModel)]="editorControl.leadform.props.title"
                                [readonly]="!isCtaAccessible" (click)="ctaCheck()" /> -->
                            <div class="col-md-12 col-xs-12 no-padding full-check-value">
                                <label class="check-value">URL</label>            
                                <input type="text" class="form-text value-text" placeholder="http://" (blur)="validateUrl()" [(ngModel)]="jsonBuilderHandler.getJSONBuilt().navigate_Url" [readonly]="!isCtaAccessible" (click)="ctaCheck()" />
                            </div>
                            <!-- <input type="text" class="detail-text" *ngIf="editorControl.click_button.visible" [(ngModel)]="editorControl.click_button.props.title" 
                                [readonly]="!isCtaAccessible" (click)="ctaCheck()" />-->
                        </div>
                        
                        <span *ngIf="!validUrl">Not a valid url. You might loose user's to reach you.</span>
                    </div>
                    <div class="type-details share">
                        <span class="form-label"> Social Sharing Buttons:</span>
                        <div class="col-xs-12 no-padding">
                            <label class="ch-icon ic">
                                    <input type="checkbox" (click)="toggleSocialIcon('facebook')" name="icon-select" id="ic1" [checked]="isSocialChecked('facebook')">
                                    <label for="ic1"><i class="fa fa-facebook"></i> </label>
                            </label>
                            <label class="ch-icon ic">
                                    <input type="checkbox" (click)="toggleSocialIcon('twitter')" name="icon-select" id="ic2" [checked]="isSocialChecked('twitter')">
                                    <label for="ic2"><i class="fa fa-twitter"></i> </label>
                            </label>
                            <label class="ch-icon ic">
                                    <input type="checkbox" (click)="toggleSocialIcon('linkedin')" name="icon-select" id="ic3" [checked]="isSocialChecked('linkedin')">
                                    <label for="ic3"><i class="fa fa-linkedin"></i> </label>
                            </label>
                            <label class="ch-icon ic">
                                    <input type="checkbox" (click)="toggleSocialIcon('email')" name="icon-select" id="ic5" [checked]="isSocialChecked('email')">
                                    <label for="ic5">Email </label>
                            </label>
                        </div>
                    </div>
                    <div class="type-details" *ngIf="editorControl.result_disclaimer.order">
                        <span class="form-label" [class.no-margin]="editorControl.result_disclaimer.visible === false">Add Disclaimer Text</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" (click)="toggleDisclaimer();callGA('DISCLAIMER')" [checked]="editorControl.result_disclaimer.visible" (change)="onChangeDisclaimer(editorControl)">
                                <span class="lever"></span>
                            </label>
                        </div>
                        <div class="col-xs-12 no-padding div-check" *ngIf="editorControl.result_disclaimer.visible">
                            <input placeholder="Disclaimer Text" type="text" class="detail-text" [(ngModel)]="editorControl.result_disclaimer.props.title">
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!--  for recommendation calc End -->
    

    <div class="col-md-12 no-padding add type-details" *ngIf="!resultSection && jsonBuilderHandler.getJSONBuilt().templateType == 'Numerical'"><a class="default add_field_button" (click)="addNewSection()">Add Another Section</a></div>    
    </div>
    <!-- <div class="type-details">
        <button type="button" class="btn btn-default btn-flat btn-basic2 btn-center" (click)="addNewSection();callGA('ADDRESULT')"><i class="material-icons">add_circle_outline</i> &nbsp; ADD ANOTHER RESULT</button>
    </div> -->
    <div class="settings-tab"  *ngIf="jsonBuilderHandler.getJSONBuilt().templateType == 'Numerical'" >
        <div class="settings-header" (click)="eyeResult(); scrollToTop();"><i class="material-icons">settings</i> SETTINGS</div>
        <div class="settings-content">
            <div class="type-details lead-parent">
                <!-- leadform component  -->
                <editor-lead-form [control]="editorControl" 
                    [leadsection]="leadformSection"
                    id="editorabhi">
                </editor-lead-form>
                <!-- leadform component  -->
            </div>
            <div class="type-details" *ngIf="jsonBuilderHandler.getJSONBuilt().templateType !== 'Recommendation'">
                <div *ngIf="editorControl.leadform.visible || editorControl.click_button.visible">
                    <span class="form-label">Call To Action:</span>
                    <div class="help-tip editor-helptip">
                        <i class="material-icons">info_outline</i>
                        <div class="help-checktip">You can send the user to a website for further action.</div>
                    </div>
                    <div class="col-md-12 col-xs-12 no-padding full-check-value" style="margin-bottom: 10px;">
                        <label class="check-value">TEXT</label>
                        <input class="form-text value-text" *ngIf="editorControl.leadform.visible" [(ngModel)]="editorControl.leadform.props.title" [readonly]="!isCtaAccessible" (click)="ctaCheck()" >
                        <input class="form-text value-text" *ngIf="editorControl.click_button.visible" [(ngModel)]="editorControl.click_button.props.title" [readonly]="!isCtaAccessible" (click)="ctaCheck()"  >
                    </div>
                    <!-- <input type="text" class="detail-text" *ngIf="editorControl.leadform.visible" [(ngModel)]="editorControl.leadform.props.title"
                        [readonly]="!isCtaAccessible" (click)="ctaCheck()" /> -->
                    <div class="col-md-12 col-xs-12 no-padding full-check-value">
                        <label class="check-value">URL</label>            
                        <input type="text" class="form-text value-text" placeholder="http://" (blur)="validateUrl()" [(ngModel)]="jsonBuilderHandler.getJSONBuilt().navigate_Url" [readonly]="!isCtaAccessible" (click)="ctaCheck()" />
                    </div>
                    <!-- <input type="text" class="detail-text" *ngIf="editorControl.click_button.visible" [(ngModel)]="editorControl.click_button.props.title" 
                        [readonly]="!isCtaAccessible" (click)="ctaCheck()" />-->
                </div>
                
                <span *ngIf="!validUrl">Not a valid url. You might loose user's to reach you.</span>
            </div>
            <div class="type-details share">
                <span class="form-label"> Social Sharing Buttons:</span>
                <div class="col-xs-12 no-padding">
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('facebook')" name="icon-select" id="ic1" [checked]="isSocialChecked('facebook')">
                            <label for="ic1"><i class="fa fa-facebook"></i> </label>
                    </label>
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('twitter')" name="icon-select" id="ic2" [checked]="isSocialChecked('twitter')">
                            <label for="ic2"><i class="fa fa-twitter"></i> </label>
                    </label>
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('linkedin')" name="icon-select" id="ic3" [checked]="isSocialChecked('linkedin')">
                            <label for="ic3"><i class="fa fa-linkedin"></i> </label>
                    </label>
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('email')" name="icon-select" id="ic5" [checked]="isSocialChecked('email')">
                            <label for="ic5">Email </label>
                    </label>
                </div>
            </div>
            <div class="type-details" *ngIf="editorControl.result_disclaimer.order">
                <span class="form-label" [class.no-margin]="editorControl.result_disclaimer.visible === false">Add Disclaimer Text</span>
                <div class="switch">
                    <label>
                        <input type="checkbox" (click)="toggleDisclaimer();callGA('DISCLAIMER')" [checked]="editorControl.result_disclaimer.visible" (change)="onChangeDisclaimer(editorControl)">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="col-xs-12 no-padding div-check" *ngIf="editorControl.result_disclaimer.visible">
                    <input placeholder="Disclaimer Text" type="text" class="detail-text" [(ngModel)]="editorControl.result_disclaimer.props.title">
                </div>
            </div>
            <!--<div class="type-details setting-details">
                <span class="form-label">Settings:</span>-->
                <!-- <div class="col-xs-12 no-padding setting-detail-box">
                    <span>Add a Summary</span>
                    <div class="switch">
                        <label>
                                <input type="checkbox" [checked]="editorControl.result_summary.visible" (change)="toggleSummary();callGA('SUMMARY')">
                                <span class="lever"></span>
                            </label>
                    </div>
                </div> -->
                <!--<div class="col-xs-12 no-padding setting-detail-box" *ngIf="editorControl.result_redo.order">
                    <span>Allow Re-calculations</span>
                    <div class="switch">
                        <label>
                            <input type="checkbox"  (click)="toggleRedo();callGA('REDOCALC')" [checked]="editorControl.result_redo.visible">
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>-->
                <!--<div class="col-xs-12 no-padding setting-detail-box powered ">
                    <span>Privacy Policy</span>
                    <div class="switch">
                        <label>
                            <input type="checkbox" [checked] = "editorControl.footer_links.visible === true" (change)="togglePrivacy()" >
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>-->
            <!--</div>-->
        </div>
    </div>
</div>
