<div class="col-xs-12 no-padding">
    <div class="type-details">
        <div *ngIf="editorControl.header.order">
            <span class="form-label">Heading:</span>
            <textarea class="wysiwyg" [(ngModel)]="editorControl.header.props.title" ></textarea>
        </div></div>

    <div class="type-details">
        <div *ngIf="editorControl.sub_header.order">
            <span class="form-label" [class.no-margin]="!editorControl.sub_header.visible">Sub Heading:</span>
           <div class="switch">
                <label>
                    <input type="checkbox" class="" (change)="toggleSubHeader();callGA('TOGGLESUB')" [checked]="editorControl.sub_header.visible">
                    <span class="lever"></span>
                </label>
            </div>
            <div [class.hide]="!editorControl.sub_header.visible">
             <textarea class="wysiwyg-sub" [(ngModel)]="editorControl.sub_header.props.title" ></textarea>
            </div>
        </div>


    </div>

    <div class="type-details">
        <div *ngIf="editorControl.logo.order"  >
            <span class="form-label" [class.no-margin]="editorControl.logo.visible === false">Logo:</span>
            <div class="help-tip editor-helptip">
                <i class="material-icons">info_outline</i>
                <div class="help-checktip">Recommended Dimensions are 180px by 50px.</div>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox" class="show-check" (change)="toggleLogo($event);callGA('TOGGLELOGO')" [checked]="editorControl.logo.visible">
                    <span class="lever"></span>
                </label>
            </div>
             <!-- <span class="editor-helptext">Recommended Dimensions are 76px by 76px.</span> -->
            <div class="landing-inputfile div-check" *ngIf="editorControl.logo.visible">
                <div class="col-xs-12 no-padding">
                    <div class="input-group">
                        <input
                            type="text"
                            class="file-input"
                            [(ngModel)]="editorControl.logo.props.title"
                            placeholder="No file"
                            readonly
                            >
                        <label class="input-group-btn">
                            <span class="btn btn-default btn-flat btn-basic2 btn-upload" data-fp-apikey="ANQWcFDQRUiGfBqjfgINQz" (click)="upload('logo');callGA('UPLOADLOGO')">
                        UPLOAD <input type=""  style="display: none;">
                    </span>
                        </label>
                    </div>
                </div
                >
            </div>
        </div>
    </div>
    <div class="type-details">
        <editor-lead-form [control]="editorControl"
                [leadsection]="leadformSection"
                id="editor-pageabhi">
        </editor-lead-form>
      </div>
    <div class="type-details" >
        <div *ngIf="editorControl.leadform.visible || editorControl.click_button.visible">
            <span class="form-label">Button Text:</span>
            <input
                type="text"
                class="detail-text"
                *ngIf="editorControl.leadform.visible"
                [(ngModel)]="editorControl.leadform.props.title"
            />
            <input
                type="text"
                class="detail-text"
                *ngIf="editorControl.click_button.visible"
                [(ngModel)]="editorControl.click_button.props.title"
            />
        </div>
    </div>
    <div class="type-details color-select">
        <span class="form-label">Theme Color:</span>
        <div class="help-tip editor-helptip">
                <i class="material-icons">info_outline</i>
                <div class="help-checktip">This color will be applied to all buttons and icons.</div>
            </div>
         <!-- <span class="editor-helptext">This color will be applied to all buttons and icons.</span> -->

        <div class="color-parent col-md-5 no-padding" (click)="themeColorPopup()">
            <div class="picker-image">
            <div class="selected-theme">
                <span class="selected-color" [style.backgroundColor]="colordot.backGround  | safeStyle"></span>
                <span class="selected-color" [style.backgroundColor]="colordot.components | safeStyle"></span>
                <span class="selected-color" [style.backgroundColor]="colordot.text | safeStyle"></span>
            </div>
            </div>

            <div class="theme-parent hide" style=" ">
                <div class="themes active" *ngFor="let pallete of themePalettes.pallete">
                <a href="javascript:void();" (click)="jsonBuilderHandler.getJSONBuilt().setThemeColor(pallete.themeClass);themeColorClose(pallete)">
                    <span class="theme-color"  [style.backgroundColor]="pallete.backGround | safeStyle">&nbsp;</span>
                    <span class="theme-color" [style.backgroundColor]="pallete.components | safeStyle">&nbsp;</span>
                    <span class="theme-color" [style.backgroundColor]="pallete.text | safeStyle">&nbsp;</span>
                </a>
                </div>
                <!-- <p>Custom</p>
                <a href="javascript:void();"  class="theme-color theme-color-picker">&nbsp;</a>
                <a href="javascript:void();"  class="theme-color">&nbsp;</a>
                <a href="javascript:void();"  class="theme-color">&nbsp;</a> -->
            </div>
        </div>
        <div class="color-parent col-md-12 no-padding hide ">
            <!-- <input type="text" class="form-control color-picker" value="{{colordot.name}}" data-color-format="hex"> -->
            <span class="form-label"style=" margin-top: 8px; margin-bottom: 5px; min-width: 55px;">{{colordot.name}}</span>
            <!-- <div class="picker-image"><span class="color-dot" [style.backgroundColor]="colordot.components | safeStyle"> </span></div> -->
            <div class="selected-theme" style="float: left;" (click)="themeColorPopup()">
            <span class="selected-color" [style.backgroundColor]="colordot.backGround  | safeStyle"></span>
            <span class="selected-color" [style.backgroundColor]="colordot.components | safeStyle"></span>
            <span class="selected-color" [style.backgroundColor]="colordot.text | safeStyle"></span>
            <span class="color-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
            </div>
            <div class="theme-parent hide" style="    right: 80px;">
                <div class="themes active" *ngFor="let pallete of themePalettes.pallete">
                <a href="javascript:void();" (click)="jsonBuilderHandler.getJSONBuilt().setThemeColor(pallete.themeClass);themeColorClose(pallete)">
                    <span class="theme-color"  [style.backgroundColor]="pallete.backGround | safeStyle">&nbsp;</span>
                    <span class="theme-color" [style.backgroundColor]="pallete.components | safeStyle">&nbsp;</span>
                    <span class="theme-color" [style.backgroundColor]="pallete.text | safeStyle">&nbsp;</span>
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="type-details ">
        <span class="form-label" [class.no-margin]="!page.bgImageVisible ">Background Image:</span>
        <div class="help-tip editor-helptip">
            <i class="material-icons">info_outline</i>
            <div class="help-checktip">Replace the image or use a color.</div>
        </div>
        <div class="switch">
            <label>
                <input
                (change)="toggleBgImage();callGA('TOGGLEBG')"
                [checked]="page.bgImageVisible"
                type="checkbox">
                <span class="lever"></span>
            </label>
        </div>
        <!-- <span>Replace the image or use a color.</span> -->
        <div class="col-md-12 col-xs-12 no-padding" [class.hide]="!page.bgImageVisible">
        <button (click)="upload('bg');callGA('REPLACEBG')" type="button" class="btn btn-default btn-flat btn-basic2 btn-basic3 bgImageButton"><i class="material-icons">image</i> REPLACE IMAGE</button>
        <!-- <span style="    width: auto;    font-size: 21px;    margin: 0px 13px 0px 7px;    font-family: montserratlight;    color: #bdc4ca;float:left;">/</span>
        <div class="color-parent">
            <input type="text" class="form-control color-picker bg-color-picker" value="{{page.bgColor}}" data-color-format="hex">
            <div class="picker-image"><span class="color-dot"> </span></div>
        </div> -->
        </div>
    </div>
 <!-- setting   -->
 <div class="type-details setting-details powered" >
    <span class="form-label">Settings:</span>
    <div class="col-xs-12 no-padding setting-detail-box powered">
        <span>Outgrow Branding</span>
        <div class="switch" [class.alwaysOn]="!isPoweredByAccessible">
            <label>
                <input
                type="checkbox"
                *ngIf="isPoweredByAccessible"
                [checked] = "editorControl.poweredby.visible === true"
                (change)="togglePoweredBy();callGA('POWEROGTOGGLE')" >

                <input
                type="checkbox"
                *ngIf="!isPoweredByAccessible"
                [checked] = "!isPoweredByAccessible"
                (change)="togglePoweredBy()">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="col-xs-12 no-padding setting-detail-box powered">
        <span>Hide Welcome Screen</span>
        <div class="switch">
            <label>
                <input type="checkbox" (change)="changeVisivility();callGA('HIDEWELCOMETOGGLE')" [checked]="!page.visible"/>
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <!--<div class="col-xs-12 no-padding setting-detail-box powered hide">
        <span>Privacy Policy</span>
        <div class="switch">
            <label>
                <input type="checkbox" [checked] = "editorControl.footer_links.visible === true" (change)="togglePrivacy();callGA('PRIVACYTOGGLE')" >
                <span class="lever"></span>
            </label>
        </div>
    </div>-->
    <div  *ngIf="jsonBuilderHandler.getJSONBuilt().templateType=='Numerical'" class="col-xs-12 no-padding "> <a (click)="callGA('CHANGETEMPLATE')" [routerLink]="['/templates']" class="btn btn-default btn-flat btn-basic2"><i class="material-icons">image</i> CHANGE TEMPLATE</a></div>
</div>
<!-- setting   -->