 <form (ngSubmit)="onSubmit(formGroup())" [formGroup]="formGroup()" novalidate>
    <div class="container-temp text-center">
          <div class=" text-center question-section">
              <div class="input-section">
                <div *ngFor="let field of data.fields, let i=index" class="input-outer" [class.w100]="data.fields.length==1">
                 <div class="section-head"> <div class="pull-left">{{field.name}} </div> </div>
                  <input tabindex="0"
                  placeholder="{{field.placeholder}}"
                  type="{{field.type}}"
                  (blur) = "onTouched(i)"
                  [formControlName]="i"
                  [(ngModel)]="field.value"
                  >
                  <div *ngIf="formGroup().controls[i].touched">
                    <span
                      *ngIf="formGroup().controls[i].errors && formGroup().controls[i].errors['required']">
                      {{field.placeholder}} is required.
                    </span>
                    <span
                      *ngIf="formGroup().controls[i].errors && !formGroup().controls[i].errors['required'] && formGroup().controls[i].errors['EmailError']">
                      Not a valid Email!
                    </span>
                    <span
                      *ngIf="formGroup().controls[i].errors && !formGroup().controls[i].errors['required'] && formGroup().controls[i].errors['PhoneNumberError']">
                      Not a valid Phone Number!
                    </span>
                  </div>
                </div>
              </div>
          </div>
    </div>
     <div class="w100 text-center">
        <button class="btn prime-action sliding-next"
        >
         <!--[themeColor]="['background']"-->
        {{data.props.title}}
        </button>
    </div> 
  </form>