<div class="config-template-tabs new-email-outr">
    <div class="col-xs-12 col-sm-7 col-sm-offset-1 np">
        <div class="col-xs-12 launch-top">
            <h3>Launch in a Pop-up</h3>
        </div>
        <div class="col-xs-12 popup-choose">
            <h4>What kind of a pop up do you prefer?</h4>
        </div>
        <div class="col-sm-12 col-xs-12 np popup-choose">
            <ul>
                <li class="col-sm-4 col-xs-6">
                    <input type="radio" id="f-option" name="selector2" (change)="isDrawer=!isDrawer" [checked]="!isDrawer">
                    <label for="f-option" class="check">
                        <img src="assets/images/popup.png" />
                        <p>Classic</p>
                    </label>
                </li>
                <li class="col-sm-4 col-xs-6">
                    <input type="radio" id="f-option2" name="selector2" (change)="isDrawer=!isDrawer" [checked]="isDrawer">
                    <label for="f-option2" class="check">
                        <img src="assets/images/drawer-icon.png" />
                        <p>Drawer</p>
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-xs-12  col-xs-12 np popup-choose">
            <div class="col-xs-12 popup-choose">
                <h4>Trigger the pop up using a link or a button?</h4>
            </div>
            <div class="col-sm-12 np popup-choose">
                <ul>
                    <li class="col-sm-4 col-xs-6">
                        <input type="radio" id="f-option3" name="selector" (change)="isButton=!isButton" [checked]="isButton">
                        <label for="f-option3" class="check">
                            <i class="material-icons">play_circle_outline</i>
                            <p>Button</p>
                        </label>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <input type="radio" id="f-option4" name="selector" (change)="isButton=!isButton" [checked]="!isButton">
                        <label for="f-option4" class="check">
                            <i class="material-icons">repeat</i>
                            <p>Link</p>
                        </label>
                    </li>
                    <li class="col-sm-4 col-xs-12">
                        <label class="buttonlink col-xs-12">
                            <p>Button/Link Text</p>
                            <input type="text" [(ngModel)]="buttonName" placeholder="Add text here" />
                        </label>
                    </li>
                    <li class="mobile-show">
                        <p>Click on the button/link below to preview the pop-up.</p>
                        <div class="text-center"><a id="popupButton" [href]="(iFrameUrl)" *ngIf="!isDrawer" (click)="togglePopup()" class="fancybox-effects-d fancybox fancybox.iframe btn btn-default btn-sm btn-flat btn-basic" [class.no-border]="!isButton">{{buttonName}}</a>
                            <a id="drawerButton" (click)="toggleDrawer()" *ngIf="isDrawer" class="btn btn-default btn-sm btn-flat btn-basic" [class.no-border]="!isButton">{{buttonName}}</a></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 np popup-copypaste">
            <div class="col-sm-12 np popup-copypaste-top">
                <h4>Copy and paste this piece of code and place it in your website</h4>
                <div class="col-sm-12 copypaste-box">
                    <div class="copypaste-box-scroll">
                        <pre>
                            <code>{{iframeData}}</code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 general-helppanel">
        <div class="col-xs-12 np text-center">
            <label class="g-helpicon">
                <i class="material-icons">lightbulb_outline</i>
            </label>
        </div>
        <h5>Preview</h5>
        <p>Click on the button/link below to preview the pop-up.</p>
        <div class="text-center"><a id="popupButton" [href]="(iFrameUrl)" *ngIf="!isDrawer" (click)="togglePopup()" class="fancybox-effects-d fancybox fancybox.iframe btn btn-default btn-sm btn-flat btn-basic" [class.no-border]="!isButton">{{buttonName}}</a>
            <a id="drawerButton" (click)="toggleDrawer()" *ngIf="isDrawer" class="btn btn-default btn-sm btn-flat btn-basic" [class.no-border]="!isButton">{{buttonName}}</a></div>
    </div>
</div>
<iframe id="drawerIframe" class="hide" style="background:#fff;z-index:99999; width:50%; height:100vh; position:fixed; float:left; top:0; left:0;" [src]="(iFrameUrl) | safeUrl "></iframe>
<a title="Close" class="drawer-close hide" id="close-drawer" (click)="drawerClose()" href="javascript:;"></a>
<div class="fancybox-drawer hide"></div>
