

/*color style css*/

.cp1 .main-bg.page_0{ background: #2a2826;}
.cp1 .divider-2{ background: #2a2826;}
.cp1 .check-comp .control input:checked ~ .control__indicator{background:#ff6600;} 
.cp1 .check-comp .control__indicator.check-set{border:2px solid #ff6600;}
.cp1 .check-comp .checkbox-outer .control__indicator.check-set{border:none;left:12px;color:#ff6600;}
.cp1 .check-comp .checkbox-outer .control input:checked ~ .control__indicator{background:none;color:#ff6600;}
.cp1 .check-comp .control__indicator{position:absolute;left:0;height:20px;width:20px;border:3px solid #ff6600;}
.cp1 .check-comp .control__indicator:after{content:'';position:absolute;display:none;}
.cp1 .check-comp .control input:checked ~ .control__indicator.icon-set{background:none;}
.cp1 .check-comp .control--radio .control__indicator.icon-set{border:none!important;top:14px;left:-5px;color:#ff6600;}
.cp1 .check-comp .control--radio .control__indicator.icon-set:after{background:none;border:none;}
.cp1 .check-comp .control--radio .control__indicator.icon-set i{color:#ff6600;}
.cp1 .check-comp .control--radio .control__indicator:after{left:0px;top:0px;height:14px;width:14px;border-radius:50%;background:#ff6600;border:3px solid #fff;}
.cp1 .range-slider .irs-bar-edge {border: 1px solid #ff6600; border-right: 0; background: #ff6600;}
.cp1 .range-slider .irs-bar {border-top: 1px solid #ff6600;border-bottom: 1px solid #ff6600; background: #ff6600;}
.cp1 .range-slider .irs-single { background: #ff6600; font-family: oxygenbold;}
.cp1 .range-slider .irs-min, .irs-max{font-family: oxygenbold;}
.cp1 .select .select-icon{position:absolute;z-index:9;font-size:24px;left:16px;color:#61bd6d;bottom:18px}
.cp1 .select .selectize-dropdown .active{background-color:#ff6600;color:#ffffff;}
.cp1 .left-section .result-full-section{background: #ff6600 !important}
.cp1 .landing-page-mid .main-heading{ font-size: 8vmin; line-height:1em !important; color: #fff; float:left; width:100%; text-align: center; margin-bottom: 30px;}
.cp1 .landing-page-mid .sub-heading{ font-size: 3.4vmin; line-height:1.4em !important; color: rgba(255, 255, 255, 0.8); font-family: oxygenregular; padding:0px 30px;  float:left; width:100%; text-align: center;}
.cp1 .btn.prime-action.focus,.cp1 .btn.prime-action:focus,.cp1 .btn.prime-action:hover{color:#28324e;text-decoration:none;background:#ff6600;}
.cp1 .top-fix-bar{ background: #ff6600; min-height: 70px; position:relative;}
.cp1 .questions .question-section-outer .prime-action{ background:#ff6600 !important; border:2px solid #ff6600 !important; }
.cp1 .result-centre-outer {margin: 3%; padding: 0 4% ; float:left; width: 94%;background: #ff6600 !important; display: inline-block;box-shadow: 3px 3px 50px 5px rgba(0,0,0,0.6);}
.cp1 .prime-action{ background:#ff6600 !important; border:2px solid #ff6600 !important; color: #fff !important; font-size: 3vmin; }
.cp1 .leadform-outer .prime-action { background:#ff6600 !important; border:2px solid #ff6600 !important; color:#fff;}
.cp1 .leadform-outer .prime-action:hover { background:#ff6600 !important; border:2px solid #ff6600 !important; color:#fff;}
.cp1 .landing-page-mid .input-section .input-outer input{float:left;width:96%!important;margin: 10px 28px;border:2px solid #ffffff !important;color:#ffffff;font-family:oxygenbold;font-size:14px;}
.cp1 .page_0.editor-page-divider { background: #ff6600; }
/*.cp1 .landing-page-mid {background: rgba(1,36,53,0.45);}
.cp1 .landing-page-mid ::-webkit-input-placeholder{color:#ff6600 !important;}
.cp1 .landing-page-mid ::-webkit-input-placeholder{color:#ff6600 !important;}
.cp1 .landing-page-mid :-moz-placeholder {    color: #ff6600 !important;  }
.cp1 .landing-page-mid ::-moz-placeholder {   color: #ff6600 !important;  }
.cp1 .landing-page-mid :-ms-input-placeholder {color: #ff6600 !important;}*/
.cp1 .questions-header header .right-sec{ background:#ff6600 !important }
.cp1 .questions .question-section-outer .question-number{background: #ff6600 !important; }
.cp1 .question-components{ border-left: 3px solid rgba(255,102,0,0.15);}
.cp1 .questions .question-section-outer .input-field input{color:#ff6600;}
.cp1 .page_2 .result-full-section.result-temp2-default-section .small-top-sec p:nth-child(1){color:#ff6600;}
.cp1 .page_2 .result-temp2-default-section.result-half-section .small-top-sec p:nth-child(1){color:#ff6600;}
.cp1 .redo-link ul li { background: #ff6600; }
.cp1 .redo-link ul li a{ color:#fff;}




.cp2 .main-bg.page_0{ background: #2a2826;}
.cp2 .divider-2{ background: #2a2826;}
.cp2 .check-comp .control input:checked ~ .control__indicator{background:#00CC10;} 
.cp2 .check-comp .control__indicator.check-set{border:2px solid #00CC10;}
.cp2 .question-components .check-comp label{ color:#00CC10; }
.cp2 .check-comp .checkbox-outer .control__indicator.check-set{border:none;left:12px;color:#00CC10;}
.cp2 .check-comp .checkbox-outer .control input:checked ~ .control__indicator{background:none;color:#00CC10;}
.cp2 .check-comp .control__indicator{position:absolute;left:0;height:20px;width:20px;border:3px solid #00CC10;}
.cp2 .check-comp .control__indicator:after{content:'';position:absolute;display:none;}
.cp2 .check-comp .control input:checked ~ .control__indicator.icon-set{background:none;}
.cp2 .check-comp .control--radio .control__indicator.icon-set{border:none!important;top:14px;left:-5px;color:#00CC10;}
.cp2 .check-comp .control--radio .control__indicator.icon-set:after{background:none;border:none;}
.cp2 .check-comp .control--radio .control__indicator.icon-set i{color:#00CC10;}
.cp2 .check-comp .control--radio .control__indicator:after{left:0px;top:0px;height:14px;width:14px;border-radius:50%;background:#00CC10;border:3px solid #fff;}
.cp2 .range-slider .irs-bar-edge {border: 1px solid #00CC10; border-right: 0; background: #00CC10;}
.cp2 .range-slider .irs-bar {border-top: 1px solid #00CC10;border-bottom: 1px solid #00CC10; background: #00CC10;}
.cp2 .range-slider .irs-single { background: #00CC10; font-family: oxygenbold;}
.cp2 .range-slider .irs-min, .irs-max{font-family: oxygenbold;}
.cp2 .select .select-icon{position:absolute;z-index:9;font-size:24px;left:16px;color:#61bd6d;bottom:18px}
.cp2 .select .selectize-dropdown .active{background-color:#00CC10;color:#ffffff;}
.cp2 .left-section .result-full-section{background: #00CC10 !important}
.cp2 .landing-page-mid .main-heading{ font-size: 8vmin; line-height:1em !important; color: #fff;font-family: oxygenbold; float:left; width:100%; text-align: center; margin-bottom: 30px;}
.cp2 .landing-page-mid .sub-heading{ font-size: 3.4vmin; line-height:1.4em !important; color: rgba(255, 255, 255, 0.8); font-family:oxygenregular; padding:0px 30px; float:left; width:100%; text-align: center;}
.cp2 .btn.prime-action.focus,.cp2 .btn.prime-action:focus,.cp2 .btn.prime-action:hover{color:#28324e;text-decoration:none;background:#00CC10;}
.cp2 .top-fix-bar{ background: #00CC10; min-height: 70px; position:relative;}
.cp2 .questions .question-section-outer .prime-action{ background:#00CC10 !important; border:2px solid #00CC10 !important; }
.cp2 .result-centre-outer {margin: 3%; padding: 0 4% ; float:left; width: 94%;background: #00CC10 !important; display: inline-block;box-shadow: 3px 3px 50px 5px rgba(0,0,0,0.6);}
.cp2 .prime-action{ background:#00CC10 !important; border:2px solid #00CC10 !important; color: #fff !important; font-size:3vmin; }
.cp2 .leadform-outer .prime-action { background:#00CC10 !important; border:2px solid #00CC10 !important; color:#fff;}
.cp2 .leadform-outer .prime-action:hover { background:#00CC10 !important; border:2px solid #00CC10 !important; color:#fff;}
.cp2 .landing-page-mid .input-section .input-outer input{float:left;width:96%!important;margin: 10px 28px;border:2px solid #ffffff !important;color:#ffffff;font-family:oxygenbold;font-size:14px!important;}
.cp2 .page_0.editor-page-divider { background: #00CC10; }
/*.cp2 .landing-page-mid {background: rgba(1,36,53,0.45);}
.cp2 .landing-page-mid ::-webkit-input-placeholder{color:#00CC10 !important;}
.cp2 .landing-page-mid ::-webkit-input-placeholder{color:#00CC10 !important;}
.cp2 .landing-page-mid :-moz-placeholder {    color: #00CC10 !important;  }
.cp2 .landing-page-mid ::-moz-placeholder {   color: #00CC10 !important;  }
.cp2 .landing-page-mid :-ms-input-placeholder {color: #00CC10 !important;}*/
.cp2 .questions-header header .right-sec{ background:#00CC10 !important }
.cp2 .questions .question-section-outer .question-number{background: #00CC10 !important; }
.cp2 .question-components{ border-left: 3px solid rgba(0,204,16,0.15);}
.cp2 .questions .question-section-outer .input-field input{color:#00CC10;}
.cp2 .page_2 .result-full-section.result-temp2-default-section .small-top-sec p:nth-child(1){color:#00CC10;}
.cp2 .page_2 .result-temp2-default-section.result-half-section .small-top-sec p:nth-child(1){color:#00CC10;}
.cp2 .redo-link ul li { background: #00CC10; }
.cp2 .redo-link ul li a{ color:#fff;}






.cp3 .main-bg.page_0{ background: #2a2826;}
.cp3 .divider-2{ background: #2a2826;}
.cp3 .check-comp .control input:checked ~ .control__indicator{background:#EF2158;} 
.cp3 .check-comp .control__indicator.check-set{border:2px solid #EF2158;}
.cp3 .question-components .check-comp label{ color:#EF2158; }
.cp3 .check-comp .checkbox-outer .control__indicator.check-set{border:none;left:12px;color:#EF2158;}
.cp3 .check-comp .checkbox-outer .control input:checked ~ .control__indicator{background:none;color:#EF2158;}
.cp3 .check-comp .control__indicator{position:absolute;left:0;height:20px;width:20px;border:3px solid #EF2158;}
.cp3 .check-comp .control__indicator:after{content:'';position:absolute;display:none;}
.cp3 .check-comp .control input:checked ~ .control__indicator.icon-set{background:none;}
.cp3 .check-comp .control--radio .control__indicator.icon-set{border:none!important;top:14px;left:-5px;color:#EF2158;}
.cp3 .check-comp .control--radio .control__indicator.icon-set:after{background:none;border:none;}
.cp3 .check-comp .control--radio .control__indicator.icon-set i{color:#EF2158;}
.cp3 .check-comp .control--radio .control__indicator:after{left:0px;top:0px;height:14px;width:14px;border-radius:50%;background:#EF2158;border:3px solid #fff;}
.cp3 .range-slider .irs-bar-edge {border: 1px solid #EF2158; border-right: 0; background: #EF2158;}
.cp3 .range-slider .irs-bar {border-top: 1px solid #EF2158;border-bottom: 1px solid #EF2158; background: #EF2158;}
.cp3 .range-slider .irs-single { background: #EF2158; font-family: oxygenbold;}
.cp3 .range-slider .irs-min, .irs-max{font-family: oxygenbold;}
.cp3 .select .select-icon{position:absolute;z-index:9;font-size:24px;left:16px;color:#61bd6d;bottom:18px}
.cp3 .select .selectize-dropdown .active{background-color:#EF2158;color:#ffffff;}
.cp3 .left-section .result-full-section{background: #EF2158 !important}
.cp3 .landing-page-mid .main-heading{ font-size: 8vmin; line-height:1em !important; color: #fff;font-family: oxygenbold; float:left; width:100%; text-align: center; margin-bottom: 30px;}
.cp3 .landing-page-mid .sub-heading{ font-size: 3.4vmin; line-height:1.4em !important; color: rgba(255, 255, 255, 0.8); font-family: oxygenregular; padding:0px 30px; float:left; width:100%; text-align: center;}
.cp3 .btn.prime-action.focus,.cp3 .btn.prime-action:focus,.cp3 .btn.prime-action:hover{color:#28324e;text-decoration:none;background:#EF2158;}
.cp3 .top-fix-bar{ background: #EF2158; min-height: 70px; position:relative;}
.cp3 .questions .question-section-outer .prime-action{ background:#EF2158 !important; border:2px solid #EF2158 !important; }
.cp3 .result-centre-outer {margin: 3%; padding: 0 4% ; float:left; width: 94%;background: #EF2158 !important; display: inline-block;box-shadow: 3px 3px 50px 5px rgba(0,0,0,0.6);}
.cp3 .prime-action{ background:#EF2158 !important; border:2px solid #EF2158 !important; color: #fff !important; font-size: 3vmin; }
.cp3 .leadform-outer .prime-action { background:#EF2158 !important; border:2px solid #EF2158 !important; color:#fff;}
.cp3 .leadform-outer .prime-action:hover { background:#EF2158 !important; border:2px solid #EF2158 !important; color:#fff;}
.cp3 .landing-page-mid .input-section .input-outer input{float:left;width:96%!important;margin: 10px 28px;border:2px solid #ffffff !important;color:#ffffff;font-family:oxygenbold;font-size:14px!important;}
.cp3 .page_0.editor-page-divider { background: #EF2158; }
/*.cp3 .landing-page-mid {background: rgba(1,36,53,0.45);}
.cp3 .landing-page-mid ::-webkit-input-placeholder{color:#EF2158 !important;}
.cp3 .landing-page-mid ::-webkit-input-placeholder{color:#EF2158 !important;}
.cp3 .landing-page-mid :-moz-placeholder {    color: #EF2158 !important;  }
.cp3 .landing-page-mid ::-moz-placeholder {   color: #EF2158 !important;  }
.cp3 .landing-page-mid :-ms-input-placeholder {color: #EF2158 !important;}*/
.cp3 .questions-header header .right-sec{ background:#EF2158 !important }
.cp3 .questions .question-section-outer .question-number{background: #EF2158 !important; }
.cp3 .question-components{ border-left: 3px solid rgba(239,33,88,0.15);}
.cp3 .questions .question-section-outer .input-field input{color:#EF2158;}
.cp3 .page_2 .result-full-section.result-temp2-default-section .small-top-sec p:nth-child(1){color:#EF2158;}
.cp3 .page_2 .result-temp2-default-section.result-half-section .small-top-sec p:nth-child(1){color:#EF2158;}
.cp3 .redo-link ul li { background: #EF2158; }
.cp3 .redo-link ul li a{ color:#fff;}










