 <!-- Common Component -->
         <div class="type-details"><common-editor
            [control]="control"
        >
        </common-editor></div>
    <!-- Common Component-->
     <div class="type-details">
            <span class="form-label" [class.no-margin]="control.config.showHelp === false">Help Text:</span>
            <div class="switch">
                 <label>
                <input type="checkbox" name="properties-checkbox"
                class="show-check"
                [checked]="control.config.showHelp"
                (change)="onChangeDescription(control);callGA('HELPTEXT',control)"
                 data-size="mini" data-on-color="blue">
                  <span class="lever"></span>
                 </label>
            </div>
<!--//on/off-->
				<div class="col-xs-12 no-padding text-group div-check"
                *ngIf="control.config.showHelp"
                 >
					<textarea class="form-text question-textarea"[(ngModel)] = "control.props.helpText"></textarea>
				</div>
			</div>
		<div class="type-details">
            <div class="col-xs-12 no-padding text-group horz-group ">
                <span class="col-md-4 no-padding form-label">Unit of Variable:</span>
                <div class="col-md-7 col-xs-4 no-padding horz-control">
                    <div class="input-group input-drop">
                        <select class="select-default" data-width="82px" (change)="onPostfixChange($event)">
                            <option value="prefix" [selected]="!control.props.postfix">Prefix</option>
                            <option value="postfix" [selected]="control.props.postfix">Suffix</option>
                        </select>
                        <input type="text" [(ngModel)] = "control.props.unit" class="form-control" placeholder="value" (change)="onSliderValChange()">
                    </div>
                    <!-- <input type="text" class="form-text" placeholder="value" [(ngModel)] = "control.props.unit" (change)="onSliderValChange()"> -->
                </div>
            </div>
            <div class="col-xs-12 no-padding text-group horz-group ">
                <span class="col-md-4 no-padding form-label">Min Value:</span>
                <div class="col-md-4 col-xs-4 no-padding horz-control">
                    <input type="number" class="form-text"  [(ngModel)] = "control.props.minVal" (change)="onSliderValChange()">
                </div>
            </div>
            <div class="col-xs-12 no-padding text-group horz-group ">
                <span class="col-md-4 no-padding form-label">Max Value:</span>
                <div class="col-md-4 col-xs-4 no-padding horz-control">
                    <input type="number" class="form-text"  [(ngModel)] = "control.props.maxVal" (change)="onSliderValChange()">
                </div>
            </div>
            <div class="col-xs-12 no-padding text-group horz-group ">
                <span class="col-md-4 no-padding form-label">Step Length:</span>
                <div class="col-md-4 col-xs-4 no-padding horz-control">
                    <input type="number" class="form-text"  [(ngModel)] = "control.props.steps" (change)="onSliderValChange()">
                </div>
            </div>
            <div class="col-xs-12 no-padding text-group horz-group">
                <span class="col-md-4 no-padding form-label no-margin" [class.no-margin]="control.props.scale === false">Show Scale:</span>
                <div class="col-md-2 np horz-control">
                    <div class="switch">
                        <label>
                            <input type="checkbox" name="properties-checkbox"
                                class="show-check"
                                [checked]="control.props.scale"
                                (change)="toggleScale(control);callGA('SCALE')"
                                data-size="mini" data-on-color="blue"
                            >
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding text-group horz-group ">
                <span class="col-md-4 no-padding form-label">Default Value:</span>
                <div class="col-md-4 col-xs-4 no-padding horz-control">
                    <input type="number" class="form-text"  [(ngModel)] = "control.props.defaultValue" (change)="onSliderValChange()">
                </div>
            </div>
        </div>
        <!--
        <div class="type-details  no-border">
            <label class="check">
                <input type="checkbox" value="Value1 " name="checkbox1" id="check1"
                 [checked]="control.config.validations.required.status"
                 (change)="onChange(control)"
                >
                <label for="check1"> </label>
                Mark as Mandatory
            </label>
        </div>
        -->