:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.all-companies-container{
  top:100px;
  position: relative;
  margin-left: 255px;
}


.dataTables_length{
  display: inherit;
}

.dataTables_filter{
  display: inherit;
}







