@font-face {
 font-family: 'Material Icons';
 font-style: normal;
 font-weight: 400;
 src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
 src: local('Material Icons'),
      local('materialIcons-Regular'),
      url(../fonts/materialIcons-Regular.woff2) format('woff2'),
      url(../fonts/materialIcons-Regular.woff) format('woff'),
      url(../fonts/materialIcons-Regular.ttf) format('truetype');
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;  /* Preferred icon size */
 display: inline-block;
 line-height: 1;
 text-transform: none;
 letter-spacing: normal;
 word-wrap: normal;
 white-space: nowrap;
 direction: ltr;

 /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased;
 /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility;

 /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale;

 /* Support for IE. */
 font-feature-settings: 'liga';
}
ul,li{
  list-style: none;
}
a:hover, a:focus{  
  transition: all 0.3s ease 0s !important;
}
a:focus, img:focus, button:focus{
  outline: none !important;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-flat{
  border-radius: 0px;
}
.orange-text{
  color: #e97252;
}
.btn-basic{
  color: #e97252;
  border: 1px solid #dae2e6;
  font-size: 13px;
}
.btn-basic2{
  color: #e97252;
  border: 1px solid #dae2e6;
  font-size: 11px;
  background: #f6f8f9;
  padding: 10px;
}
.btn-basic2 i{
  color: #e97252;
  font-size: 14px;
  position: relative;
  top: 3px;
}
.no-padding{
  padding: 0px;
}
.position-right{
  right: 0px;
}
.navbar-fixed-top .nav-padding{
  padding-left: 30px;
  padding-right: 30px;
}
.template-outr{
  padding-left: 30px;
}
.template-outr .no-padding{
  padding: 0px;
}
.sidebar-offcanvas{
  padding-right: 30px;
}
.navbar-rightside{
  float: right;
  margin-top: 13px;
}
.navbar-default{
  background: #fff;
  border-color: #dae2e6;
  padding-bottom: 10px;
}
.navbar-logopadding{
  padding-right: 35px;
}
.ed-projectname{
  border-left: 1px solid #dae2e6;
  color: #5cc9e6;
  float: left;
  font-size: 18px;
  margin-top: 13px;
  padding-bottom: 5px;
  padding-top: 4px;
  padding-left: 20px;
}

.navbar-rightside .btn-basic{
  margin-right: 15px;
}
.navbar-leftside{
  border-left: 1px solid #dae2e6;
  color: #5cc9e6;
  font-size: 18px;
  margin-left: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-top: 4px;

}
.navbar-leftside label{
  font-size: 14px;
  color: #8e989f;
  font-weight: normal;
  cursor: pointer;
}
.navbar-leftside label i{
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.navbar-leftside label i:last-child {
    margin-left: 15px;
}
.navbar-leftside.btn-group.open .dropdown-toggle{
  box-shadow:none;
}

/* sidebar css start */
.sidebar-layout{
  height: 100vh;
  border:1px solid #dae2e6;
}
.sidebar-topselector{
  border-bottom: 1px solid #dae2e6;
  font-size: 13px;
  color: #8e989f;

}
.card-layout{
  display: block;
  padding: 8px 20px;
}
.card-layout .dropdown-toggle{
  cursor: pointer;
}
.card-layout.open .dropdown-toggle{
  box-shadow: none;
}
.card-layout i{
  font-size: 14px;
  position: relative;
  top: 3px;
}
.sidebar-bottomoutr{
  padding: 20px;
}
.layout-select{
  border-bottom: 1px solid #dae2e6;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.layout-select-box{
  float: left;
}
.layout-select a{
  transition: all 200ms ease-in 0s;
  border:3px solid #fff;
  display: inline-block;
}
.layout-select .layout-select-box:first-child{
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 14px;
}
.layout-select a:hover{
  border:3px solid #62cbe8;
}
.layout-select a.active{
  border:3px solid #62cbe8;
}
.layout-select span{
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
.color-select{
  border-bottom: 1px solid #dae2e6;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.color-select ul{
  float: left;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}
.color-select ul li{
  float: left;
  width: auto;
  margin-right: 10px;
}
.color-select ul li a.color-option{
  float: left;
  width: 24px;
  height: 24px;
}
.blue{
  background: #62cbe8;
}
.green{
  background: #28c2ba;
}
.orange{
  background: #e97252;
}
.background-select{
  border-bottom: 1px solid #dae2e6;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.background-select span{
  float: left;
  width: 100%;
}
.background-select span:nth-child(2){
  float: left;
  width: 100%;
  margin-bottom: 10px;
  color: #c7cdd0;
  font-size: 12px;
}
.background-select button:nth-child(4){
  margin-left: 10px;
}
/* sidebar css end */



/* responsive tabs css start */

.panel-heading {
    padding: 0
}
.panel-heading a {
    display: block;
    padding: 20px 10px;
}
.panel-heading a.collapsed {
    background: #fff
}
.panel-heading a {
    background: #f7f7f7;
    border-radius: 5px;
}
.panel-heading a:after {
    content: '-'
}
.panel-heading a.collapsed:after {
    content: '+'
}
.nav.nav-tabs li a,
.nav.nav-tabs li.active > a:hover,
.nav.nav-tabs li.active > a:active,
.nav.nav-tabs li.active > a:focus {
    border-bottom-width: 0px;
    outline: none;
}
.nav.nav-tabs li a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tab-pane {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
}

/* used for sidebar tab/collapse*/
@media (max-width: 991px) {
  .visible-tabs {
    display: none;
  }
}

@media (min-width: 992px) {
  .visible-tabs {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .hidden-tabs {
    display: none !important;
  }
}


/* responsive tabs css end */



/* start: product css*/

/* start: common css */
.np{padding: 0px;}
.clearfix {
    clear: both;
    float: left;
    width: 100%;
}
.text-center{
  text-align: center;
}
.section {
    width: 100%;
    float: left;
}
a:hover, a:focus{text-decoration: none; color: #8e989f;}
.font-italic{font-style: italic;}
.text-grey{color: #8e989f;}
.dis-block{display: block;}
/* end: common css */

#main {
    height: 100%;
    width: 100%;
    float: left;
}
#main .container {
    width: 100%;
    padding: 0 30px;
}

/* Start: header section */
#header {
    height: 65px;
}
#header .logo {
    padding-right: 40px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#header .logo a img.standard-logo {
    display: block;
    max-width: 100%;
}
.logo {
    /*float: left;*/
    font-size: 32px;
    line-height: 100%;
    height: 35px;
}
#header .menu {
    /*float: right;
    width: 83%;*/
    margin-top: 20px;
}
.navbar {
    margin-top: 20px;
    min-height: 35px;
}
.top-search{
    /*float: left;
    width: 90%;  */  
    border-right: 1px solid #dae2e6;
    border-left: 1px solid #dae2e6;
    padding-left: 30px;
}
.top-search .form-group {
    padding-bottom: 0;
    margin: 0;
}
.top-search input{
    font-size: 14px;
    color: #bec5c9;
    font-family: robotoregular !important;
    box-shadow: none;
    border: none;
    float: left;
    width: 95%;
}
.top-search input.form-control:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
    background: none;
}
.top-search input[type=text] {
    font-size: 14px;
    color: #bec5c9;
    border: none;
    background: none;
    padding: 6px 12px;
    margin-bottom: 0px;
}
.top-search input::-webkit-input-placeholder {
    font-size: 14px !important;
}
.top-search span.icon {
    float: left;
    margin-top: 10px;
}
.top-search span.icon i{
    font-size: 18px;    
    color: #bec5c9;
}
.login{
  /*float: right;
  width: 10%;*/
}
.login-text {
    float: right;
    color: #8e989f;
    font-size: 14px;
    padding-top: 5px;
}
.login .login-text span.icon i {
    font-size: 18px;
    color: #ee795a;
    top: 0px;
    position: relative;
}
.login a:hover.login-text {
    text-decoration: none;
    color: #8e989f;
}
.signup-text{
    float: right;
    color: #8e989f;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 15px;
}
.login .signup-text span.icon i {
    font-size: 18px;
    color: #ee795a;
    top: 0px;
    position: relative;
}
.login a:hover.signup-text, .login a:focus.signup-text, .login a:active.signup-text {
    text-decoration: none;
    color: #8e989f;
}

/* End: header section */

/* start: tabs section */
.main-tabs .nav>li>a {
    padding: 8px 40px;
    font-size: 13px;
    color: #8e989f !important;
    line-height: 20px;
    border-right: 1px solid #e9eef0 !important;
    border-radius: 0;
    margin-right: 0px;
    width: 185px;
    text-align: center;
}
.main-tabs .nav-tabs>li.active>a, .main-tabs .nav-tabs>li.active>a:focus, .main-tabs .nav-tabs>li.active>a:hover {
    color: #8e989f !important;
    cursor: pointer;
    background-color: #e9eef0 !important;
    border: none;
    border-bottom-color: transparent;
}
.main-tabs .nav>li>a:hover {
    background-color: #e9eef0 !important;
    color: #8e989f !important;
}
.main-tabs .nav-tabs {
    border-bottom: 1px solid #e9eef0;
    border-top: 1px solid #e9eef0;
    background: none;
}
.main-tabs .tab-pane {
    background: #fff;
    padding: 10px 0; 
    border: none;
    margin-top: 0px;
    float: left;
}
.main-tabs h1{
  font-size: 24px;
  color: #8e989f;
  font-family: 'robotoregular';
}
.main-tabs p{
  font-size: 14px;
  color: #8e989f;
  font-family: 'robotoregular';
}
.main-tabs hr {
    margin-top: 30px;
    margin-bottom: 35px;
    border: 0;
    border-top: 1px solid #e9eef0 !important;
}
.btn-blue {
    color: #fff !important;
    background-color: #5cc9e6 !important;
    border-color: #5cc9e6 !important;
    border-radius: 0 !important;
    padding: 7px 60px !important;
    margin-top: 15px !IMPORTANT;
    margin-right: 25px !important;
    transition: all 0.3s ease 0s;
    text-transform: none !important;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    color: #fff;
    background-color: #57bdd8;
    border-color: #57bdd8;
    box-shadow: none;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #e9eef0 !important;
}
/* end: tabs section */

/* Start: sec featured */
.featured-section{
   float: left;
   width: 100%;
}
.featured-section h2{
  font-size: 22px;
  color: #269fd8;
  margin-bottom: 5px;
  margin-top: 0;
}
.featured-section span{
  color: #8e989f;
  font-size: 14px;
}
.featured-section .featured-text-block {
    line-height: 22px;
}
.featured-section .icon i.material-icons {
    font-size: 48px;
    color: #c2c9cd;
}
.featured-section .icon-list{
    margin-right: 15px;
    position: relative;
}
.featured-section .icon-list span.badge {
    position: absolute;
    bottom: 0;
    right: 0px;
    background: #f65a30;
    color: #fff;
    font-size: 10px;
    font-family: robotobold;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.18);
}
.featured-section .icon-list.active .icon i.material-icons {
    color: #8e989f;
}
.featured-section .icon-list.active .icon i.material-icons {
    color: #8e989f;
}
.featured-section .icon-list .icon i.material-icons:hover {
    color: #8e989f;
}
.featured-list{margin-top: 25px;}
/* End: sec featured */

/* start: footer */
.footer-main{
  float: left;
  width: 100%;
}
.footer-top{
  float: left;
  width: 100%;
  background: #e9eef0;
  padding: 20px 10px 30px;
}
.footer-main .footer-top p{
    font-size: 13px;
    color: #8e989f;
    line-height: 18px;
    margin-top: 15px;
}
.footer-main .footer-top .footer-social-icons{
    margin-top: 30px;
}
.footer-main .footer-top .footer-social-icons a img{
    margin-right: 5px;
}
.footer-bottom{
  float: left;
  width: 100%;
  margin: 25px 0px 15px;
}
.footer-bottom a{
  color: #bbc1c5;
  font-size: 12px;
}
.footer-bottom a:hover, .footer-bottom a:focus, .footer-bottom a:active{
  text-decoration: none;
  color: #8e989f;
}
.footer-bottom p.copyright{
  font-size: 13px;
  color: #bbc1c5;
  text-align: right;
}

/* end: footer */

/* Start: Modal Forms Materiliaze CSS */
  .modal i.material-icons {
      font-size: 18px;
      color: #fff;
  }
  .modal button.close.btn-close {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 9;
      opacity: 0.7;
       transition: all 0.3s ease 0s !important;
  }
  .modal .close:focus, .modal .close:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      filter: alpha(opacity=50);
      opacity: .9 !important;
  }
  .modal-open .modal {
      overflow-x: hidden;
  }
  .modal{
      font-family: montserratregular;
  }
  .modal .form-control {
      height: 38px;
      padding: 7px 0;
      font-size: 14px;
      line-height: 1.42857143;
      font-family: montserratregular;
      color: #62696d;
  }
  .modal .form-group label.control-label {
      font-size: 14px;
      line-height: 1.07142857;
      color: #8e989f;
      font-weight: 400;
      margin: 16px 0 0 0;
      font-family: montserratregular;
  }
  .modal .form-group.label-floati62696dng label.control-label, 
  .modal .form-group.label-placeholder label.control-label {
      top: -7px;
      font-size: 14px;
      line-height: 18px;
  }
  .modal .form-group.label-floating:not(.is-empty) label.control-label {
      top: -20px; 
      font-family: montserratregular;
      font-size: 11px; 
      text-transform: uppercase;
      color: #8e989f !important;
  }
  .modal .form-group.label-floating.is-focused label.control-label {
      top: -20px; 
      font-size: 11px; 
      font-family: montserratregular;
      color: #8e989f !important;
  }
  .modal .form-group.is-focused label,
  .modal .form-group.is-focused label.control-label {
      color: #8e989f;
      text-transform: uppercase;
  }
  .modal .form-control,
  .modal .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#d7dbdd, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#d7dbdd, #d7dbdd);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
  }
  .modal .form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fb545b), to(#fb545b)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#fb545b, #fb545b), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#fb545b, #fb545b), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
            background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .modal .form-group {
      padding-bottom: 7px;
      margin: 12px 0 0 0;
      clear: both;
  }
  .modal-backdrop {
      background: rgba(0, 0, 0, 0.99) !important;
  }

/* End: Modal Forms Materiliaze CSS */

/* custom material css start (sahil) */
    .sahil-material .form-control {
        height: 38px;
        padding: 7px 0;
        font-size: 14px;
        line-height: 1.42857143;
        font-family: montserratregular;
        color: #62696d;
    }
    .sahil-material .form-group label.control-label {
        font-size: 14px;
        line-height: 1.07142857;
        color: #8e989f;
        font-weight: 400;
        margin: 16px 0 0 0;
        font-family: montserratregular;
    }
    .sahil-material .form-group label.control-label.seo-static-label{
        text-transform: uppercase !important;
        font-size: 11px; 
        color: #8e989f !important;
    }
    .sahil-material .form-group.label-floating label.control-label, 
    .sahil-material .form-group.label-placeholder label.control-label {
        top: -7px;
        font-size: 14px;
        line-height: 18px;
        color: #8e989f;
    }
    .sahil-material .form-group.label-floating:not(.is-empty) label.control-label {
        top: -20px; 
        font-family: montserratregular;
        font-size: 11px ; 
        text-transform: uppercase;
        color: #8e989f !important;
    }
    .sahil-material .form-group.label-floating.is-focused label.control-label {
        top: -20px; 
        font-size: 11px; 
        font-family: montserratregular;
        color: #8e989f !important;
    }
    .sahil-material .form-group.is-focused label,
    .sahil-material .form-group.is-focused label.control-label {
        font-size: 11px; 
        font-family: montserratregular;
        color: #8e989f !important;
        text-transform: uppercase;
    }
    .sahil-material .form-control,
    .sahil-material .form-group .form-control {
        border: 0 !important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
        background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#d7dbdd, #D2D2D2);
        background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#d7dbdd, #d7dbdd);
        background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
    }
    .sahil-material .form-group.is-focused .form-control {
        outline: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fb545b), to(#fb545b)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
        background-image: -webkit-linear-gradient(#fb545b, #fb545b), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: -o-linear-gradient(#fb545b, #fb545b), -o-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
        -webkit-background-size: 100% 2px, 100% 1px;
                background-size: 100% 2px, 100% 1px;
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }

/* custom material css end (sahil) */

/* end: product css*/


/* Start: Modal Forgot Password (materialize) */
    #forgot-password.forgot-password{
      width: 100%;
      float: left;
       margin-top: -60px;
    }

    #forgot-password .forgot-password-content{
      border-radius: 0px;
      /*border: 1px solid #e9eef0;*/
      float: left;
      width: 100%;
    }

    #forgot-password .forgot-password-header {
        padding: 20px 25px;
        border-bottom: none;
    }

    #forgot-password .logo-section{
        margin-bottom: 40px;
    }

    #forgot-password .logo-section span{
        display: block;
        font-size: 30px;
        color: #fb545b;
        font-family: montserratultra_light;
        line-height: 36px;
        margin-top: 10px;
    }

    #forgot-password .forgot-password-logo{
        /*margin-bottom: 20px;*/
       /* margin-top: 100px;*/
    }

    #forgot-password .forgot-password-body {
        position: relative;
        padding: 0px;
        float: left;
        width: 100%;
        z-index: 9999;
    }

    #forgot-password .forgot-password-left{
        width: 50%;
        float: left;
        padding: 40px 40px 40px 30px;
        display: table;
        height: 100vh;
        /*margin-top: 35px;*/
        background: #fff;
    }

    #forgot-password .forgot-password-left-inner {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    #forgot-password .forgot-password-right {
        background: #fb545b;
        float: left;
        width: 50%;
        height: 100vh;
        padding: 30px;
        display: table;
        /*margin-top: 35px;*/
    }

    #forgot-password .forgot-password-right-inner {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    /*#forgot-password .img-margin{
        margin: 40px 0px 15px;
    }*/

    #forgot-password .img-section {
        float: left;
        width: 100%;
        margin: 40px 0px 0px;
        /*margin-left: 5% !important;*/
        position: relative;
        min-height: 365px;
    }

    #forgot-password .img-width{
        width: auto;
        /*margin-left: 5% !important;*/
        box-shadow: -9px -9px 12px rgba(0, 0, 0, 0.14);
        /*position: relative;*/
    }

    .login-img1 {
        position: absolute;
        left: 30px;
        top: 0;
    }

    .login-img2 {
        position: absolute;
        left: 233px;
        top: 78px;
        z-index: 9;
    }

    .login-img3 {
        position: absolute;
        left: 130px;
        top: 180px;
        z-index: 9;
    }

    #forgot-password .input-group {
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid #d7dbdd;
    }

    #forgot-password .input-field {
        float: left !important;
        /* width: 100% !important; */
        border: none;
        box-shadow: none;
        color: #8e989f;
        font-size: 14px;
        font-family: montserratregular;
        padding: 0;
    }

    #forgot-password input[type="email"]::-webkit-input-placeholder, 
    #forgot-password input[type="password"]::-webkit-input-placeholder,
    #forgot-password input[type="text"]::-webkit-input-placeholder {
      color: #8e989f !important;
    }

    #forgot-password.forgot-password .form-group label.control-label {
        font-size: 14px;
        line-height: 1.07142857;
        color: #8e989f;
        font-weight: 400;
        margin: 16px 0 0 0;
        font-family: montserratregular;
    }

    #forgot-password .or-login {
        color: #62696d;
        font-size: 12px;
        font-family: montserratregular;
        margin-bottom: 0px;
        padding-top: 5px;
    }

    #forgot-password .forgot-btn {
        position: absolute;
        right: 2px;
        bottom: 25px;
        z-index: 9;
        color: #f07175;
        font-size: 12px;
    }

    #forgot-password.forgot-password button.close.btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 9;
        opacity: 0.7;
        transition: all 0.3s ease 0s !important;
    }

    #forgot-password.forgot-password .close:focus, #forgot-password.forgot-password .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .9 !important;
    }

    #forgot-password.forgot-password i.material-icons {
        font-size: 18px;
        color: #fff;
    }

    #forgot-password.forgot-password .btn-reset {
        margin-top: 40px !important;
        padding: 7px 40px !important;
        margin-bottom: 0px;
    }

    #forgot-password.forgot-password .alert.alert-danger {
        background: none !important;
        position: relative;
        width: 100%;
    }

    #forgot-password.forgot-password .alert.alert-danger p{
        position: absolute;
        width: 100%;
    }

    #forgot-password.forgot-password .alert.alert-danger span.mat-icon{
        float: left;
        width: auto;
    }

    #forgot-password.forgot-password .alert.alert-danger span.mat-icon i.material-icons {
        font-size: 12px;
        margin-right: 5px;
        margin-top: 1px;
        color: #fb545b;
    }

    #forgot-password.forgot-password .form-group{
        padding-bottom: 7px;
        margin: 12px 0 0;
        clear: both;
    }

    /* Start: login-testimonial */

        .login-testimonial {
            float: left;
            width: 100%;
            padding: 0px 25px;
        }

        .testimonial-block {
            background: rgba(255,255,255, 0.3);
            border-radius: 50%;
            width: 76px;
            height: 76px;
            float: left;
            position: relative;
        }

        .testimonial-block span{
            position: absolute;
            top: -15px;
            left: 18px;
            font-size: 120px;
            color: #fff;
            font-family: montserratlight;
        }

        .testimonial-content {
            float: left;
            width: 82%;
            margin-left: 20px;
            margin-top: 10px;
        }

        .testi-desc{
            float: left;
            width: 100%;
            font-size: 24px;
            color: #fff;
            line-height: 26px;
            font-family: montserratlight;
        }

        .testi-client{
            font-size: 16px;
            color: rgba(255,255,255,0.8);
            line-height: 26px;
            font-family: montserratregular;
            font-style: italic;
            float: left;
            width: 100%;
            padding-top: 15px;
        }

        .video-wrapper{
            position: relative;
            float: left;
            width: 100%;
        }

        iframe {
            position: absolute; 
            top: 70px; 
            left: 98px;  
            right: 0;
            width: 68%;
        }

    /* End: login-testimonial */

    /* Start: loading dots */

        .loading:after {
            content: ' .';
            animation: dots 1s steps(5, end) infinite;
            font-size: 18px;
            line-height: 1px;
            position: relative;
            left: -3px;
        }

        @keyframes dots {
            0%, 20% {
                color: rgba(0,0,0,0);
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                                .5em 0 0 rgba(0,0,0,0);
            }

            40% {
                color: white;
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                             .5em 0 0 rgba(0,0,0,0);
            }

            60% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 rgba(0,0,0,0);
            }
            80%, 100% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 white;
            }
        
        }
        
    /* End: loading dots */

    /* Start: validations success msg */
        #forgot-password.forgot-password .val-success-msg {
            font-size: 12px;
            position: relative;
            top: -10px;
            margin: 0px;
            margin-top: 15px;
        }

        #forgot-password.forgot-password .val-success-msg span.icon-success {
            float: left;
            margin-right: 5px;
            margin-top: 2px;
        }

        #forgot-password.forgot-password .val-success-msg span.icon-success i.material-icons {
            font-size: 14px;
            color: #00c853;
        }

      /* Start: validations error msg */

/* End: Modal Forgot Password (materialize) */

/* Start: Responsive - Forgot Password Modal */

  @media (max-width: 767px){
      #forgot-password.forgot-password{
          padding-left: 0;
          margin-top: -50px;
      }

      #forgot-password .forgot-password-right{
          display: none;
      }

      #forgot-password.forgot-password .forgot-password-dialog {
          width: auto;
      }

      #forgot-password.forgot-password .forgot-password-left{
          width: 100% !important;
          padding: 40px 30px 75px !important;
      } 

      #forgot-password.forgot-password button.close.btn-close i.material-icons{
          color: #8e989f;
          top: 5px;
          position: relative;
      }

      #forgot-password.forgot-password .forgot-password-logo{
          margin-top: 10px;
      }

  }

  @media screen and (min-width: 768px) and (max-width: 768px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content {
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*.video-wrapper iframe{
            position: absolute;
            top: 60px;
            left: 55px;
            right: 0;
            width: 215px;
            height: 120px;
        }*/

        .login-testimonial {
            padding: 0px 25px;
        }

        #forgot-password .forgot-password-right {
            padding: 0px;
        }

        .testi-desc{
            font-size: 18px;
        }

        .testi-client {
            font-size: 13px;
        }

        #forgot-password .img-width {
            width: 54%;
        }

        .login-img2 {
            left: 145px;
            top: 45px;
        }

        .login-img3 {
            left: 85px;
            top: 105px;
        }

        #forgot-password .img-section {
            margin: 55px 0px 0px;
            min-height: 217px;
        }

    }

    @media screen and (min-width: 1024px) and (max-width: 1024px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content{
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*iframe.iframe-1024{
            position: absolute;
            top: 60px;
            left: 69px;
            right: 0;
            width: 305px;
            height: 177px;
        }*/

        #forgot-password .img-width{
            width: 55%;
        }

        .login-img2{
            left: 165px;
            top: 52px;
        }

        .login-img3{
            left: 100px;
            top: 122px;
        }

        #forgot-password .img-section {
            min-height: 253px;
        }

    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        #forgot-password .img-width{
            width: 55%;
        }

        .login-img2{
            left: 165px;
            top: 52px;
        }

        .login-img3{
            left: 100px;
            top: 122px;
        }

        #forgot-password .img-section {
            min-height: 253px;
        }

        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testi-desc {
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

    }

    @media screen and (min-width: 1280px) and (max-width: 1280px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content{
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*iframe{
            position: absolute;
            top: 65px;
            left: 92px;
            right: 0;
            width: 390px;
            height: 219px;
        }*/

        #forgot-password .img-width{
            width: 54%;
        }

        #forgot-password .img-section{
            margin: 30px 0px 0px;
            min-height: 325px;
        }

        .login-img2{
            left: 200px;
            top: 67px;
        }

        .login-img3{
            left: 130px;
            top: 155px;
        }

    }

    @media screen and (min-width: 1920px) and (max-width: 1920px) {
        /*iframe{
            position: absolute;
            top: 75px;
            left: 140px;
            right: 0;
            width: 610px;
            height: 347px;
        }*/

        #forgot-password .img-section{
            width: 85%;
            margin-left: 18%;
        }

    }

/* End: Responsive - Forgot Password Modal */
















