<div class="col-md-12 col-sm-12 col-xs-12 np setPassword">
        <div class="col-md-4 col-sm-3 col-xs-3 np">
        </div>
        <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 np sahil-material">
                    <h4 class="setNewPassword">Set New Password</h4>
                        <div class="form-group label-floating">
                            <label class="control-label" for="inputPassword">New Password</label>
                            <input id="newPassword" type="password"  class="form-control" formControlName="newPassword" required (focus)="errorHide()" >
                        </div>
                        <div *ngIf="setPasswordForm.controls.newPassword.touched && !setPasswordForm.controls.newPassword.valid" class="alert alert-danger">
                            <p *ngIf="setPasswordForm.controls.newPassword.errors.required">New Password is required.</p>
                            <p *ngIf="setPasswordForm.controls.newPassword.errors.minlength">Min 8 character is required.</p>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label" for="inputPassword">Confirm Password</label>
                            <input id="confirmPassword" type="password"  class="form-control" formControlName="confirmPassword" required (focus)="errorHide()" >
                        </div>
                        <div *ngIf="setPasswordForm.controls.confirmPassword.touched && !setPasswordForm.controls.confirmPassword.valid" class="alert alert-danger">
                            <p *ngIf="setPasswordForm.controls.confirmPassword.errors.required">Confirm Password is required.</p>
                            <p *ngIf="setPasswordForm.controls.confirmPassword.errors.minlength">Min 8 character is required.</p>
                        </div>
                        <div *ngIf="error" class="alert alert-danger" >
                            <p>{{error}}</p>
                        </div>
                        <div *ngIf="message" class="alert alert-danger" >
                            <p>{{message}}</p>
                        </div>
                    </div>   
                    <div class="col-md-12 col-sm-12 col-xs-12 np">
                        <button [disabled]="!setPasswordForm.valid"  type="submit" class="btn btn-red-outline hvr-sweep-to-right" id='btnSetNewPassword'>Update</button>
                    </div>
                </div> 
            </div>
        </form>  
</div>
