 <div class="type-details" >
    <div class="col-md-12 no-padding horz-group">
        <span class="form-label col-md-4 col-sm-4 np" style="margin-right: -4px;">Validate as:</span>
            <div class="col-md-7 col-sm-6 horz-control np">
                <select 
                    class="select-default" 
                    data-width="fit"
                    class="form-control"
                    (change) = "typeChange()"
                    [(ngModel)] = "control.config.type"
                >
                    <option value="text">Alphanumeric</option>
                    <option value="number">Numeric Only</option>
                    <option value="email">Email Address</option>
                </select>        
            </div>                 
    </div>
</div>
<!-- Common Component -->
<div class="type-details">
    <common-editor [control]="control"></common-editor>
</div>
<!-- Common Component-->	
<div class="type-details">
    <span class="form-label" [class.no-margin]="control.config.showHelp === false">Help Text:</span>
    <div class="switch">
        <label>
            <input type="checkbox" name="properties-checkbox"
                class="show-check"
                [checked]="control.config.showHelp"
                (change)="onChangeDescription(control);callGA('HELPTEXT',control)"
                data-size="mini" data-on-color="blue"
            >
            <span class="lever"></span>
        </label>
    </div>
    <div class="col-xs-12 no-padding text-group div-check" 
        *ngIf="control.config.showHelp"
    >
        <textarea class="form-text question-textarea" [(ngModel)] = "control.props.helpText"></textarea>
    </div>
</div>
<div class="type-details">
    <div class="col-xs-12 no-padding text-group horz-group">
        <span class="col-md-4 col-xs-4 no-padding form-label">Placeholder:</span>
        <div class="col-md-7 col-xs-7 no-padding horz-control">
            <input type="text" class="form-text" [(ngModel)] = "control.config.placeholder">
        </div>
    </div>   
    <span *ngIf = "control.config.type === 'text'">  
        <div class="col-xs-12 no-padding text-group  horz-group">
            <span class=" col-md-4 col-xs-4 no-padding form-label">Min. Characters:</span>
            <div class="col-md-7 col-xs-7 no-padding horz-control">
                <input type="text" class="form-text" [(ngModel)] = "control.props.minVal">
            </div>
        </div> 
    </span>   
    <span *ngIf = "control.config.type === 'number'">  
        <div class="col-xs-12 no-padding text-group horz-group ">
            <span class="col-md-4 no-padding form-label">Min Value:</span>
            <div class="col-md-4 col-xs-4 no-padding horz-control">
                <input type="text" class="form-text" [(ngModel)]="control.props.minVal">
            </div>
        </div>
        <div class="col-xs-12 no-padding text-group horz-group ">
            <span class="col-md-4 no-padding form-label">Max Value:</span>
            <div class="col-md-4 col-xs-4 no-padding horz-control">
                <input type="text" class="form-text" [(ngModel)]="control.props.maxVal">
            </div>
        </div>
    </span>
</div>

<div class="type-details">
    <label class="check">
        <input type="checkbox" value="Value1" name="checkbox1" id="check1" 
            [checked]="control.config.validations.required.status"
            (change)="onChange(control);callGA('MANDATE',control)"
        >
        <label for="check1"> </label>
        Mark as Mandatory
    </label>
</div>