@media (min-width:641px) and (max-width:1024px){


    section.landing-page-mid{width:55%;margin-left:45%;padding:70px 25px;float:left}
    .banner-img{width:45%}
    .main-heading h1{font-size:20px;line-height:1.4}
    .main-heading h1 p{font-size:20px;padding:16px 28px}
    section.landing-page-mid>div , .t1-landing leadform form .text-center{max-width:90%}
    .btn.prime-action{font-size:16px;padding:14px 25px 11px;line-height:24px}
    .Leadform,form#new_form{max-width:100%}
    .custom-block .input-field input[type=text],
    .custom-block .input-field input[type=email],
    .leadform_question form#leadform_question .input-outer input,
    input.othersfield{font-size:18px;height:28px}
    .leadform_question #leadform_question .input-outer,
    .questions-list>div.t1-ques-head p,
    .t1-ques-component .question-components,
    div.t1-ques-head p{padding:16px 28px;font-size:18px}
    .t1-landing leadform form .input-section .input-outer{ padding: 16px 28px; font-size: 20px}
    .checkbox-outer label,
    .checkbox-outer-base label,
    .radio-outer label{padding:16px 28px 16px 53px;border-radius:50px;font-size:18px}
    .checkbox-outer-base label,
    .radio-outer label.no-icon{padding-left:30px!important}
    .t1-ques-component .go-btn{width:57px;height:57px;font-size:18px;line-height:57px;margin-left: 12px}
    .checkbox-outer .control__indicator.check-set i,.radio-outer label .control__indicator.icon-set i{font-size:24px}
    .input-group.date input.form-control{background:0 0!important;font-size:18px;width:175px}
    .checkbox-outer .control__indicator.check-set,
    .radio-outer label .control__indicator.icon-set{position:absolute;top:14px;left:22px}
    fb_lead_gen .fb-outer .loginBtn{font-size:16px;padding: 14px 45px 12px 25px}
    .t1-landing leadform form .input-section .input-outer input{    height: auto;font-size: 20px;padding-bottom: 5px;padding-left: 30px;}
    .t1-landing leadform form .text-center{max-width: 90%}
    .t1-landing leadform form .input-section .input-outer i {top: 23px;left: 30px;font-size: 20px;}
    .selectize-control.single .selectize-input .item{font-size: 18px;}

    .checkbox-outer, .checkbox-outer-base, .radio-outer {margin-left: 12px;margin-bottom: 10px}
    .main-heading h1 p,
    .questions-list>div.t1-ques-head p, 
    .t1-ques-component .question-components,
    .t1-ques-component .go-btn,
    .leadform_question #leadform_question .input-outer,
     div.t1-ques-head p {margin-bottom: 18px}
     .t1-ques-component {margin-bottom: 20px!important;}
     .input-group.date span.input-group-addon{width: 25px}
     .rating-inner i {font-size: 24px;}
     .t1-question .leadform_question form#leadform_question .input-outer input {padding-left: 30px;}
     /* fb_lead_gen + button.lf-skip-btn.ripple-light{bottom: 105px} */
     button.lf-skip-btn.ripple-light{bottom: 0px}
     .t1-landing leadform form .input-section .input-outer span{left:30px}
     .cal-outer.calender-date.timePiece .input-group.date input.form-control {width: 250px;}
     .t1-question leadform_question div + fb_lead_gen {padding-right: 75px;}
     leadform_question fb_lead_gen + button.lf-skip-btn.ripple-light {bottom: 10px;}
     leadform_question div + fb_lead_gen + button.lf-skip-btn.ripple-light{bottom: 0px; right: 85px}
     .t1-question .leadform_question form#leadform_question .input-outer i{top: 1px; font-size: 22px}
    .leadform_question #leadform_question .input-outer{min-height: 64px}
    .errorMessage , .t1-question .leadform_question .input-outer .input-validation span{font-size: 16px}
    .t1-landing leadform .input-outer input[type=checkbox]+label.leadform-checkbox::before{width:20px;height:20px;top: 3px}
    .t1-question .leadform_question .input-outer input[type=checkbox]+label.leadform-checkbox::before{width:20px;height:20px;top: 4px}
    .t1-landing leadform .input-outer input[type=checkbox]+label.leadform-checkbox, 
    .t1-question .leadform_question .input-outer input[type=checkbox]+label.leadform-checkbox{padding-left: 30px !important}
    .t1-landing leadform .input-outer input[type=checkbox]:checked+label.leadform-checkbox::after, 
    .t1-question .leadform_question .input-outer input[type=checkbox]:checked+label.leadform-checkbox::after{font-size: 20px}
    .selectize-control.single .selectize-input .item, 
    .selectize-control.single .selectize-input input {padding: 0px 0px 6px 0 !important;margin: 0 !important;}
    .t1-ques-component .question-components{ max-width: calc(100% - 85px);}
    .t1-question{padding:0 30px}
    .safari body.t9-body-scroll .template-nine.V_3_5 .t1-question{height:700px;overflow-y:auto}
    .t1-question button.back-action.back-btn{left: 30px !important;}
    .spinner>span{width:9px;height:9px}
    .t1-ques-head.spin-loader p.spinner {padding: 12px 30px 14px!important;}
}

@media(max-width:640px){
 
    .logo a img.vert , .common-header-main .logo a img.vert{max-height: 40px !important}

    /* body.t9-body-scroll.full-inpage-embed .t1-landing{min-height: 100vh} */
    .sec_0 form#new_form{margin-bottom: 0px !important}
    .t1-ques-component.prev .go-btn {display: none;}
    .t1-question button.back-action.back-btn::before {content: '';position: fixed;background: #fff;left: 0;right: 0;top: 0;width: 100% !important;float: left;height: 60px;box-shadow: 8px 10px 20px rgba(0,0,0,.05);z-index: -1;}
    .V_3_5.template-nine .common-ctas a.btn-fb.new-socialBtn i, 
    .V_3_5.template-nine .common-ctas a.btn-twitter.new-socialBtn i, 
    .V_3_5.template-nine .common-ctas a.btn-in.new-socialBtn i{padding-top: 10px}
    .animated{-webkit-animation-duration:1s;animation-duration:1s}
    .t1-ques-component {width: 90%;}
    .t1-ques-component .question-components{ max-width: 100% !important;}
    .leadform_question #leadform_question .input-outer{min-height: auto; margin-bottom: 15px;}
    .logo a img.horz , .common-header-main .logo a img.horz{max-height: 40px !important}
    .t1-landing leadform form .input-section .input-outer span{left: 25px}
    form#leadform_question .container-temp.text-center{display: block}
    .ques-header{top: 10px; height: 40px; left:15px}
    .t1-question button.back-action.back-btn {left: 15px!important;top: 10px!important;height: 40px;}
    .sec_0 .inline-tablecell.logo-resizing {padding: 10px 0 0 !important;}
    .logo-slide .ques-header {left: 50px!important; position: fixed;}
    .full-inpage-embed .logo-slide .ques-header{position: relative;}
    .logo-slide .common-header-main.ques-header{left:15px!important;}


    .checkbox-outer, .checkbox-outer-base, .radio-outer {margin-right: 0px;margin-bottom: 10px; margin-left: 10px; float:none}
    .main-heading h1 p,
    .questions-list>div.t1-ques-head p, 
    .t1-ques-component .question-components,
    .t1-ques-component .go-btn,
     div.t1-ques-head p {margin-bottom: 18px}
     .t1-ques-component {margin-bottom: 20px!important;}
  
     .t1-question .leadform_question form#leadform_question .input-outer input {padding-left: 25px;}
    .editor-page-divider .t1-ques-component, 
    .t1-ques-component.active{align-items: flex-end; flex-direction: column}
    .t1-landing leadform form .text-center{max-width: 90%}
    .t1-question .leadform_question form#leadform_question .input-outer i{position:absolute;left:0;top:2px;font-size: 17px}
    .t1-question .leadform_question form#leadform_question .input-outer input{padding-left:25px}
    .questions-list>div.t1-ques-head p,.t1-ques-component .question-components,div.t1-ques-head p{max-width:90%}
    .spinner>span{width:8px;height:8px}
    .t1-ques-head.spin-loader p.spinner {padding: 12px 30px 14px!important;}
    .leadform_question #leadform_question .input-outer,
    .questions-list>div.t1-ques-head p,
    .t1-ques-component .question-components,
    div.t1-ques-head p{padding:14px 28px;font-size:15px;line-height:1.3}
    fb_lead_gen .fb-outer .loginBtn{padding:13px 35px 11px 25px;font-size:15px;line-height:20px}
    .t1-landing fb_lead_gen .fb-outer .loginBtn{font-size: 16px;}
    fb_lead_gen .fb-outer .loginBtn:before{width:35px;background-position:8px center;background-size:14px}
    
    .t1-landing leadform form .input-section .input-outer{padding:15px 28px;font-size:16px}
    .custom-block .input-field input[type=text],
    .custom-block .input-field input[type=email],
    .custom-block .input-field input[type=number],
    .t1-landing leadform form .input-section .input-outer input,
    input.othersfield{height:25px;font-size:15px;padding-bottom:4px;padding-left:25px;max-width:auto}
    .leadform_question form#leadform_question .input-outer input{height:25px;font-size:15px;padding-bottom:7px;padding-left:25px;max-width:155px}
    form#new_form,section.landing-page-mid>div{max-width:100%}
    .t1-landing leadform form .input-section .input-outer i{position:absolute;top:16px;left:30px;font-size:18px}
    .selectize-control.single .selectize-input .item,
    .selectize-control.single .selectize-input input{padding:0 0 5px;font-size:15px}
    .main-heading h1{font-size:18px;line-height:1.4;text-align:left}
    .main-heading h1 p{font-size:18px;padding:14px 28px; margin-bottom: 15px}
    .stickyfooter{float:none;display:inline-block;position:relative}
    section.landing-footer-outer{position:absolute;bottom:0;text-align:center;float:left;width:100%}
    button.back-action.back-btn i{font-size:24px}
    .t1-question{padding:70px 20px 0px !important}
    /* .t9-body-scroll .t1-question{padding:70px 20px 30px!important;} */
    .banner-img{width:100%;float:left;height:300px;position:relative}
    section.landing-page-mid{margin-left:0;padding:30px 20px 70px;float:left;width:100%;text-align:center}
    .btn.prime-action{float:none;font-size:16px;padding:12px 30px 11px;line-height:22px;display:inline-block}
    .checkbox-outer label,
    .checkbox-outer-base label,
    .radio-outer label{padding:14px 28px 14px 48px!important;font-size:15px;line-height:1.3;cursor:pointer}
    .t1-ques-component .go-btn{width:51px;height:51px;margin-bottom:25px;font-size:16px;line-height:51px;margin-left:10px;  padding:0px !important; float:right;}
    .t1-ques-component .go-btn.active{padding:12px 0}
    .t1-ques-component .go-btn.active i{font-size:20px;display:inline-block}
    .checkbox-outer-base label,.radio-outer label.no-icon{padding-left:30px!important}
    .checkbox-outer .control__indicator.check-set i,
    .radio-outer label .control__indicator.icon-set i{font-size:18px}
    .outer-section{display:block;vertical-align:middle;height:100%;float:left; width: 100%}
    .custom-block .input-field input[type=text],
    .custom-block .input-field input[type=number],
    .custom-block .input-field input[type=email]{max-width:auto;margin-left:0px;height:25px;font-size:15px;padding-left:0}
    .checkbox-outer .control__indicator.check-set,
    .radio-outer label .control__indicator.icon-set{top:12px;left:25px}
    .rating-inner i{font-size:22px}
    .input-group.date input.form-control{font-size:14px;width:135px;height:30px;margin-left:0px;padding:0!important}
    .input-group.date span.input-group-addon{width:22px}
    .input-group.date span.input-group-addon i{font-size:14px}
    .table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:2px;font-size:10px}
    .bootstrap-datetimepicker-widget.dropdown-menu{margin:2px 0;padding:4px;width:auto!important}
    .V_3_5.template-nine .result-v2 .common-result-bot-icons.side-redo .crb-left{bottom:3px!important;right:15px!important}
    .V_3_5.template-nine leadform_question  fb_lead_gen + button.lf-skip-btn.ripple-light {
        margin-top: 15px !important;
        position: relative;
        right:0px;
        bottom: 0px;
    }
    .t1-landing leadform .input-outer input[type=checkbox]+label.leadform-checkbox::before, 
    .t1-question .leadform_question .input-outer input[type=checkbox]+label.leadform-checkbox::before{width:18px;height:18px;top: 1px}
    .t1-landing leadform .input-outer input[type=checkbox]+label.leadform-checkbox, 
    .t1-question .leadform_question .input-outer input[type=checkbox]+label.leadform-checkbox{padding-left: 25px !important}
    .t1-landing leadform .input-outer input[type=checkbox]:checked+label.leadform-checkbox::after, 
    .t1-question .leadform_question .input-outer input[type=checkbox]:checked+label.leadform-checkbox::after{font-size: 15px; left: 1px}

    leadform_question fb_lead_gen {padding-right: 0px;}
    .no-bg section.landing-page-mid{max-width: 100%}
    .no-bg .main-heading h1 , .t1-landing leadform form .text-center {max-width: 90%;}
    leadform_question div + fb_lead_gen{padding: 0}
    .V_3_5.template-nine .result-v2 .common-result-bot-icons.side-redo .crb-left a.common-redo .redo-outer-recom{bottom: 0 !important}
    button.lf-skip-btn.ripple-light{right: 0px;bottom: 0px;}
    .skipOn .btn.prime-action.sliding-next.leadform-btn.ripple-light.go-btn {margin-right: 0px !important; margin-bottom: 15px}
    .skipOn.fbOn .btn.prime-action.sliding-next.leadform-btn.ripple-light.go-btn{margin-right: 0px !important;}
    .no-bg section.landing-page-mid{padding: 80px 15px}
    .cal-outer.calender-date.timePiece .input-group.date input.form-control {width: 180px;}
    .t1-question leadform_question div + fb_lead_gen {        padding-right: 0px;}
    .result-v2 .common-result-main .common-result-bot-icons .crb-right{margin-top: 0px !important}
    .selectize-control.single .selectize-input .item, .selectize-control.single .selectize-input input {padding: 0px 0px 6px 0 !important;margin: 0px !important;}
    .leadform_question form#leadform_question .input-outer .selectize-control.single .selectize-input .item, .leadform_question form#leadform_question .input-outer .selectize-control.single .selectize-input input{padding: 0 0 5px 0 !important}
    .errorMessage, .t1-question .leadform_question .input-outer .input-validation span{min-width: 300px;padding: 12px 20px; font-size: 12px; top: 80px}
   .safari .V_3_5.template-nine .common-result.recommendation-outer{padding-bottom: 60px !important}
    .safari body.t9-body-scroll .template-nine.V_3_5 .t1-question{height:700px;overflow-y:auto}
    .t1-landing leadform form .input-section .input-outer input{font-size:18px;}
}
@media (max-width:359px){
    .t1-question form#leadform_question .selectize-control{width:160px!important;float:left}
}