.t1-landing,img{max-width:100%}
.col,.powered-by{-webkit-box-align:center}
.t1-landing{width:100%;min-height:100vh;position:relative;display:table}
::-webkit-scrollbar-track{border-radius:0;background-color:#f5f5f5}
::-webkit-scrollbar{width:10px;background-color:rgba(0,0,0,.2)}
::-webkit-scrollbar:horizontal{height:10px;background-color:rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(0,0,0,.2)}
:focus,:hover{outline:0!important}
section.t1-landing-top{position:absolute;top:0;padding:40px 40px 20px;width:100%;display:none}
.t1-landing-inner{position:static;float:left;width:100%}
section.landing-page-mid{width:50%;margin-left:50%;padding:40px 50px;float:left}
.outer-section{display:table-cell;vertical-align:middle;height:100%}
.banner-img{width:50%;float:left;height:100%;position:absolute;left:0;right:auto;top:0;bottom:0;background-size:cover;background-repeat:no-repeat;background-position:center}
.content-section{float:left;width:45%;padding:150px 50px;box-sizing:border-box;margin-left:55%}
.editor-page-divider,
.main-heading,
.main-heading h1,
.questions-list,
.questions-list div.t1-ques-head,
.sub-heading h2{float:left;width:100%}
.main-heading{margin-bottom:0px}
.main-heading h1{font-size:20px;line-height:28px;margin:0; width: 100%}
.main-heading h1 p{display:inline-block;font-size:20px;line-height:inherit;margin:0}
/* .sub-heading h2{font-size:20px;line-height:28px;margin:0}
.sub-heading h2 p{display:inline-block;font-size:20px;line-height:inherit;margin:0} */
.main-heading h1 p{background:#fff;float:left;padding:20px  40px;border-radius:50px 50px 50px 50px;max-width:100%;display:block;margin-bottom:25px;box-shadow:8px 10px 20px rgba(0,0,0,.05)}
.main-heading h1 p:last-child{border-radius:50px 50px 50px 0;}
.btn.prime-action{float:left;font-size:18px;padding:18px 30px 16px;border-radius:50px;color:#fff;line-height:23px;white-space:normal;word-wrap:break-word;overflow:hidden;box-shadow:8px 10px 20px rgba(0,0,0,.05) !important;position:relative}
.editor-page-divider{margin-bottom:35px;position:relative}
.btn.bounce:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.btn.bounce{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:.2s cubic-bezier(.55,.26,0,1);-webkit-transition:.2s cubic-bezier(.55,.26,0,1.65);-moz-transition:.2s cubic-bezier(.55,.26,0,1.65);-o-transition:.2s cubic-bezier(.55,.26,0,1.65);transition:.2s cubic-bezier(.55,.26,0,1.65)}
.questions-list{position:relative;height:100%}
.t1-ques-component .t1-ques-head{float:none;display:inline;text-align:left}
.question-inner,
.question-mid,
.question-mid .questions-block{float:left;width:100%}
.t1-ques-component .t1-ques-head p{margin:0!important;display:inline}
.landing-header,
.question-header{float:left;width:100%;position:absolute;top:0;left:0;right:0;padding:40px;z-index:10}
.question-mid{padding:150px 0}
.wrap{max-width:80%;margin:0 auto;width:100%}
.question-mid .questions-block p.prev{opacity:.4}
.t1-ques-component .question-components .t1-ques-head{width:auto!important}
.t1-ques-component .go-btn{display:inline-block;width:90px;height:90px;margin-left:20px;position:relative;border-radius:50%;background:red;float:right;margin-bottom:25px;font-size:32px;line-height:90px;color:#fff;text-align:center}
.inline-tablecell.logo-resizing{position:relative;z-index:1;text-align:center;float:left;width:100%;padding:20vh 0}
a.go-btn:hover{text-decoration:none}
.questions-list>div.t1-ques-head div p.active:last-child{border-bottom-left-radius:0!important}
form#new_form , .Leadform {max-width:65%;margin:0 auto 10vh;padding:0;position:relative;-webkit-transition:2s cubic-bezier(.23,1,.32,1);-moz-transition:2s cubic-bezier(.23,1,.32,1);-o-transition:2s cubic-bezier(.23,1,.32,1);transition:2s cubic-bezier(.23,1,.32,1);text-align:left;display:inline-block;width:100%}
.t1-ques-component{float:left;text-align:right;width:100%}
.questions-list>div.t1-ques-head p,
div.t1-ques-head p ,
.t1-ques-component .question-components{margin-bottom:25px;background:#fff;border-radius:50px;padding:20px 40px;text-align:left;max-width:80%;font-size:24px;box-shadow:8px 10px 20px rgba(0,0,0,.05);line-height:1.4}
.questions-list>.t1-ques-head.prev p{opacity:.4!important}
.questions-list>.t1-ques-head.prev p:hover{opacity:1!important}
.t1-landing.questionsVisible{position:fixed;left:0;top:0;bottom:0;right:0;transform:scale(.998);opacity:.06;transition:transform .8s,-webkit-transform .8s,filter .8s,-webkit-filter .8s,opacity .8s,margin 0s}
.questions-list>.t1-ques-head{position:relative;display:block;opacity:1;line-height:1.3}
.t1-ques-head.spin-loader.active p{display:block;opacity:1;position:relative;z-index:1}
.cal-outer.calender-date{display:inline-block}
.editor-page-divider .questions-list>.t1-ques-head,
.questions-list>.t1-ques-head p.active,
.questions-list>.t1-ques-head.active,
.questions-list>.t1-ques-head.prev{z-index:1;position:relative;display:block;opacity:1}
.questions-list>.t1-ques-head p{position:absolute;transform:translateY(50%);transition:.2s cubic-bezier(.23,1,.32,1);opacity:0;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;display:inline-block}
.editor-page-divider .questions-list>.t1-ques-head div p,
div.t1-ques-head p ,
.questions-list>.t1-ques-head.active div p{z-index:1;position:relative;display:inline-block;opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);-webkit-transition:.2s cubic-bezier(.23,1,.32,1);transition:.2s cubic-bezier(.23,1,.32,1);animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;float:left;clear:both!important}
.editor-page-divider .t1-ques-component,.t1-ques-component.active{z-index:1;position:relative;display:block;opacity:1}
.t1-ques-component{position:absolute;display:none;opacity:0}
.t1-ques-component .question-components{position:relative;display:block;opacity:1;float:right}
.t1-ques-component .go i.material-icons{color:#fff;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:45px}
section.landing-footer-outer{position:absolute;bottom:0;padding:20px;text-align:right;width:100%}
.stickyfooter.lightSticky{float:right}
input::-webkit-input-placeholder{color:#fff;opacity:.5}
input::-moz-placeholder{color:#fff;opacity:.5}
input:-ms-input-placeholder{color:#fff;opacity:.5}
input:-moz-placeholder{color:#fff;opacity:.5}
.input-group.date input.form-control::-webkit-input-placeholder{color:#fff;opacity:.5}
.input-group.date input.form-control::-moz-placeholder{color:#fff;opacity:.5}
.input-group.date input.form-control:-ms-input-placeholder{color:#fff;opacity:.5}
.input-group.date input.form-control:-moz-placeholder{color:#fff;opacity:.5}
.powered-by{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;background:rgba(255,255,255,.9);border-radius:4px;padding:0 1px 0 5px;-webkit-box-shadow:0 3px 5px 1px rgba(0,0,0,.2);box-shadow:0 3px 5px 1px rgba(0,0,0,.2)}
.editor-page-divider .t1-ques-component .question-components.transparent-bg,
.t1-ques-component.active .question-components.transparent-bg{background-color:transparent!important;box-shadow:none;padding:0;margin:0 0 00px;text-align:right}
.checkbox-outer,.checkbox-outer-base,.radio-outer{display:inline-block;margin-bottom:25px;margin-left:25px;float:right}
.checkbox-outer-base label,.radio-outer label.no-icon{padding-left:40px!important}
.checkbox-outer .control__indicator.check-set,
.radio-outer label .control__indicator.icon-set{position:absolute;top:15px;left:30px}
.checkbox-outer .control__indicator.check-set i,
.radio-outer label .control__indicator.icon-set i{font-size:30px;vertical-align:middle}
.checkbox-outer label,.checkbox-outer-base label,
.radio-outer label{padding:20px 40px 20px 70px;border-radius:50px;font-size:24px;line-height:1.4;cursor:pointer;text-align:left;margin:0}
.checkbox-outer label span,.checkbox-outer-base label span,.radio-outer label span{font-weight:400}
.checkbox-outer label input[type=checkbox],
.checkbox-outer-base label input[type=checkbox],
.radio-outer label input[type=radio]{position:absolute !important;opacity:0;margin:0!important}
.custom-block{display:inline-block}
.custom-block .input-field input[type=text],
.leadform_question form#leadform_question .input-outer input,
input.othersfield{background:0 0;max-width:360px;margin-left:0;border:0;border-bottom:1.5px dashed #fff;height:40px;font-size:24px;color:#fff}
calendar,calendar>div{display:inline-block;float:none}
calendar>div .form-group{margin:0}
.input-group.date input.form-control{background:0 0!important;font-size:24px;width:340px;border:0!important;box-shadow:none;border-bottom:1.5px dashed #fff!important;opacity:1!important;height:40px;margin-left:10px;padding:0!important;color:#fff}
.input-group.date span.input-group-addon i{color:#fff;font-size:22px}
.input-group.date span.input-group-addon{background:0 0;border:0!important;position:absolute;right:0;width:50px;top:0;bottom:0;padding:0;display:flex;align-items:center;justify-content:center;z-index:10;cursor:pointer}
.preview-mode .t1-question{position:relative;z-index:99;float:left;left:0;right:0;top:0;bottom:0;opacity:1;display:block!important;padding:0 4em;width:100%}
.preview-mode .t1-question::after{position:fixed;left:0;right:0;content:'';top:0;bottom:0;opacity:.2}
.t1-ques-component .go-btn.active{font-size:0;padding:22px 0}
.t1-ques-component .go-btn.active i{font-size:42px;display:inline-block}
.t1-ques-component .go-btn i{display:none}
.result-branding.logo_intmp{float:left;width:100%;position:relative;z-index:10;height:auto}
.checkbox-outer-base:last-child,.checkbox-outer:last-child,.radio-outer:last-child{margin-left:0}
.editor-page-divider .questions-list>.t1-ques-head div p img,
.questions-list>.t1-ques-head.active div p img{height:30px!important;vertical-align:top}
.t1-landing .text-center{float:left;width:100%}
.editor-page-divider form#new_form{display:block;height:auto}
.editor-page-divider .question-components.transparent-bg{background:0 0!important;padding:0!important;margin:0;box-shadow:none}
.powered-by .poweredby-text,.powered-by span{float:left;color:#585858;margin-right:4px;font-family:montserratregular}

@keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
.animated{-webkit-animation-duration:1s;animation-duration:1s}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.animated.delay-1s{-webkit-animation-delay:1s;animation-delay:1s}
.animated.delay-2s{-webkit-animation-delay:2s;animation-delay:2s}
.animated.delay-3s{-webkit-animation-delay:3s;animation-delay:3s}
.animated.delay-4s{-webkit-animation-delay:4s;animation-delay:4s}
.animated.delay-5s{-webkit-animation-delay:5s;animation-delay:5s}
.animated.fast{-webkit-animation-duration:.8s;animation-duration:.8s}
.animated.faster{-webkit-animation-duration:.5s;animation-duration:.5s}
.animated.slow{-webkit-animation-duration:2s;animation-duration:2s}
.animated.slower{-webkit-animation-duration:3s;animation-duration:3s}
@media (prefers-reduced-motion){.animated{-webkit-animation:unset!important;animation:unset!important;-webkit-transition:none!important;transition:none!important}
}
.hide .t1-question button.back-action.back-btn{opacity:0;left:1.6em;top:1.5em;transition:.5s}
.t1-question button.back-action.back-btn{position:fixed;width:auto;cursor:pointer;pointer-events:all;z-index:1000;left:2em!important;top:2.2em!important;opacity:1!important;transition:.5s;transition-delay:2.2s;padding:0!important;background:0 0;border:0!important}
button.back-action.back-btn i{font-size:42px;line-height:1;vertical-align:middle}
.ques-header{position:fixed;z-index:10200;top:22px;left:30px;transition:.6s cubic-bezier(1,-.13,.195,1.185)}
.logo-slide .ques-header{left:80px!important}
.checkbox-outer label,.checkbox-outer-base label,
.radio-outer label,.ripple-light{position:relative;overflow:hidden;float:left}
.checkbox-outer label:active:after,
.checkbox-outer-base label:active:after,
.radio-outer label:active:after,
.ripple-light:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.checkbox-outer label:after,
.checkbox-outer-base label:after,
.radio-outer label:after,
.ripple-light:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#fff 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity 1s,-webkit-transform .5s;transition:opacity 1s,-webkit-transform .5s;transition:transform .5s,opacity 1s;transition:transform .5s,opacity 1s,-webkit-transform .5s}
.col,.stickyfooter{display:inline-block}
.editor-page-divider .t1-question{float:left;width:100%;padding:30px 0; min-height: 100vh}
.t1-ques-component .go-btn:focus{text-decoration:none!important}
.editor-page-divider .ques-header{position:absolute}
.editor-page-divider .t1-question button.back-action.back-btn{position:relative;top:0!important; display: none}
.powered-by .poweredby-text{text-transform:uppercase;font-size:12px;margin-left:2px;margin-top:0;letter-spacing:normal;line-height:21px}
.powered-by img{width:auto;height:16px}
control.sub-heading {display: none !important;}
.powered-by span{font-size:10px;margin-top:1px}
.col{-ms-flex-align:center;align-items:center}
.stickyfooter{position:absolute;right:0;bottom:13px;left:inherit;width:auto;background:#fff;padding:7px 20px;text-align:right;z-index:990}
.powered-by a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.template-section .template-container.mobile{width:375px!important;zoom:1!important;margin-top:45px;float:none!important}
.template-section .template-container.mobile form#new_form{max-width:100%}
.template-section .template-container.mobile .questions-list>.t1-ques-head p{margin-bottom:15px;border-radius:50px;padding:15px 20px;font-size:16px}
.template-section .template-container.mobile .banner-img{width:100%;float:left;height:45vh;position:relative}
.template-section .template-container.mobile section.landing-page-mid{margin-left:0;padding:50px 20px;float:left;width:100%;text-align:center}
.template-section .template-container.mobile .main-heading h1{font-size:20px;line-height:28px;text-align:left}
.template-section .template-container.mobile .sub-heading h2,.template-section .template-container.mobile .sub-heading h2 p{font-size:16px;line-height:22px}
.template-section .template-container.mobile control.sub-heading{float:none;padding:15px 15px 15px 30px;max-width:95%;display:inline-block;margin-bottom:25px;text-align:left}
.template-section .template-container.mobile .btn.prime-action{float:none;font-size:12px;padding:12px 22px 11px;line-height:20px;display:inline-block}
.template-section .template-container.mobile .checkbox-outer,.template-section .template-container.mobile .checkbox-outer-base,.template-section .template-container.mobile .radio-outer{margin-left:10px;margin-bottom:10px}
.template-section .template-container.mobile .checkbox-outer label,.template-section .template-container.mobile .checkbox-outer-base label,.template-section .template-container.mobile .radio-outer label{padding:12px 22px 12px 40px!important;font-size:14px!important;line-height:1.3;cursor:pointer}
.template-section .template-container.mobile .t1-ques-component .go-btn{width:45px;height:45px;margin-bottom:25px;font-size:14px;line-height:45px;margin-left:10px}
.template-section .template-container.mobile .t1-ques-component .go-btn.active{padding:12px 0}
.template-section .template-container.mobile .t1-ques-component .go-btn.active i{font-size:22px;display:inline-block}
.template-section .template-container.mobile .checkbox-outer-base label,.template-section .template-container.mobile .radio-outer label.no-icon{padding-left:22px!important}
.template-section .template-container.mobile .checkbox-outer .control__indicator.check-set i,.template-section .template-container.mobile .radio-outer label .control__indicator.icon-set i{font-size:16px}
.template-section .template-container.mobile .outer-section{display:block;vertical-align:middle;height:100%;float:left}
.template-section .template-container.mobile .custom-block .input-field input[type=text]{max-width:120px;margin-left:10px;height:30px;font-size:14px}
.template-section .template-container.mobile .t1-ques-component .question-components{margin-bottom:60px;line-height:20px;padding:15px 45px;font-size:14px}
.template-section .template-container.mobile .checkbox-outer .control__indicator.check-set,.template-section .template-container.mobile .radio-outer label .control__indicator.icon-set{top:14px;left:15px}
.template-section .template-container.mobile .rating-inner i{font-size:18px}
.template-section .template-container.mobile .input-group.date input.form-control{font-size:14px;width:160px;height:30px;margin-left:10px;padding:0!important}
.template-section .template-container.mobile .input-group.date span.input-group-addon{width:22px}
.template-section .template-container.mobile .input-group.date span.input-group-addon i{font-size:14px}
.template-section .template-container.mobile button.back-action.back-btn i{font-size:22px}
.template-section .template-container.mobile .editor-page-divider.t1-question{padding:30px 20px}
.template-section .template-container.mobile .editor-page-divider .t1-question button.back-action.back-btn{position:relative;top:-20px!important}
.template-section .template-container.mobile .logo a img{max-width:160px;max-height:40px}
.template-section .template-container.mobile .result-v2 .common-result-main{width: 100%}
.template-nine .editor-page-divider .t1-result {overflow: visible;min-height: 100vh; height: auto;     display: table;}
.t1-landing .btn.prime-action:hover{transform:scale(1.07);transition:.2s cubic-bezier(.55,.26,0,1.65)}
p.spinner{float:left;clear:both!important;border-bottom-left-radius:0!important}
.spinner>span{width:16px;height:16px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;animation:sk-bouncedelay 1.4s infinite ease-in-out both}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-webkit-keyframes sk-bouncedelay{0%,100%,80%{-webkit-transform:scale(0);opacity:0}
40%{-webkit-transform:scale(1);opacity:1}
}
@keyframes sk-bouncedelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0);opacity:0}
40%{-webkit-transform:scale(1);transform:scale(1);opacity:1}
}
.errorMessage{position:fixed;top:30px;background:#000;margin:0 auto;font-size:14px;border-radius:50px;padding:15px 30px;display:block;left:50%;transform:translateX(-50%);transition:.2s cubic-bezier(.23,1,.32,1);z-index:1000;box-shadow:0 2px 0 0 rgba(0,0,0,.1)}
.template-nine .t1-result {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  display: flex;
  position: fixed;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: 9999;
  justify-content: center;
  overflow-y: auto;
}
.template-nine .t1-result::after{position:fixed;left:0;right:0;top:0;bottom:0;background:#000;content:'';opacity:.7}
.t1-result-main{display:table-cell;vertical-align:middle;height:100%;padding:90px 0 60px;position:relative;z-index:10}
.template-nine .editor-page-divider .t1-result,.template-nine .editor-page-divider .t1-result::after{position:absolute}
.t1-landing leadform form {
  float: left;
  width: 100%;
}
.t1-landing leadform form .text-center {
  float: right;
  width: 100%;
  max-width: 75%;
}
.preview-mode .t1-question.hide{display: none !important;}
.t1-landing leadform form .input-section .input-outer{position: relative;width: 100%;
  margin-top: 0px;
  margin-bottom:25px;background:#fff;border-radius:50px;padding:20px 40px;text-align:left;max-width:100%;font-size:20px;box-shadow:0 5px 10px rgba(0,0,0,.05);line-height:1.4; float: right}

  .t1-landing leadform form .input-section .input-outer i {
    position: absolute;
    top: 17px;
    left: 40px;
}
.t1-landing leadform form .input-section .input-outer input {
  background: 0 0;
  max-width: 100%;
  margin-left: 0;
  border: 0;
  border-bottom: 1.5px dashed #fff;
  height: 30px;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
  padding-left: 35px
}
section.landing-page-mid > div {
  max-width: 75%;
  float: left;
  width: 100%;
}
.t1-landing leadform form .input-section .input-outer span {
  font-size: 10px;
  float: left;
  position: absolute;
  left: 40px;
  bottom: -15px;
  color: red !important;
}
.t1-landing leadform form .container-temp.text-center.eight-sec  .btn.prime-action{
  float: right;
}
/* .t1-landing leadform form .input-section .input-outer input[type="checkbox"] + label {
  font-size: 20px;
  padding-left: 35px;
  top: 0;
  float: left;
  font-weight: normal;
}
.t1-landing leadform form .input-section .input-outer input[type="checkbox"] {
  width: 20px;
  position: relative;
  background: transparent;
  -webkit-appearance: none;
  border: 1px solid #fff;
  padding: 0;
  margin: 0;
  height: 20px;
  float: left;
  border-radius: 3px;
  top: 22px;
} */
.selectize-control.single .selectize-input .item ,
.selectize-control.single .selectize-input input{
  padding: 7px 0;
}
.selectize-control.single .selectize-input {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0px !important;
  padding: 0 15px 0px 0 !important;
  border-bottom: 1.5px dashed #fff !important;
  float: left;
  font-size: 20px;
  color: #fff;
}
.selectize-input .item + input {
  display: none !important;
}
/* .t1-landing leadform form .input-section .input-outer input[type="checkbox"]:checked + label::after {
  content: 'done';
  font-family: 'Material Icons';
  font-size: 17px;
  padding-left: 0;
  top: 22px;
  float: left;
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 42px;
} */
/* .t1-landing leadform form .input-section .input-outer input[type="checkbox"] + label {
  font-size: 20px;
  padding-left: 35px;
  float: left;
 
} */

/*******Result********/

.template-nine .common-result-main .t1-result-topheading p{color: #fff !important}
/* .V_3_5 .common-result-main .common-leadform-top.t1-result-leadform .lead-heading-temp1 div p{ text-align: left !important;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 50px;
  padding: 15px 30px;
  text-align: left;
  max-width: 90%;
  font-size: 16px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.05);
  box-shadow: 0 5px 10px rgba(0,0,0,.05);
  line-height: 24px;}
  .V_3_5 .common-result-main .common-leadform-top.t1-result-leadform .lead-heading-temp1{margin-bottom: 0px !important}

  .V_3_5 .common-result-main .common-leadform-top.t1-result-leadform .input-outer {
    margin-bottom: 25px !important;
    background: #fff;
    border-radius: 50px;
    padding: 15px 30px !important;
    text-align: left;
    max-width: 90%;
    font-size: 20px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.05);
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
    line-height: 28px;
    float: right !important;
    box-sizing: border-box;
}
.overlay-outerleadform.result-v2 .common-result-main .t1-result-leadform .input-outer i{display: none !important}
.V_3_5.template-nine .overlay-outerleadform.result-v2 .common-result-main .t1-result-leadform .input-outer input {
  border-bottom: 1.5px dashed #fff !important;
  padding: 0 !important;
  margin: 0 !important;
}
.V_3_5 .overlay-outerleadform.result-v2 .common-result-main .common-leadform-top.t1-result-leadform .prime-action {
  padding:13px 30px 12px !important;
  float: left;
}
.V_3_5 .common-result-main .t1-result-leadform .input-outer span {
  padding: 0 !important;
  font-size: 10px !important;
  bottom: -12px;
  top: auto !important;
  left: 25px;
} */
body.no-scrol {
  overflow: hidden;
}
/* .common-result-main .common-leadform-top.t1-result-leadform{padding: 30px 25px !important} */

.V_3_5.template-nine .overlay-outerleadform.result-v2 .common-result-main .t1-result-leadform .input-outer input[type="checkbox"] {
  width: 20px;
  border: 1px solid #555 !important;
  -webkit-appearance: none;
  padding: 0;
  height: 20px;
  float: left;
  position: absolute;
  left: 0 !important;
}
.overlay-outerleadform.result-v2 .common-result-main [type="checkbox"] + label.leadform-checkbox {
  color: #000 !important;
  text-align: left;
  padding-left: 35px;
  position: relative;
  line-height: 1;
  font-size: 16px;
  vertical-align: top;
  float: left;
}
.V_3_5.template-nine .overlay-outerleadform.result-v2 .common-result-main [type="checkbox"].filled-in:checked + label.leadform-checkbox::after {
  font-family: 'Material Icons';
  content: 'done';
  position: absolute;
  left: 0;
  font-size: 20px;
  top: 1px;
  color: #000 ;
  border: 0px !important;
  width: 20px !important;
  height: 20px !important;
}
.V_3_5 .common-result-main [type="checkbox"].filled-in:not(:checked) + label.leadform-checkbox:before ,
.V_3_5 .common-result-main [type="checkbox"] + label.leadform-checkbox:before {
  display: none !important;
}
.selectize-control {
  position: relative;
  Z-INDEX: 100;
}
.selectize-dropdown{text-align: left}


.leadform_question #leadform_question .input-outer{    margin-bottom: 25px;
  background: #fff;
  border-radius: 50px;
  padding: 20px 45px;
  text-align: left;
  max-width: 100%;
  float: right;
  font-size: 24px;
  -webkit-box-shadow: 8px 10px 20px rgba(0,0,0,.05);
  box-shadow: 8px 10px 20px rgba(0,0,0,.05);
  position: relative;
  clear: both;
  line-height: 1.4;}
  .leadform_question .section-head {
    float: left;
    color: #fff;
   
}
.leadform_question .input-validation ,
.leadform_question .section-head p ,
.leadform_question .section-head div {
  float: left;
  margin: 0px 5px 0px 0px;
}

.leadform_question .question-components {
  padding: 0px !important;
  background: transparent !important;
  box-shadow: none !important;
}
form#leadform_question {
  float: left;
  width: 100%;
}
fb_lead_gen {
  float: right;
  text-align: right;
}
.t1-result-leadform  fb_lead_gen {
  float: left;
  text-align: center;
  width: 100%;
}
.t1-result-leadform .fb-outer {
  text-align: center;
  width: 100%;
  float: left;
}
fb_lead_gen .fb-outer .loginBtn {
  margin: 0;
  padding: 18px 25px 16px 60px;
  font-size: 16px;
  border-radius: 50px;
  line-height: 23px;
}
fb_lead_gen .fb-outer .loginBtn:before {
width: 48px;
  background-position:  15px center;
}
.V_3_5.template-nine .result-v2 .loginBtn.loginBtn--facebook {
  padding: 13px 20px 13px 50px !important;

}
.V_3_5.template-nine .result-v2 fb_lead_gen .fb-outer .loginBtn:before {
  width: 40px;
  background-position: 10px center;
}
.t1-question .editor-page-divider {
  margin: 0 !important;
}
.t1-question  .sec_0.editor-page-divider button.back-action.back-btn {
  display: block !important;
}
/* .leadform_question > a.go-btn.ripple-light {
  display: none !important;
} */
.t1-landing leadform .input-outer input[type="checkbox"] ,
.t1-question .leadform_question .input-outer input[type="checkbox"] {
  position: absolute !important;
  opacity: 0;
  margin: 0 !important;
}
.t1-landing leadform .input-outer input[type="checkbox"] + label.leadform-checkbox::before ,
.t1-question .leadform_question .input-outer input[type="checkbox"] + label.leadform-checkbox::before {
  float: left;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  top: 4px;
  border-radius: 3px;
  content: '';
  left: 0;
}
.t1-landing leadform .input-outer input[type="checkbox"]:checked + label.leadform-checkbox::after  ,
.t1-question .leadform_question .input-outer input[type="checkbox"]:checked + label.leadform-checkbox::after {
  content: 'done';
  font-family: 'Material Icons';
  font-size: 24px;
  padding-left: 0;
  top: 2px;
  float: left;
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0px;
}
.t1-landing leadform .input-outer input[type="checkbox"]:checked + label.leadform-checkbox::before ,
.t1-question .leadform_question .input-outer input[type="checkbox"]:checked + label.leadform-checkbox::before {
  background: #fff;
}
.t1-landing leadform .input-outer input[type="checkbox"] + label.leadform-checkbox ,
.t1-question .leadform_question .input-outer input[type="checkbox"] + label.leadform-checkbox {
    float: left;
    min-height: auto;
    padding-left:35px !important; 
    font-weight: normal !important;
    position: relative;
}

.t1-landing leadform .input-outer .input-validation span  ,
.t1-question .leadform_question .input-outer .input-validation span {
  font-size: 14px;
  float: left;
  position: absolute;
  left: 40px;
  right: 0;
  bottom: -20px;
}
.t1-landing leadform .input-outer input[type="checkbox"] + label.leadform-checkbox p ,
.t1-question .leadform_questio .input-outer input[type="checkbox"] + label.leadform-checkbox p{margin: 0}
.template-nine .checkbox, .template-nine .radio{margin: 0}
.button-3.btn.prime-action.sliding-next.og-lead-ques.leadform-btn.ripple-light {
  display: none !important;
}
.t1-ques-component {
  margin-bottom: 25px !important;
}
.or-class {
  float: left;
  width: 100%;
  margin: 15px 0;
}
.t1-question .or-class {
  margin-top: 0 !important;
}
.template-nine .common-result-space{padding: 60px 0 !important}
.rating-inner i {
  float: left;
  font-size: 30px;
  cursor: pointer;
}
.custom-block.rating-custom {
  float: left;
}
p.requiredAsteric {
  display: none !important;
}
.t1-question .leadform_question form#leadform_question .input-outer i {
  position: absolute;
  left: 5px;
  top: 8px;
}
.t1-question .leadform_question form#leadform_question .input-outer input {
  padding-left: 40px;
}
.input-icon-outer {
  position: relative;
}
.template-section .inline-tablecell.logo-resizing {
  padding-top: 0 !important;
}
.leadform_question .section-head div.pull-left {
  padding-top: 5px;
}


.leadform_question .checkbox .section-head div.pull-left {
  padding-top: 0px !important;
}