<div class="col-md-12 col-sm-12 col-xs-12 np membership-top-wrapper">
	<div class="col-md-12 col-sm-12 col-xs-12 np membership-details">
		<div class="col-md-12 col-sm-12 col-xs-12 np membership-details-header">
			<div class="col-md-8 col-sm-8 col-xs-6 np">
				<h6 class="">Subscription</h6>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 np membership-top-wrapper-sec1-right">
				<ul class="">
					<!-- <li>
						<a href="javascript:void(0);" class="">
							<span class="mat-icon">
								<i class="material-icons">help</i>
							</span>
							&nbsp;Billing FAQs
						</a>
					</li> -->
					<li>
						<a href="javascript:void(0);" class="intercom_trigger" (click)="contactUs()">
							<span class="mat-icon">
								<i class="material-icons">chat_bubble</i>
							</span>
							&nbsp;Contact Us
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 np">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf = "loadingMemDet"><i class="material-icons loader-plan">autorenew</i></div>
			<div class="membership-success-msg" *ngIf = "!loadingMemDet">
				<span class="mat-icon">
					<i class="material-icons">watch_later</i>
				</span>
				<span *ngIf="runningPlanSubscription.status == 'in_trial' && !futurePlanSubscription">
					Your Trial ends on {{runningPlanSubscription.trial_end}}
				</span>
				<span *ngIf="runningPlanSubscription.status == 'active' && !futurePlanSubscription">
					Your Next billing is on {{runningPlanSubscription.current_term_end}}
				</span>
				<span *ngIf="futurePlanSubscription">
					Your Next Subscription {{futurePlanDetail.name}} will be activated on <span *ngIf="runningPlanSubscription.status == 'in_trial'">{{runningPlanSubscription.trial_end}}.</span><span *ngIf="runningPlanSubscription.status == 'active'">{{runningPlanSubscription.current_term_end}}.</span>
				</span>
				<span *ngIf="runningPlanSubscription.status == 'future'">
					Your Plan billing will start on {{runningPlanSubscription.start_date}}
				</span>
				<span *ngIf="runningPlanSubscription.status == 'cancelled'">
					Your Plan has cancelled. Please choose any plan or
				&nbsp;
				<a href="javascript:void(0);" class="reactivate" (click)="showEstimateModal(runningPlanDetail)">
					Reactivate
            	</a>
				</span>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 np membership-details-sec" *ngIf = "!loadingMemDet">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Current Plan</th>
							<th>Plan Price</th>
							<th *ngIf="runningPlanSubscription.status == 'active' && runningPlanSubscription.plan_id != 'starter'">Bill Period</th>
							<th *ngIf="runningPlanSubscription.status == 'in_trial' && !futurePlanSubscription">Starts On</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span class="span-input col-md-10 np ellipsis" style="text-transform:capitalize;" title="{{runningPlanDetail.name}}">
									{{runningPlanDetail.name}} <span *ngIf="runningPlanSubscription.status == 'in_trial'">(Trial)</span>
								</span>
							</td>
							<td>
								<span class="span-input col-md-10 col-sm-10 col-xs-12 np">
									$ {{runningPlanDetail.price}}&nbsp;/&nbsp;<span *ngIf="runningPlanDetail.period != 1">{{runningPlanDetail.period}}</span>&nbsp;{{runningPlanDetail.period_unit}}
								</span>
							</td>
							<td class="bill-period-value" *ngIf="runningPlanSubscription.status == 'active' && runningPlanSubscription.plan_id != 'starter'">
								<span class="span-input col-md-12 col-sm-12 col-xs-12 np">
								 {{runningPlanSubscription.current_term_start}}&nbsp;-&nbsp;{{runningPlanSubscription.current_term_end}}
								</span>
							</td>
							<td *ngIf="runningPlanSubscription.status == 'in_trial' && !futurePlanSubscription">
								<span class="span-input col-md-10 np ellipsis" title="{{runningPlanSubscription.trial_end}}">
									{{runningPlanSubscription.trial_end}}
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a *ngIf="is_admin_created && payment_status == 'no_card'" href="javascript:void(0);" id="set-payment"  class="btn btn-red-outline btn-hover" data-toggle="modal" data-target="#cc-modal" (click)="callGA('PAYMENTCLICK')">
				Setup Payment
            </a>
		</div>
		<br/>
		<span *ngIf="!is_admin_created">
			<div class="col-md-12 col-sm-12 col-xs-12 np" *ngIf="userRole == 'ADMIN'">
				<!-- <button type="submit" class="btn btn-red-outline btn-hover" id="cancelMembership" (click)="showEstimateModal(viewplansList[0]);callGA('CANCELMEM')">
					cancel membership
				</button> -->
				<a (click)="callGA('SELECTPLAN')" href="settings/membership#plans" class="btn btn-red-outline btn-hover">
					Select a plan and setup payments to continue using Outgrow.
				</a>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 np membership-bottom-wrapper">
				<div class="col-md-12 col-sm-12 col-xs-12 np">
					<h4>Choose a plan that's right for your business</h4>
					<p>All our plans are carefully laid out to suit varied needs and functions. Our pricing is very flexible, so you only pay for the features you need. All plans come with free customer support and hassle free payment options.</p>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 np billing-plan-list" id="plans">
					<ul>
						<li [class.active]="viewPlan == 'm'" id="monthly" (click)="getViewPlans('m')">
							<a href="javascript:void(0);" class="hvr-sweep-to-right">
								Monthly
							</a>
						</li>
						<li id="half-yearly"  (click)="getViewPlans('s')" [class.active]="viewPlan == 's'">
							<a href="javascript:void(0);" class="hvr-sweep-to-right">
								Semi-annual
							</a>
						</li>
						<li id="annually" (click)="getViewPlans('y')" [class.active]="viewPlan == 'y'">
							<a href="javascript:void(0);" class="hvr-sweep-to-right">
								Annual
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 np billing-table">
					<!-- <center><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad" *ngIf = "loadingPlans"></center> -->
					<div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf = "loadingPlans"><i class="material-icons loader-plan">autorenew</i></div>
					<span *ngFor="let plan of viewplansList">
						<span *ngIf="plan.id != 'starter'">
							<div class="col-md-4 col-sm-4 col-xs-12 np" [class.billing-grey] = "plan.id != runningPlanDetail.id" [class.starter-box] = "plan.id == 'essentials_m' || plan.id == 'essentials_s' || plan.id == 'essentials_y'" [class.billing-white]="runningPlanDetail.id == plan.id" [class.business-box]="plan.id == 'business_m' || plan.id == 'business_s' || plan.id == 'business_y'" [class.enterprise-box]="plan.id == 'enterprise_m' || plan.id == 'enterprise_s' || plan.id == 'enterprise_y'" [class.selected-plan]="runningPlanDetail.id == plan.id">
								<div class="col-md-12 col-sm-12 col-xs-12 np text-center" [class.billing-white-top]="runningPlanDetail.id == plan.id" [class.business-box-xshadow]="plan.id == 'business_m' || plan.id == 'business_s' || plan.id == 'business_y'" [class.billing-grey-top]="runningPlanDetail.id != plan.id">
									<span class="ribbon" *ngIf="plan.id == 'business_m' || plan.id == 'business_s' || plan.id == 'business_y'">Most Popular</span>
									<h3 class="plan-title">{{plan.name.split(' ')[0]}}</h3>
									<h4 class="plan-title-cycle">{{plan.name.split(' ')[1]}}</h4>
									<span class="border-center"></span>
									<h3 class="plan-price">
										<span *ngIf="plan.id != 'starter'">
											<span class="contact-pricing" *ngIf="plan.id.split('_')[0] == 'enterprise'">
												*Contact us for pricing
											</span>
											<span *ngIf="plan.id.split('_')[0] != 'enterprise'">
												<span *ngFor="let pL of planFeatures">
													<span *ngFor="let cycle of pL.cycles">
														<span *ngIf="cycle.plan == plan.id.split('_')[0] && cycle.coupon_cycle == plan.id.split('_')[1]">
															<span *ngIf="!cycle.coupon_active">
																<span class="strike-off strike-price" *ngIf="plan.id.split('_')[1] != 'm'">
																	{{plan.currency_code}} <span *ngIf="plan.id.split('_')[0] == 'essentials'">{{essentials_m}}</span><span *ngIf="plan.id.split('_')[0] == 'business'">{{business_m}}</span><span *ngIf="plan.id.split('_')[0] == 'enterprise'">{{enterprise_m}}</span>/Month
																</span>
																<span class="actual-price" *ngIf="plan.id.split('_')[1] == 'm'">
																	{{plan.currency_code}} {{plan.price}}/Month
																</span>
																<span class="actual-price" *ngIf="plan.id.split('_')[1] == 's'">
																	{{plan.currency_code}} {{toCeil(plan.price/6)}}/Month
																</span>
																<span class="actual-price" *ngIf="plan.id.split('_')[1] == 'y'">
																	{{plan.currency_code}} {{toCeil(plan.price/12)}}/Month
																</span>
															</span>
															<span *ngIf="cycle.coupon_active">
																<span class="strike-off strike-price" *ngIf="plan.id.split('_')[1] != 'm'">
																{{plan.currency_code}} <span *ngIf="plan.id.split('_')[0] == 'essentials'">{{essentials_m}}</span><span *ngIf="plan.id.split('_')[0] == 'business'">{{business_m}}</span><span *ngIf="plan.id.split('_')[0] == 'enterprise'">{{enterprise_m}}</span>/Month
																</span>

																<span class="actual-price" *ngIf="plan.id.split('_')[1] == 'm'">
																	<span class="strike-off strike-price">
																		{{plan.currency_code}} {{plan.price}}/Month
																	</span>
																	<br/>
																	<span *ngIf="cycle.coupon_type == 'PERCENTAGE'">
																		{{plan.currency_code}} {{plan.price-(plan.price * cycle.coupon_value/100)}}/Month
																	</span>
																	<span *ngIf="cycle.coupon_type == 'FLAT'">
																		{{plan.currency_code}} {{plan.price - cycle.coupon_value}}/Month
																	</span>
																</span>
																<span class="actual-price" *ngIf="plan.id.split('_')[1] == 's'">
																	<span class="strike-off strike-price">
																		{{plan.currency_code}} {{toCeil(plan.price/6)}}/Month
																	</span>
																	<br/>
																	<span *ngIf="cycle.coupon_type == 'PERCENTAGE'">
																		{{plan.currency_code}} {{toCeil((plan.price-(plan.price * cycle.coupon_value/100))/6)}}/Month
																	</span>
																	<span *ngIf="cycle.coupon_type == 'FLAT'">
																		{{plan.currency_code}} {{toCeil((plan.price - cycle.coupon_value)/6)}}/Month
																	</span>
																</span>
																<span class="actual-price" *ngIf="plan.id.split('_')[1] == 'y'">
																	<span class="strike-off strike-price">
																		{{plan.currency_code}} {{toCeil(plan.price/12)}}/Month
																	</span>
																	<br/>
																	<span *ngIf="cycle.coupon_type == 'PERCENTAGE'">
																		{{plan.currency_code}} {{toCeil((plan.price-(plan.price * cycle.coupon_value/100))/12)}}/Month
																	</span>
																	<span *ngIf="cycle.coupon_type == 'FLAT'">
																		{{plan.currency_code}} {{toCeil((plan.price - cycle.coupon_value)/12)}}/Month
																	</span>
																</span>
															</span>
															<small *ngIf="cycle.coupon_active" class="apply-coupon">Use Coupon code : {{cycle.coupon_name}}</small>
														</span>
													</span>
												</span>
											</span>
										</span>
										<span *ngIf="plan.id == 'starter'">
											{{plan.price}}
										</span>
									</h3>
									<p>{{plan.description}}</p>
									<div class="col-md-12 col-sm-12 col-xs-12 np" *ngIf="runningPlanDetail.id != plan.id && userRole == 'ADMIN'">
										<span *ngIf="plan.id.split('_')[0] != 'enterprise'">
											<button type="" class="btn btn-white-red-outline btn-upgrade  hvr-sweep-to-right" *ngIf="runningPlan == plan.id.split('_')[0]" (click)="showEstimateModal(plan);callGA('CHANGECYCLE')">Change Cycle</button>

			                                <button type="" class="btn btn-white-red-outline btn-upgrade  btn-hover" *ngIf="(plan.id != 'starter' && plan.id != 'freemium') && runningPlan != plan.id.split('_')[0]" (click)="showEstimateModal(plan);callGA('CHANGEPLAN')">Change Plan</button>

											<button type="" class="btn btn-white-red-outline btn-upgrade  btn-hover" *ngIf="!futurePlanSubscription && (plan.id == 'starter' || plan.id == 'freemium')" (click)="showEstimateModal(plan);callGA('CHANGEPLAN')">Change Plan</button>
										</span>

										<span *ngIf="plan.id.split('_')[0] == 'enterprise'">
											<button type="" class="btn btn-white-red-outline btn-upgrade btn-hover intercom_trigger" (click)="contactUs()">Contact Us</button>
										</span>

		                                <span type="" *ngIf="futurePlanSubscription && plan.id == 'starter'" class="plan-act">
		                                    Plan activates on <span *ngIf="runningPlanSubscription.status == 'in_trial'">{{runningPlanSubscription.trial_end}}.</span><span *ngIf="runningPlanSubscription.status == 'active'">{{runningPlanSubscription.current_term_end}}.</span>
		                                </span>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 np" *ngIf="runningPlanDetail.id == plan.id && userRole == 'ADMIN'">
										<button type="" class="btn btn-light-grey-outline btn-light-grey-hover" *ngIf="payment_status != 'no_card' && !is_subcripion_cancelled">Your Current Plan</button>
										<button type="" class="btn btn-light-grey-outline btn-light-grey-hover reactivate" *ngIf="is_subcripion_cancelled" (click)="showEstimateModal(plan)">Reactivate</button>
										<button class="btn btn-light-grey-outline btn-light-grey-hover" *ngIf="payment_status == 'no_card' && !is_subcripion_cancelled" data-toggle="modal" data-target="#cc-modal" (click)="callGA('PAYMENTCLICK')">Setup Payments</button>
									</div>
									<!-- <div class="col-md-12 col-sm-12 col-xs-12 np float-down-arrow-mobile" (click)="firstDownArrowClick()">
										<span class="mat-icon">
											<i class="material-icons">keyboard_arrow_down</i>
										</span>
									</div> -->
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 np billing-grey-bottom rs-hide" [class.billing-white-bottom]="runningPlanDetail.id == plan.id"  [class.billing-grey-bottom]="runningPlanDetail.id != plan.id" id="{{plan.id}}">
									<ul class="billing-list">
										<span *ngFor="let pL of planFeatures">
											<span *ngIf="plan.id.split('_')[0] == pL.planLimit.id">
												<li>
													<a href="javascript:void(0);">
														<span class="mat-icon"></span>
														<span class="list-name">
															&nbsp;<span *ngIf="pL.planLimit.users == -1">Unlimited</span><span *ngIf="pL.planLimit.users != -1">{{numberFormat(pL.planLimit.users)}}</span>&nbsp;Users
														</span>
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<span class="mat-icon"></span>
														<span class="list-name">
															&nbsp;<span *ngIf="pL.planLimit.leads == -1">Unlimited</span><span *ngIf="pL.planLimit.leads != -1">{{numberFormat(pL.planLimit.leads)}}</span>&nbsp;Leads
														</span>
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<span class="mat-icon"></span>
														<span class="list-name">
															&nbsp;<span *ngIf="pL.planLimit.visits == -1">Unlimited</span><span *ngIf="pL.planLimit.visits != -1">{{numberFormat(pL.planLimit.visits)}}</span>&nbsp;Visits
														</span>
													</a>
												</li>
												<span *ngFor="let f of pL.features">
													<li [class.unselected]="!f.active">
														<a href="javascript:void(0);">
															<span class="mat-icon"></span>
															<span class="list-name">&nbsp;{{f.feature.name}}</span>
														</a>
													</li>
												</span>
											</span>
										</span>
									</ul>
								</div>
		                        <a href="javascript:void(0);" (click)="expand(plan.id)" [class.toggle-dots-white]="runningPlanDetail.id != plan.id" [class.toggle-dots-grey]="runningPlanDetail.id == plan.id">
		                            <span></span>
		                            <span></span>
		                            <span></span>
		                        </a>
							</div>
						</span>
					</span>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 np">
					<span class="billing-plans-help">*All plans come with unlimited calculators and templates</span>
				</div>

				<div class="col-xs-12 billingpricing-text hide">
					<i class="material-icons">not_interested</i>
					<h4>Not ready to start a paid plan? </h4>
					<p>Switch to
						<a *ngIf="userRole == 'ADMIN'" (click)="showEstimateModal(viewplansList[0])">{{FreePlanName}}</a>
						<a *ngIf="userRole != 'ADMIN'" href="javascript:void(0);">{{FreePlanName}}</a>
						plan for free and explore core Outgrow features, no credit card required. Your published pages will include an Outgrow branded footer which can be removed by upgrading to any paid plan.</p>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12 np text-center" *ngIf="userRole == 'ADMIN' && !futurePlanSubscription">
					<!--<a id="cancelMembership" (click)="showEstimateModal(viewplansList[0],true);callGA('CANCELMEM')" class="cancel-member">-->
					<a id="cancelMembership" href="javascript:void(0);" (click)="cancelMembeship();callGA('CANCELMEM')" class="cancel-member">
					cancel membership</a>
				</div>
			</div>
		</span>
	</div>
</div>

<!-- Start: Upgrade Plan Modal -->
<div id="upgrade-plan-popup" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content modal-bg">
			<div class="modal-header">
				<button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
					<i class="material-icons">close</i>
				</button>
				<h5 class="modal-title">Plan Change summary</h5>
			</div>
			<div class="modal-body col-md-12 np">
				<center><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad" *ngIf = "loading"></center>
				<div class="sahil-material" id="estimate" *ngIf = "!loading">
					<div class="alert alert-danger custom-alert" id="error-UpgradePlan" *ngIf="error">{{errorMessage}}</div>
					<div class="col-md-12 np">
                        <!-- Start: subscription changes -->
                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                            <div class="subscription-changes-panel">
                                <div class="col-md-12 col-sm-12 col-xs-12 np">
                                    <h6 class="title">Subscription changes</h6>
                                    <span class="sub-title" *ngIf="upgradeToPlan.id != 'starter'">
                                    	Subscription status will be changed from {{runningPlanDetail.name}} to {{upgradeToPlan.name}} immediately.
                                    </span>
                                    <span class="sub-title" *ngIf="upgradeToPlan.id == 'starter'">
                                    	Subscription status will be changed from {{runningPlanDetail.name}} to {{upgradeToPlan.name}} on <span *ngIf="runningPlanSubscription.status == 'in_trial'">{{runningPlanSubscription.trial_end}}.</span><span *ngIf="runningPlanSubscription.status == 'active'">{{runningPlanSubscription.current_term_end}}.</span>.
                                    </span>
                                </div>
                                <div class="subs-detail">
                                    <div class="col-md-12 col-sm-12 col-xs-12 np">
                                        <div class="col-md-4 col-sm-4 col-xs-12 np">
                                            <span class="col-md-6 col-sm-6 col-xs-6 np subs-label">New Plan &nbsp;:&nbsp;</span>
                                            <span class="col-md-6 col-sm-6 col-xs-6 np subs-filled">{{upgradeToPlan.name}}</span>
                                        </div>
                                        <div class="col-md-8 col-sm-4 col-xs-12 np" *ngIf="upgradeToPlan.id != 'starter'">
                                            <span class="col-md-3 col-sm-6 col-xs-6 np subs-label">New Billing Period &nbsp;:&nbsp;</span>
                                            <span class="col-md-6 col-sm-6 col-xs-6 np subs-filled">
                                            	<span *ngIf="estimation.next_invoice_estimate">
													{{estimation.next_invoice_estimate.line_items[0].date_from}}  to {{estimation.next_invoice_estimate.line_items[0].date_to}}
												</span>
												<span *ngIf="estimation.invoice_estimate">
													{{estimation.invoice_estimate.line_items[0].date_from}} to {{estimation.invoice_estimate.line_items[0].date_to}}
												</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 np">
                                        <div class="col-md-4 col-sm-4 col-xs-12 np">
                                            <span class="col-md-6 col-sm-6 col-xs-6 np subs-label">New Price &nbsp;:&nbsp;</span>
                                            <span class="col-md-6 col-sm-6 col-xs-6 np subs-filled">$ {{upgradeToPlan.price}}</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 np" *ngIf="upgradeToPlan.id != 'starter' || upgradeBillingCycle != ''">
                                            <span class="col-md-6 col-sm-6 col-xs-6 np subs-label">Billing Cycle &nbsp;:&nbsp;</span>
                                            <span class="col-md-6 col-sm-6 col-xs-6 np subs-filled">{{upgradeBillingCycle}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: subscription changes-->

						<div id="coupon" class="col-md-12 col-sm-12 col-xs-12 np check" *ngIf="upgradeToPlan.id != 'starter'">
							<form id="couponForm" [formGroup]="couponForm" (ngSubmit)="getUpgradeEstimate(upgradeToPlan)" *ngIf="couponCode == ''">
								<div class="col-md-12 col-sm-12 col-xs-12 np">
									<div class="col-md-6 col-sm-6 col-xs-12 np">
										<div class="form-group input-group label-floating" id="couponFormDiv" [class.is-empty]="!couponForm.value.couponInput">
											<label class="control-label" for="couponInput"> Enter coupon code here</label>
											<input [(ngModel)]="couponCodeModal" class="form-control" id="couponInput" type="text" name="couponInput" formControlName="couponInput">
											<span class = "input-group-btn">
												<button class="btn btn-red-outline btn-hover" type="submit" id="btnCoupon" [disabled]="!couponForm.valid">
													Apply
												</button>
											</span>
										</div>
									</div>
									<div class="col-md-6 np"></div>
								</div>
							</form><!--
							<span class="alert alert-success" id="couponApplied" *ngIf="couponCode != ''">
								{{couponCode}} Applied
								<a class="icon-red" (click)="getUpgradeEstimate(upgradeToPlan)">
									<i class="material-icons icon-red">highlight_off</i>
								</a>
							</span> -->
							<div id="coupon-applied" class="col-md-12 col-sm-12 col-xs-12 np coupon-applied" *ngIf="couponCode != ''">
	                            <span class="title">Coupon applied</span>
	                            <button class="btn btn-red-outline" type="submit" id="">
	                            	{{couponCode}}
	                            	<i class="material-icons" (click)="getUpgradeEstimate(upgradeToPlan)">cancel</i>
	                            </button>
	                        </div>
						</div>
                        <!-- Start: current-payment-details -->
                        <div class="col-md-12 col-sm-12 col-xs-12 np" *ngIf="upgradeToPlan.id != 'starter'">
                            <div class="current-payment-details-panel">
                                <h6 class="title-bg"><i class="material-icons">description</i> &nbsp;Current Payment Details</h6>
                                <div class="col-md-12 col-sm-12 col-xs-12 np current-payment-detail">
                                    <div class="col-md-12 col-sm-12 col-xs-12 np">
                                        <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                            <span *ngIf="estimation.next_invoice_estimate">
                                                <span *ngIf="upgradeToPlan.price != estimation.next_invoice_estimate.line_items[0].unit_amount">Prorated charges</span>
                                                {{upgradeToPlan.name}}
                                                ({{upgradeToPlan.currency_code}}
                                                {{estimation.next_invoice_estimate.line_items[0].unit_amount}}
                                            </span>
                                            <span *ngIf="estimation.invoice_estimate">
                                                <span *ngIf="upgradeToPlan.price != estimation.invoice_estimate.line_items[0].unit_amount">
                                                Prorated charges</span>
                                                {{upgradeToPlan.name}}
                                                ({{upgradeToPlan.currency_code}}
                                                {{estimation.invoice_estimate.line_items[0].unit_amount}}
                                            </span>
                                            / {{upgradeToPlan.period}} {{upgradeToPlan.period_unit}})
                                        </span>
                                        <!-- <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np">&nbsp;</span> -->
                                        <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                            {{upgradeToPlan.currency_code}}
                                            <span *ngIf="estimation.next_invoice_estimate">
                                                {{estimation.next_invoice_estimate.line_items[0].unit_amount}}
                                            </span>
                                            <span *ngIf="estimation.invoice_estimate">
                                                {{estimation.invoice_estimate.line_items[0].unit_amount}}
                                            </span>
                                        </span>
                                    </div>
                                    <span *ngIf="estimation.next_invoice_estimate">
                                        <span *ngIf="estimation.next_invoice_estimate.line_items[0].discount_amount != 0">
                                            <div class="col-md-12 col-sm-12 col-xs-12 np">
                                                <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                    subtotal
                                                </span>
                                                <!-- <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np">&nbsp;</span> -->
                                                <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                    {{estimation.next_invoice_estimate.currency_code}} {{estimation.next_invoice_estimate.sub_total}}
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 np">
	                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
	                                                {{estimation.next_invoice_estimate.discounts[0].description}}
	                                            </span>
	                                            <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np minus">-</span>
	                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
	                                                {{estimation.next_invoice_estimate.currency_code}} {{estimation.next_invoice_estimate.discounts[0].amount}}
	                                            </span>
	                                        </div>
                                        </span>
                                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                Credit Applied
                                            </span>
                                            <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np minus">-</span>
                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                {{estimation.next_invoice_estimate.currency_code}} {{estimation.next_invoice_estimate.credits_applied}}
                                            </span>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                Amount Due
                                                <!-- &nbsp;&nbsp;:&nbsp;&nbsp; -->
                                            </span>
                                            <!-- <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np">&nbsp;</span> -->
                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                {{estimation.next_invoice_estimate.currency_code}} {{estimation.next_invoice_estimate.amount_due}}
                                            </span>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                <span class="font_semibold">Total Payment</span>
                                            </span>
                                            <!-- <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np">&nbsp;</span> -->
                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                <span class="font_semibold">                {{estimation.next_invoice_estimate.currency_code}} {{estimation.next_invoice_estimate.total}}
                                                </span>
                                            </span>
                                        </div>
                                    </span>
                                    <span *ngIf="estimation.invoice_estimate">
                                        <span *ngIf="estimation.invoice_estimate.line_items[0].discount_amount != 0">
                                            <div class="col-md-12 col-sm-12 col-xs-12 np">
                                                <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                    subtotal
                                                </span>
                                                <!-- <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np">&nbsp;</span> -->
                                                <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                    {{estimation.invoice_estimate.currency_code}} {{estimation.invoice_estimate.sub_total}}
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 np">
	                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
	                                                {{estimation.invoice_estimate.discounts[0].description}}
	                                            </span>
	                                            <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np minus">-</span>
	                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
	                                                {{estimation.invoice_estimate.currency_code}} {{estimation.invoice_estimate.discounts[0].amount}}
	                                            </span>
	                                        </div>
                                        </span>
                                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                Credit Applied
                                            </span>
                                            <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np minus">-</span>
                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                {{estimation.invoice_estimate.currency_code}} {{estimation.invoice_estimate.credits_applied}}
                                            </span>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                Amount Due
                                                <!-- &nbsp;&nbsp;:&nbsp;&nbsp; -->
                                            </span>
                                            <!-- <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np">&nbsp;</span> -->
                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                {{estimation.invoice_estimate.currency_code}} {{estimation.invoice_estimate.amount_due}}
                                            </span>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                                            <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                                                <span class="font_semibold">Total Payment</span>
                                            </span>
                                            <!-- <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np">&nbsp;</span> -->
                                            <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                                                <span class="font_semibold">                {{estimation.invoice_estimate.currency_code}} {{estimation.invoice_estimate.total}}
                                                </span>
                                            </span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End: current-payment-details -->
					</div>
				</div>
			</div>
			<div class="modal-footer col-md-12 np" *ngIf = "!loading">
				<div class="col-md-9 np">
					<div class="footer-text">
						<p *ngIf="upgradeToPlan.id == 'starter'">
							* Plan will be automatically activated on
							<span *ngIf="runningPlanSubscription.status == 'in_trial'">
								{{runningPlanSubscription.trial_end}}
							</span>
							<span *ngIf="runningPlanSubscription.status == 'active'">
								{{runningPlanSubscription.current_term_end}}
							</span>
						</p>
						<span *ngIf="estimation.credit_note_estimates.length && runningPlanSubscription.status != 'in_trial'">
							<p>
								A Paid invoice # {{estimation.credit_note_estimates[0].reference_invoice_id}} is present for the current billing cycle ({{estimation.credit_note_estimates[0].line_items[0].date_from}} - {{estimation.credit_note_estimates[0].line_items[0].date_to}}).
							</p>
							<p style="margin-bottom: 0px;">
								Prorated Refundable Credits ({{estimation.credit_note_estimates[0].currency_code}} {{estimation.credit_note_estimates[0].line_items[0].amount}}) will be created for the unused period of {{estimation.credit_note_estimates[0].line_items[0].date_from}} - {{estimation.credit_note_estimates[0].line_items[0].date_to}}
								<span *ngIf="upgradeToPlan.price > runningPlanDetail.price">
									and applied on the immediate invoice
								</span>
								<span *ngIf="upgradeToPlan.price < runningPlanDetail.price">
									, out of which
									<span *ngIf="estimation.invoice_estimate">
										{{estimation.invoice_estimate.currency_code}} {{estimation.invoice_estimate.total}}
									</span>
									<span *ngIf="estimation.next_invoice_estimate">
										{{estimation.next_invoice_estimate.currency_code}} {{estimation.next_invoice_estimate.total}}
									</span>
									will be applied on the immediate invoice
								</span>.
							</p>
						</span>
					</div>
				</div>
				<div class="col-md-3 np">
					<button type="" (click)="makePayment();callGA('MAKEPAYMENT')" class="btn btn-red-outline btn-hover btnMakePayment" [class.btn-margin]="!estimation.credit_note_estimates.length" *ngIf="isDowagrade">Change Plan</button>
					<button type="" (click)="makePayment();callGA('MAKEPAYMENT')" class="btn btn-red-outline btn-hover btnMakePayment" [class.btn-margin]="!estimation.credit_note_estimates.length" *ngIf="!isDowagrade && !is_subcripion_cancelled">Make Payment</button>
					<button type="" (click)="reActivate();callGA('MAKEPAYMENT')" class="btn btn-red-outline btn-hover btnMakePayment" [class.btn-margin]="!estimation.credit_note_estimates.length" *ngIf="!isDowagrade && is_subcripion_cancelled">Make Payment</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End:Upgrde Plan Modal -->

<div class="float-changes-updated hide" id="changeSubscriptionFloat">
	<div class="col-md-12 np">
		<span class="icon-done"><i class="material-icons">done</i></span>
		<span id="changeSubscriptionMessage"></span>
	</div>
</div>
