<div *ngIf="company==null || company_users == null">
	<center><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></center>
</div>
<div *ngIf="company!=null && company_users != null" class="single-company-container col-sm-10">
	<div class="container">
		<div class="row">
				<div >
					<company-detail  [company] = "company"></company-detail>
				</div>
				<div>
					<br/>
					<team-detail    [team]="company_users"></team-detail>
				</div>
		</div>
		<div class="row">
			<div  class="col-md-12 col-sm-12">
				<calculators-detail [company] = "company"></calculators-detail>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<membership-detail></membership-detail>
			</div>
		</div>
	</div>
</div>