<div class="col-xs-12 no-padding">
    <div class="type-details">
        <div *ngIf="editorControl.header.order">
            <span class="form-label">Heading:</span>
            <textarea class="wysiwyg" [(ngModel)]="editorControl.header.props.title"></textarea>
        </div>
    </div>
    <div class="type-details">
        <div *ngIf="editorControl.button.order">
            <span class="form-label">Call to Action:</span>
            <input type="text" class="detail-text" [(ngModel)]="editorControl.button.props.title" />
        </div>
    </div>
    <div class="type-details">
        <div *ngIf="editorControl.logo.order">
            <span class="form-label">Logo:</span>
            <div class="switch">
                <label>
                    <input type="checkbox" class="show-check" checked (change)="toggleLogo($event)" >
                    <span class="lever"></span>
                </label>
            </div>
            <span class="editor-helptext">Replace the logo image</span>
            <div class="landing-inputfile div-check">
                <div class="col-xs-12 no-padding">
                    <div class="input-group">
                        <input type="text" class="file-input" [(ngModel)]="editorControl.logo.props.title" placeholder="No file" readonly>
                        <label class="input-group-btn">
                            <span class="btn btn-default btn-flat btn-basic2 btn-upload" data-fp-apikey="ANQWcFDQRUiGfBqjfgINQz" (click)="uploadLogo()">
                        UPLOAD <input type=""  style="display: none;">
                    </span>
                  
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <editor-lead-form></editor-lead-form>
    <div class="type-details color-select">
        <span class="form-label">Theme Color:</span>
        <div class="color-parent"><span class="color-dot"> </span>
            <input type="text" class="form-control color-picker" value="#00AEA5" data-color-format="hex">
            <div class="picker-image"><img src="assets/images/color-picker.png"></div>
        </div>
    </div>
    <div class="type-details background-select">
        <span class="form-label">Background Image:</span>
        <span>Replace the background imgage</span>
        <button type="button" class="btn btn-default btn-flat btn-basic2 btn-basic3"><i class="material-icons">image</i> REPLACE IMAGE</button>
        <div class="color-parent"><span class="color-dot"> </span>
            <input type="text" class="form-control color-picker" value="#00AEA5" data-color-format="hex">
            <div class="picker-image"><img src="assets/images/color-picker.png"></div>
        </div>
    </div>
</div>

<!-- setting   -->
<div class="type-details setting-details">
    <span class="form-label">Settings:</span>
    <div class="col-xs-12 no-padding setting-detail-box">
        <span>Powered by Venture Pact</span>
        <div class="switch">
            <label>
                <input type="checkbox" [(ngModel)]="jsonBuilderHandler.getJSONBuilt().poweredby" (change)="togglePoweredBy()">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <!-- <div class="col-xs-12 no-padding setting-detail-box">
        <span>Privacy Policy</span>
        <div class="switch">
            <label>
                <input type="checkbox"  (change)="togglePolicy()" >
                <span class="lever"></span>
            </label>
        </div>
    </div> -->
    <button type="button" class="btn btn-default btn-flat btn-basic2">
    <i class="material-icons">image</i> CHANGE TEMPLATE</button>
</div>
<!-- setting   -->