:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
    list-style-type: none;
    padding: 0 0 0 8px;
}

.all-plans-container{
  top:100px;
}

.panel-heading a.collapsed:after {
     content: '';
}

.panel-heading a:after {
     content: '';
}

.padder {
    padding: 10px 10px;
}

input_text {
    width:70%;
    height : 30px;
}

.control {
    margin-left : 12px;
    width:69%;
    height : 30px;

}

/* custom material css start (sahil) */
.sahil-material .form-control {
    height: 38px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: montserratregular;
    color: #62696d;
}
.sahil-material .form-group label.control-label {
    font-size: 14px;
    line-height: 1.07142857;
    color: #8e989f;
    font-weight: 400;
    margin: 16px 0 0 0;
    font-family: montserratregular;
}
.sahil-material .form-group label.control-label.seo-static-label{
    text-transform: uppercase !important;
    font-size: 11px; 
    color: #8e989f !important;
}
.sahil-material .form-group.label-floating label.control-label, 
.sahil-material .form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 14px;
    line-height: 18px;
    color: #8e989f;
}
.sahil-material .form-group.label-floating:not(.is-empty) label.control-label {
    top: -20px; 
    font-family: montserratregular;
    font-size: 11px; 
    text-transform: uppercase;
    color: #8e989f !important;
}
.sahil-material .form-group.label-floating.is-focused label.control-label {
    top: -20px; 
    font-size: 11px; 
    font-family: montserratregular;
    color: #8e989f !important;
}
.sahil-material .form-group.is-focused label,
.sahil-material .form-group.is-focused label.control-label {
    font-size: 11px; 
    font-family: montserratregular;
    color: #8e989f !important;
    text-transform: uppercase;
}
.sahil-material .form-control,
.sahil-material .form-group .form-control {
    border: 0 !important;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
}
.sahil-material .form-group.is-focused .form-control {
    outline: none;
    background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

.list .no-left {
    width: initial !important;
    display:inline-block;
}



.list{
    padding-left:10px;
}

/* custom material css end (sahil) */