<div class="tab-content tabs-wrapper col-md-12 np">
    <config-settings *ngIf="component=='settings'" id="b-setting"></config-settings>
    <config-email *ngIf="component=='email'"  id="email-setting"></config-email>
    <config-integrations *ngIf="component=='integrations'"  id="integration-setting"></config-integrations>
    <config-share-calculator *ngIf="component=='share-your-calculator'"  id="cal-setting"></config-share-calculator>
    <config-launch-popup *ngIf="component=='launch-popup'"  id="popup-setting"></config-launch-popup>
    <config-embedded-code *ngIf="component=='embedded-code'"  id="code-setting"></config-embedded-code>
</div>