<!-- Start: Modal Forgot Password -->
<div id="forgot-password" class="forgot-password">
	<div class="forgot-password-dialog">
		<!-- Modal content-->
		<div class="forgot-password-content modal-bg">
			<div class="forgot-password-body">	
				<a id="menu-close" href="javascript:void(0);" (click)="close()">
                    <button type="button" class="close btn-close">
                    <i class="material-icons">close</i></button>
                </a>
				<div class="col-md-12 col-sm-12 col-xs-12 np">
					<div class="col-md-6 col-sm-12 col-xs-12 np forgot-password-left sahil-material">
						<div class="col-md-12 col-sm-12 col-xs-12 np forgot-password-left-inner">
							<div class="text-center logo-section">		
								<img class="forgot-password-logo" src="assets/images/outgrow-logo.png" alt="Logo">
								<span class="">Let's Give Your Interactive <br/>Content a New Home</span>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 np">
								<form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">	
									<div class="form-group label-floating is-empty">
							            <label class="control-label" for="inputEmail"> Email</label>
										<input class="form-control" tabindex="1" id="inputEmail" type="email" name="email" formControlName="forgetemail" (focus)="checkEmail()" />
						          	</div>
									<div *ngIf="forgetPasswordForm.controls.forgetemail.touched && !forgetPasswordForm.controls.forgetemail.valid" class="alert alert-danger">
										<p *ngIf="forgetPasswordForm.controls.forgetemail.errors.required">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Email is required.
										</p>
										<p *ngIf="forgetPasswordForm.controls.forgetemail.errors.checkmail">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Invalid Email.
										</p>
									</div>
									<div *ngIf="forgetPasswordError" class="alert alert-danger" >
										<p>{{forgetPasswordError}}</p>
									</div>
									<div class="val-success-msg success-message hide" id="success-mailSent">
										<span class="icon-success">
											<i class="material-icons">check_circle</i>
										</span>
										{{mailSent}}
									</div>
										<div class="g-recaptcha" data-sitekey="6LeGDQkUAAAAACMYuR5J6q379jbxayE2p1inhun9" data-callback="verifyCallback"></div>
										<br>
									<div class="col-md-12 col-sm-12 col-xs-12 np text-center">
										<button  type="submit" id="btnReset" [disabled]="!forgetPasswordForm.valid || !isCaptcha" class="btn btn-red btn-reset">Reset Password</button>
									</div>
								</form>	
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 np forgot-password-right">
						<div class="col-md-12 col-sm-12 col-xs-12 np forgot-password-right-inner">							
							<div class="login-testimonial">
                                <div class="testimonial-block">
                                    <span>“</span>
                                </div>
                               <div class="testimonial-content">
                                    <span class="testi-desc">Two of our calculators went viral and completely transformed our lead generation strategy in a competitive market.</span>
                                    <span class="testi-client">Marketing Executive at a Top 10 Hotel Chain</span>
                                </div>
                            </div>
							<!-- <img class="img-margin img-width" src="assets/images/login-screen1.jpg" alt="img"> -->
							<div class="img-section">
                                <img class="img-margin img-width login-img1" src="assets/images/login1.jpg" alt="img">
                                <img class="img-margin img-width login-img2" src="assets/images/login2.jpg" alt="img">
                                <img class="img-margin img-width login-img3" src="assets/images/login3.jpg" alt="img">
                            </div>
							<!-- <div class="text-center video-wrapper">
                                <img class="img-margin img-width" src="assets/images/leadform-videowrapper.png" alt="img">
                                <iframe class="iframe-1024" width="425" height="236" src="https://www.youtube.com/embed/wFrj5kc1MLs?vq=hd720p&play=1&loop=1&autoplay=1&loop=1&playlist=wFrj5kc1MLs" frameborder="0" allowfullscreen></iframe>
                            </div> -->
						</div>
					</div>
				</div>			
			</div>
			<!-- <div class="modal-footer">
				
			</div> -->
		</div>
	</div>
</div>
<!-- End: Modal Forgot Password -->
