<div class="check-comp" [formGroup]="form.controls[data._id]">
  <div class="radio-outer" [class.active]="radio_item.selected" *ngFor="let radio_item of data.options, let i = index" tabindex="0">
    <label onclick="" class="control control--radio lable-style">{{radio_item.label}}
        <input type="radio"
        id="{{data._id}}{{i}}"
        [formControlName]="i"
        [checked]="radio_item.selected"
        (change)="onClick(radio_item)"
        />
        <div class="control__indicator icon-set" [class.icon-set]="data.isIconPresent"> 
          <i
            class="material-icons"
            *ngIf="radio_item.icon != ''"
          >
            {{radio_item.icon}}
          </i>
          <i
            class="material-icons"
            *ngIf="radio_item.icon == '' && data.isIconPresent"
          >
            landscape
          </i>
        </div>
    </label>
  </div>
  <!-- <span *ngIf="form.controls[data._id].touched">
      <div class="errorMessage" *ngIf="!isValid">{{data.config.validations.required.message}}</div>
  </span> -->
  <div class="errorMessage" *ngIf="(form.controls[data._id].touched) && !isValid">
    {{data.config.validations.required.message}}
  </div>
</div>