<div class="col-md-6 col-lg-6">	
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  toppad">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="col-sm-8">
							<h4>Company Details</h4>
						</div>
						<div class="col-sm-2">
							<h4>Edit:</h4>
						</div>
						<div class="col-sm-2">
							<label class="switch">
								<input type="checkbox" [(ngModel)]="edit_mode">
								<div class="slider round"></div>
							</label>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-lg-12" *ngIf = "loading">
								<center><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></center>
						</div>
						<div class=" col-md-12 col-lg-12 " *ngIf = "!loading">
							<table class="table table-user-information" *ngIf = "!edit_mode">
								<tbody>
									<tr>
										<td>
											Name 
										</td>
										<td *ngIf="!edit_mode">
											{{company.name}}
										</td>
										
									</tr>
									<tr>
										<td>
											Sub Domain
										</td>
										<td *ngIf = "!edit_mode">
											{{company.sub_domain}}
										</td>
	
									</tr>
									<tr>
										<td>
											Agency
										</td>
										<td *ngIf = "!edit_mode">
											{{company.agency}}
										</td>
											
									</tr>
									<tr>
										<td>
											Admin Created
										</td>
										<td *ngIf = "!edit_mode">
											{{company.is_admin_created}}
										</td>	
									</tr>
									<tr>
										<td>
											Chargebee Customer Id
										</td>
										<td *ngIf = "!edit_mode">
											{{company.chargebee_customer_id}}
										
									</tr>
									<tr>
										<td>
											Chargebee Subscription Id
										</td>
										<td *ngIf = "!edit_mode">
											{{company.chargebee_subscription_id}}
										</td>
										
									</tr>
									<tr>
										<td>
											Stripe Customer Id
										</td>
										<td *ngIf = "!edit_mode">
											{{company.stripe_customer_id}}
										</td>
										
									</tr>
									<tr>
										<td>
											Chargebee Plan Id
										</td>
										<td *ngIf = "!edit_mode">
											{{company.chargebee_plan_id}}
										</td>
										
										
									</tr>
									<tr>
										
									</tr>
								</tbody>
							</table>
							<form [formGroup]="updateFormdetail" *ngIf="edit_mode" (ngSubmit)="updateCompanyInfo()">
								<div class="row">
									<div class="col-sm-4">
										Company Name:
									</div>
									<div class="col-sm-8">
										<input class="form-control" formControlName="companyname" type="text" [(ngModel)] = "updateCompany.name"/>
									</div>
									<div *ngIf="updateFormdetail.controls.companyname.touched  && !updateFormdetail.controls.companyname.valid || isSubmit && !updateFormdetail.controls.companyname.valid" class="alert alert-danger">
										<p *ngIf="updateFormdetail.controls.companyname.errors.required">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Company Name is required.
										</p>
										<p *ngIf="updateFormdetail.controls.companyname.errors.minlength">
											<span class="mat-icon">
	                                            <i class="material-icons">report_problem</i>
	                                        </span>
											Min 4 character is required.
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
										Sub Domain
									</div>
									<div class="col-sm-8">
										<input class="form-control" type="text" formControlName="domain"  [(ngModel)] = "updateCompany.sub_domain"/>
										<div *ngIf="updateFormdetail.controls.domain.touched  && !updateFormdetail.controls.domain.valid || isSubmit && !updateFormdetail.controls.domain.valid" class="alert alert-danger">
											<p *ngIf="updateFormdetail.controls.domain.errors.required">
												<span class="mat-icon">
													<i class="material-icons">report_problem</i>
												</span>
												Domain is required.
											</p>
											<p *ngIf="updateFormdetail.controls.domain.errors.minlength">
												<span class="mat-icon">
													<i class="material-icons">report_problem</i>
												</span>
												Min 4 character is required.
											</p>
											<p *ngIf="updateFormdetail.controls.domain.errors.pattern">
												<span class="mat-icon">
													<i class="material-icons">report_problem</i>
												</span>
												Invalid Url
											</p>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
										Agency
									</div>
									<div class="col-sm-8">
										<label class="switch">
											<input type="checkbox" [(ngModel)]="updateCompany.agency" formControlName="agency">
											<div class="slider round"></div>
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										Admin Created
									</div>
									<div class="col-sm-8">
										<label class="switch">
											<input type="checkbox" [(ngModel)]="updateCompany.is_admin_created" formControlName="is_admin_created">
											<div class="slider round"></div>
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										Chargebee Customer Id
									</div>
									<div class="col-sm-8">
										<input class="form-control" type="text" [(ngModel)] = "updateCompany.chargebee_customer_id" formControlName="c_cust_id"/>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
										Chargebee Subscription Id
									</div>
									<div class="col-sm-8">
										<input class="form-control" type="text" [(ngModel)] = "updateCompany.chargebee_subscription_id" formControlName= "c_sub_id"/>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
										Stripe Customer  Id
									</div>
									<div class="col-sm-8">
										<input class="form-control" type="text" [(ngModel)] = "updateCompany.stripe_customer_id" formControlName = "s_cust_id"/>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
										Chargebee Plan Id
									</div>
									<div class="col-sm-8">
										<input class="form-control" type="text" [(ngModel)] = "updateCompany.chargebee_plan_id" formControlName="c_plan_id"/>
									</div>
								</div>
								<div class="row" *ngIf ="errorMsg != '' " >
									<div class="col-sm-12">
										<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                         </span>
										 {{errorMsg}}
									</div>
								</div>	
									<button type="submit" id="btnSaveDetail" class="btn btn-blue btn-red btn-signUp"  >Update</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>