<div class="preloader" *ngIf="!calc_id">
  <div class="status">&nbsp;</div>
</div>

<div *ngIf="calc_id!='null'">
    <!-- Analytics Section -->
    <div class="analytics-top-outer">
        <div class="col-md-12 col-sm-12 col-xs-12 analytics-top-inner">
            <h6>Showing analytics for </h6>
            <h4>{{calc_name}}  
                <div class="btn-group company-dropdown-wrapper">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons" *ngIf="live_calculators.length>1">keyboard_arrow_down</i>
                    </button>
                    <ul class="dropdown-menu ">
                        <!--<li>
                            <a href="javascript:void(0);" class="hvr-sweep-to-right add-new-company"> <i class="material-icons">playlist_add</i> &nbsp;Add New Company
                            </a>
                        </li>-->
                        <!-- <div class="company-dropdown-list slimscroll">
                            <li *ngFor="let calc of live_calculators, let i = index">
                                <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="onCalcSelect(calc)">
                                    <div class="company-block">
                                        <span class="company-block-inner">{{calc.name.charAt(0)}}</span>
                                    </div>
                                    <div class="company-block-content">
                                        <span class="company-title ellipsis">{{calc.name}}</span>
                                        <!-- <span class="company-site ellipsis">{{calc.url}}</span>
                                    </div>
                                </a>
                            </li>
                        </div>  -->
                        <div class="company-dropdown-main">
                            <div class="company-dropdown-list" [class.scrollbar]="live_calculators.length > 3">
                                <li *ngFor="let calc of live_calculators, let i = index">
                                    <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="onCalcSelect(calc)">
                                        <div class="company-block">
                                            <span class="company-block-inner">{{calc.name.charAt(0)}}</span>
                                        </div>
                                        <div class="company-block-content">
                                            <span class="company-title ellipsis">{{calc.name}}</span>
                                            <span class="company-site ellipsis hide">{{calc.url}}</span>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </h4>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 analytics-mid-inner">
            <span class="active-outer" *ngIf="isActive">
                <i class="material-icons">check_circle</i> 
                Active (since {{activeSince}})
            </span>
            <span class="active-outer" *ngIf="!isActive">
                <i class="material-icons" style="color:red;">check_circle</i> 
                Not Active
            </span>
            <!--<a class="preview-outer" href="#"><i class="material-icons">launch</i> Preview Calculator</a>-->
        </div>
    </div>
    <!-- Start: wrapper -->
    <section class="wrapper" *ngIf="calc_id">
        <div class="col-md-12 col-sm-12 col-xs-12 np">
            <!-- Start: Left Sidebar -->
            <div class="left-sidebar analytics-left-side col-md-3 col-sm-3 col-xs-3 np">
                <div id="" class="tabbable tabs-left">
                    <ul>
                        <li class="active">
                            <a href="#overview" data-toggle="tab" (click)="onAnalyticTypeSelect('overview')">
                                <span class="left-sidebar-icon">
                                    <i class="material-icons">dialpad</i>
                                </span>
                                <div class="left-sidebar-title">
                                    <h6 class="">Overview</h6>
                                    <span class="">Get an overview of your visitors and conversions.</span>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#person" data-toggle="tab" (click)="onAnalyticTypeSelect('details')">
                                <span class="left-sidebar-icon">
                                    <i class="material-icons">person</i>
                                </span>
                                <div class="left-sidebar-title">
                                    <h6 class="">User Details</h6>
                                    <span class="">See detailed analytics and user responses.</span>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#traffic" data-toggle="tab" (click)="onAnalyticTypeSelect('traffic')">
                                <span class="left-sidebar-icon noti-icon">
                                    <i class="material-icons">traffic</i>
                                </span>
                                <div class="left-sidebar-title">
                                    <h6 class="">Traffic Details</h6>
                                    <span class="">Get deeper insights about your calculator's traffic data.</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: Left Sidebar -->
            <!-- Start: wrapper content -->
            <div class="wrapper-content col-md-9 col-sm-9 col-xs-9 analytics-mt0">
                <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <div class="tab-content tabs-wrapper col-md-12 col-sm-12 col-xs-12 np"> 
                        <!-- Start: overview (1) -->
                        <og-overview *ngIf="analytic_component === 'overview'" [calc_id]="calc_id"></og-overview>
                        <!-- End: overview (1) -->
                        <!-- Start: person (2) -->
                        <og-user-details *ngIf="analytic_component === 'details'"  [calc]="calculator"></og-user-details>
                        <!-- End: person (2) -->
                        <!-- Start: traffic (3) -->
                        <og-traffic-details *ngIf="analytic_component === 'traffic'" [calc_id]="calc_id"></og-traffic-details>
                        <!-- End: traffic (3) -->
                    </div>
                </div>
            </div>
            <!-- End: wrapper content -->
        </div>
    </section>
    <!-- End: wrapper -->    
</div>

<div *ngIf="calc_id=='null'">
    <div class="analytics-top-outer">
    <div class="col-md-12 col-sm-12 col-xs-12 analytics-top-inner">
        <!--<h6>Showing analytics for </h6>-->
            <h4>No Live Calculator</h4>
    </div>
    </div>
    <div class="col-xs-12 analytics-bottom-dummy">
        <div class="col-xs-12 col-sm-12">
            <div class="analytics-bottom-popup"> 
                <i class="material-icons">grid_off</i>
                There are no calculators which are live and hence there will be no data to display
            </div>
        </div>
    </div>
</div>