@font-face {
    font-family: 'AdobeClean';
    src: url('fonts/AdobeClean-Regular.eot'),
         url('fonts/AdobeClean-Regular.woff2') format('woff2'),
         url('fonts/AdobeClean-Regular.woff') format('woff'),
         url('fonts/AdobeClean-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdobeClean-Light';
    src: url('fonts/AdobeClean-Light.eot'),
         url('fonts/AdobeClean-Light.woff2') format('woff2'),
         url('fonts/AdobeClean-Light.woff') format('woff'),
         url('fonts/AdobeClean-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdobeClean-Bold';
    src: url('fonts/AdobeClean-Bold.eot'),
         url('fonts/AdobeClean-Bold.woff2') format('woff2'),
         url('fonts/AdobeClean-Bold.woff') format('woff'),
         url('fonts/AdobeClean-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



