

@font-face {
    font-family: 'PYEFMS+AgletSans-Bold';
    src: url('fonts/PYEFMS+AgletSans-Bold.eot');
    src: url('fonts/PYEFMS+AgletSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PYEFMS+AgletSans-Bold.svg#PYEFMS+AgletSans-Bold') format('svg'),
         url('fonts/PYEFMS+AgletSans-Bold.ttf') format('truetype'),
         url('fonts/PYEFMS+AgletSans-Bold.woff') format('woff'),
         url('fonts/PYEFMS+AgletSans-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PYEFMS+AgletSans-Light';
    src: url('fonts/PYEFMS+AgletSans-Light.eot');
    src: url('fonts/PYEFMS+AgletSans-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/PYEFMS+AgletSans-Light.svg#PYEFMS+AgletSans-Light') format('svg'),
         url('fonts/PYEFMS+AgletSans-Light.ttf') format('truetype'),
         url('fonts/PYEFMS+AgletSans-Light.woff') format('woff'),
         url('fonts/PYEFMS+AgletSans-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PYEFMS+AgletSans';
    src: url('fonts/PYEFMS+AgletSans-Regular.eot');
    src: url('fonts/PYEFMS+AgletSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/PYEFMS+AgletSans-Regular.svg#PYEFMS+AgletSans-Regular') format('svg'),
         url('fonts/PYEFMS+AgletSans-Regular.ttf') format('truetype'),
         url('fonts/PYEFMS+AgletSans-Regular.woff') format('woff'),
         url('fonts/PYEFMS+AgletSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  
  
  
  