@font-face {
    font-family: 'amadeus';
    src: url('fonts/amadeus-regular-webfont.eot'),
         url('fonts/amadeus-regular-webfont.woff2') format('woff2'),
         url('fonts/amadeus-regular-webfont.woff') format('woff'),
         url('fonts/amadeus-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amadeus-Light';
    src: url('fonts/amadeus-light-webfont.eot'),
         url('fonts/amadeus-light-webfont.woff2') format('woff2'),
         url('fonts/amadeus-light-webfont.woff') format('woff'),
         url('fonts/amadeus-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amadeus-Bold';
    src: url('fonts/amadeus-bold-webfont.eot'),
         url('fonts/amadeus-bold-webfont.woff2') format('woff2'),
         url('fonts/amadeus-bold-webfont.woff') format('woff'),
         url('fonts/amadeus-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



