@font-face {
    font-family: 'artifakt';
    src: url('fonts/artifakt_element_regular-webfont.eot'),
         url('fonts/artifakt_element_regular-webfont.woff2') format('woff2'),
         url('fonts/artifakt_element_regular-webfont.woff') format('woff'),
         url('fonts/artifakt_element_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'artifakt-Light';
    src: url('fonts/artifakt_element_light-webfont.eot'),
         url('fonts/artifakt_element_light-webfont.woff2') format('woff2'),
         url('fonts/artifakt_element_light-webfont.woff') format('woff'),
         url('fonts/artifakt_element_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'artifakt-Bold';
    src: url('fonts/artifakt_element_Bold-webfont.eot'),
         url('fonts/artifakt_element_Bold-webfont.woff2') format('woff2'),
         url('fonts/artifakt_element_Bold-webfont.woff') format('woff'),
         url('fonts/artifakt_element_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



