@font-face {
    font-family: 'AvenirNext';
    src: url('fonts/AvenirNext-Regular.eot'),
         url('fonts/AvenirNext-Regular.woff2') format('woff2'),
         url('fonts/AvenirNext-Regular.woff') format('woff'),
         url('fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-04D5;

}

@font-face {
    font-family: 'AvenirNext-Light';
    src: url('fonts/AvenirNext-Light.eot'),
         url('fonts/AvenirNext-Light.woff2') format('woff2'),
         url('fonts/AvenirNext-Light.woff') format('woff'),
         url('fonts/AvenirNext-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-04D5;

}

@font-face {
    font-family: 'AvenirNext-Bold';
    src: url('fonts/AvenirNext-Bold.eot'),
         url('fonts/AvenirNext-Bold.woff2') format('woff2'),
         url('fonts/AvenirNext-Bold.woff') format('woff'),
         url('fonts/AvenirNext-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-04D5;

}



