@font-face {
    font-family: 'barlowcondensed';
    src: url('fonts/barlowcondensed-regular-webfont.eot'),
         url('fonts/barlowcondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/barlowcondensed-regular-webfont.woff') format('woff'),
         url('fonts/barlowcondensed-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlowcondensed-Light';
    src: url('fonts/barlowcondensed-light-webfont.eot'),
         url('fonts/barlowcondensed-light-webfont.woff2') format('woff2'),
         url('fonts/barlowcondensed-light-webfont.woff') format('woff'),
         url('fonts/barlowcondensed-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlowcondensed-Bold';
    src: url('fonts/barlowcondensed-bold-webfont.eot'),
         url('fonts/barlowcondensed-bold-webfont.woff2') format('woff2'),
         url('fonts/barlowcondensed-bold-webfont.woff') format('woff'),
         url('fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



