@font-face {
    font-family: 'beausanspro';
    src: url('fonts/beausanspro-regular-webfont.eot'),
         url('fonts/beausanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/beausanspro-regular-webfont.woff') format('woff'),
         url('fonts/beausanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beausanspro-Light';
    src: url('fonts/beausanspro-light-webfont.eot'),
         url('fonts/beausanspro-light-webfont.woff2') format('woff2'),
         url('fonts/beausanspro-light-webfont.woff') format('woff'),
         url('fonts/beausanspro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beausanspro-Bold';
    src: url('fonts/beausanspro-bold-webfont.eot'),
         url('fonts/beausanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/beausanspro-bold-webfont.woff') format('woff'),
         url('fonts/beausanspro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



