@font-face {
    font-family: 'DINNextLTPro';
    src: url('fonts/DINNextLTPro-Regular.eot'),
         url('fonts/DINNextLTPro-Regular.woff2') format('woff2'),
         url('fonts/DINNextLTPro-Regular.woff') format('woff'),
         url('fonts/DINNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINNextLTPro-Light';
    src: url('fonts/DINNextLTPro-Light.eot'),
         url('fonts/DINNextLTPro-Light.woff2') format('woff2'),
         url('fonts/DINNextLTPro-Light.woff') format('woff'),
         url('fonts/DINNextLTPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINNextLTPro-Bold';
    src: url('fonts/DINNextLTPro-Bold.eot'),
         url('fonts/DINNextLTPro-Bold.woff2') format('woff2'),
         url('fonts/DINNextLTPro-Bold.woff') format('woff'),
         url('fonts/DINNextLTPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



