@font-face {
    font-family: 'dmsans';
    src: url('fonts/dmsans-regular-webfont.eot'),
         url('fonts/dmsans-regular-webfont.woff2') format('woff2'),
         url('fonts/dmsans-regular-webfont.woff') format('woff'),
         url('fonts/dmsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dmsans-Light';
    src: url('fonts/dmsans-light-webfont.eot'),
         url('fonts/dmsans-light-webfont.woff2') format('woff2'),
         url('fonts/dmsans-light-webfont.woff') format('woff'),
         url('fonts/dmsans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dmsans-Bold';
    src: url('fonts/dmsans-bold-webfont.eot'),
         url('fonts/dmsans-bold-webfont.woff2') format('woff2'),
         url('fonts/dmsans-bold-webfont.woff') format('woff'),
         url('fonts/dmsans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



