@font-face {
    font-family: 'Franklin-Gothic-Demi';
    src: url('fonts/Franklin-Gothic-Demi-Regular.eot'),
         url('fonts/Franklin-Gothic-Demi-Regular.woff2') format('woff2'),
         url('fonts/Franklin-Gothic-Demi-Regular.woff') format('woff'),
         url('fonts/Franklin-Gothic-Demi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Franklin-Gothic-Demi-Light';
    src: url('fonts/Franklin-Gothic-Demi-Regular.eot'),
         url('fonts/Franklin-Gothic-Demi-Regular.woff2') format('woff2'),
         url('fonts/Franklin-Gothic-Demi-Regular.woff') format('woff'),
         url('fonts/Franklin-Gothic-Demi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Franklin-Gothic-Demi-Bold';
    src: url('fonts/Franklin-Gothic-Demi-Bold.eot'),
         url('fonts/Franklin-Gothic-Demi-Bold.woff2') format('woff2'),
         url('fonts/Franklin-Gothic-Demi-Bold.woff') format('woff'),
         url('fonts/Franklin-Gothic-Demi-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



