
@font-face {
    font-family: 'futura-Bold';
    src: url('fonts/futura_bold_font-webfont.eot'),
         url('fonts/futura_bold_font-webfont.woff2') format('woff2'),
         url('fonts/futura_bold_font-webfont.woff') format('woff'),
         url('fonts/futura_bold_font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura-Light';
    src: url('fonts/futura_light_bt-webfont.eot'),
         url('fonts/futura_light_bt-webfont.woff2') format('woff2'),
         url('fonts/futura_light_bt-webfont.woff') format('woff'),
         url('fonts/futura_light_bt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura';
    src: url('fonts/futura_medium_bt-webfont.eot'),
         url('fonts/futura_medium_bt-webfont.woff2') format('woff2'),
         url('fonts/futura_medium_bt-webfont.woff') format('woff'),
         url('fonts/futura_medium_bt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}