@font-face {
    font-family: 'Giovanni';
    src: url('fonts/Giovanni.eot'),
         url('fonts/Giovanni.woff2') format('woff2'),
         url('fonts/Giovanni.woff') format('woff'),
         url('fonts/Giovanni.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Giovanni-Light';
    src: url('fonts/Giovanni.eot'),
         url('fonts/Giovanni.woff2') format('woff2'),
         url('fonts/Giovanni.woff') format('woff'),
         url('fonts/Giovanni.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Giovanni-Bold';
    src: url('fonts/Giovanni.eot'),
         url('fonts/Giovanni.woff2') format('woff2'),
         url('fonts/Giovanni.woff') format('woff'),
         url('fonts/Giovanni.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



