@font-face {
    font-family: 'Gravure';
    src: url('fonts/Gravure-regular.eot'),
         url('fonts/Gravure-regular.woff2') format('woff2'),
         url('fonts/Gravure-regular.woff') format('woff'),
         url('fonts/Gravure-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gravure-Light';
    src: url('fonts/Gravure-light.eot'),
         url('fonts/Gravure-light.woff2') format('woff2'),
         url('fonts/Gravure-light.woff') format('woff'),
         url('fonts/Gravure-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gravure-Bold';
    src: url('fonts/Gravure-bold.eot'),
         url('fonts/Gravure-bold.woff2') format('woff2'),
         url('fonts/Gravure-bold.woff') format('woff'),
         url('fonts/Gravure-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



