@font-face {
    font-family: 'NarrowTypeface';
    src: url('fonts/NarrowTypeface-Regular.eot'),
         url('fonts/NarrowTypeface-Regular.woff2') format('woff2'),
         url('fonts/NarrowTypeface-Regular.woff') format('woff'),
         url('fonts/NarrowTypeface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NarrowTypeface-Light';
    src: url('fonts/NarrowTypeface-Light.eot'),
         url('fonts/NarrowTypeface-Light.woff2') format('woff2'),
         url('fonts/NarrowTypeface-Light.woff') format('woff'),
         url('fonts/NarrowTypeface-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NarrowTypeface-Bold';
    src: url('fonts/NarrowTypeface-Bold.eot'),
         url('fonts/NarrowTypeface-Bold.woff2') format('woff2'),
         url('fonts/NarrowTypeface-Bold.woff') format('woff'),
         url('fonts/NarrowTypeface-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



