@font-face {
    font-family: 'TradeGothicNextLTPro';
    src: url('fonts/TradeGothicNextLTPro-Regular.eot'),
         url('fonts/TradeGothicNextLTPro-Regular.woff2') format('woff2'),
         url('fonts/TradeGothicNextLTPro-Regular.woff') format('woff'),
         url('fonts/TradeGothicNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicNextLTPro-Light';
    src: url('fonts/TradeGothicNextLTPro-Light.eot'),
         url('fonts/TradeGothicNextLTPro-Light.woff2') format('woff2'),
         url('fonts/TradeGothicNextLTPro-Light.woff') format('woff'),
         url('fonts/TradeGothicNextLTPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicNextLTPro-Bold';
    src: url('fonts/TradeGothicNextLTPro-Bold.eot'),
         url('fonts/TradeGothicNextLTPro-Bold.woff2') format('woff2'),
         url('fonts/TradeGothicNextLTPro-Bold.woff') format('woff'),
         url('fonts/TradeGothicNextLTPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



