@font-face {
    font-family: 'wyoming';
    src: url('fonts/wyoming-webfont.eot'),
         url('fonts/wyoming-webfont.woff2') format('woff2'),
         url('fonts/wyoming-webfont.woff') format('woff'),
         url('fonts/wyoming-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wyoming-Light';
    src: url('fonts/wyoming-webfont.eot'),
         url('fonts/wyoming-webfont.woff2') format('woff2'),
         url('fonts/wyoming-webfont.woff') format('woff'),
         url('fonts/wyoming-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wyoming-Bold';
    src: url('fonts/wyoming-webfont.eot'),
         url('fonts/wyoming-webfont.woff2') format('woff2'),
         url('fonts/wyoming-webfont.woff') format('woff'),
         url('fonts/wyoming-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



