@media (min-width:0px) and (max-width: 767px){
    .buildOutgrow-outr{justify-content: center;}
    .result-page{padding: 30px;}
}
@media (min-width:768px) and (max-width: 1023px){
    .landing-logo {
        padding: 30px 40px;
    }
}