*{margin: 0;padding: 0;box-sizing: border-box;}
body{color: #666;}
#build .default-outer {margin: 0;}
.default-outer {width: 100%;height:100%;float: left;position: relative;margin-top: 75px;}
.t11 {width: 100%;float: left;}
.t11 p {margin-bottom: 0;}
input, textarea, button:focus {outline: none;}

/* top timer bar */
#build .timer-top-fixed , #build .fixed-header{position: relative;}
.fixed-header{position: fixed;left: 0;right: 0;top: 0;z-index: 1;}
.timer-top-fixed {width: 100%;float: left;min-height: 75px;background: #46c3cf;padding: 23px;display: flex;align-items: center;justify-content: space-around;vertical-align: middle;flex-wrap: wrap;}
.timer-info {font-size: 22px;line-height: 30px;text-transform: uppercase;color: #fff;text-align: center;display: inline-flex;align-items: center;flex-wrap: wrap;justify-content: center;}
.timer-info a {color: #fff;font-size: 22px;line-height: 30px;font-weight: bold;text-decoration: underline;margin-left: 5px;}
.timer-info img {width: 18px;height: 18px;margin: 0 5px;}
.timer-info i {font-size: 25px;margin: 0 5px;transform: rotate(0.03deg);}
.socialshare-header {display: flex;align-items: center;}
.socialshare-header .social-share-text {font-size: 22px;color: #fff;margin-right: 10px;}
.timer-top-fixed .section-social {padding: 0;}

/* notification bar */
.notification-toast {position: absolute;width: 310px;float: right;background: #fff;border-radius: 5px;left: auto;right: 40px;top: 105px;display: flex;align-items: center;padding: 20px 25px;box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.24);}
.notification-toast img {float: left;width: 54px !important;height: 54px !important;}
.notification-text {color: #666;font-size: 16px;font-family: montserratregular;float: left;padding-left: 15px;}
.notification-text span {font-family: montserratsemibold;}

/* landing page css */
.landing-page {width: 100%;min-height: 100%;display: block;float: left;background-repeat: no-repeat;background-size: cover;background-position: top center;}
.landing-logo {padding: 30px 60px;width: 100%;float: left;}
.landing-outer {width: 100%;max-width: 800px;float: left;padding: 100px 60px;margin: 0 auto;min-height: 100%;display: flex;align-items: flex-start;justify-content: center;flex-direction: column;flex-wrap: wrap;}
.landing-page-mid {display: flex;flex-direction: column;flex-wrap: wrap;width: 100%;float: left;}
.landing-heading {width: 100%;float: left;}
.landing-subheading {width: 100%;float: left;margin-top: 20px;}
.landing-heading h1, .landing-heading p {font-size: 64px;line-height: 1.4;margin: 0;color: #fff;word-break: break-word;}
.landing-subheading h2, .landing-subheading p {font-size: 30px;line-height: 1.2;margin: 0;color: #fff;}

/* landing page cta */
.landing-cta-outer {width: 100%;float: left;margin-top: 50px;}
.landing-cta-outer .btn {width: auto;float: left;font-size: 26px;line-height: normal;background: #fff;color: #51cbd8;border-radius: 4px;padding: 20px 45px;}

/* branding--built with Outgrow */
.buildOutgrow-outr {float: left;width: 100%;padding: 25px 35px;}
.buildOutgrow{background: #fff;width: auto;float: right;display: flex;align-items: center;justify-content: center;border-radius: 10px;padding: 2px;box-shadow: 4px 3px 7px 1px rgba(0,0,0,0.3);}
.buildOutgrow p {font-size: 10px;letter-spacing: 0.8px;margin: 0 5px !important;float: left;}
.buildOutgrow a {display: flex;align-items: center;justify-content: center;}
.buildOutgrow a img {height: 20px;}
.buildOutgrow a p {font-size: 11px !important;color: #444;font-weight: 600;}

/* result page */
.result-page {width: 100%;float: left;background: #fff;padding: 100px;}
.sec-outer {width: 100%;float: none;margin: 0 auto;text-align: center;display: flex;flex-direction: column;flex-wrap: wrap;max-width: 80%;margin: 0 auto;}
.page-heading {width: 100%;float: left;font-size: 52px;margin: 0 0 30px;}
.page-sub-heading {width: 100%;float: left;font-size: 30px;margin: 0 0 30px;}
.page-sub-heading a {color: #666;border-bottom: 3px solid #666;cursor: pointer;}
.contest-info-outer {width: 100%;float: left;}
/* .contest-info-outer .video-sec {max-width: 650px;max-height: 420px;display: flex;margin: 0 auto 50px;} */
.contest-info-outer img, .contest-info-outer .video-sec{max-width: 100%;margin-bottom: 40px;width: 504px;min-height: 290px;}
.contest-info-outer .video-sec iframe {width: 100%;float: left;}
.contest-info-outer a.tag_delete img {display: none;}
.sec-inner{margin-bottom: 90px;}
.sec-inner:last-child {margin: 0;}
.sec-head {width: 100%;float: left;font-size: 30px;margin-bottom: 30px;}
.sec-sub-head {width: 100%;float: left;font-size: 18px;line-height: 30px;}

/* footer */
.footer-outer {width: 100%;float: left;background: #51cbd8;padding: 0 65px 40px;}
.footer-inner {width: 100%;float: left;}
.footer-heading {font-size: 52px; width: 100%;text-align: center;margin: 0;padding-top: 40px;color: #fff;}

/* footer CTA */
.footer-cta-outer {width: 100%;float: left;text-align: center;}
/* section.contest-cta {display: flex;align-items: center;justify-content: center;width: 100%;float: left;flex-direction: column;} */
.footer-outer .btn {width: auto;float: none;font-size: 26px;line-height: normal;background: #fff;color: #51cbd8;border-radius: 4px;padding: 20px 45px;margin-top: 40px;}

/* social share icons */
.section-social {width: 100%;float: left;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;text-align: center;padding-top: 40px;}
ul.social-icons {width: 100%;margin: 0;float: left;text-align: center;}
.social-icons li {display: inline-block;width: auto;position: relative;margin: 3px!important;}
.social-icons li a {display: flex;align-items: center;justify-content: center;width: 45px;height: 45px;border: 1px solid #fff;border-radius: 50%;color: #fff;transition: 0.2s ease-in-out;cursor: pointer;text-decoration: none;}
.social-icons li a:hover {background: rgba(255,255,255,0.2);}
.social-icons li a:hover i.fa-google-plus + .tooltip {min-width: 80px;}
.social-icons li a:hover .tooltip {float: left;display: block;background-color: #61696c;text-align: center;color: #fff;padding: 8px 11px;max-width: 180px;min-width: 60px;font-size: 10px;position: absolute;bottom: -40px;border-radius: 3px;box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);line-height: 1.42857143;text-transform: none;z-index: 199;opacity: 1;}
.social-icons li a:hover .tooltip::before {content: "";position: absolute;bottom: 100%;left: 50%;width: 10px;height: 10px;border-bottom: 6px solid #61696c;border-right: 6px solid transparent;border-left: 6px solid transparent;margin-left: -7px;}

/* social feeds buttons */
.likes-parent {width: 100%;float: left;text-align: center;padding-top: 40px;display: flex;align-items: center;justify-content: center;vertical-align: middle;flex-wrap: wrap;}
.likes-parent #like, .likes-parent #follow, .likes-parent #vk_subscribe_fromPopup {float: none;display: inline-block;width: auto!important;margin: 0 5px 5px 0;height: 28px !important;}
.likes-parent #vk_subscribe_fromPopup iframe {float: none!important;width: auto!important;display: inline-block!important;max-width: 160px!important;background: #5181b8;height: 28px;border-radius: 3px;padding: 3px 0;margin-top: 0!important;}

/* leadform  */
section.leadform-outer {width: 100%;float: left;position: absolute;top: 75px;background: rgba(0,0,0,0.25);left: 0;right: 0;display: flex;align-items: flex-start;justify-content: center;vertical-align: middle;}
.leadpopup {position: relative;width: 100%;max-width: 520px;padding: 40px;background: #ffff;border-radius: 3px;margin: 45px auto;float: none;/* max-height: calc(100vh - 100px);overflow-y: auto; */}
.t1-landing-leadform,.section-leadform {width: 100%;float: left;}
.leadform-btn {width: auto;padding: 18px 20px;color: #fff;background: #51cbd8;font-size: 18px;}
.result-leadform-input-outr {width: 100%;float: left;margin-bottom: 20px;position: relative;}
.result-leadform-input-outr input {border: none;width: 100%;float: right;position: relative;padding-left: 30px;font-size: 20px;border: 1px solid #e8e8e8;color: #aaa !important;border-radius: 3px;padding: 20px 25px 20px 45px}
.result-leadform-input-outr i {position: absolute;left: auto;font-size: 23px;transform: rotate(0.03deg);top: 50%;transform: translateY(-50%);left: 20px;}
span.errMessage {width: 100%;float: left;color: #fb5f66;position: absolute;top: 70px;font-size: 12px;left: 0;}
a.leadgen-close {position: absolute;left: auto;right: -30px;top: -12px;color: #fff;opacity: 0.45;}
.result-leadform-input-outr .leadform-select {width: 100%;float: left;text-align: left;}
/* .result-leadform-input-outr .leadform-select .selectize-input {border: none;box-shadow: none !important;background: #fff;text-align: left;padding: 0;font-size: 20px;color: #aaa;padding: 20px 25px;} */
/* .result-leadform-input-outr.dropdown {padding: 0;} */
.result-leadform-input-outr .leadform-select .selectize-input input {float: left;padding: 20px 25px;width: 100% !important;}

/* scroll */
.leadpopup::-webkit-scrollbar-track { border-radius: 0; background-color: #f5f5f5; }
.leadpopup::-webkit-scrollbar { width: 6px !important; background-color: rgba(0, 0, 0, 0.2); }
.leadpopup::-webkit-scrollbar:horizontal { height: 6px !important; background-color: rgba(0, 0, 0, 0.2); }
.leadpopup::-webkit-scrollbar-thumb { border-radius: 4px; background-color: rgba(0, 0, 0, 0.2); }