@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/MaterialIcons-Regular.eot');
  src: local('Material Icons'), local('materialIcons-Regular'), url('../../fonts/materialIcons-Regular.woff2') format('woff2'), url('../../fonts/materialIcons-Regular.woff') format('woff'), url('../../fonts/materialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;
  /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for Firefox. */
  font-feature-settings: 'liga';
  /* Support for IE. */
}

* {margin: 0;padding: 0;box-sizing: border-box;}
html {-webkit-overflow-scrolling: touch;}
body {color: #666;}
.default-outer {width: 100%;height: 100%;float: left;position: relative;}
.t11 {width: 100%;float: left;}
.t11 p {margin-bottom: 0;}
input,textarea,button:focus {outline: none;}
.hideScroll {overflow: hidden;}

/* top timer bar */
.fixed-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.timer-top-fixed {
  width: 100%;
  float: left;
  padding: 18px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
}

.timer-info {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
}

.timer-info a {
  text-decoration: underline;
  margin-left: 5px;
  font-weight: bold;
  z-index: 3;
}

.timer-info img {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  position: relative;
  top: -1px;
}

.timer-info i {
  font-size: 20px;
  margin: 0 5px;
  transform: rotate(0.03deg);
  position: relative;
  top: 5px;
}

.timer-top-fixed::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.socialshare-header {
  width: 40%;
  float: left;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 3;
  padding-left: 20px;
}

.socialshare-header .social-share-text {
  font-size: 14px;
  margin-right: 10px;
}

.socialshare-header .social-icons li {
  margin: 0 !important;
  padding-right: 10px;
}

.socialshare-header .social-icons li a {
  width: auto;
  height: auto;
  border: none;
  margin-right: 0;
}

.socialshare-header .social-icons li a i.fa {
  font-size: 14px;
}

.timer-top-fixed .section-social {
  padding: 0;
}

.socialshare-header .social-icons li:last-child {
  padding: 0 !important;
}

.timesUp.contest-header {
  width: 100%;
  float: left;
}

.timer-info-wrapper {
  width: 100%;
  float: none;
  display: inline;
}

/* notification bar */
.notification-toast {
  position: absolute;
  width: 260px;
  float: right;
  background: #fff;
  border-radius: 5px;
  left: auto;
  right: 40px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
}

.notification-toast img {
  float: left;
  min-width: 54px !important;
  width: 54px !important;
  height: 54px !important;
}

.notification-text {
  color: #666;
  font-size: 13px;
  float: left;
  padding-left: 15px;
}

.notification-text span {
  font-weight: bold;
}

/* landing page css */
.landing-page {
  width: 100%;
  min-height: 100%;
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /*display: none; opacity: 0;*/
}

.landing-logo {
  padding: 30px 60px 0;
  width: 100%;
  float: left;
}

.landing-outer {
  width: 100%;
  max-width: 50%;
  float: left;
  padding: 100px 60px;
  margin: 0 auto;
  min-height: calc(100vh - 135px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.landing-page-mid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  float: left;
}

.landing-heading {
  width: 100%;
  float: left;
}

.landing-subheading {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.landing-heading h1,
.landing-heading p {
  font-size: 52px;
  line-height: 1.2;
  margin: 0;
  word-break: break-word;
}

.landing-subheading h2,
.landing-subheading p {
  font-size: 22px;
  line-height: 1.4;
  margin: 0;
  word-break: break-word;
}

.isIframe .landing-outer {
  min-height: 100%;
}

/* landing page cta */
.landing-cta-outer {
  width: 100%;
  float: left;
  margin-top: 30px;
}

.landing-cta-outer .btn {
  width: auto;
  float: left;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 4px;
  padding: 18px 36px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  border-width: 1px;
  max-width: 100%;
  white-space: normal;
  word-break: break-word;
}

.landing-cta-outer .btn:focus {
  outline: none;
  box-shadow: none;
}

.landing-cta-outer .btn:hover,
.footer-outer .btn:hover,
.leadform-btn:hover {
  transform: translateY(-2px);
}

.landing-cta-outer .btn:hover::after,
.footer-outer .btn:hover::after,
.leadform-btn:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 4px;
}

/* branding--built with Outgrow */
.buildOutgrow-outr {
  float: left;
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.buildOutgrow {
  background: #fff;
  width: auto;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 4px 3px 7px 1px rgba(0, 0, 0, 0.3);
}

.buildOutgrow p {
  font-size: 10px;
  letter-spacing: 0.7px;
  margin: 0 5px !important;
  float: left;
  position: relative;
  top: 0.8px;
}

.buildOutgrow a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.buildOutgrow a img {
  height: 15px;
}

.buildOutgrow a p {
  font-size: 12px !important;
  color: #444;
  top: 1px;
}

/* result page */
.result-page {
  width: 100%;
  float: left;
  background: #fff;
  padding: 100px;
}

.sec-outer {
  width: 100%;
  float: none;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
}

.page-heading {
  width: 100%;
  float: left;
  font-size: 38px;
  margin: 0 0 30px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.page-sub-heading {
  width: 100%;
  float: left;
  font-size: 22px;
  margin: -10px 0 30px;
  line-height: 1.4;
}

.page-sub-heading a {
  color: #666;
  border-bottom: 3px solid #666;
  cursor: pointer;
}

.contest-info-outer {
  width: 100%;
  float: left;
}

.contest-info-outer a.tag_delete img {
  display: none;
}

.sec-inner {
  width: 100%;
  float: left;
  margin-bottom: 90px;
}

.sec-inner:last-child {
  margin: 0;
}

.sec-head {
  width: 100%;
  float: left;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.sec-sub-head {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 1.6;
}

/* footer */
.footer-outer {
  width: 100%;
  float: left;
  padding: 0 65px 40px;
}

.footer-inner {
  width: 100%;
  float: left;
}

.footer-heading {
  width: 100%;
  float: left;
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 40px 0 0;
}

/* footer CTA */
.footer-cta-outer {
  width: 100%;
  float: left;
  text-align: center;
}

.footer-outer .btn {
  width: auto;
  float: none;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 4px;
  padding: 18px 36px;
  margin-top: 40px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  max-width: 100%;
  white-space: normal;
  word-break: break-word;
}

/* social share icons */
.section-social {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 40px;
}

ul.social-icons {
  width: 100%;
  margin: 0;
  float: left;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  width: auto;
  position: relative;
  margin: 3px !important;
}

.social-icons li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 1px solid;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.social-icons li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.social-icons li a:hover i.fa-google-plus+.tooltip {
  min-width: 80px;
}

.social-icons li a:hover .tooltip {
  float: left;
  display: block;
  background-color: #61696c;
  text-align: center;
  color: #fff;
  padding: 8px 11px;
  max-width: 180px;
  min-width: 60px;
  font-size: 10px;
  position: absolute;
  bottom: -40px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
  line-height: 1.42857143;
  text-transform: none;
  z-index: 199;
  opacity: 1;
}

.social-icons li a:hover .tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-bottom: 6px solid #61696c;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-left: -7px;
}
iframe.twitter-follow-button {margin-right: 0;}

/* social feeds buttons */
.likes-parent {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
}

.likes-parent #like,
.likes-parent #follow,
.likes-parent #vk_subscribe_fromPopup {
  float: none;
  display: inline-block;
  width: auto !important;
  margin: 0 5px 5px 0;
  height: 28px !important;
}

.likes-parent #vk_subscribe_fromPopup iframe {
  float: none !important;
  width: auto !important;
  display: inline-block !important;
  max-width: 160px !important;
  background: #5181b8;
  height: 28px;
  border-radius: 3px;
  padding: 3px 0;
  margin-top: 0 !important;
}

/* leadform  */
section.leadform-outer {width: 100%;float: left;position: fixed;background: rgba(0, 0, 0, 0.8);left: 0;right: 0;bottom: 0px;display: flex;align-items: flex-start;justify-content: center;vertical-align: middle;z-index: 9;padding: 0 15px;overflow-y: auto;overflow-x: hidden;}
.leadform-inner {width: 100%;float: none;margin: 45px auto;max-width: 520px;position: relative;background: #ffff;border-radius: 3px;}
.leadpopup {position: relative;width: 100%;float: left;padding: 28px 40px 40px;}
.t1-landing-leadform,.section-leadform {width: 100%;float: left;}
.lead-heading {font-size: 30px;line-height: 1.4;margin-bottom: 5px;}
.lead-subheading {font-size: 18px;line-height: 1.4;margin-bottom: 25px;}
a.leadgen-close {position: absolute;left: auto;right: -41px;top: -16px;color: #fff;opacity: 1;z-index: 9;}
a.leadgen-close i {font-size: 28px;}
.leadform-btn {width: auto;padding: 18px 25px;font-size: 16px;transition: all 0.3s ease;white-space: normal;}
.result-leadform-input-outr {width: 100%;float: left;margin-top: 0px;margin-bottom: 20px;position: relative;}
.result-leadform-input-outr input {width: 100%;float: right;position: relative;padding-left: 30px;font-size: 17px;border: 1px solid #e8e8e8 !important;border-radius: 3px;padding: 15px 25px 15px 45px;transition: all 0.3s ease;}
.result-leadform-input-outr i {position: absolute;font-size: 20px;transform: rotate(0.03deg);top: 17px;left: 20px;color: #666;}
span.errMessage {width: 100%;float: left;color: #fb5f66;position: absolute;top: 55px;font-size: 10px;left: 0;}
.result-leadform-input-outr .leadform-select {width: 100%;float: left;text-align: left;position: relative;}
.result-leadform-input-outr .leadform-select .selectize-input {float: left;width: 100%;line-height: 40px;padding: 7px 25px;border-radius: 5px;-webkit-transition: .5s;transition: .5s;margin-top: 0;font-size: 17px;color: #aaa;border: 1px solid #e8e8e8 !important;background: #fff !important;}
.selectize-control .selectize-input+.selectize-dropdown.single {background: #f1f2f1;-webkit-box-shadow: none;box-shadow: none;width: 100% !important;padding: 0;position: absolute;margin: -1px 0 0;border-radius: 0 0 5px 5px;top: 59px !important;bottom: auto !important;z-index: 9;}
.result-leadform-input-outr .leadform-select .selectize-input input:focus {box-shadow: none;}
.result-leadform-input-outr .selectize-dropdown-content .option:hover {background: #f1f2f3;}
.result-leadform-input-outr .leadform-select .selectize-input input {float: left;padding: 0px !important;width: 100% !important;border: none !important;background: #fff !important;}
.result-leadform-input-outr .selectize-control.single .selectize-input:after {content: ' ';display: block;position: absolute;top: 50%;right: 15px;margin-top: -3px;width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #808080 transparent transparent transparent;}
.result-leadform-input-outr .selectize-control.single .selectize-input.dropdown-active:after {border-width: 0 5px 5px 5px;border-color: transparent transparent #808080 transparent;}
.result-leadform-input-outr .selectize-dropdown-content {overflow-y: auto;overflow-x: hidden;max-height: 200px;border: 1px solid #e8e8e8 !important;}
.result-leadform-input-outr .selectize-dropdown-content .option {padding: 10px;cursor: pointer;}
.result-leadform-input-outr input[type=checkbox] {position: absolute;left: -999px;}
.result-leadform-input-outr .leadform-checkbox {border: 0 !important;line-height: 1.4 !important;font-size: 17px;min-height: auto;float: left;width: 100%;opacity: 1;padding: 0 0px 0 32px !important;margin-bottom: 0 !important;text-align: left;position: relative;cursor: pointer;color: #aaa;}
.result-leadform-input-outr .leadform-checkbox::before {content: '';left: 0 !important;right: 0;top: 1px !important;bottom: 0;width: 20px;height: 20px;padding: 0 !important;display: flex;align-items: center;justify-content: center;position: absolute;border-radius: 3px;border: 1px solid #666;}
.result-leadform-input-outr input[type=checkbox].filled-in:checked+label.leadform-checkbox::after {top: 10px;transform: translateY(-50%);position: absolute;z-index: 1;content: 'check';font-family: 'Material Icons';left: 2px;margin: 0;font-size: 16px;width: 20px;height: 20px;}
.result-leadform-input-outr.checkbox {padding: 0px;}
.result-leadform-button {width: 100%;float: left;display: flex;align-items: center;flex-wrap: wrap;}
.disc-leadform.T11 {width: auto;float: left;font-size: 15px;color: #666;margin-top: 15px;word-break: break-word;}
.result-leadform-input-outr.checkbox span.errMessage {position: relative; top: auto;}

/* fb button */
.or-class {width: 100%;float: left;padding: 10px;font-size: 12px;color: #666;}
.fb-outer {width: 100%;float: left;}
.t11 .loginBtn--facebook {background-image: linear-gradient(#086ca0, #086ca0) !important;text-shadow: 0 -1px 0 #086ca0 !important;text-transform: none;margin: 0 !important;padding: 18px 45px 18px 25px !important;border: none !important;text-align: left !important;line-height: 1.2 !important;font-size: 16px !important;border-radius: 3px !important;opacity: 1;color: #fff;transition: all 0.3s ease;}
.t11 .loginBtn.loginBtn--facebook:before {content: "";top: 50% !important;-webkit-transform: translateY(-50%);transform: translateY(-50%);right: 8px !important;width: 30px !important;height: 30px !important;background-color: #fff !important;border-radius: 3px;background: url(https://cdn.filestackcontent.com/Niv1bFDSCaWz2Mvrsuog) 6px center no-repeat;left: auto !important;background-position: 10px center !important;border-right: none !important;background-image: url(https://cdn.filestackcontent.com/Niv1bFDSCaWz2Mvrsuog) !important;background-position-x: 6.5px !important;background-size: 16px !important;}
.t11 .loginBtn--facebook:hover {-webkit-transform: translateY(-2px);transform: translateY(-2px);}

/* scroll */
.leadform-outer::-webkit-scrollbar-track,
.result-leadform-input-outr .selectize-dropdown-content::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #f5f5f5;
}

.leadform-outer::-webkit-scrollbar,
.result-leadform-input-outr .selectize-dropdown-content::-webkit-scrollbar {
  width: 6px !important;
  background-color: rgba(0, 0, 0, 0.2);
}

.leadform-outer::-webkit-scrollbar:horizontal,
.result-leadform-input-outr .selectize-dropdown-content::-webkit-scrollbar:horizontal {
  height: 6px !important;
  background-color: rgba(0, 0, 0, 0.2);
}

.leadform-outer::-webkit-scrollbar-thumb,
.result-leadform-input-outr .selectize-dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* placeholder */
.result-leadform-input-outr input::-webkit-input-placeholder {
  color: #aaa;
}

/* Edge */
.result-leadform-input-outr input:-ms-input-placeholder {
  color: #aaa;
}

/* Internet Explorer 10-11 */
.result-leadform-input-outr input::placeholder {
  color: #aaa;
}


/* landing page image and video */
.contest-info-outer img, img.landing-image{max-width: 504px;max-height: 300px;margin-bottom: 25px;width: 100%;}
.video-wrapper{width: 100%;float: left;}
.landing-outer video-view{width: 80%;}
video-view {width: 72%;display: inline-block;margin: 0 auto;}
video-view .video-sec {height: auto;position: relative;padding-bottom: 55.25%;left: 0;right: 0;top: 0;bottom: 0;margin: 0 auto 25px!important;max-width: 100%;}
.video-sec iframe.vid {height: 100%;width: 100%;position: absolute;left: 0;right: 0;bottom: 0;top: 0;}
.landing-text-right video-view .video-sec {margin-right: 0 !important;}
.landing-text-left video-view .video-sec {margin-left: 0 !important;}
.sec-outer video-view{width: 504px;}

/* thank you screen */
.lf-submitted.lead-submitted.new-thankyou {
  float: left;
  width: 100%;
  display: block;
  padding: 25px 25px 45px;
}

.lf-submitted.lead-submitted.new-thankyou img {
  max-width: 100%;
  margin-bottom: 15px;
}

.lf-submitted.lead-submitted.new-thankyou span {
  color: #666;
  width: 100%;
  float: left;
  text-align: center;
}

.leadform-inner {
  -webkit-animation: anim .3s ease-in-out;
  animation: anim .3s ease-in-out;
}

@-webkit-keyframes anim {
  0% {
    visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transition: 0.5s ease;
    visibility: visible;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim {
  0% {
    visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transition: 0.5s ease;
    visibility: visible;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* image animation */
/* .contest-info-outer img, img.landing-image{
    -webkit-transition: opacity .3s,-webkit-transform 2s cubic-bezier(.08,.43,.24,1);
    transition: opacity .3s,-webkit-transform 2s cubic-bezier(.08,.43,.24,1);
    -o-transition: transform 2s cubic-bezier(.08,.43,.24,1),opacity .3s;
    transition: transform 2s cubic-bezier(.08,.43,.24,1),opacity .3s;
    transition: transform 2s cubic-bezier(.08,.43,.24,1),opacity .3s,-webkit-transform 2s cubic-bezier(.08,.43,.24,1);
    will-change: transform,opacity;
}
.contest-info-outer img:hover, img.landing-image:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
} */

.landing-page::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  animation: animate-top-bottom 1s ease-in-out;
  z-index: 9;
}

@-webkit-keyframes animate-top-bottom {
  0% {
    top: 0px;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    visibility: visible;
  }

  100% {
    transition: 2s ease;
    top: 100%;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
  }
}

@keyframe animate-top-bottom {
  0% {
    top: 0px;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    visibility: visible;
  }

  100% {
    transition: 2s ease;
    top: 100%;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
  }
}

.animated {
  width: 100%;
  float: left;
}

.slow {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*************
* FadeInUp *
*************/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.fadeInUp.go {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* no animation in embeds */
.isIframe .fadeInUp {opacity: 1;transform: translate(0);}

/* landing page alignment */
.landing-text-right .landing-outer {float: right;text-align: right;align-items: flex-end;}
.landing-text-center .landing-outer {float: none;text-align: center;align-items: center;}
.landing-text-center .landing-outer .landing-cta-outer .btn {float: none;}
.landing-text-right .landing-outer .landing-cta-outer .btn {float: right;}

/* footer disclaimer */
.disc-set {width: 100%;float: left;text-align: center;margin-top: 40px;font-size: 12px;line-height: 1.4;}

/* loading animation */
.loading {text-align: center; }
.loading > div {width: 2px;height: 2px;margin-right: 1px;background-color: #fff;border-radius: 100%;display: inline-block;-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.loading > div.bounce1,.loading > div.bounce1,.loading > div.bounce1{ font-size: 5px; }
.loading .bounce1 {-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
.loading .bounce2 {-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}