@media (max-width:1920px) and (min-width:1680px){
    .template-eight .common-result-main .common-result-bot .left-outer-hidden{min-height:auto}
}
@media (max-width:995px){
    .template-eight .result-v2 .common-result-bot-icons.side-redo .crb-left,
    .template-eight .result-v2 .common-result-bot-icons.side-redo:after{position:fixed !important}
}
@media (min-width:641px) and (max-width:1024px){
    .lead-popup .lead-popup-outer{max-width:600px}
    .common-result-main .common-leadform-top.t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .lead-title{font-size:24px}
    .check-marks svg{height:50px}
    .check-marks{margin-bottom:15px}
    .t1-result .lead-popup .lead-popup-outer .lead-popup-main .custom-btn-outer{width:90px;height:90px}
    .lead-popup-main .w100.text-center .submit-checkbox-img{font-size:18px}
    .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .section-head,.t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .section-head div{font-size:16px}
    .lead-popup-head{margin-bottom:25px}
    .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .input-outer{margin-bottom:20px}
    .one-page-card-new .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main [type=checkbox]+label.leadform-checkbox{font-size:14px;padding-bottom:0;min-height:auto;line-height:22px}
    .common-result-main .common-leadform-top.t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .sub-lead-title{font-size:15px;line-height:22px;margin-top:10px}
    .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .input-icon-outer .selectize-input .item{font-size:14px}
    .gdpr-popup{padding:15px 20px}
    .gdpr-popup-left{width:70%}
    .gdpr-popup-right{width:25%}
}
@media(max-width:767px){
    .V_3_5 .t1-result-leadform fb_lead_gen .fb-outer,.gdpr-popup-right{text-align:center}
    .template-eight .common-footer-main .disc-set{text-align:center;float:left;width:100%}
    .common-footer-main .row_1_links{float:left;width:100%!important;TEXT-ALIGN:CENTER}
    .template-eight .common-footer-main .row_1_links a{float:none;margin:0 10px;display:inline-block}
    .template-eight .common-footer-main .stickyfooter.lightSticky{float:none}
    .gdpr-popup{padding:15px 20px}
    .gdpr-popup-left{width:100%;padding-top:25px}
    .gdpr-popup-right{width:100%}
    a.gdrp-cancel{display:none}
    a.gdrp-accept{display:inline-block;margin-top:0;float:none;position:absolute;top:4px;right:20px}
    a.gdrp-cancel-icon{font-size:16px;color:#fff;transition:all .5s ease;display:block;position:absolute;right:0;padding:5px 10px;top:9px}
    a.gdrp-cancel-icon:hover{opacity:.5}
    .V_3_5 .landing-page-mid button.loginBtn.loginBtn--facebook,.V_3_5 .loginBtn--facebook{padding:9px 35px 9px 15px!important;font-size:14px}
    .V_3_5 .loginBtn:before{width:25px!important;height:25px!important;background-image:url(https://cdn.filestackcontent.com/Niv1bFDSCaWz2Mvrsuog)!important;background-size:15px!important;right:5px!important}
    .V_3_5 fb_lead_gen{width:100%;float:left;margin-left:0;margin-bottom:50px}
    .V_3_5 .result-v2 .leadAsPopup .loginBtn.loginBtn--facebook{padding:9px 35px 9px 15px!important;float:none;font-size:13px!important}
    .V_3_5 .t1-result-leadform fb_lead_gen .loginBtn{padding:9px 35px 9px 15px!important}
}
@media(max-width:640px){
    .common-result-main .t1-result-leadform .common-result-bot-icons .crb-left{float:left;margin-top:15px}
    .landing-page-mid leadform .input-section .input-outer span{font-size:10px}
    .t1-slider-question .input-field label{width:40px}
    .t1-slider-question .input-field label~input{width:calc(100% - 72px)!important}
    .input-field input.postfixset,.t1-slider-question .input-field.new-class1 label~input{width:calc(100% - 36px)!important}
    .t1-question-liveresult,.t1-question-resultheading{text-align:center}
    .liveresult-outr{position:relative;padding:10px 0 0;float:left;width:100%;text-align:center;max-width:100%}
    .template-eight .common-result-main .t1-result-leadform .input-outer span{padding-left:0}
    .template-eight .common-result .common-result-bot .recom-tabsection .t1-result-leadform .likes-parent{margin-bottom:0;padding:0}
    .template-eight .poll-result .poll-right-text .small-bot-sec p{font-size:17px!important}
    .template-eight .poll-result .poll-right-text .common-result-bot-left .t1-result-cta .text-center .redirect-heading{font-size:18px!important}
    .template-eight .common-result-bot-left,.template-eight .gradedquiz-main .common-result-bot-left{padding:0}
    .eight-inner-wrapper.header-next-div{margin:0}
    .template-eight .recommendation-outer .common-result-main .t1-result-leadform .common-result-bot-icons{bottom:0!important}
    .template-eight .t1-landing .t1-landing-inner [type=checkbox]+label.leadform-checkbox{margin-bottom:0}
    .template-eight .common-result-main .t1-result-leadform .common-result-bot-icons{bottom:0;right:0;min-height:20px;position:relative!important}
    .template-eight .common-result-main visuals .left-sec,.template-eight .common-result-main visuals .t1-result-inner-left-img,.template-eight .common-result-main visuals .t1-result-inner-left-video{min-height:auto}
    .template-eight .t1-result .custom-btn-outer{width:auto!important;height:auto!important}
    .main-heading,.main-heading h1,.main-heading p{font-size:32px;line-height:1.2}
    .t1-ques-head{font-size:26px;line-height:1.2}
    .template-eight .poll-result .poll-voter{position:relative;width:100%;float:left;text-align:center;margin-top:0;right:0;left:0;top:0;margin-bottom:10px}
    .template-eight .poll-review-icon{position:relative;bottom:0;right:0;opacity:1;line-height:20px;font-size:13px;float:left;width:100%}
    .template-eight .poll-result .poll-right-text .small-top-sec p{font-size:20px!important;line-height:32px}
    .template-eight .poll-result .common-result-main .common-result-bot .poll-svgouter{padding:0!important}
    .template-eight .common-result-main .common-leadform-top.t1-result-leadform .input-outer{width:100%!important;padding:0!important}
    .template-eight .common-header-main .common-header{width:100%;margin:0;padding-bottom:0}
    .template-eight .poll-result .poll-right-text{width:100%;padding:0!important}
    .template-eight .poll-result .poll-left{width:100%;text-align:center}
    .template-eight .common-header-main .common-header.header-right .common-header-inner{text-align:center;display:inline-block;float:left;width:100%;margin-top:0}
    .template-eight .common-header-main .landing-page-header{left:0;right:0;position:relative!important;width:100%}
    .t1-ques-head .help-text{font-size:16px;line-height:1.2}
    .template-eight .gradedquiz-main .common-result .t1-result-leadform .input-outer i,.template-eight .t1-result-leadform .input-outer i{left:10px!important}
    .template-eight .gradedquiz-main visuals .rec-image-outer img{max-width:100%!important}
    .template-eight .common-result-main .t1-result-small-section .small-bot-sec p,.template-eight .common-result-main .t4-default-result-outer.t1-result-full-section.t1-result-small-section .small-bot-sec p{font-size:15px!important}
    .template-eight .common-result-main .t1-result-topheading p{font-size:22px;padding:0;line-height:28px}
    .template-eight .common-result-bot .t1-result-leadform .redirect-heading{font-size:17px!important}
    .template-eight .custom-btn-outer{width:90px;height:90px}
    .template-eight .common-footer-main .disc-set{text-align:center}
    .template-eight .common-result-main .common-leadform-top.t1-result-leadform .input-section{float:left;width:100%;margin:0;padding:0}
    .template-eight .common-footer-main .stickyfooter.lightSticky{float:none}
    .common-result-main .common-leadform-top.t1-result-leadform .input-outer input{margin-bottom:0PX}
    .common-footer-main .row_1_links{float:left;width:100%!important;TEXT-ALIGN:CENTER}
    .template-eight .common-footer-main .row_1_links a{float:none;margin:0 10px;display:inline-block}
    .template-eight .common-leadform-top.t1-result-leadform.eight-inner-wrapper .overlay-outer-eight,.template-eight .common-result-bot.eight-inner-wrapper .overlay-outer-eight{padding:20px 15px!important}
    .template-eight .common-leadform-top.t1-result-leadform.eight-inner-wrapper.leadAsPopup .overlay-outer-eight{padding:0!important}
    .landing-page-mid button,.landing-page-mid leadform button.prime-action,.submit-checkbox-img-custom,.t1-question .submit-textbox-btn,.w100.text-center .submit-checkbox-img,button.submit-checkbox-img.ripple-light{font-size:20px}
    .template-eight .common-result-main .t1-result-leadform .cta-center .twitter-follow-button{top:4px!important}
    .template-eight .gradedquiz-main .common-result-main .t1-result-leadform .common-result-bot-icons{bottom:0!important}
    .template-eight .gradedquiz-main .common-result-main .t1-result-leadform .cta-center .twitter-follow-button{top:0!important}
    .range-slider1.custom-slider1 ul{display:none}

    .template-section .template-container.mobile .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .input-icon-outer input+span.cust-icon-rest::after{font-size:18px!important}
    .common-result-main .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .input-outer span.cust-icon-rest{width:50px!important}
    .common-result-main .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .input-outer.dropdown span.cust-icon-rest{width:auto!important}
    .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .input-icon-outer input{padding-right:50px}
    .common-result-main .common-leadform-top.t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .sub-lead-title{font-size:14px;margin-top:10px;line-height:22px}
    .lead-popup .lead-popup-outer .lead-popup-main .lead-overlay{padding:20px}
    .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .section-head div{font-size:14px}
    .lead-popup .lead-popup-outer{width:100%;max-width:360px}
    .check-marks{margin-bottom:15px}
    .t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .question-section .section-head{font-size:14px;margin-bottom:5px}
    .check-marks svg{height:45px}
    .t1-result .lead-popup .lead-popup-outer .lead-popup-main .custom-btn-outer{width:90px!important;border-radius:50%;height:90px!important;overflow:visible}
    .common-result-main .common-leadform-top.t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .prime-action{padding:7px 20px}
    .common-result-main .common-leadform-top.t1-result-leadform .lead-popup .lead-popup-outer .lead-popup-main .lead-title{font-size:20px}
    .template-eight .common-result.result-v2 .result-v2-box2{padding:0!important}
    .template-eight .result-v2 .cta-likes{right:0;top:0}
    .template-eight .common-result.result-v2 .common-result-main .common-result-bot .recom-section .leadform-outer h1,
    .template-eight   .common-result.result-v2 .common-result-main .common-result-bot .recom-section .leadform-outer h5 p{text-align:center!important}
    .cal-outer .input-group-addon{min-width: 40px;}
}
@media(max-width:319px){
    .sub-heading h2{font-size:14px}
    .template-eight [type=checkbox]+label.leadform-checkbox{padding-left:25px;font-size:13px}
    .overlay-inner-ques{padding:30px 15px 50px}
    .main-heading,.main-heading h1,.main-heading p{font-size:24px}
    .landing-page-mid leadform .input-section .input-outer input{font-size:13px;min-height:34px;padding-left:30px}
    .input-outer i{font-size:14px}
    .selectize-input{padding:6px 35px 3px 10px}
    .selectize-input,.selectize-input .item,.t1-landing .t1-landing-inner .selectize-control.single .selectize-input input{font-size:13px}
    .selectize-dropdown .optgroup-header,.selectize-dropdown [data-selectable]{padding:5px 10px;font-size:13px}
    .control,.control.control--checkbox span,.pic-selector .abhi,.radio-icon-custom .control.control--radio span,.t1-question .ripple-dark.checkbox-outer-base label.control span,.t1-question .ripple-dark.radio-outer-base label.control span{font-size:14px;line-height:20px}
    .logo a img.horz{max-height:28px!important}
    .template-eight .custom-btn-outer{width:70px;height:70px;border-width:5px}
    .template-eight .common-result-main .t1-result-topheading p{font-size:20px;padding:0;line-height:22px}
    .common-result-main .rec-image-outer{min-width:100%!important}
    .eight-inner-wrapper,.eight-inner-wrapper.header-next-div.no-header-links,.eight-inner-wrapper.no-header-links.no-footer-links{border-width:6px}
    .template-eight .custom-btn-outer1{width:55px;height:55px;border-width:5px}
    .question-components input,.t1-slider-question .input-field label{font-size:13px;min-height:35px}
    .t1-ques-head{font-size:22px;line-height:1.2}
    .landing-page-mid button,.landing-page-mid leadform button.prime-action,.submit-checkbox-img-custom,.t1-question .submit-textbox-btn,.w100.text-center .submit-checkbox-img,button.submit-checkbox-img.ripple-light{font-size:15px}
    .landing-page-mid leadform .input-section .input-outer span{top:36px}
}

