<header id="new-header" class="">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-padding">
      <div class="navbar-header">
        <a [routerLink]="['/admin/users']" class="navbar-brand navbar-logopadding">
          <img src="assets/images/outgrow-logo.png" />
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <div class="navbar-left col-md-7 np">
          <ul *ngIf="loggedIn.isLoggedIn">
            <li><a href="" class="hvr-underline-from-left" [routerLink]="['/admin']"><i class="material-icons">home</i> &nbsp;Admin</a></li>
          </ul>
          <ul *ngIf="!loggedIn.isLoggedIn">
            <li><a [routerLink]="['/']"><i class="material-icons">home</i> &nbsp;Home</a></li>
          </ul>
        </div>
        <div class="navbar-right">
          <div class="col-xs-12 navbar-right-block">
            <!-- <a href="" class="navbar-name">
                                <i class="material-icons">account_box</i>
                                <span class="ellipsis"> &nbsp;Pratham</span>
                            </a> -->


            <!-- Start: header name-dropdown -->
            <div class="btn-group name-dropdown-wrapper name-dd-minh" *ngIf="!loggedIn.isLoggedIn">
              <button type="button" class="btn btn-default dropdown-toggle" data-target="#login" data-toggle="modal">
                <i class="material-icons">account_box</i>
                <span class="ellipsis name-title"> &nbsp;Login</span>
              </button>
            </div>
            <div class="btn-group name-dropdown-wrapper name-dd-minh" *ngIf="loggedIn.isLoggedIn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">account_box</i>
                <span class="ellipsis name-title"> &nbsp;{{username}}</span>
              </button>
              <ul class="dropdown-menu">
                <div class="company-list">
                  <li class="active" *ngFor="let company of myCompanies">
                    <a href="#" class="hvr-sweep-to-right">
                      <span class="company-list-title">Demo name</span>
                      <!--<span class="company-selected"><i class="material-icons">done</i></span>-->
                    </a>
                  </li>
                    <hr class="name-dropdown-border">
                </div>

                <div class="name-list">
                  <li>
                    <a href="#" class="hvr-sweep-to-right">
                      <span class="name-list-icon"><i class="material-icons">person</i></span>
                      <span class="name-list-title">My Profile</span>
                    </a>
                  </li>

                  <li>
                    <a class="hvr-sweep-to-right" (click)="onLogout()" href="javascript:void(0)">
                      <span class="name-list-icon"><i class="material-icons">power_settings_new</i></span>
                      <span class="name-list-title">Logout</span>
                    </a>
                  </li>
                </div>
              </ul>
            </div>
            <!-- End: header name-dropdown -->

            <!-- Start: Help dropdown -->
            <div class="btn-group help-dropdown-wrapper">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">help_outline</i>
              </button>
            </div>
            <!-- End: Help dropdown -->
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
