.card-layout {
    display: block;
    padding: 8px 15px;
    line-height: 25px;
    font-size: 12px;
    text-transform: uppercase;
    color: #62696d;
}

.sidebar-topselector {
    border-bottom: 1px solid #dae2e6;
    font-size: 13px;
    color: #8e989f;
    /* margin: 0px -15px; */
}

.type-details {
    border-bottom: 1px solid #e9eef0;
    padding: 20px;
    width: 100%;
    float: left;
}

.form-label {
    line-height: 24px;
    float: left;
    min-width: 17px;
    font-size: 11px;
    text-transform: uppercase;
    color: #62696d;
    margin-bottom: 8px;
}
.setting-detail-box {
    margin-bottom: 15px;
}
.no-padding {
    padding: 0px;
}


/* Switch */

.switch {
    display: inline-block;
    float: right;
}

.switch label {
    cursor: pointer;
    margin-bottom: 0px;
}

.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
    position:absolute;
}

.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: #00c494;
}

.switch label input[type=checkbox]:checked+.lever {
    background: #ceeffe;
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 22px;
    height: 11px;
    /* border: 1px solid #dae2e6; */
    border-radius: 25px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    font-size: 9px;
    padding: 3px 4px;
    font-family: "montserratbold";
    background-color: #e4e4e4;
}

.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #bec5c9;
    border-radius: 8px;
    left: -9px;
    top: -3px;
    color: #fff;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
    padding: 3px 5px;
    box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.switch label input[type=checkbox]:checked+.lever:after {
    content: "";
    background-color: #1483b7;
    left: 15px;
    height: 17px;
    width: 17px;
    box-shadow: -2px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.setting-details button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-bottomselector {
    display: inline-block;
    font-size: 12px;
    color: #8e989f;
}

.btn-basic2 {
    color: #e97252;
    border: 1px solid #dae2e6;
    font-size: 11px;
    background: #f6f8f9;
    padding: 10px;
}

.btn-flat {
    border-radius: 0px;
}

.btn-basic2 i {
    color: #e97252;
    font-size: 14px;
    position: relative;
    top: 3px;
}


/* email css new (sahil) */
.new-email-outr{
    margin: -20px;
    float: left;
    padding: 20px;
}