<div [formGroup]="form.controls[data._id]">
	<div class="switch-outer text-right" *ngFor="let switch_item of data.options, let i = index">
		<div class="switch-que">{{switch_item.label}}</div>
		<div class="pull-right">
			<div class="switch ">
				<input 
					type="checkbox"
					[id]="data._id"
					[formControlName]="i"
					class="cmn-toggle cmn-toggle-round-flat"  
					id="{{data._id}}{{i}}"
					[checked]="switch_item.selected"
					(change)="onChange(switch_item,i)"
					placeholder="{{data.config.placeholder}}" 
					value="{{switch_item.value}}"
				>
				<label attr.for="{{data._id}}{{i}}"></label>
					<!--[themeColor]="['background']"-->
			</div>
		</div>
	</div>
	<div class="errorMessage" *ngIf="form.controls[data._id].touched && !isValid">
		{{data.config.validations.required.message}}
	</div>
</div>