   <div class="settings-tab" * >
        <div class="settings-header" (click)="eyeResult(); scrollToTop();"><i class="material-icons">settings</i> SETTINGS</div>
        <div class="settings-content">
            <div class="type-details lead-parent">
                <!-- leadform component  -->
                <editor-lead-form [control]="editorControl" 
                    [leadsection]="leadformSection"
                    id="editorabhi">
                </editor-lead-form>
                <!-- leadform component  -->
            </div>
            <div class="type-details" *ngIf="jsonBuilderHandler.getJSONBuilt().templateType !== 'Recommendation'">
                <div *ngIf="editorControl.leadform.visible || editorControl.click_button.visible">
                    <span class="form-label">Call To Action:</span>
                    <div class="help-tip editor-helptip">
                        <i class="material-icons">info_outline</i>
                        <div class="help-checktip">You can send the user to a website for further action.</div>
                    </div>
                    <div class="col-md-12 col-xs-12 no-padding full-check-value" style="margin-bottom: 10px;">
                        <label class="check-value">TEXT</label>
                        <input class="form-text value-text" *ngIf="editorControl.leadform.visible" [(ngModel)]="editorControl.leadform.props.title" [readonly]="!isCtaAccessible" (click)="ctaCheck()" >
                        <input class="form-text value-text" *ngIf="editorControl.click_button.visible" [(ngModel)]="editorControl.click_button.props.title" [readonly]="!isCtaAccessible" (click)="ctaCheck()"  >
                    </div>
                    <!-- <input type="text" class="detail-text" *ngIf="editorControl.leadform.visible" [(ngModel)]="editorControl.leadform.props.title"
                        [readonly]="!isCtaAccessible" (click)="ctaCheck()" /> -->
                    <div class="col-md-12 col-xs-12 no-padding full-check-value">
                        <label class="check-value">URL</label>            
                        <input type="text" class="form-text value-text" placeholder="http://" (blur)="validateUrl()" [(ngModel)]="jsonBuilderHandler.getJSONBuilt().navigate_Url" [readonly]="!isCtaAccessible" (click)="ctaCheck()" />
                    </div>
                    <!-- <input type="text" class="detail-text" *ngIf="editorControl.click_button.visible" [(ngModel)]="editorControl.click_button.props.title" 
                        [readonly]="!isCtaAccessible" (click)="ctaCheck()" />-->
                </div>
                
                <span *ngIf="!validUrl">Not a valid url. You might loose user's to reach you.</span>
            </div>
            <div class="type-details share">
                <span class="form-label"> Social Sharing Buttons:</span>
                <div class="col-xs-12 no-padding">
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('facebook')" name="icon-select" id="ic1" [checked]="isSocialChecked('facebook')">
                            <label for="ic1"><i class="fa fa-facebook"></i> </label>
                    </label>
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('twitter')" name="icon-select" id="ic2" [checked]="isSocialChecked('twitter')">
                            <label for="ic2"><i class="fa fa-twitter"></i> </label>
                    </label>
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('linkedin')" name="icon-select" id="ic3" [checked]="isSocialChecked('linkedin')">
                            <label for="ic3"><i class="fa fa-linkedin"></i> </label>
                    </label>
                    <label class="ch-icon ic">
                            <input type="checkbox" (click)="toggleSocialIcon('email')" name="icon-select" id="ic5" [checked]="isSocialChecked('email')">
                            <label for="ic5">Email </label>
                    </label>
                </div>
            </div>
            <div class="type-details" *ngIf="editorControl.result_disclaimer.order">
                <span class="form-label" [class.no-margin]="editorControl.result_disclaimer.visible === false">Add Disclaimer Text</span>
                <div class="switch">
                    <label>
                        <input type="checkbox" (click)="toggleDisclaimer();callGA('DISCLAIMER')" [checked]="editorControl.result_disclaimer.visible" (change)="onChangeDisclaimer(editorControl)">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="col-xs-12 no-padding div-check" *ngIf="editorControl.result_disclaimer.visible">
                    <input placeholder="Disclaimer Text" type="text" class="detail-text" [(ngModel)]="editorControl.result_disclaimer.props.title">
                </div>
            </div>
            <!--<div class="type-details setting-details">
                <span class="form-label">Settings:</span>-->
                <!-- <div class="col-xs-12 no-padding setting-detail-box">
                    <span>Add a Summary</span>
                    <div class="switch">
                        <label>
                                <input type="checkbox" [checked]="editorControl.result_summary.visible" (change)="toggleSummary();callGA('SUMMARY')">
                                <span class="lever"></span>
                            </label>
                    </div>
                </div> -->
                <!--<div class="col-xs-12 no-padding setting-detail-box" *ngIf="editorControl.result_redo.order">
                    <span>Allow Re-calculations</span>
                    <div class="switch">
                        <label>
                            <input type="checkbox"  (click)="toggleRedo();callGA('REDOCALC')" [checked]="editorControl.result_redo.visible">
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>-->
                <!--<div class="col-xs-12 no-padding setting-detail-box powered ">
                    <span>Privacy Policy</span>
                    <div class="switch">
                        <label>
                            <input type="checkbox" [checked] = "editorControl.footer_links.visible === true" (change)="togglePrivacy()" >
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>-->
            <!--</div>-->
        </div>
    </div>