 /* Choose Template css start (sahil) */

.choosetem-topsec {
    padding-top: 35px;
    text-align: center;
    background: #f6f8f9;
    /*padding-bottom: 40px;*/
}

.choosetem-topsec h3 {
    font-size: 30px;
    font-family: montserratbold;
    color: rgba(251, 95, 102, 0.8);
    margin-top: 0px;
}

.choosetem-topsec p {
    color: rgba(102, 105, 109, 0.8);
    font-family: montserratlight;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    width: 65%;
}

.choosetemp-boxes-outr {
    float: left;
    min-height: 250px;
    padding: 35px;
    background: #f6f8f9;
    width: 100%;
    height: 100%;
}

.choosetemp-box2 {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    /*padding-right: 20px;*/
    /*min-height: 339px;*/
}

/*.choosetemp-box2.ct-box-last {
    padding-right: 0px;
}*/

.choosetemp-box2.temp1 {
    padding-right: 10px;
}

.choosetemp-box2.temp2 {
    padding-left: 10px;
}

.choosetemp-box-figure2 {
    padding-left: 0px;
    float: left;
    cursor: pointer;
    width: 100%;
    min-height: 330px;
}

.choosetemp-top1 {
    /*background-image: url(../images/choose-temp1.jpg);*/
    float: left;
    width: 100%;
    overflow: hidden;
    /*box-shadow: 0 0px 10px 1px rgba(0,0,0,0.3);*/
    min-height: 330px;
}

.choosetemp-top2 {
    background-image: url(../images/choose-temp3.jpg);
    float: left;
    width: 100%;
    box-shadow: 0 0px 10px 1px rgba(0,0,0,0.3);
}

.choosetemp-top3 {
    background-image: url(../images/choose-temp3.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
    box-shadow: 0 0px 10px 1px rgba(0,0,0,0.3);
}

.choosetemp-top4 {
    background-image: url(../images/choose-temp4.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
    box-shadow: 0 0px 10px 1px rgba(0,0,0,0.3);
}

.choosetemp-top5 {
    background-image: url(../images/choose-temp5.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
    box-shadow: 0 0px 10px 1px rgba(0,0,0,0.3);
}

.choosetemp-actions {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.choosetemp-actions .btn-red-outline {
    color: #fb545b;
    background-color: #fff;
    border-color: #ffb5b8;
    border-radius: 0;
    font-size: 11px;
    padding: 7px 35px;
    margin: 0px;
    margin-right: 0px;
    transition: all 0.3s ease 0s;
    font-family: montserratregular;
    text-transform: uppercase;
    float: right;
    margin-bottom: 5px;
}

.choosetemp-actions .btn-red-outline.hvr-sweep-to-right::before {
    background: #ffb5b8 none repeat scroll 0 0;
    color: #fff !important;
}

.choosetemp-social {
    float: right;
    padding: 0px;
}

.choosetemp-social li {
    float: left;
    width: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.choosetemp-social li a {
    float: left;
    padding: 5px;
    color: #bec5c9;
    line-height: 17px;
}

.choosetemp-social li a:hover {
    color: #fb545b;
}

.choosetemp-social li a i:hover {
    color: #fb545b;
}

.choosetemp-social li a i {
    float: none;
    color: #bec5c9;
    font-size: 18px;
}

.choosetemp-label {
    background: #fb5f66 none repeat scroll 0 0;
    border-radius: 58px;
    color: #fff;
    float: right;
    font-size: 11px;
    font-weight: normal;
    padding: 0 12px;
    text-transform: uppercase;
    width: auto;
    margin-right: 5px;
    margin-top: 7px;
}

.choosetemp-actions h3 {
    color: #fb5f66;
    float: left;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0px;
    font-family: montserratlight;
    /*width: 100%;*/
    text-transform: capitalize;
}

.choosetemp-actions p {
    color: #62696d;
    float: left;
    font-size: 14px;
    width: 100%;
    font-family: montserratlight;
    margin-top: 10px;
    margin-bottom: 20px;
}
.hs-wrapper{
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
}
.hs-wrapper img{
    display: none;
    z-index: 9;
}
.img-block{
    display: block !important;
}
.hs_container{
	position: relative;
    width: 100%;
    overflow: hidden;
    clear: both;
    cursor: pointer;    
    min-height: 330px;
}
.hs_container .hs_area{
	/*float: left;*/
    position: absolute;
    overflow: hidden;
}
/*.hs_area img{
	display:none;
    position: absolute;
    min-height: 339px;
    width: 100%;
}*/

.hs_area img{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
}

.hs_area img.hs_visible{
	display: block;
    z-index: 9;
    width: 100%;
    /*float: left;
    /*min-height: 339px;*/
}
.hs_area1{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}

/* Choose Template css end (sahil) */

/* Preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should be a color other than white */
    z-index: 9999;
    /* makes sure it stays on top */
}

.status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally on the screen */
    top: 50%;
    /* centers the loading animation vertically on the screen */
    background-image: url("./app/site/+builder/assets/images/logoAnim.gif");
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

/* Start: locked images */

    .not-available {
        float: left;
        width: 100%;
        /*background: #fb5f66;*/
        z-index: 9;
        position: relative;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .not-available:hover {
        background: #fb5f66;
        transition: all 0.3s ease;
    }

    /*.not-available-table {
        vertical-align: middle;
        float: none;
        display: table-cell;
    }*/

    .not-available i.material-icons {
        font-size: 30px;
        color: #fff;
        text-align: center;
        position: absolute;
        left: 45%;
        top: 40%;
        background: rgba(255,255,255,0.28);
        border-radius: 50%;
        padding: 13px;
        z-index: 99;
        display: none;
    }

    .not-available:hover i.material-icons{
        display: block;
    }

    /*.not-available .choosetemp-box-figure2 {
        background: rgba(0,0,0, 0.7);
    }*/

    /*.not-available .choosetemp-top1{
        opacity: 0.7;
    }*/

    .not-available img.hs_visible{
        display: block !important;
        z-index: 9;
        left: 0px !important;
        top: 0px !important;
        opacity: 0.5 !important;
        width: 100%
    }

    .not-available .hs_area img {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block !important;
        opacity: 0.5 !important;
        width: 100%
    }

    .not-available .choosetemp-actions h3{
        opacity: 0.5 !important;
    }

    .not-available .choosetemp-actions p{
        opacity: 0.5 !important;
}

/* End: locked images */

/* Start: Modal Template Preview */
    /*.modal#temp-preview {
        overflow-y: hidden;
    }*/

    #temp-preview.temp-preview {
        width: 100%;
        float: left;
        padding-right: 0px !important;
        padding-left: 0px !important;
        /*background: #fff;*/
        background: rgba(0, 0, 0, 0.25) !important;
        /*background: rgba(251, 84, 91, 0.9) !important;*/
    }

    #temp-preview .temp-preview-content{
      border-radius: 0px;
      /*border: 1px solid #e9eef0;*/
      float: left;
      width: 100%;
    }

    #temp-preview .temp-preview-header {
        padding: 20px 25px;
        border-bottom: none;
    }

    #temp-preview .logo-section{
        margin-bottom: 40px;
    }

    #temp-preview .logo-section span{
        display: block;
        font-size: 30px;
        color: #fb545b;
        font-family: montserratultra_light;
        line-height: 36px;
        margin-top: 10px;
    }

    #temp-preview .temp-preview-logo{
        /*margin-bottom: 50px;
        margin-top: 40px;*/
    }

    #temp-preview .temp-preview-body {
        position: relative;
        /*padding: 15px;*/
        float: left;
        width: 100%;
        /*background: #f6f8f9;*/
        z-index: 9999;
    }

    #temp-preview.temp-preview button.close.btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 9;
        opacity: 0.7;
        transition: all 0.3s ease 0s !important;
    }

    #temp-preview.temp-preview button.close.btn-close:focus, 
    #temp-preview.temp-preview button.close.btn-close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .9 !important;
    }

    #temp-preview.temp-preview button.close.btn-close i.material-icons {
        font-size: 18px;
        color: #fff;
    }    

    a.text-red{
        color: #fb545b;
    }

    a.text-red:hover, a.text-red:focus{
        color: #fa5282;
    }

    #temp-preview.temp-preview .responsive-menu {
        /*background: rgba(0, 0, 0, 0.45);*/
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 0px;
        position: relative;
        z-index: 0;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
        right: 0;
        top: 0px;
        font-size: 13px;
        background: rgba(251, 84, 91, 0.9) !important;
        padding: 10px;
        border-bottom: 1px solid #fb545b;
    }

    #temp-preview.temp-preview iframe {
        width: 100%;
        height: 100vh;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0px;
        border: none;
        margin-top: 50px;
    }
    
    #temp-preview.temp-preview .btn-red-outline {
        color: #fb545b;
        background-color: #fff;
        border-color: #ffb5b8;
        border-radius: 0;
        font-size: 11px;
        padding: 6px 30px;
        margin: 0;
        transition: all 0.3s ease 0s;
        font-family: montserratregular;
        text-transform: uppercase;
        float: none;
    }

    #temp-preview.temp-preview .btn-preview {
        margin-right: 10px !important;
        background: #fb545b !important;
        color: #fff !important;
        border: 1px solid #fb545b !important;
    }

    #temp-preview.temp-preview img.img-responsive {
        width: 100%;
    }

/* End: Modal Template Preview */

/* Start: loading dots */

    .loading:after {
        content: ' .';
        -webkit-animation: dots 1s steps(5, end) infinite;
                animation: dots 1s steps(5, end) infinite;
        font-size: 18px;
        line-height: 1px;
        position: relative;
        left: -3px;
    }

    @-webkit-keyframes dots {
        0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow: .25em 0 0 rgba(0,0,0,0),
                            .5em 0 0 rgba(0,0,0,0);
        }

        40% {
            color: white;
            text-shadow: .25em 0 0 rgba(0,0,0,0),
                         .5em 0 0 rgba(0,0,0,0);
        }

        60% {
            text-shadow: .25em 0 0 white,
                         .5em 0 0 rgba(0,0,0,0);
        }
        80%, 100% {
            text-shadow: .25em 0 0 white,
                         .5em 0 0 white;
        }
    
    }

    @keyframes dots {
        0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow: .25em 0 0 rgba(0,0,0,0),
                            .5em 0 0 rgba(0,0,0,0);
        }

        40% {
            color: white;
            text-shadow: .25em 0 0 rgba(0,0,0,0),
                         .5em 0 0 rgba(0,0,0,0);
        }

        60% {
            text-shadow: .25em 0 0 white,
                         .5em 0 0 rgba(0,0,0,0);
        }
        80%, 100% {
            text-shadow: .25em 0 0 white,
                         .5em 0 0 white;
        }
    
    }
    
/* End: loading dots */

/* Start: for disabled btn */
    .btn-red-outline:disabled {
        background: #fb545b !important;
        color: #fff !important;
    }

/* End: for disabled btn */

/* Start: responsive */

    @media screen and (min-width: 320px) and (max-width: 767px){
        .choosetem-topsec{
            /*margin-top: 40px;*/
        }

        .choosetem-topsec p{
            width: 90%;
        }

        .choosetemp-boxes-outr{
            padding: 15px;
            padding-top: 35px;
            height: 100%;
        }

        .choosetemp-box2.temp1{
            padding-right: 0;
        }

        .choosetemp-box2.temp2{
            padding-left: 0;
        }

        .choosetemp-box2{
            padding-right: 0;
            /*min-height: 304px;*/
            margin-bottom: 0px;
        }

    }

     @media screen and (min-width: 320px) and (max-width: 320px) {
        .ct-w100 {
            width: 100%;
        }

        .ct-w100 button.btn.btn-red-outline {
            float: left !important;
            margin-top: 15px !important;
        }

        .choosetemp-box-figure2 {
            min-height: 134px !important;
        }

        .choosetemp-top1 {
            min-height: 134px !important;
        }

        .hs_container {
            min-height: 134px !important;
        }

        .hs_area.hs_area1 {
            min-height: 134px !important;
        }

        .choose-temp-soon i.material-icons{
            top: 30% !important;
        }

    }

    /* samsung galaxy s3 */
    @media screen and (min-width: 360px) and (max-width: 360px) {
        .ct-w100 {
            width: 100%;
        }

        .ct-w100 button.btn.btn-red-outline {
            float: left !important;
            margin-top: 15px !important;
        }

        .choosetem-topsec{
            /*margin-top: 40px;*/
        }

        .choosetem-topsec p{
            width: 90%;
        }

        .choosetemp-boxes-outr{
            padding: 15px;
            padding-top: 35px;
            height: 100%;
        }

        .choosetemp-box2.temp1{
            padding-right: 0;
        }

        .choosetemp-box2.temp2{
            padding-left: 0;
        }

        .choosetemp-box2{
            padding-right: 0;
            margin-bottom: 0px;
        }

        .choosetemp-box-figure2 {
            min-height: 156px !important;
        }

        .choosetemp-top1 {
            min-height: 156px !important;
        }

        .hs_container {
            min-height: 156px !important;
        }

        .hs_area.hs_area1 {
            min-height: 156px !important;
        }

        .choose-temp-soon i.material-icons{
            top: 30% !important;
        }

    }
    /* samsung galaxy s3 */

    @media screen and (min-width: 480px) and (max-width: 480px) {
        .choosetemp-box-figure2 {
            min-height: 222px !important;
        }

        .choosetemp-top1 {
            min-height: 222px !important;
        }

        .hs_container {
            min-height: 222px !important;
        }

        .hs_area.hs_area1 {
            min-height: 222px !important;
        }
        
    }

    /* Acer, Lenovo, Samsung, Sony, & so on...  */
    @media screen and (min-width: 600px) and (max-width: 600px) {
        .choosetemp-box-figure2 {
            min-height: 288px !important;
        }

        .choosetemp-top1 {
            min-height: 288px !important;
        }

        .hs_container {
            min-height: 288px !important;
        }

        .hs_area.hs_area1 {
            min-height: 288px !important;
        }

    }
    /* Acer, Lenovo, Samsung, Sony, & so on...  */

    @media screen and (min-width: 640px) and (max-width: 640px) {
        .choosetemp-box-figure2 {
            min-height: 310px !important;
        }

        .choosetemp-top1 {
            min-height: 310px !important;
        }

        .hs_container {
            min-height: 310px !important;
        }

        .hs_area.hs_area1 {
            min-height: 310px !important;
        }

    }

    /* iPad mini */
    @media screen and (min-width: 768px) and (max-width: 768px) {
        .choosetemp-boxes-outr {
            padding: 35px 25px;
        }

        .choosetemp-box2.temp1 {
            padding-right: 5px;
        }

        .choosetemp-box2.temp2 {
            padding-left: 5px;
        }

        .choosetemp-actions .btn-red-outline{
            padding: 7px 28px;
        }

        .choosetemp-box2{
            padding-right: 0;
            margin-bottom: 0px;
        }

        .choosetemp-box-figure2 {
            min-height: 174px !important;
        }

        .choosetemp-top1 {
            min-height: 174px !important;
        }

        .hs_container {
            min-height: 174px !important;
        }

        .hs_area.hs_area1 {
            min-height: 174px;
        }

        .choose-temp-soon i.material-icons{
            top: 34% !important;
        }

    }
    /* iPad mini */

    @media screen and (min-width: 1024px) and (max-width:1024px) {
        .choosetemp-boxes-outr{
            padding: 35px 25px;
        }

        .choosetemp-actions h3{
            font-size: 23px;
        }

        .choosetemp-box2{
            margin-bottom: 0px;
        }

        .choosetemp-box2.temp1{
            padding-right: 5px;
        }

        .choosetemp-box2.temp2{
            padding-left: 5px;
        }

        .choosetemp-box-figure2{
            min-height: 244px !important;
        }

        .choosetemp-top1{
            min-height: 244px !important;
        }

        .hs_container{
            min-height: 244px !important;
        }

        .hs_area.hs_area1 {
            min-height: 244px !important;
        }

    }

    @media screen and (min-width: 1024px) and (max-width:1215px) {
        .choosetemp-box-figure2{
            min-height: 244px !important;
        }

        .choosetemp-top1{
            min-height: 244px !important;
        }

        .hs_container{
            min-height: 244px !important;
        }

        .hs_area.hs_area1 {
            min-height: 244px !important;
        }

    }


    @media screen and (min-width: 1280px) and (max-width:1280px) {
        .choosetemp-box-figure2{
            min-height: 302px !important;
        }

        .choosetemp-top1{
            min-height: 302px !important;
        }

        .hs_container{
            min-height: 302px !important;
        }

        .hs_area.hs_area1 {
            min-height: 302px !important;
        }        

    }

     @media screen and (min-width: 1200px) and (max-width:1300px) {
        .choosetemp-box-figure2{
            min-height: 284px !important;
        }

        .choosetemp-top1{
            min-height: 284px !important;
        }

        .hs_container{
            min-height: 284px !important;
        }

        .hs_area.hs_area1 {
            min-height: 284px !important;
        }    
    }

    @media screen and (min-width: 1300px) and (max-width:1366px) {
        .choosetemp-box-figure2{
            min-height: 284px !important;
        }

        .choosetemp-top1{
            min-height: 284px !important;
        }

        .hs_container{
            min-height: 284px !important;
        }

        .hs_area.hs_area1 {
            min-height: 284px !important;
        }    
    }

    @media screen and (min-width: 1345px) and (max-width: 1345px) {
        .hs_container{
            min-height: 324px !important;
        }
    }

    @media screen and (min-width: 1344px) and (max-width: 1365px) {
        .hs_container{
            min-height: 324px !important;
        }
    }


    @media screen and (min-width: 1373px) and (max-width: 1373px) {
        .hs_container{
            min-height: 332px !important;
        }
    }


    @media screen and (min-width: 1366px) and (max-width: 1366px) {
        .choosetemp-box-figure2{
            min-height: 330px !important;
        }

        .choosetemp-top1{
            min-height: 330px !important;
        }
        
        .hs_container{
            min-height: 330px !important;
        }

        .hs_area.hs_area1 {
            min-height: 330px !important;
        }

    }

    @media screen and (min-width: 1440px) and (max-width: 1440px) {
        .choosetemp-box-figure2{
            min-height: 350px !important;
        }

        .choosetemp-top1{
            min-height: 350px !important;
        }
        
        .hs_container{
            min-height: 350px !important;
        }

        .hs_area.hs_area1 {
            min-height: 350px !important;
        }

    }

    /* iPad */
    @media screen and (min-width: 1536px) and (max-width: 1536px) {
        .choosetemp-box-figure2{
            min-height: 378px !important;
        }

        .choosetemp-top1{
            min-height: 378px !important;
        }
        
        .hs_container{
            min-height: 378px !important;
        }

        .hs_area.hs_area1 {
            min-height: 378px !important;
        }

    }
    /* iPad */

    @media screen and (min-width: 1380px) and (max-width: 1380px) {
        .hs_container{
            min-height: 334px !important;
        }
        
    }

    @media (min-width: 1368px) and (max-width: 1920px) {
        /*.choosetemp-box2{ text-align: center;}
        .choosetemp-box-figure2{ float: none; display: inline-block; }
        .choosetemp-actions .btn-red-outline{ float: none;}*/
        .img-responsive{width: 100%;}

    }

     @media screen and (min-width: 1366px) and (max-width: 1439px) {
        .hs_container{
            min-height: 349px !important;
        }
        
    }

    @media screen and (min-width: 1517px) and (max-width: 1517px) {
        .hs_container{
            min-height: 371px !important;
        }
        
    }

    /* google nexus */
    @media screen and (min-width: 1600px) and (max-width: 1600px) {
        .hs_container{
            min-height: 394px !important;
        }
        
    }
    /* google nexus */

    @media screen and (min-width: 1680px) and (max-width: 1680px) {
        .hs_container{
            min-height: 416px !important;
        }

    }

    /* removed min-width & added max-width only for mac safari browser */
    @media screen and (max-width:1920px) {
        /*.choosetemp-box2{
            min-height: 439px;
        }

        .choosetemp-box-figure2{
            min-height: 439px;
        }

        .choosetemp-top1{
            min-height: 439px;
        }*/

        .hs_container.hs_container_1920{
            min-height: 483px;
        }

        /*.hs_area img.hs_visible {
            min-height: 439px;
        }

        .hs_area img{
            min-height: 439px;
            width: 100%;
        }*/

        .choose-temp-soon i.material-icons{
            top: 44% !important;
        }

    }

    /* macbook pro 13inch */
    @media screen and (min-width: 2560px) and (max-width: 2560px) {
        .hs_container{
            min-height: 660px !important;
        }

    }

/* End: responsive */

/* Start: coming soon templates */
    .choose-temp-soon{

    }

    .choose-temp-soon .choose-temp-soon-hover{
        display: block;
        background: rgba(251,84,91,0.3);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        transition: background 0.3s ease;
        cursor: pointer;
    }

    .choose-temp-soon i.material-icons {
        display: none;
        font-size: 30px;
        color: #fff;
        text-align: center;
        position: relative;
        top: 40%;
        background: rgba(255,255,255,0.28);
        border-radius: 50%;
        padding-top: 13px;
        z-index: 99;
        margin: 0 auto;
        width: 55px;
        height: 55px;
    }

    .choose-temp-soon i.material-icons{
        display: block;
    }

    .choosetemp-box2 .temp2 {
        padding-left: 10px;
    }

    .choosetemp-box2 .temp1 {
        padding-right: 10px;
    }

    .choose-temp-soon img.hs_visible {
        width: 100%;
    }

/* End: coming soon templates */