<div *ngIf="loading" class="col-sm-12">
    <center><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></center>
</div>
<div *ngIf="!loading">
    <div class="col-md-10">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Membership Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class=" col-md-12 col-lg-12 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Companies
                                                </td>
                                                <td>
                                                    <select (change)="refreshCompanyDetail()" [(ngModel)]="companyId">
                                                         <option *ngFor="let company of companies" [value]="company._id" >{{company.name}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Current Plan:</td>
                                                <td>
                                                    {{plan==null?'NA':plan}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Started on:</td>
                                                <td>
                                                    {{start_date==null?'NA':start_date}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Trial Start</td>
                                                <td>
                                                    {{trial_start}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Trial End</td>
                                                <td>
                                                    {{trial_end}}
                                                </td>
                                            </tr>

                                            <tr>

                                            </tr>
                                            <tr>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Billing Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class=" col-md-12 col-lg-12 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>Card Type</td>
                                                <td>
                                                    {{card?.card_type}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Customer ID</td>
                                                <td>
                                                    {{card?.customer_id}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Expiry Month</td>
                                                <td>
                                                    {{card?.expiry_month}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Expiry Year</td>
                                                <td>
                                                    {{card?.expiry_year}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Masked No</td>
                                                <td>{{card?.masked_number}}</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="col-md-12 col-sm-12 col-xs-12 np payment-history">
        <div class="col-md-12 col-sm-12 col-xs-12 np payment-history-details-header">
            <div class="col-md-8 col-sm-8 col-xs-12 np">
                <h6 class="">Invoices</h6>
            </div>
            <div class="col-md-4 np membership-top-wrapper-sec1-right">
                <ul class="">
                    <!-- <li>
                        <a href="javascript:void(0);" class="">
                            <span class="mat-icon">
                                <i class="material-icons">help</i>
                            </span>
                            &nbsp;Billing FAQs
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="javascript:void(0);" class="">
                            <span class="mat-icon">
                                <i class="material-icons">chat_bubble</i>
                            </span>
                            &nbsp;Contact Us
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="payment-history-dialog">
            <!-- Modal content-->
            <div class="payment-history-content">
                <!-- <div class="payment-history-header ">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <h5 class="payment-history-title">Payment History</h5>
                </div> -->
                <div class="payment-history-body col-md-12 np">
                    <div class="sahil-material">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Invoice No.</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Paid Via</th>
                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let invoice of invoices" value="invoice">
                                    <tr *ngIf="isInvoiceExist">
                                        <td>{{invoice.invoiceNo}}</td>
                                        <td class="text-opacity">{{invoice.date}} </td>
                                        <td>$ {{invoice.amount_paid/100}} </td>
                                        <td class="text-opacity">Credit Card</td>
                                        <td>
                                            <a href="{{invoice.href}}" class="invoiceId pdf-download" target="_blank">
                                                PDF
                                                <!-- <i class="material-icons">file_download</i> -->
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr *ngIf="!isInvoiceExist">
                                        <td></td>
                                        <td></td>
                                        <td colspan="5" class="no-invoice">
                                            No Invoice has been raised
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="payment-history-footer col-md-12 np">
                    <div class="col-md-5 np"></div>
                    <div class="col-md-7 np">
                        <!--<button type="" class="btn btn-red-outline btn-hover">Approve Request</button>-->
                        <ul class="pagination hide">
                            <li><a href="javascript:void(0);">1</a></li>
                            <li><a href="javascript:void(0);">2</a></li>
                            <li><a href="javascript:void(0);">3</a></li>
                            <li><a href="javascript:void(0);">4</a></li>
                            <li><a href="javascript:void(0);">5</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">play_arrow</i></a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">skip_next</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>