	<div class="question-components" [formGroup]="form">
			<div class="">
				<div class="section-head" >
					<span class="pull-left">
						{{data.props.title}}
						<div class="help-outer">
							<i class="material-icons" *ngIf="data.config.showHelp">help_outline</i>
							<div class="help-text" *ngIf="data.config.showHelp">{{data.props.helpText}}</div>
						</div>
					</span> 
				</div>
				<div class="input-field">
					<input type="number" tabindex="0"
						placeholder="{{data.config.placeholder}}" 
						[(ngModel)]="data.props.currentValue"
					  	(change)="onChange($event)"
						[id]="data._id"
						[formControlName]="data._id"
						(blur)="onBlur()" 
					>
				</div>
				<div class="errorMessage" *ngIf="form.controls[data._id].touched && !isValid">{{ValidationMessage}}</div>
			</div>
		</div>