<div class="user-detail-outer">
    <div class="top-section" *ngIf="!statsResult">
        <div class="clear-set"><i class="material-icons">clear</i></div>
        <div class="name-circle loading"></div>
        <div class="detail-section">
            <h4>fetching</h4>
        </div>
    </div>
    <div class="top-section" *ngIf="statsResult">
        <div class="clear-set"><i class="material-icons">clear</i></div>
        <div class="name-circle" *ngIf="statsResult.leads!=null">{{statsResult.leads.firstName.substr(0, 2)}}</div>
        <div class="detail-section">
            <h4 *ngIf="statsResult.leads">{{statsResult.leads.firstName}}</h4>
            <h6 *ngIf="statsResult.location.city && statsResult.location.country">
                <i class="material-icons">room</i> {{statsResult.location.city}}, {{statsResult.location.country}}
            </h6>
            <h6><i class="material-icons" *ngIf="statsResult.leads.tel ">phone</i> {{statsResult.leads.tel}}</h6>
            <h6><i class="material-icons" *ngIf="statsResult.leads.email">mail_outline</i>{{statsResult.leads.email}}</h6>
            <!--<h6><i class="material-icons">public</i> Chrome</h6>-->
        </div>
    </div>
    <div class="mid-section" *ngIf="statsResult && statsResult.stats.length>0">
       <div class="outer-slim"> 
        <div class="que-outer" *ngFor="let stat of statsResult.stats">
            <div class="que-icon-outer"><i class="material-icons">live_help</i></div>
            <div class="que-section">
                <h6>{{stat.title}}</h6>
                <h6 class="ans">{{stat.label}}</h6>
            </div>
        </div>
        </div>
    </div>
</div>