/*#formula {
	height: 360px;
	background-color: #f2f2f2;
	border: 1px solid #d8d8d8;
}*/

#formula .formula-item {
	background-color: #fff;
    display: inline-block;
    text-decoration: none;
    color: #62696d;
    border: 2px solid #fb545b;
    padding: 0px;
    width: 70px;
    text-align: center;
    height: 28px;
    line-height: 25px;
	font-size: 13px;
}
#formula .formula-item:hover{
	background: #fb545b;
}
#formula.formula-active {
	border: 2px dashed #fb545b;
}

/*#drop {
	height: 200px;
	padding: 20px;
	border: 1px solid #efefef;
	overflow: hidden;
}

#drop a {
	float: left;
	width: 18%;
	height: 5em;
	line-height: 5em;
	background-color: #fafafa;
	text-decoration: none;
	color: #555555;
	border: 1px solid #e2e2e2;
	margin-right: 2%;
	text-align: center;
}*/
#drop a.formula-item{
	background: #fff;
    border: 2px solid #dae2e6;
    border-radius: 10px;
    font-family: "montserratlight";
    color: #62696d;
    font-size: 12px;
    padding: 5px 15px;
    margin-bottom: 12px;
	display: block;
	line-height: 18px;
	position: relative;
}
#drop a.formula-item:hover{
	background: #f6f8f9;
	cursor: move;
}
#drop a.formula-item:focus{
	background: #f6f8f9;
	cursor: move;
}
#drop a.formula-item.disable {
    background: #f6f8f9;
}
#drop a:last-child {
	margin-right: 0;
}

.ui-draggable-dragging {
	opacity: .5;
	position: relative;
	z-index: 9999;
}