<div [class.hide]="loader==0" class="tab-pane " id="person">
	<div class="col-md-12 col-sm-12 col-xs-12 ">
		<div class="col-md-6 col-sm-12 col-xs-12 np details-heading">Lifetime Statistics</div>
		<og-date-range-picker (date)="onDateSelect($event)"></og-date-range-picker>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 details-mt20">
		<!--<div class="col-md-2 col-sm-12 col-xs-12 details-box-outer">
            <h4><i class="material-icons">people</i> 5</h4>
            <h6>Avg. Referrals Made</h6>
        </div>-->
		<div class="col-md-2 col-sm-12 col-xs-12 details-box-outer">
			<h4><i class="material-icons">person_add</i>{{(avgAnswered)?avgAnswered:'--'}}</h4>
			<h6>Avg. Questions Answered</h6>
		</div>
		<div class="col-md-2 col-sm-12 col-xs-12 details-box-outer">
			<h4 id="reco-tool"><i class="material-icons">timeline</i>{{(avgResult)?avgResult:'--'}}
				<div class="range-checktip">{{(avgResult)?avgResult:'--'}}</div>
			</h4>
			<h6>{{(calc.templateType=='Numerical')?'Avg. Result':'Most Outcome Obtained'}}</h6>
		</div>
		<div class="col-md-2 col-sm-12 col-xs-12 details-box-outer">
			<h4><i class="material-icons">public</i>{{(mostViewedOn)?mostViewedOn:'--'}}</h4>
			<h6>Most Viewed On</h6>
		</div>
		<div class="col-md-2 col-sm-12 col-xs-12 details-box-outer">
			<h4><i class="material-icons">schedule</i>{{(avgLengthTime)?avgLengthTime:'--'}}</h4>
			<h6>Avg, Length of Visit</h6>
		</div>
		<div class="col-md-2 col-sm-12 col-xs-12 details-box-outer">
			<h4><i class="material-icons">near_me</i>{{(mostViewedVia)?mostViewedVia:'--'}}</h4>
			<h6>Most Visited Via</h6>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 details-table-outer"
		[class.recomtable]="calc.templateType=='Recommendation'"
	>
		<div class="table-responsive">
			<table id="myTable" class="display table" cellspacing="0" width="100%"></table>
		</div>
	</div>
</div>
<og-user-details-popup [visitorKey]="visitorKey"></og-user-details-popup>
<div class="loader" *ngIf="loader==0"></div>
<div *ngIf="limit_alert" class="leadlimit-alert">
	*Leads limit has crossed, please upgrade your plan <a href="" [routerLink]="['/settings']">click here</a>
</div>