<div class="tab-content tabs-wrapper col-md-12 np">

    <!-- Start: overview (1) -->
    <div *ngIf="(component=='overview' && scriptsLoaded) && !calc.liveApp" class="no-analytics-overlay">
        <img src="./app/site/+builder/assets/images/no-analytics1.jpg">
    </div>
    <og-overview *ngIf="(component=='overview' && scriptsLoaded) && calc.liveApp" [calc]="calc"></og-overview>
    <!-- End: overview (1) -->
    
    <!-- Start: person (2) -->
    <div *ngIf="(component=='user_detail' && scriptsLoaded) && !calc.liveApp" class="no-analytics-overlay">
        <img src="./app/site/+builder/assets/images/no-analytics3.jpg">
    </div>
    <og-user-details *ngIf="(component=='user_detail' && scriptsLoaded) && calc.liveApp" [calc]="calc"></og-user-details>
    <!-- End: person (2) -->

    <!-- Start: traffic (3) -->
    <div *ngIf="(component=='traffic_detail' && scriptsLoaded) && !calc.liveApp" class="no-analytics-overlay">
        <img src="./app/site/+builder/assets/images/no-analytics2.jpg">
    </div>
    <og-traffic-details *ngIf="(component=='traffic_detail' && scriptsLoaded) && calc.liveApp" [calc]="calc"></og-traffic-details>
    <!-- End: traffic (3) -->
</div>