<div class="left-sidebar col-md-3 col-sm-3 col-xs-3 np mobile-left-sidebar">
    <div id="" class="tabbable tabs-left">
        <ul>
            <li class="setting-nav active" id="userSet" (click)="showTab('users')">
                <a [routerLink]="['users']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">face</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Users</h6>
                        <span class="">See the account, membership, team and other details of all users of outgrow</span>
                    </div>
                </a>
            </li>
            <li class="setting-nav" id="compSet" (click)="showTab('companies')">
                <a [routerLink]="['companies']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">bubble_chart</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Companies</h6>
                        <span class="">See the account, membership, team and other details of all companies of outgrow</span>
                    </div>
                </a>
            </li>
       
            <li class="setting-nav" id="plnSet" (click)="showTab('plans')">
                <a [routerLink]="['plans']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">view_carousel</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Plans</h6>
                        <span class="">Manage all features of diffrent plans and also control users, templates and no of calculators. </span>
                    </div>
                </a>
            </li>
            <li class="setting-nav" id="sub_domainSet" (click)="showTab('sub_domains')">
                <a [routerLink]="['subdomains']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">bubble_chart</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Sub Domains</h6>
                        <span class="">manage the reserved and premium subdomains</span>
                    </div>
                </a>
            </li>

             <li class="setting-nav" id="email-logs" (click)="showTab('email-logs')">
                <a [routerLink]="['emailLogs']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">bubble_chart</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Email Logs</h6>
                        <span class="">Check all the Email Logs</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>