.editor-modal .modal-dialog {
    margin: 80px auto
}
.editor-modal .modal-header {
    padding: 11px 15px;
    background: #fb6066;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.editor-modal .modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff
}
.editor-modal button.close {
    color: #bdbdbd;
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Material Icons";
    content: "close";
    font-size: 23px;
    text-shadow: none;
    transition: all .3s ease 0s !important
}
.editor-modal .modal-footer {
    padding: 15px;
    border-top: none
}
.editor-modal .modal-body {
    font-size: 13px;
    color: #62696d
}
.editor-modal .btn.btn-basic {
    color: #fff;
    background: #fb545b;
    font-size: 12px;
    width: 105px;
    border: 1px solid #fb545b;
    transition: all .5s ease
}
.editor-modal .btn.btn-basic:hover {
    background: #fff;
    color: #fb545b;
    border-color: #fb545b
}
.editor-modal .btn.btn-basic:first-child {
    color: #8e989f;
    border-color: #8e989f;
    background: #fff
}
.editor-modal .btn.btn-basic:first-child:hover {
    background: #8e989f;
    color: #fff;
    border: none
}
.editor-modal .btn.btn-basic:only-child {
    color: #fff;
    background: #fb545b;
    border-color: #fb545b
}
.editor-modal .btn.btn-basic:only-child:hover {
    background: #fff;
    color: #fb545b;
    border: 1px solid #fb545b
}
.editor-modal .live-subhead i.material-icons {
    font-size: 38px;
    color: #fb6066;
    float: left;
    text-align: center;
    display: block
}
.editor-modal .live-url {
    font-size: 11px;
    font-family: montserratlight;
    color: #fb545b;
    display: inline-flex;
    margin-bottom: 0;
    text-transform: uppercase;
    cursor: pointer
}
.editor-modal .live-subhead .url-style {
    color: #a9a9a9;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    background: #ceebff;
    padding: 0 5px
}
.editor-modal .live-subhead {
    font-size: 16px;
    margin: 0 auto;
    display: block;
    background: #fff;
    border: 1px solid #bec6c9;
    border-top: 0;
    padding: 7px 10px 12px;
    text-align: left
}
.editor-modal .live-subhead.link-style {
    background: #f9f9f9;
    border: 1px solid #bec6c9;
    padding: 7px 12px;
    text-align: left
}
.editor-modal span {
    font-family: montserratlight;
    display: inline-block;
    font-size: 14px;
    color: #4d5052
}
a.live-url.preview_copy {
    float: right;
    margin-top: 5px
}
.editor-modal .modal .form-group .form-control, .editor-modal.modal .form-control {
    width: 100%;
    float: left;
    height: 27px;
    border: 1px solid rgba(93, 104, 110, .4);
    color: #61686e !important;
    font-size: 14px;
    background: #f8f8f8;
    font-family: montserratlight;
    padding: 0 10px
}
.editor-modal .form-control[disabled], .editor-modal .form-control[readonly], .editor-modal .form-group .form-control[disabled], .editor-modal .form-group .form-control[readonly], fieldset[disabled] .editor-modal .form-control, fieldset[disabled] .editor-modal .form-group .form-control {
    background-color: #f8f8f8;
    border: 1px solid rgba(97, 104, 110, .3);
    padding: 0 10px
}
.editor-modal .live-url {
    font-size: 11px;
    font-family: montserratlight;
    color: #fb545b;
    display: inline-flex;
    margin-bottom: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.editor-modal .live-subhead .url-style {
    color: #a9a9a9;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    background: #ceebff;
    padding: 0 5px
}
.icon-play-next i.material-icons {
    font-size: 38px;
    color: #fb6066 !important;
    margin-top: 10px
}
.live-modal {
    padding: 0 20px 50px
}
.live-modal td, .live-modal th {
    padding: 0 !important;
    border-bottom: 0 !important
}
.live-modal th {
    width: 100%;
    font-weight: 100
}
.selected-link {
    white-space: nowrap;
    overflow: auto;
    overflow: hidden
}
.bootbox .modal-content {
    float: left;
    width: 100%
}
.bootbox .modal-body {
    border-radius: 5px
}
.bootbox-body-left {
    float: left;
    width: 37px;
    background: #fb545b;
    border-radius: 5px 0 0 5px;
    height: 132px;
    display: table;
    margin: -15px 20px -15px -15px
}
.bootbox-body .bootbox-body-left .mat-icon {
    display: table-cell;
    vertical-align: middle;
    float: none
}
.bootbox-body .bootbox-body-left .mat-icon i.material-icons {
    padding-left: 6px;
    color: #fff;
    font-size: 24px
}
.bootbox-body .bootbox-body-right {
    float: left;
    width: 88%;
    color: #626983;
    font-size: 14px;
    font-family: montserratlight;
    padding: 5px 0 10px
}
.btn.btn-cancel, .btn.btn-ok {
    background: 0 0;
    font-size: 12px;
    font-family: montserratregular
}
.one-line-bootbox .bootbox-body-left {
    height: 102px
}
.bootbox-config .bootbox-body-left {
    height: 142px
}
.btn.btn-ok {
    border: 2px solid #fb545b;
    border-radius: 0;
    color: #fb545b !important;
    padding: 3px 42px
}
.btn.btn-cancel {
    border: 2px solid #8e989f;
    border-radius: 0;
    color: #8e989f !important;
    padding: 3px 30px;
    margin-right: 5px
}
.btn.btn-cancel.btn-cancel-hover:hover {
    background: #8e989f;
    color: #fff !important;
    border-color: #8e989f;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}
.btn-hover:hover {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background: #fdb6b9 !important;
    color: #fb545b !important;
    border-color: #fdb6b9 !important
}
.btn-hover:focus {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background: #fdb6b9 !important;
    color: #fb545b !important;
    border-color: #fdb6b9 !important
}
.btn-grey-hover:hover {
    background: #bdc5c8 !important;
    color: #fff !important;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}
.alert-success {
    color: #fff;
    background-color: #00c853;
    border-color: #00c853;
    font-size: 12px;
    font-family: montserratregular;
    text-transform: capitalize;
    padding: 7px 13px 10px;
    margin-bottom: 0;
    float: left
}
.alert-success i.material-icons {
    font-size: 16px !important;
    color: #fff;
    position: relative;
    top: 3px;
    margin-left: 5px
}
@media (min-width:768px) {
    .editor-modal .modal-dialog {
        width: 500px;
        margin: 80px auto !important
    }
}