

.dash-circle{float:left; width:80px; height:80px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px; background:#eceff0; color:#444f54;
text-align:center; font-family:montserratregular; font-size:24px; padding-top:23px; margin-right:20px;  }

.dash-prog-outer{float:left; width:300px;}
.dash-prog-outer h2{ float:left; color:#62696d; font-size:24px !important; margin-top:15px; margin-bottom:8px; font-family:montserratlight !important;} 
.dash-prog-outer h5{ float:left;color:#f56151; font-size:13px; font-family:montserratregular;  text-transform:uppercase; margin-top:0;}

.circle-sec{ float:left; width:33%;}

.circle-cal-outer{float:left; width:100px;}
.circle-cal-outer h2{ float:left; color:#62696d; font-size:24px !important; margin-top:15px; margin-bottom:5px; font-family:montserratregular !important;} 
.circle-cal-outer h5{ float:left;color:#8e989f; font-size:10px; font-family:montserratregular;  text-transform:uppercase; margin-top:0;}

.dash-circle-red{float:left; width:77px; height:77px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px; color:#cbd1d4;
text-align:center; font-family:montserratregular; padding-top:18px; margin-right:20px; border:3px solid #fb545b;  }
.dash-circle-pink{ float:left; width:77px; height:77px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px; color:#cbd1d4;
text-align:center; font-family:montserratregular; padding-top:18px; margin-right:20px; border:3px solid #ff5796;  }
.dash-circle-d-pink{ float:left; width:77px; height:77px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px; color:#cbd1d4;
text-align:center; font-family:montserratregular;  padding-top:18px; margin-right:20px; border:3px solid #c859b7;  }
.dash-circle-red i,.dash-circle-pink i,.dash-circle-d-pink i{ font-size:35px;}


/* ####  dashboard 3 boxes css start (sahil) ### */
.dash-boxes-outr{
    float: left;
    width: 100%;
    border-top: 1px solid #dae2e6;
    min-height: 250px;
    margin-top: 25px;
    padding: 35px;
}
.dash-box{
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
    min-height: 250px;
    float: left;
    width: 100%;
}
.dash-box-top{
    background-image: url(../images/dash-top.jpg);
    float: left;
    width: 100%;
    min-height: 187px;
}


.dash-box-bottom{
    padding: 28px;
    width: 100%;
}
.dash-box-bottom ul{
    padding: 0px;
    float: left;
}
.dash-box-bottom ul li{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.dash-box-bottom ul li i{
    float: left;
    color: #ccc;
    font-size: 24px;
    padding-right: 20px;
}
.dash-box-bottom ul li label{
    font-size:13px;
    color:#999999;
    float: left;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 0px;
}
.dash-box-bottom ul li span{
    font-size:20px;
    color:#fb545b;
    float: right;
    text-align: right;
}











