<div>
  <nav *ngIf="!loggedIn.isLoggedIn">
    <a *ngIf="!showLogin" data-target="#login" data-toggle="modal" href="#">LOGIN</a>
    <a *ngIf="!showLogin" [routerLink]="['/']">HOME</a>
    <!--<a [routerLink]="['/dashboard']">DASHBOARD</a>
    <a [routerLink]="['/account']">ACCOUNT</a>-->
  </nav>

  <nav *ngIf="loggedIn.isLoggedIn">
    <a href="javascript:void(0)">{{username}}</a>
    <a [routerLink]="['/dashboard']">DASHBOARD</a>
    <a [routerLink]="['/settings']">SETTINGS</a>
    <!--<a [routerLink]="['/account']">ACCOUNT</a>-->
    <!--<a [routerLink]="['/team-settings']">TEAM SETTINGS</a>-->
  </nav>
</div>
