
/* switch new css (sahil) */

.companies-card .onoffswitch {
    position: relative;
    width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.companies-card .onoffswitch-checkbox {
    display: none;
}

.companies-card .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.companies-card .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.companies-card .onoffswitch-inner:before,
.companies-card .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 13px;
    color: white;
    box-sizing: border-box;
    font-weight: normal;
}

.companies-card .onoffswitch-inner:before {
    content: "Accept";
    padding-left: 10px;
    background-color: #00c853;
    color: #FFFFFF;
    font-weight: normal;
    text-align: left;
}

.companies-card .onoffswitch-inner:after {
    content: "Accept";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.companies-card .onoffswitch-switch {
    display: block;
    width: 14px;
    height: 14px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.companies-card .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.companies-card .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#companyDetails .companyDetail-inner{
    border:1px solid #000;
    padding:10px 10px;
}
#companyDetails .companyDetail-inner .details{
    margin-top:30px;
}
.table-company-detail{
    width: 100%;
}
.table-company-detail tr{
    height:30px;
}
.table-company-detail td{
    width:50%;
}
#input-api{
    border: none;
    background: inherit;
}