<div *ngIf="page"
            class="{{page.defaultClass}} w100"
            [style.backgroundImage]="'url(' + page.bgImage + ')' | safeStyle"
            [style.backgroundColor]="page.bgColor | safeStyle"
>
    <section
            *ngFor="let section of getVisibleSections(page), let secIndex=index"
            class="{{section.defaultClass}}"
            [ngClass]="{
                'hide': section.defaultClass === 'right-section' && !section.items[0].visible,
                'w100': section.fullWidth
            }"             
    >
        <div *ngIf="page.type=='Result'">                 
            <div 
                *ngFor="let control of section.items,let i=index"
                class="{{control.defaultClass}}"
                [hidden]="!control.visible"
                [ngClass]="{
                    'result-small-section':(section.title=='Result'),
                    'result-full-section':(section.title=='Result' && ((((section.items.length - 1) % 3)==1 && control.order == section.items.length) || (control.order == 1))),
                    'result-half-section':(section.title=='Result' && (((section.items.length - 1) % 3)==2 && (control.order == section.items.length || control.order == section.items.length-1)))
                }"
            >
                <control 
                        [data]="control" 
                        *ngIf="control.visible && (control.type=='result_summary' || control.type=='result_output' || control.type=='result_header')"  
                ></control>
            </div>
        </div>
    </section>
</div>
<div *ngIf="pageStatus==='Not-Found'">
    <nav class="navbar custom-navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="assets/images/outgrow-logo.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0);">Why Calculators ?</a></li>
                    <li><a href="javascript:void(0);">Features</a></li>
                    <li><a href="javascript:void(0);">Pricing</a></li>
                    <li><a href="javascript:void(0);">Use Cases</a></li>
                    <li><a href="javascript:void(0);" class="link-login">Login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Homepage header end-->
	<!-- Homepage section 1 start-->
    <section class="section section-1">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-6 section-1-left">
                <div class="section1-left-cell">
                    <h3 class="mk-animate-element fade-in heading-404">
                        404
                    </h3>
                    <h4 class="mk-animate-element fade-in heading2-404">
                        Looks like your calc is not published yet, please<br> login and publish your calc.
                    </h4>
                    <div class="form-group mk-animate-element fade-in hide">
                        <input type="text" placeholder="Email Address" />
                    </div>
                    <div class="col-xs-12 col-sm-8 np">
                        <button class="btn-buildcal mk-animate-element fade-in login-404">Login</button>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-6 np rs-hide">
				<div class="sec1-box-left img-404">
					<div class="sec1-box1 mk-animate-element fade-in">
						<img src="assets/images/404.png" />
					</div>
				</div>
			</div>
            <div class="col-xs-12 col-sm-12 text-center footer-404">
                <i class="material-icons">copyright</i>
                <span>Copyrights</span>
                <img src="assets/images/footer-logo-dark.png" />
            </div>
        </div>
    </section>
</div>

<div *ngIf="pageStatus==='Private'">
    Calculator is no longer available for Public Use.
</div>