/*################### 404  css start ###################*/
body.main-profile{ overflow: hidden;}
.navbar-brand{
    padding: 0px;
    margin-left: 10px !important;
    margin-top: 5px;
}
.custom-navbar.navbar-default{
    background:#fff;
    border:none;
    padding: 10px;
	padding-right: 25px;
    margin: 0px;
}
.custom-navbar.navbar-default .navbar-nav > li{
    margin-right: 20px;
}
.custom-navbar.navbar-default .navbar-nav > li > a{
    font-size: 14px;
    color: #62696d;
    text-transform: uppercase;
}
.custom-navbar.navbar-default .navbar-nav > li > a:hover{
    color: #fb5f66;
}
.custom-navbar.navbar-default .navbar-nav > li > a.active{
    color: #fb5f66;
}
.custom-navbar.navbar-default .navbar-nav > li > a.line-through{
    text-decoration: line-through;
}
.custom-navbar .btn-login{
    background: #fb5f66;
    color: #fff !important;
    text-transform: none !important;
    padding: 3px 30px;
    margin-top: 10px;
    border: 2px solid #fb5f66;
}
.custom-navbar .btn-login:hover{
    border: 2px solid #fb5f66;
    background: none;
    color: #fb5f66 !important;
}
.custom-navbar .link-login{
    color: #fb6c73 !important;
    /*padding: 3px 30px;
    margin-top: 10px;
    border: 2px solid #fff;*/
	font-family:montserratbold;
}
.custom-navbar .link-login:hover{
    /*border: 2px solid #fb5f66;*/
    background: none;
    color: #fb5f66 !important;
	opacity:0.5;
}
.nav-boxshadow{
	box-shadow:0 2px 9px 1px rgba(0,0,0,0.2);
}
.section{
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-1{
    float: left;
    width: 100%;
    background: #fff; 
    padding-top: 52px;
	padding-bottom: 30px;
    margin-bottom: 0;
}
.section-1 .container-fluid{
    padding: 0px;
}
.section-1-left{
    padding-left: 55px;
    display: table;
}
.section1-left-cell{
    display: table-cell;
    height: 83vh;
    vertical-align: middle;
}
.section-1-left h3{
    float: left;
    width: 100%;
    font-size: 36px;
    font-family:montserratbold;
    color: #fb6c73;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0px;
}
.section-1-left h4{
    float: left;
    width: 100%;
    font-size: 24px;
    font-family:montserratlight;
    color: #62696d;
    margin-bottom: 30px;
}
.section-1-left input{
    padding: 10px;
    width: 70%;
}
.section-1-left .btn-buildcal{
    background: #62696d;
    border: none;
    color: #fff;
    float: left;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-top: 20px;
}
.section-1-left .btn-buildcal i{
    display: inline-block;
    float:left;
    margin-right: 10px;
}
.section-1-left .btn-bottominfo{
    float: left;
    width: 282px;
    text-align: center;
    margin-top: 10px;
}
.section-1-left .btn-bottominfo span{
    float: none;
    width: 100%;
    color: #fb6c73;
    font-size: 12px;
    font-family: montserratbold;
    text-align: left;
}
.section-1-left .btn-bottominfo label{
    float: none;
    width: 100%;
    color: #62696d;
    font-size: 12px;
    font-family: montserratlight;
}

.section-1-left h3.heading-404{
    float: left;
    width: 100%;
    font-size: 72px;
    font-family: montserratsemibold;
    color: #fb6c73;
    text-transform: uppercase;
    margin-bottom:0px;
    margin-top: 0px;
}
.section-1-left h4.heading2-404 {
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: montserratlight;
    color: #62696d;
    margin-bottom: 30px;
    line-height: 25px;
}
.section-1 .btn-buildcal.login-404{
    background: #62696d;
    border: none;
    color: #fff;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    border:2px solid #62696d;
    padding: 15px 25px;
    margin-top: 20px;
	-webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.section-1 .btn-buildcal.login-404:hover{
    background:none;
	border:2px solid #62696d;
	color:#62696d;
}
.sec1-box-left.img-404{
    margin-top: 18%;
}
.footer-404{
    position: fixed;
    bottom: 15px;
}
.footer-404 i{
    font-size: 14px;
    color: #62696d;
    position: relative;
    top: 2px;
    right: 4px;
}
.footer-404 span{
    font-family: "montserratlight";
    font-size: 14px;
    color: #62696d;
}
.footer-404 img{
    position: relative;
    top: -3px;
    right: -5px;
}


/*################### 404  css end ###################*/