<!-- Start: Modal Formula -->
<div id="formula-modal-new" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xlg">
    <!-- Modal content-->
    <div class="modal-content modal-bg">
      <div class="modal-body">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">clear</i></button>
        <div class="col-md-12 np" id="dragzone">
          <div class="col-xs-12 col-sm-3 formula-right">
            <div class="col-xs-12 np">
              <h3 class="formula-right-heading">Drag and drop questions to build your formula</h3>
            </div>
            <div class="col-xs-12 formula-question-outr">
              <div class="formula-questions scrollbar" id="drop">
                <a  class="formula-item"
                  *ngFor="let control of jsonBuilderHelper.getTemplateQuestionareWithEmittedLeadFormQuestion(); let i=index"
                  [class.hide]="control.type=='leadform_question'||control.type=='text-area'||
                  (control.type=='textfield' && (control.config.type=='text' || control.config.type=='email'))">
                  Q. {{i+1}} {{control.props.title}}
                  <!--<span title="The Response is in Percentage"
                     *ngIf="control.type=='slider' && control.props.unit=='%' && control.props.postfix">
                    <span class="asterik-popover">*</span></span>-->
                    <div class="asterik-popover"  *ngIf="control.type=='slider' && control.props.unit=='%' && control.props.postfix">
                      <i class="material-icons">info_outline</i>
                      <div class="asterik-popover-inner">It looks like the answer to this question is a percentage. Make sure to divide this variable by 100%, so as to correctly reflect the number as a percentage in the formula.</div>
                    </div>
                  </a>

                <!--<div class="formula-question-box disable">
                  Q1. What platform do you want to build on?
                </div>-->
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 formula-left">
            <div class="col-xs-12 np text-center">
              <h3 class="formula-left-heading">Formula Builder -</h3>
              <label class="formula-left-subheading">&nbsp;Result 1 </label>
              <i class="material-icons formula-heading-editing hide">create</i>
            </div>
            <div class="formula-output" tabindex="1" id="formula">
              
            </div>
            <label class="formula-helptext">You can use "+", "-", "*", and "/" operators by typing them on your keyboard.</label>
            <div class="col-xs-12 np formula-resulttable">
              <div class="col-xs-12 np">
                <label>Sample Result (based on a random selection of user responses)</label>
                <a href="javascript:void(0);" (click)="refreshClick()"> Refresh Combination</a>
              </div>
              <div class="formula-tabledata col-xs-12 scrollbar">
                <div class="for-horzscroll">
                  <table>
                    <tbody>
                      <tr id="random-ques-nums">
                        <!--<th>Q1</th>-->
                      </tr>
                      <tr id="random-ques-titles">
                        <!--<td>I wan to build an ISO app</td>-->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-xs-12 formula-tabledata-result">
                <span>Result:</span>
                <span id="final-random-value">0</span>
              </div>
            </div>
          </div>          
          <div class="col-xs-12 col-sm-3 formula-right-new">
              <div class="col-xs-12 np">
                <h3 class="formula-right-heading text-center">Formula Settings</h3>
              </div>
              <div class="col-xs-12 np formula-new-units">
                <div class="formula-footer-unit">
                  <label>Unit of Variable:
                      <!--<div class="range-tip">
                          <i class="material-icons">help</i>
                          <div class="range-checktip">If you want to show your result as a range rather than a fixed number, you can select upper and lower limits as percentages.</div>
                      </div>-->
                  </label>
                  <div class="formula-footer-range-slider">
                    <div class="switch">
                      <label>
                              <input type="checkbox" 
                                (change)=
                                "jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.prefix=!jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.prefix;
                                jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.postfix=!jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.postfix;
                      
                                updateFormulaUIComponents()"
                                [checked]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.prefix">
                              <span class="lever"></span>
                          </label>

                    </div>
                  </div>
                  <div class="formula-footer-rangetext hide" *ngIf="!jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.postfix">
                    <h3>No. unit of variable is set</h3>
                  </div>
                  <div class="col-xs-12 np">
                    <div class="formula-footer-unitinput" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.prefix">
                      <span>Prefix</span>
                      <input type="text" [(ngModel)]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.preValue" (change)="updateFormulaUIComponents()"
                        placeholder="Value" />
                    </div>
                    <div class="formula-footer-unitinput" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.postfix">
                      <span>Suffix</span>
                      <input type="text" [(ngModel)]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].units.postValue" (change)="updateFormulaUIComponents()"
                        placeholder="Value" />
                    </div>
                  </div>
                </div>
                <div class="formula-footer-range">
                  <div class="col-xs-12 np">
                    <label>Show Range:
                      <div class="range-tip">
                          <i class="material-icons">help</i>
                          <div class="range-checktip">If you want to show your result as a range rather than a fixed number, you can select upper and lower limits as percentages.</div>
                      </div>
                    </label>
                    <div class="formula-footer-range-slider">
                      <div class="switch">
                        <label>
                              <input type="checkbox" 
                                (change)="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.status=!jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.status;updateFormulaUIComponents()"
                                [checked]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.status">
                              <span class="lever"></span>
                          </label>
                      </div>
                    </div>
                  </div>
                  <div class="formula-footer-rangetext hide" *ngIf="!jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.status">
                    <h3>Showing Value in Fixed Range</h3>
                  </div>
                  <div class="formula-footer-rangeinput" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.status">
                  
                    <!--<div class="rangeinput-show" id="rangeBox">
                      <a class="close-range" (click)="closeThis()" href="javascript:void(0)"><i class="material-icons">clear</i></a>
                      <div class="rangeinput-show-left">
                        <label>Lower Bound 
                          <div class="range-tip">
                            <i class="material-icons">help_outline</i>
                              <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Percentage'">
                              The result's upper bound will be the result calculated from the formula above plus this percentage.
                              </div>
                              <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Number'">
                              The result's lower bound will be the result calculated from the formula above minus this absolute value.
                              </div>
                          </div>
                        </label>
                        <input type="text" [(ngModel)]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.value" (change)="updateFormulaUIComponents()"
                          placeholder="0" />
                      </div>
                      <div class="rangeinput-show-mid">
                        <label>to</label>
                      </div>
                      <div class="rangeinput-show-right">
                        <label>Upper Bound
                          <div class="range-tip">
                            <i class="material-icons">help_outline</i>
                            <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Percentage'">
                              The result's upper bound will be the result calculated from the formula above plus this percentage.
                              </div>
                              <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Number'">
                              The result's lower bound will be the result calculated from the formula above minus this absolute value.
                              </div>
                          </div>
                        </label>
                        <input type="text" [(ngModel)]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.higher.value" (change)="updateFormulaUIComponents()"
                          placeholder="0" />
                      </div>
                    </div>
                    -->
                    <div class="col-xs-12 show-range-new">
                      <label>Lower Bound
                        <div class="range-tip">
                            <i class="material-icons">help</i>
                              <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Percentage'">
                              The Lower Bound will be the result calculated from the formula above minus this percentage.
                              </div>
                              <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Number'">
                              The  Lower Bound will be the result calculated from the formula above minus this absolute value.
                              </div>
                          </div>
                      </label>
                      <input  type="text" id="valueLabel" (keyup)="updateFormulaUIComponents()" [(ngModel)]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.value" placeholder="Value" class="rangeinput-main" />
                      <span>%</span>
                      <!--<select id="rangeType" (change)="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type=$event.target.value;
                      jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.higher.type=$event.target.value; 
                      updateFormulaUIComponents()">
                          <option value="Number" >Number</option>
                          <option value="Percentage" >Percentage</option>
                      </select>-->
                    </div>
                    <div class="col-xs-12 show-range-new">
                      <label>Upper Bound
                        <div class="range-tip">
                            <i class="material-icons">help</i>
                            <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Percentage'">
                              The upper bound will be the result calculated from the formula above plus this percentage.
                              </div>
                              <div class="range-checktip" *ngIf="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type == 'Number'">
                              The upper bound will be the result calculated from the formula above plus this absolute value.
                              </div>
                          </div>
                      </label>
                      <input  type="text" id="valueLabel" (keyup)="updateFormulaUIComponents()" [(ngModel)]="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.higher.value" placeholder="Value" class="rangeinput-main" />
                      <span>%</span>
                      <!--<select id="rangeType" (change)="jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.lower.type=$event.target.value;
                      jsonBuilderHelper.getJSONBuilt().formula[formulaIndex].range.higher.type=$event.target.value; 
                      updateFormulaUIComponents()">
                          <option value="Number" >Number</option>
                          <option value="Percentage" >Percentage</option>
                      </select>-->
                    </div>
                  </div>
                </div>
                <div class="formula-footer-decimal">
                  <label>Decimals:</label>
                  <div class="formula-footer-decimalinput">
                    <select (change)="onChangeDecimalPlaces($event.target.value)">
                        <option [selected]="templateJson.formula[formulaIndex].decimal==0" value="0">No Decimal</option>
                        <option [selected]="templateJson.formula[formulaIndex].decimal==1" value="1">.0</option>
                        <option [selected]="templateJson.formula[formulaIndex].decimal==2" value="2">.00</option>
                        <option [selected]="templateJson.formula[formulaIndex].decimal==3" value="3">.000</option>
                        <option [selected]="templateJson.formula[formulaIndex].decimal==4" value="4">.0000</option>
                    </select>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="formula-footer-left">
          <label>Expected Result Between: </label>
          <ul id="final-result-range">
            <li>0</li>
          </ul>
        </div>
        <div class="col-xs-3 np formula-footer-right">
          <a [class.hide]="isSyntaxError" class="formula-item formula-final" (click)="getFormula($event)" data-dismiss="modal" data-formula="">Apply Formula</a>
          <a *ngIf="isSyntaxError" class="disable-formula">Apply Formula</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Modal Formula -->