<header id="setting-header" class="hide">
    <nav class="navbar navbar-default navbar-fixed-top white-logo">
      <div class="container-fluid nav-padding">
          <div class="col-xs-2 np">
              <a href="javascript:void(0);" (click)="goBack()">
                  <span class="mat-icon"><i class="material-icons">arrow_back</i></span>
              </a>
          </div>
          <div class="navbar-header col-xs-8 np">
              <!-- <a href="#" class="navbar-brand">
                  <img src="assets/images/headerLogo-white.png" class="" />
              </a> -->
              <h4 class="col-xs-12 np ellipsis title">{{sideNaveBarHeader}}</h4>
          </div>
      </div>
    </nav>
</header>
<div *ngIf="!is_subcripion_cancelled" class="left-sidebar col-md-3 col-sm-3 col-xs-3 np" id="lgScrSideNavbar">
    <div id="" class="tabbable tabs-left">
        <ul>
            <li class="setting-nav active" id="teamSet" (click)="showTab('team-setting')">
                <a [routerLink]="['/settings']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">bubble_chart</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Team Settings</h6>
                        <span class="">Invite new team members and manage user permissions</span>
                    </div>
                </a>
            </li>
            <li class="setting-nav" id="membDet" (click)="showTab('membership')">
                <a [routerLink]="['/settings/membership']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">view_carousel</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Membership Details</h6>
                        <span class="">View your plan details and invoices</span>
                    </div>
                </a>
            </li>
            <li class="setting-nav" id="apiKey" (click)="showTab('api-key')">
                <a [routerLink]="['/settings/api-integration']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">developer_board</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">API Key</h6>
                        <span class="">Copy or Regenerate your API Key used for Integration</span>
                    </div>
                </a>
            </li>
            <li class="setting-nav" id="accSet" (click)="showTab('my-account')">
                <a [routerLink]="['/settings/my-account']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">face</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">My Account</h6>
                        <span class="">View and edit your account details</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!is_subcripion_cancelled" class="left-sidebar col-md-3 col-sm-3 col-xs-3 np mobile-left-sidebar" id="smScrSideNavbar">
    <div id="" class="tabbable tabs-left">
        <ul>
            <li class="setting-nav active" id="teamSet-m" (click)="showTab('team-setting');addHide()">
                <a [routerLink]="['/settings']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">bubble_chart</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Team Settings</h6>
                        <span class="">Invite new team members and manage user permissions</span>
                    </div>
                </a>
            </li>
            <li class="setting-nav" id="membDet-m" (click)="showTab('membership');addHide()">
                <a [routerLink]="['/settings/membership']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">view_carousel</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Membership Details</h6>
                        <span class="">View your plan details and invoices</span>
                    </div>
                </a>
            </li>
            <li class="setting-nav" id="apiKey-m" (click)="showTab('api-key');addHide()">
                <a [routerLink]="['/settings/api-integration']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">developer_board</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">API Key</h6>
                        <span class="">Copy or Regenerate your API Key used for Integration</span>
                    </div>
                </a>
            </li>
            <!--<li class="hide" id="notif">
                <a href="#noti-settings" data-toggle="tab" (click)="showTab(3)">
                    <span class="left-sidebar-icon noti-icon">
                    <i class="material-icons">notifications_active</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Notification Settings</h6>
                        <span class="">Select which notifications you wish to receive and how you want to receive them.</span>
                    </div>
                </a>
            </li>-->
            <li class="setting-nav" id="accSet-m" (click)="showTab('my-account');addHide()">
                <a [routerLink]="['/settings/my-account']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">face</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">My Account</h6>
                        <span class="">View and edit your account details</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

