<div class="row">
	<b><u>Other Details: </u></b>
</div>
<div class="row divContainer">
	<div class="col-md-2">
		Source Of Lead:
	</div>
	<div class="col-md-2">

	</div>
	<div class="col-md-2">
		Account Created On:
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
		Total Logged In:
	</div>
	<div class="col-md-2">
	</div>
</div>
<div class="row divContainer">
	<div class="col-md-2">
		Demo Requested On:
	</div>
	<div class="col-md-2">

	</div>
	<div class="col-md-2">
		Course/Ebook SignUp:
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
		Total Time Logged In:
	</div>
	<div class="col-md-2">
	</div>
</div>