<div id="signUp" class="signUp">
	<div class="signUp-dialog">
		<!-- Modal content-->
		<div class="signUp-content modal-bg">
			<div class="signUp-body">
				<a id="menu-close" href="javascript:void(0);" (click)="close()">
                    <button type="button" class="close btn-close">
                    <i class="material-icons">close</i></button>
                </a>
				<div class="col-md-12 np">
					<div class="col-md-6 np signUp-left sahil-material">
						<div class="col-md-12 col-sm-12 col-xs-12 np signUp-left-inner">
							<div class="text-center logo-section">
								<!-- <p class="font-italic text-grey">or login with</p> -->
								<img class="signUp-logo" src="assets/images/outgrow-logo.png" alt="Logo">
								<span class="">Let's Give Your Interactive <br/>Content a New Home</span>

							</div>
							<div *ngIf="emailError" class="alert alert-danger custom-alert" >
								<p>
									<span class="mat-icon">
										<i class="material-icons">report_problem</i>
									</span>
									{{emailError}}
								</p>
							</div>
							<div class="col-md-12 np slide1">
								<form [formGroup]="signupFormdetail"  (ngSubmit)="userSignUp()" >
									<div class="form-group label-floating" [class.is-empty] = "model.name ==''">
										<label class="control-label" for="name">Name</label>
										<input  id="name"  type="text" class="form-control" formControlName="name" [(ngModel)]="model.name" tabindex="1">
									</div>
									<div *ngIf="signupFormdetail .controls.name.touched && !signupFormdetail.controls.name.valid || isSubmit && !signupFormdetail.controls.name.valid"  class="alert alert-danger">
										<p *ngIf="signupFormdetail.controls.name.errors.required && isSubmit">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
				                            Username is required.
			                            </p>
										<p *ngIf="signupFormdetail.controls.name.errors.minlength">
											<span class="mat-icon">
	                                            <i class="material-icons">report_problem</i>
	                                        </span>
											Min 3 character is required.
										</p>
										<p *ngIf="signupFormdetail.controls.name.errors.pattern">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Invalid Name
										</p>
									</div>

									<div class="form-group label-floating" [class.is-empty] = "model.emails.email ==''">
										<label class="control-label" for="signup_email">Company Email</label>
										<input id="signup_email" tabindex="2" type="text" class="form-control" formControlName="email"  [(ngModel)]="model.emails.email" (focus)="checkCompanyEmail()" />
									</div>
									<div *ngIf="signupFormdetail.controls.email.touched && !signupFormdetail.controls.email.valid || isSubmit && !signupFormdetail.controls.email.valid" class="alert alert-danger">
										<p *ngIf="signupFormdetail.controls.email.errors.required && isSubmit">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Email is required.
										</p>
										<p *ngIf="signupFormdetail.controls.email.errors.minlength">
											<span class="mat-icon">
	                                            <i class="material-icons">report_problem</i>
	                                        </span>
											Min 3 character is required.
										</p>
										<p *ngIf="signupFormdetail.controls.email.errors.checkmail">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Invalid Email.
										</p>
									</div>

									<div class="form-group label-floating">
										<label class="control-label" for="password">Password <span class="small-text">(Min. 8 characters)</span></label>
										<input  id="password" type="password"  class="form-control" formControlName="password" [(ngModel)]="model.password" tabindex="3">
										<a href="javascript:void(0);" id="btnShowPassword" class="forgot-btn pswrd-show" (click)="showPassword()"><i class="material-icons">visibility_off</i></a>
										<a href="javascript:void(0);" id="btnHidePassword" class="forgot-btn pswrd-show hide" (click)="hidePassword()"><i class="material-icons">visibility</i></a>
									</div>
									<div *ngIf="signupFormdetail.controls.password.dirty && !signupFormdetail.controls.password.valid || isSubmit && !signupFormdetail.controls.password.valid"  class="alert alert-danger">
										<p *ngIf="signupFormdetail.controls.password.errors.required && isSubmit">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Password is required.
										</p>
										<p *ngIf="signupFormdetail.controls.password.errors.minlength">
											<span class="mat-icon">
	                                            <i class="material-icons">report_problem</i>
	                                        </span>
											Min 8 character is required.
										</p>
									</div>

									<div class="form-group label-floating" [class.is-empty] = "model.companyname ==''">
										<label class="control-label" for="companyName">Company Name <span class="small-text">(Min 4 characters)</span></label>
										<input  id="companyname" tabindex="4" type="text"  class="form-control" formControlName="companyname" [(ngModel)]="model.companyname" (focus)="checkCompanyEmail()"  />
									</div>
									<div *ngIf="signupFormdetail.controls.companyname.touched  && !signupFormdetail.controls.companyname.valid || isSubmit && !signupFormdetail.controls.companyname.valid" class="alert alert-danger">
										<p *ngIf="signupFormdetail.controls.companyname.errors.required && isSubmit">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Company Name is required.
										</p>
										<p *ngIf="signupFormdetail.controls.companyname.errors.minlength">
											<span class="mat-icon">
	                                            <i class="material-icons">report_problem</i>
	                                        </span>
											Min 4 character is required.
										</p>
										<p *ngIf="signupFormdetail.controls.companyname.errors.pattern">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Invalid Company name
										</p>
									</div>
									<div *ngIf="isCompanyExist" class="alert alert-danger">
										<p>{{isCompanyExist}}</p>
									</div>
									<div class="form-group label-floating signup-companyUrl" [class.is-empty] = "model.domain ==''" id="url">
										<label class="control-label label-url" for="domain">Your Outgrow URL <span class="small-text">(Min 3 characters)</span></label>
										<input id="domain" type="text" tabindex="5" class="form-control" formControlName="domain"  [(ngModel)]="model.domain" (focus)="checkCompanyEmail()" placeholder="URL" />
										<label class="in-active">{{domainExtension}}</label>
									</div>

									<div *ngIf="signupFormdetail.controls.domain.touched  && !signupFormdetail.controls.domain.valid || isSubmit && !signupFormdetail.controls.domain.valid" class="alert alert-danger">
										<p *ngIf="signupFormdetail.controls.domain.errors.required && isSubmit">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Domain is required.
										</p>
										<p *ngIf="signupFormdetail.controls.domain.errors.minlength">
											<span class="mat-icon">
	                                            <i class="material-icons">report_problem</i>
	                                        </span>
											Min 3 character is required.
										</p>
										<p *ngIf="signupFormdetail.controls.domain.errors.pattern">
											<span class="mat-icon">
				                                <i class="material-icons">report_problem</i>
				                            </span>
											Invalid Url
										</p>
									</div>
									<div *ngIf="isDomainExist" class="alert alert-danger">
										<p>{{isDomainExist}}</p>
									</div>

									<div class="col-md-12 col-sm-12 col-xs-12 np text-center">
										<button type="submit" id="btnSaveDetail" class="btn btn-blue btn-red btn-signUp"  >Sign Up</button>
										<p class="have-an-acc">Already signed up?
											<a href="javascript:void(0)" class="text-red" (click)="login()" tabindex="6"> Login</a> instead
											<!--<a href="javascript:void(0)" type="submit" class="text-red" (click)="login()" >Log in</a>-->
										</p>
									</div>
								</form>
							</div>

							<div class="col-md-12 np slide2 hide">
								<div class="slide2-content">
									<form  [formGroup]="callSchedule"  (ngSubmit)="saveSchedule()" >
									<div class="form-group label-floating monthly-traffic is-empty">
										<label class="control-label " for="inputMonthlyTraffic">Monthly traffic</label>
										<input class="form-control" id="inputMonthlyTraffic" type="text" formControlName="traffic">
									</div>
									<div *ngIf="callSchedule.controls.traffic.touched  && !callSchedule.controls.traffic.valid" class="col-md-12 alert alert-danger">
										<p *ngIf="callSchedule.controls.traffic.errors.maxlength">Max 8 digits are allowed.</p>
										<p *ngIf="callSchedule.controls.traffic.errors.pattern">Traffic Should be in number</p>
									</div>

									<div class="form-group label-floating contact-num is-empty">
										<label class="control-label" for="inputLeads">Avg Leads generated every month</label>
										<input class="form-control" id="inputLeads" type="tel" formControlName="leads">
									</div>
									<div *ngIf="callSchedule.controls.leads.touched  && !callSchedule.controls.leads.valid" class="col-md-12 alert alert-danger">
										<p *ngIf="callSchedule.controls.leads.errors.maxlength">Max 8 digits are allowed.</p>
										<p *ngIf="callSchedule.controls.leads.errors.pattern">Leads Should be in number</p>
									</div>
									<div class="form-group toggle-switch">
										<label>
											Are you an agency ? &nbsp;&nbsp;
											<input type="checkbox" class="show-check" checked formControlName="companyType" >
											<span class="lever"></span>
										</label>
									</div>

									<div class="text-center">
										<button id="btnLeads" [disabled]="!signupFormdetail.valid" type="submit" class="btn btn-blue btn-red">Save</button>
										<p class="skip-step">
											<a href="javascript:void(0)" class="text-red" (click)="skip()">Skip this step</a>
											<!--<a href="#" class="text-red" data-next="#skip" data-dismiss="modal">Skip this step</a>-->
										</p>
									</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 np signUp-right">
						<div class="col-md-12 col-sm-12 col-xs-12 np signUp-right-inner">
							<div class="login-testimonial">
                                <div class="testimonial-block">
                                    <span>“</span>
                                </div>
                                <div class="testimonial-content">
                                    <span class="testi-desc">Two of our calculators went viral and completely transformed our lead generation strategy.</span>
                                    <span class="testi-client">Marketing Head @ a Top 10 Hotel Chain</span>
                                </div>
                            </div>
							<div class="col-md-12 np slide1">
								<div class="img-section">
                                    <img class="img-margin img-width login-img1" src="assets/images/login1.jpg" alt="img">
                                    <img class="img-margin img-width login-img2" src="assets/images/login2.jpg" alt="img">
                                    <img class="img-margin img-width login-img3" src="assets/images/login3.jpg" alt="img">
                                </div>
							</div>
							<!-- <div class="text-center video-wrapper">
                                <img class="img-margin img-width" src="assets/images/leadform-videowrapper.png" alt="img">
                                <iframe class="iframe-1024" width="425" height="236" src="https://www.youtube.com/embed/wFrj5kc1MLs?vq=hd720p&play=1&loop=1&autoplay=1&loop=1&playlist=wFrj5kc1MLs" frameborder="0" allowfullscreen></iframe>
                            </div> -->
							<div class="col-md-12 np slide2 hide">
								<img class="img-margin img-width slideimg2" src="assets/images/signup-slideimg2.png" alt="img">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer modal-bg2">

			</div> -->
		</div>
	</div>
</div>

<!-- Start: Modal Forgot Password -->
<div id="forgot-password" class="forgot-password hide">
	<div class="forgot-password-dialog">
		<!-- Modal content-->
		<div class="forgot-password-content modal-bg">
			<div class="forgot-password-body">
				<!-- <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
				<i class="material-icons">close</i></button> -->
				<div class="col-md-12 col-sm-12 col-xs-12 np">
					<div class="col-md-6 col-sm-12 col-xs-12 np forgot-password-left sahil-material">
						<div class="text-center logo-section">
							<img class="forgot-password-logo" src="assets/images/outgrow-logo.png" alt="Logo">
							<span class="">Let's Give Your Interactive Content a New Home</span>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 np">
						<form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
							<div class="form-group label-floating is-empty">
					            <label class="control-label" for="inputEmail"> Email</label>
								<input class="form-control" id="inputEmail" type="email" name="email" formControlName="forgetemail" (focus)="checkEmail()"  />
				          	</div>
							<div *ngIf="forgetPasswordForm.controls.forgetemail.touched && !forgetPasswordForm.controls.forgetemail.valid" class="alert alert-danger">
									<p *ngIf="forgetPasswordForm.controls.forgetemail.errors.required">Email is required.</p>
									<p *ngIf="forgetPasswordForm.controls.forgetemail.errors.minlength">Min 3 character is required.</p>
									<p *ngIf="forgetPasswordForm.controls.forgetemail.errors.checkmail">Invalid Email.</p>
							</div>
							<div *ngIf="forgetPasswordError" class="alert alert-danger" >
								<p>{{forgetPasswordError}}</p>
							</div>
							<div class="val-success-msg success-message hide" id="success-mailSent">
								<span class="icon-success">
									<i class="material-icons">check_circle</i>
								</span>
								{{mailSent}}
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 np text-center">
								<button type="submit" id="btnReset" [disabled]="!forgetPasswordForm.valid" class="btn btn-red btn-reset">Reset Password</button>
								<p class="or-login">
									<a href="login.html" class="text-red"> Login</a>
								</p>
							</div>
						</form>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 np forgot-password-right">
						<div class="col-md-12 np">
							<img class="img-margin img-width" src="assets/images/login-img1.png" alt="img">
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">

			</div> -->
		</div>
	</div>
</div>
<!-- End: Modal Forgot Password -->
