<div class="tab-pane" id="traffic">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <og-date-range-picker (date)="onDateSelect($event)"></og-date-range-picker>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class=" traffic-graph-outer" [class.traffic-graph-height]="geoLoader !== 'done'">
            <div class="col-md-5 col-sm-12 col-xs-12 np" *ngIf="geoLoader == 'done'">
                <h4>Top Geographies</h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 np">
                <div id="regions_div" ></div>
            </div>
            <div class="light-loader-outer traffic1" *ngIf="geoLoader !== 'done'">
                <div class="loader" *ngIf="geoLoader === 'loading'"></div>
                <p *ngIf="geoLoader !== 'loading'">{{geoLoader}}</p>
                <a class="icon-link" *ngIf="geoLoader !== 'loading'"><i class="material-icons">refresh</i></a>
            </div>
        </div>
        <div class="traffic-graph-outer" [class.traffic-graph-height]="deviceLoader !== 'done'">
            <div class="col-md-6 col-sm-12 col-xs-12 np" *ngIf="geoLoader == 'done'">
                <h4>Devices</h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 np">
                <div id="piechart" class="chart-position" ></div>
            </div>
            <div class="light-loader-outer traffic2" *ngIf="deviceLoader !== 'done'">
                <div class="loader" *ngIf="deviceLoader === 'loading'"></div>
                <p *ngIf="deviceLoader !== 'loading'">{{deviceLoader}}</p>
                <a class="icon-link" *ngIf="deviceLoader !== 'loading'"><i class="material-icons">refresh</i></a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="traffic-graph-outer" [class.traffic-graph-height]="socialLoader !== 'done'">
            <div class="col-md-6 col-sm-12 col-xs-12 np" *ngIf="geoLoader == 'done'">
                <h4>Traffic Sources</h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 np">
                <div id="piechart1" class="chart-position" ></div>
            </div>
            <div class="light-loader-outer traffic3" *ngIf="socialLoader !== 'done'">
                <div class="loader" *ngIf="socialLoader === 'loading'"></div>
                <p *ngIf="socialLoader !== 'loading'">{{socialLoader}}</p>
                <a class="icon-link" *ngIf="socialLoader !== 'loading'"><i class="material-icons">refresh</i></a>
            </div>
        </div>
        <div class="traffic-graph-outer" [class.traffic-graph-height]="browserLoader !== 'done'">
            <div class="col-md-6 col-sm-12 col-xs-12 np" *ngIf="geoLoader == 'done'">
                <h4>Browser</h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 np">
                <div id="piechart2" class="chart-position" ></div>
            </div>
            <div class="light-loader-outer traffic4" *ngIf="browserLoader !== 'done'">
                <div class="loader" *ngIf="browserLoader === 'loading'"></div>
                <p *ngIf="browserLoader !== 'loading'">{{browserLoader}}</p>
                <a class="icon-link" *ngIf="browserLoader !== 'loading'"><i class="material-icons">refresh</i></a>
            </div>
        </div>
    </div>
</div>