<div  id="login" class="login">
    <div class="login-dialog">
        <!-- Modal content-->
        <div class="login-content modal-bg">
            <div class="login-body">
                <a id="menu-close" href="javascript:void(0);" (click)="closeLogin()">
                    <button type="button" class="close btn-close">
                    <i class="material-icons">close</i></button>
                </a>
                <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <div class="col-md-6 col-sm-6 col-xs-12 np login-left">
                        <div class="col-md-12 col-sm-12 col-xs-12 np login-left-inner">
                            <div class="text-center logo-section">
                                <!-- <p class="font-italic text-grey">or login with</p> -->
                                <img class="login-logo" src="assets/images/outgrow-logo.png" alt="Logo">
                                <span class="">Let's Give Your Interactive <br/>Content a New Home</span>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 np sahil-material">
                                <div *ngIf="ErrorMessageIsVisible" class="alert alert-danger custom-alert">
                                    <p>
                                        <span class="mat-icon">
                                            <i class="material-icons">report_problem</i>
                                        </span>
                                        {{ErrorMessage}}
                                      <a href="javascript:void(0);" *ngIf="resendEmailShow" (click)="resendEmail()">Click here to resend verification link</a>
                                    </p>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                    <div class="form-group label-floating"  [class.is-empty] = "model.emails.email ==''">
                                        <label for="inputEmail" class="control-label">Email</label>
                                        <input id="inputEmail" type="email"  class="form-control" formControlName="email" (focus)="hideErrorMessage()" tabindex="1">
                                    </div>
                                    <div *ngIf="loginForm.controls.email.touched  && !loginForm.controls.email.valid" class="alert alert-danger">
                                        <p *ngIf="loginForm.controls.email.errors.required">
                                        <span class="mat-icon">
                                            <i class="material-icons">report_problem</i>
                                        </span>
                                        Email is required.</p>
                                        <p *ngIf="loginForm.controls.email.errors.checkmail">
                                        <span class="mat-icon">
                                            <i class="material-icons">report_problem</i>
                                        </span>
                                        Invalid Email.</p>
                                    </div>
                                    <div class="label-floating form-group is-empty">
                                        <label for="inputPassword" class="control-label">Password</label>
                                        <input id="inputPassword" type="password"  class="form-control" required formControlName="password" (focus)="hideErrorMessage()" tabindex="2">
                                        <a href="javascript:void(0)" class="forgot-btn" (click)="forgetPassword()" tabindex="3">Forgot Password ?</a>
                                    </div>
                                    <div *ngIf="loginForm.controls.password.touched  && !loginForm.controls.password.valid" class="alert alert-danger">
                                        <p *ngIf="loginForm.controls.password.errors.required">
                                            <span class="mat-icon">
                                                <i class="material-icons">report_problem</i>
                                            </span>
                                            Password is required.
                                        </p>
                                        <p *ngIf="loginForm.controls.password.errors.minlength">
											<span class="mat-icon">
	                                            <i class="material-icons">report_problem</i>
	                                        </span>
											Min 8 character is required.
										</p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 np text-center">
                                        <button (click)="callGA()" type="submit" [disabled]="!loginForm.valid" class="btn btn-red next-step btn-login" id='loginSubmit'>Login</button>
                                        <p class="dont-acc-signup" *ngIf="isDomainExist" >     Logging in for the first time?
                                            <a class="text-red" (click)="signUp()" tabindex="4"> Sign up</a> instead
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 np login-right">
                        <div class="col-md-12 col-sm-12 col-xs-12 np login-right-inner">
                            <div class="login-testimonial">
                                <div class="testimonial-block">
                                    <span>“</span>
                                </div>
                                <div class="testimonial-content">
                                    <span class="testi-desc">Two of our calculators went viral and completely transformed our lead generation strategy in a competitive market.</span>
                                    <span class="testi-client">Marketing Executive at a Top 10 Hotel Chain</span>
                                </div>
                            </div>
                            <!-- <img class="img-margin img-width" src="assets/images/login-screen1.jpg" alt="img"> -->
                            <div class="img-section">
                                    <img class="img-margin img-width login-img1" src="assets/images/login1.jpg" alt="img">
                                    <img class="img-margin img-width login-img2" src="assets/images/login2.jpg" alt="img">
                                    <img class="img-margin img-width login-img3" src="assets/images/login3.jpg" alt="img">
                                </div>
                            <!-- <div class="text-center video-wrapper">
                                <img class="img-margin img-width" src="assets/images/leadform-videowrapper.png" alt="img">
                                <iframe class="iframe-1024" width="425" height="236" src="https://www.youtube.com/embed/wFrj5kc1MLs?vq=hd720p&play=1&loop=1&autoplay=1&loop=1&playlist=wFrj5kc1MLs" frameborder="0" allowfullscreen></iframe>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">

            </div> -->
        </div>
    </div>
</div>

<og-payment-modal></og-payment-modal>


<!--
<div *ngIf="ErrorMessageIsVisible" class="modal fade show in danger" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>{{ErrorMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>-->

<!--<script>
    $(document).ready(function(){

        $('#menu-close').click(function(){
            $(".login").fadeOut(300);
        });
    }
</script>-->
