ul,li{
  list-style: none;
}
a:hover, a:focus{
  transition: all 0.3s ease 0s !important;
}
a:focus, img:focus, button:focus{
  outline: none !important;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-flat{
  border-radius: 0px;
}
.orange-text{
  color: #e97252;
}
.btn-basic{
  color: #e97252;
  border: 1px solid #dae2e6;
  font-size: 13px;
}
.btn-basic2{
  color: #e97252;
  border: 1px solid #dae2e6;
  font-size: 11px;
  background: #f6f8f9;
  padding: 10px;
}
.btn-basic2 i{
  color: #e97252;
  font-size: 14px;
  position: relative;
  top: 3px;
}
.no-padding{
  padding: 0px;
}
.position-right{
  right: 0px;
}
.navbar-fixed-top .nav-padding{
  padding-left: 30px;
  padding-right: 30px;
}
.template-outr{
  padding-left: 30px;
}
.template-outr .no-padding{
  padding: 0px;
}
.sidebar-offcanvas{
  padding-right: 30px;
}
.navbar-rightside{
  float: right;
  margin-top: 13px;
}
.navbar-default{
  background: #fff;
  border-color: #dae2e6;
  padding-bottom: 10px;
}
.navbar-logopadding{
  padding-right: 35px;
}
.ed-projectname{
  border-left: 1px solid #dae2e6;
  color: #5cc9e6;
  float: left;
  font-size: 18px;
  margin-top: 13px;
  padding-bottom: 5px;
  padding-top: 4px;
  padding-left: 20px;
}

.navbar-rightside .btn-basic{
  margin-right: 15px;
}
.navbar-leftside{
  border-left: 1px solid #dae2e6;
  color: #5cc9e6;
  font-size: 18px;
  margin-left: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-top: 4px;

}
.navbar-leftside label{
  font-size: 14px;
  color: #8e989f;
  font-weight: normal;
  cursor: pointer;
}
.navbar-leftside label i{
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.navbar-leftside label i:last-child {
    margin-left: 15px;
}
.navbar-leftside.btn-group.open .dropdown-toggle{
  box-shadow:none;
}

/* sidebar css start */
.sidebar-layout{
  height: 100vh;
  border:1px solid #dae2e6;
  box-shadow: -2px 0 6px -1px rgba(0, 0, 0, 0.2);
}
.sidebar-topselector{
  border-bottom: 1px solid #dae2e6;
  font-size: 13px;
  color: #8e989f;

}
.card-layout{
  display: block;
  padding: 8px 20px;
}
.card-layout .dropdown-toggle{
  cursor: pointer;
}
.card-layout.open .dropdown-toggle{
  box-shadow: none;
}
.card-layout i{
  font-size: 14px;
  position: relative;
  top: 3px;
}
.sidebar-bottomoutr{
  padding: 20px;
}
.layout-select{
  border-bottom: 1px solid #dae2e6;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.layout-select-box{
  float: left;
}
.layout-select a{
  transition: all 200ms ease-in 0s;
  border:3px solid #fff;
  display: inline-block;
}
.layout-select .layout-select-box:first-child{
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 14px;
}
.layout-select a:hover{
  border:3px solid #62cbe8;
}
.layout-select a.active{
  border:3px solid #62cbe8;
}
.layout-select span{
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
.color-select{
  border-bottom: 1px solid #dae2e6;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.color-select ul{
  float: left;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}
.color-select ul li{
  float: left;
  width: auto;
  margin-right: 10px;
}
.color-select ul li a.color-option{
  float: left;
  width: 24px;
  height: 24px;
}
.blue{
  background: #62cbe8;
}
.green{
  background: #28c2ba;
}
.orange{
  background: #e97252;
}
.background-select{
  border-bottom: 1px solid #dae2e6;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.background-select span{
  float: left;
  width: 100%;
}
.background-select span:nth-child(2){
  float: left;
  width: 100%;
  margin-bottom: 10px;
  color: #c7cdd0;
  font-size: 12px;
}
.background-select button:nth-child(4){
  margin-left: 10px;
}
/* sidebar css end */



/* responsive tabs css start */

.panel-heading {
    padding: 0
}
.panel-heading a {
    display: block;
    padding: 20px 10px;
}
.panel-heading a.collapsed {
    background: #fff
}
.panel-heading a {
    background: #f7f7f7;
    border-radius: 5px;
}
.panel-heading a:after {
    content: '-'
}
.panel-heading a.collapsed:after {
    content: '+'
}
.nav.nav-tabs li a,
.nav.nav-tabs li.active > a:hover,
.nav.nav-tabs li.active > a:active,
.nav.nav-tabs li.active > a:focus {
    border-bottom-width: 0px;
    outline: none;
}
.nav.nav-tabs li a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tab-pane {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
}

/* used for sidebar tab/collapse*/
@media (max-width: 991px) {
  .visible-tabs {
    display: none;
  }
}

@media (min-width: 992px) {
  .visible-tabs {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .hidden-tabs {
    display: none !important;
  }
}


/* responsive tabs css end */



/* start: product css*/

/* start: common css */
.np{padding: 0px;}
.clearfix {
    clear: both;
    float: left;
    width: 100%;
}
.text-center{
  text-align: center;
}
.section {
    width: 100%;
    float: left;
}
a:hover, a:focus{text-decoration: none; color: #8e989f;}
.font-italic{font-style: italic;}
.text-grey{color: #8e989f;}
.dis-block{display: block;}
/* end: common css */

#main {
    height: 100%;
    width: 100%;
    float: left;
}
#main .container {
    width: 100%;
    padding: 0 30px;
}

/* Start: header section */
#header {
    height: 65px;
}
#header .logo {
    padding-right: 40px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#header .logo a img.standard-logo {
    display: block;
    max-width: 100%;
}
.logo {
    /*float: left;*/
    font-size: 32px;
    line-height: 100%;
    height: 35px;
}
#header .menu {
    /*float: right;
    width: 83%;*/
    margin-top: 20px;
}
.navbar {
    margin-top: 20px;
    min-height: 35px;
}
.top-search{
    /*float: left;
    width: 90%;  */
    border-right: 1px solid #dae2e6;
    border-left: 1px solid #dae2e6;
    padding-left: 30px;
}
.top-search .form-group {
    padding-bottom: 0;
    margin: 0;
}
.top-search input{
    font-size: 14px;
    color: #bec5c9;
    font-family: robotoregular !important;
    box-shadow: none;
    border: none;
    float: left;
    width: 95%;
}
.top-search input.form-control:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
    background: none;
}
.top-search input[type=text] {
    font-size: 14px;
    color: #bec5c9;
    border: none;
    background: none;
    padding: 6px 12px;
    margin-bottom: 0px;
}
.top-search input::-webkit-input-placeholder {
    font-size: 14px !important;
}
.top-search span.icon {
    float: left;
    margin-top: 10px;
}
.top-search span.icon i{
    font-size: 18px;
    color: #bec5c9;
}
.login{
  /*float: right;
  width: 10%;*/
}
.login-text {
    float: right;
    color: #8e989f;
    font-size: 14px;
    padding-top: 5px;
}
.login .login-text span.icon i {
    font-size: 18px;
    color: #ee795a;
    top: 0px;
    position: relative;
}
.login a:hover.login-text {
    text-decoration: none;
    color: #8e989f;
}
.signup-text{
    float: right;
    color: #8e989f;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 15px;
}
.login .signup-text span.icon i {
    font-size: 18px;
    color: #ee795a;
    top: 0px;
    position: relative;
}
.login a:hover.signup-text, .login a:focus.signup-text, .login a:active.signup-text {
    text-decoration: none;
    color: #8e989f;
}

/* End: header section */

/* start: tabs section */
.main-tabs .nav>li>a {
    padding: 8px 40px;
    font-size: 13px;
    color: #8e989f !important;
    line-height: 20px;
    border-right: 1px solid #e9eef0 !important;
    border-radius: 0;
    margin-right: 0px;
    width: 185px;
    text-align: center;
}
.main-tabs .nav-tabs>li.active>a, .main-tabs .nav-tabs>li.active>a:focus, .main-tabs .nav-tabs>li.active>a:hover {
    color: #8e989f !important;
    cursor: pointer;
    background-color: #e9eef0 !important;
    border: none;
    border-bottom-color: transparent;
}
.main-tabs .nav>li>a:hover {
    background-color: #e9eef0 !important;
    color: #8e989f !important;
}
.main-tabs .nav-tabs {
    border-bottom: 1px solid #e9eef0;
    border-top: 1px solid #e9eef0;
    background: none;
}
.main-tabs .tab-pane {
    background: #fff;
    padding: 10px 0;
    border: none;
    margin-top: 0px;
    float: left;
}
.main-tabs h1{
  font-size: 24px;
  color: #8e989f;
  font-family: 'robotoregular';
}
.main-tabs p{
  font-size: 14px;
  color: #8e989f;
  font-family: 'robotoregular';
}
.main-tabs hr {
    margin-top: 30px;
    margin-bottom: 35px;
    border: 0;
    border-top: 1px solid #e9eef0 !important;
}
.btn-blue {
    color: #fff !important;
    background-color: #5cc9e6 !important;
    border-color: #5cc9e6 !important;
    border-radius: 0 !important;
    padding: 7px 60px !important;
    margin-top: 15px !IMPORTANT;
    margin-right: 25px !important;
    transition: all 0.3s ease 0s;
    text-transform: none !important;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    color: #fff;
    background-color: #57bdd8;
    border-color: #57bdd8;
    box-shadow: none;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #e9eef0 !important;
}
/* end: tabs section */

/* Start: sec featured */
.featured-section{
   float: left;
   width: 100%;
}
.featured-section h2{
  font-size: 22px;
  color: #269fd8;
  margin-bottom: 5px;
  margin-top: 0;
}
.featured-section span{
  color: #8e989f;
  font-size: 14px;
}
.featured-section .featured-text-block {
    line-height: 22px;
}
.featured-section .icon i.material-icons {
    font-size: 48px;
    color: #c2c9cd;
}
.featured-section .icon-list{
    margin-right: 15px;
    position: relative;
}
.featured-section .icon-list span.badge {
    position: absolute;
    bottom: 0;
    right: 0px;
    background: #f65a30;
    color: #fff;
    font-size: 10px;
    font-family: robotobold;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.18);
}
.featured-section .icon-list.active .icon i.material-icons {
    color: #8e989f;
}
.featured-section .icon-list.active .icon i.material-icons {
    color: #8e989f;
}
.featured-section .icon-list .icon i.material-icons:hover {
    color: #8e989f;
}
.featured-list{margin-top: 25px;}
/* End: sec featured */

/* start: footer */
.footer-main{
  float: left;
  width: 100%;
}
.footer-top{
  float: left;
  width: 100%;
  background: #e9eef0;
  padding: 20px 10px 30px;
}
.footer-main .footer-top p{
    font-size: 13px;
    color: #8e989f;
    line-height: 18px;
    margin-top: 15px;
}
.footer-main .footer-top .footer-social-icons{
    margin-top: 30px;
}
.footer-main .footer-top .footer-social-icons a img{
    margin-right: 5px;
}
.footer-bottom{
  float: left;
  width: 100%;
  margin: 25px 0px 15px;
}
.footer-bottom a{
  color: #bbc1c5;
  font-size: 12px;
}
.footer-bottom a:hover, .footer-bottom a:focus, .footer-bottom a:active{
  text-decoration: none;
  color: #8e989f;
}
.footer-bottom p.copyright{
  font-size: 13px;
  color: #bbc1c5;
  text-align: right;
}

/* end: footer */

/* Start: Modal Forms Materiliaze CSS */
    .modal i.material-icons {
        font-size: 18px;
        color: #fff;
    }

    .modal button.close.btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 9;
        opacity: 0.7;
         transition: all 0.3s ease 0s !important;
    }

    .modal .close:focus, .modal .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .9 !important;
    }

    .modal-open .modal {
        overflow-x: hidden;
    }

    .modal{
        font-family: montserratregular;
    }

    .modal .form-control {
        height: 38px;
        padding: 7px 0;
        font-size: 14px;
        line-height: 1.42857143;
        font-family: montserratregular;
        color: #62696d;
    }

    .modal .form-group label.control-label {
        font-size: 14px;
        line-height: 1.07142857;
        color: #8e989f;
        font-weight: 400;
        margin: 16px 0 0 0;
        font-family: montserratregular;
    }

    .modal .form-group.label-floati62696dng label.control-label,
    .modal .form-group.label-placeholder label.control-label {
        top: -7px;
        font-size: 14px;
        line-height: 18px;
    }

    .modal .form-group.label-floating:not(.is-empty) label.control-label {
        top: -20px;
        font-family: montserratregular;
        font-size: 10px !important;
        text-transform: uppercase;
        color: #8e989f !important;
    }

    .modal .form-group.label-floating.is-focused label.control-label {
        top: -20px;
        font-size: 10px !important;
        font-family: montserratregular;
        color: #fb545b !important;
    }

    .modal .form-group.is-focused label,
    .modal .form-group.is-focused label.control-label {
        color: #8e989f;
        text-transform: uppercase;
    }

    .modal .form-control,
    .modal .form-group .form-control {
      border: 0;
      background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
    }

    .modal .form-group.is-focused .form-control {
      outline: none;
      background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
      background-size: 100% 2px, 100% 1px;
      box-shadow: none;
      transition-duration: 0.3s;
    }

    .modal .form-group {
        padding-bottom: 7px;
        margin: 12px 0 0 0;
        clear: both;
    }

    .modal-backdrop {
        background: rgba(0, 0, 0, 0.99) !important;
    }

/* End: Modal Forms Materiliaze CSS */

/* end: product css*/

/* custom material css start (sahil) */
    .sahil-material .form-control {
        height: 38px;
        padding: 7px 0;
        font-size: 14px;
        line-height: 1.42857143;
        font-family: montserratregular;
        color: #62696d;
    }
    .sahil-material .form-group label.control-label {
        font-size: 14px;
        line-height: 1.07142857;
        color: #8e989f;
        font-weight: 400;
        margin: 16px 0 0 0;
        font-family: montserratregular;
    }
    .sahil-material .form-group label.control-label.seo-static-label{
        text-transform: uppercase !important;
        font-size: 11px;
        color: #8e989f !important;
    }
    .sahil-material .form-group.label-floating label.control-label,
    .sahil-material .form-group.label-placeholder label.control-label {
        top: -7px;
        font-size: 14px;
        line-height: 18px;
        color: #8e989f;
    }
    .sahil-material .form-group.label-floating:not(.is-empty) label.control-label {
        top: -20px;
        font-family: montserratregular;
        font-size: 11px;
        text-transform: uppercase;
        color: #8e989f !important;
    }
    .sahil-material .form-group.label-floating.is-focused label.control-label {
        top: -20px;
        font-size: 11px;
        font-family: montserratregular;
        color: #8e989f !important;
    }
    .sahil-material .form-group.is-focused label,
    .sahil-material .form-group.is-focused label.control-label {
        font-size: 11px;
        font-family: montserratregular;
        color: #8e989f !important;
        text-transform: uppercase;
    }
    .sahil-material .form-control,
    .sahil-material .form-group .form-control {
        border: 0 !important;
        background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
    }
    .sahil-material .form-group.is-focused .form-control {
        outline: none;
        background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
        background-size: 100% 2px, 100% 1px;
        box-shadow: none;
        transition-duration: 0.3s;
    }

/* custom material css end (sahil) */


/* Start: Modal Login (materialize) */
    #login.login {
        width: 100%;
        float: left;
            margin-top: -60px;
    }

    #login .login-content{
      border-radius: 0px;
      /*border: 1px solid #e9eef0;*/
      float: left;
      width: 100%;
    }

    #login .login-header {
        padding: 20px 25px;
        border-bottom: none;
    }

    #login .logo-section{
        margin-bottom: 40px;
    }

    #login .logo-section span{
        display: block;
        font-size: 30px;
        color: #fb545b;
        font-family: montserratultra_light;
        line-height: 36px;
        margin-top: 10px;
    }

    #login .login-logo{
        /*margin-bottom: 50px;
        margin-top: 40px;*/
    }

    #login .login-body {
        position: relative;
        padding: 0px;
        float: left;
        width: 100%;
        /*background: #f6f8f9;*/
        z-index: 9999;
    }

    #login .login-left{
        width: 50%;
        float: left;
        padding: 40px 40px 40px 30px;
        display: table;
        height: 100vh;
        /*margin-top: 35px;*/
        background: #fff;
    }

    #login .login-left-inner {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    #login .login-right {
        background: #fb545b;
        float: left;
        width: 50%;
        /*min-height: 350px;*/
        height: 100vh;
        padding: 30px;
        display: table;
        /*margin-top: 35px; */
    }

    #login .login-right-inner {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    /*#login .img-margin{
        margin: 40px 0px 15px;
    }*/

    #login .img-section {
        float: left;
        width: 100%;
        margin: 40px 0px 0px;
        /*margin-left: 5% !important;*/
        position: relative;
        min-height: 365px;
    }

    #login .img-width{
        width: auto;
        /*margin-left: 5% !important;*/
        box-shadow: -9px -9px 12px rgba(0, 0, 0, 0.14);
        /*position: relative;*/
    }

    .login-img1 {
        position: absolute;
        left: 30px;
        top: 0;
    }

    .login-img2 {
        position: absolute;
        left: 233px;
        top: 78px;
        z-index: 9;
    }

    .login-img3 {
        position: absolute;
        left: 130px;
        top: 180px;
        z-index: 9;
    }

    #login .input-group {
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid #d7dbdd;
    }

    #login .input-field {
        float: left !important;
        /* width: 100% !important; */
        border: none;
        box-shadow: none;
        color: #8e989f;
        font-size: 14px;
        font-family: montserratregular;
        padding: 0;
    }

    #login input[type="email"]::-webkit-input-placeholder,
    #login input[type="password"]::-webkit-input-placeholder,
    #login input[type="text"]::-webkit-input-placeholder {
      color: #8e989f !important;
    }

    #login.login .form-group label.control-label {
        font-size: 14px;
        line-height: 1.07142857;
        color: #8e989f;
        font-weight: 400;
        margin: 16px 0 0 0;
        font-family: montserratregular;
    }

    #login .dont-acc-signup {
        color: #62696d;
        font-size: 12px;
        font-family: montserratregular;
        margin-bottom: 0px;
        padding-top: 10px;
    }

    #login .forgot-btn {
        position: absolute;
        right: 2px;
        bottom: 25px;
        z-index: 9;
        color: #fb545b;
        font-size: 11px;
        text-transform: uppercase;
    }

    #login .forgot-btn:hover,  #login .forgot-btn:focus{
        color: #fa5282;
    }

    #login .btn-login{
        margin-top: 40px !important;
        margin-bottom: 0px !important;
    }

    #login.login .val-success-msg {
        float: left;
        margin: 0;
    }

    #login.login button.close.btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 9;
        opacity: 0.7;
        transition: all 0.3s ease 0s !important;
    }

    #login.login button.close.btn-close:focus, #login.login button.close.btn-close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .9 !important;
    }

    #login.login button.close.btn-close i.material-icons {
        font-size: 18px;
        color: #fff;
    }

    #login.login .alert.alert-danger {
        background: none !important;
        position: relative;
        width: 100%;
    }

    #login.login .alert.alert-danger p{
        position: absolute;
        width: 100%;
    }
    #login.login .alert.alert-danger.custom-alert{ padding: 10px; background: #feddde !important;}
    #login.login .alert.alert-danger.custom-alert p{position: relative;}
    #login.login{
    width: 100%;
    float: left;
    }

    #login.login .alert.alert-danger span.mat-icon{
        float: left;
        width: auto;
    }

    #login.login .alert.alert-danger span.mat-icon i.material-icons {
        font-size: 12px;
        margin-right: 5px;
        margin-top: 1px;
        color: #fb545b;
    }

    #login.login .form-group:first-child{
        margin-top: 12px;
    }

    #login.login .form-group{
        padding-bottom: 7px;
        margin: 23px 0 0;
        clear: both;
    }

    a.text-red{
        color: #fb545b;
    }

    a.text-red:hover, a.text-red:focus{
        color: #fa5282;
    }

    .video-wrapper{
        position: relative;
        float: left;
        width: 100%;
    }

    iframe {
        position: absolute;
        top: 70px;
        left: 98px;
        right: 0;
        width: 68%;
    }

    /* Start: login-testimonial */

        .login-testimonial {
            float: left;
            width: 100%;
            padding: 0px 25px;
        }

        .testimonial-block {
            background: rgba(255,255,255, 0.3);
            border-radius: 50%;
            width: 76px;
            height: 76px;
            float: left;
            position: relative;
        }

        .testimonial-block span{
            position: absolute;
            top: -15px;
            left: 18px;
            font-size: 120px;
            color: #fff;
            font-family: montserratlight;
        }

        .testimonial-content {
            float: left;
            width: 82%;
            margin-left: 20px;
            margin-top: 10px;
        }

        .testi-desc{
            float: left;
            width: 100%;
            font-size: 24px;
            color: #fff;
            line-height: 26px;
            font-family: montserratlight;
        }

        .testi-client{
            font-size: 16px;
            color: rgba(255,255,255,0.8);
            line-height: 26px;
            font-family: montserratregular;
            font-style: italic;
            float: left;
            width: 100%;
            padding-top: 15px;
        }

    /* End: login-testimonial */

    /* Start: loading dots */

        .loading:after {
            content: ' .';
            -webkit-animation: dots 1s steps(5, end) infinite;
                    animation: dots 1s steps(5, end) infinite;
            font-size: 18px;
            line-height: 1px;
            position: relative;
            left: -3px;
        }

        @-webkit-keyframes dots {
            0%, 20% {
                color: rgba(0,0,0,0);
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                                .5em 0 0 rgba(0,0,0,0);
            }

            40% {
                color: white;
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                             .5em 0 0 rgba(0,0,0,0);
            }

            60% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 rgba(0,0,0,0);
            }
            80%, 100% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 white;
            }

        }

        @keyframes dots {
            0%, 20% {
                color: rgba(0,0,0,0);
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                                .5em 0 0 rgba(0,0,0,0);
            }

            40% {
                color: white;
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                             .5em 0 0 rgba(0,0,0,0);
            }

            60% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 rgba(0,0,0,0);
            }
            80%, 100% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 white;
            }

        }

    /* End: loading dots */

/* End: Modal Login (materialize) */

/* Start: Responsive - Login Modal */

    @media (max-width: 767px){
        #login.login{
            padding-left: 0;
            margin-top: -50px;
        }

        #login .login-right{
            display: none;
        }

        #login.login .login-dialog {
            width: auto;
        }

        #login.login .login-left{
            width: 100%;
            padding: 40px 30px 60px;
        }

        #login .login-logo{
            margin-top: 10px;
        }

        #login.login button.close.btn-close i.material-icons{
            color: #8e989f !important;
        }

    }

    @media screen and (min-width: 768px) and (max-width: 768px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content{
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*.video-wrapper iframe{
            position: absolute;
            top: 60px;
            left: 55px;
            right: 0;
            width: 215px;
            height: 120px;
        }*/

        .login-testimonial {
            padding: 0px 25px;
        }

        #login .login-right {
            padding: 0px;
        }

        .testi-desc{
            font-size: 18px;
        }

        .testi-client {
            font-size: 13px;
        }

        #login .img-width {
            width: 54%;
        }

        .login-img2 {
            left: 145px;
            top: 45px;
        }

        .login-img3 {
            left: 85px;
            top: 105px;
        }

        #login .img-section {
            margin: 55px 0px 0px;
            min-height: 217px;
        }

    }

    @media screen and (min-width: 1024px) and (max-width: 1024px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content{
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*iframe.iframe-1024{
            position: absolute;
            top: 60px;
            left: 74px;
            right: 0;
            width: 305px;
            height: 177px;
        }*/

        #login .img-width{
            width: 55%;
        }

        .login-img2{
            left: 165px;
            top: 52px;
        }

        .login-img3{
            left: 100px;
            top: 122px;
        }

        #login .img-section {
            min-height: 253px;
        }

    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        #login .img-width{
            width: 55%;
        }

        .login-img2{
            left: 165px;
            top: 52px;
        }

        .login-img3{
            left: 100px;
            top: 122px;
        }

        #login .img-section {
            min-height: 253px;
        }

        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testi-desc {
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

    }

    @media screen and (min-width: 1280px) and (max-width: 1280px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content{
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*iframe{
            position: absolute;
            top: 65px;
            left: 92px;
            right: 0;
            width: 380px;
            height: 214px;
        }*/

        #login .img-width{
            width: 54%;
        }

        #login .img-section{
            margin: 30px 0px 0px;
            min-height: 325px;
        }

        .login-img2{
            left: 200px;
            top: 67px;
        }

        .login-img3{
            left: 130px;
            top: 155px;
        }

    }

    @media screen and (min-width: 1920px) and (max-width: 1920px) {
        /*iframe{
            position: absolute;
            top: 75px;
            left: 140px;
            right: 0;
            width: 610px;
            height: 347px;
        }*/

        #login .img-section{
            width: 85%;
            margin-left: 18%;
        }

    }

/* End: Responsive - Login Modal */

/* Start: Modal Full screen get premium*/
.model-full{
  width: 100%;
  margin: 0px;
}
.two-side .modal-left {
  width: 50%;
  float: left;
  height: 100vh;
  display: table;
  padding: 0px 170px;
}
.two-side .modal-left p{
  font-size: 16px;
  font-family: montserratlight;
}
.two-side .modal-right {
  background: #fb545b;
  float: left;
  width: 50%;
  padding: 30px;
  height: 100vh;
  display: table;
}
.two-side .modal-right p{
  color: #fff;
  font-size: 14px
}
.two-side .modal-content {
  border-radius: 0px;
  float: left;
  width: 100%;
}
.two-side .modal-right img{
  margin: 40px 0px;
  width: 100%;
  box-shadow: 0 1px 27px 8px rgba(0, 0, 0, 0.7);
}
.two-side .modal-body{
  padding: 0px;
}
.two-side .modal-content {
  border-radius: 0px;
  margin: 0px;
  border: none;
}
.two-side .table-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  float: none;
}

.two-side .premium-label {
  background: #fb545b;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  padding: 1px 17px;
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.two-side a{
  color: #fb545b;
  font-size: 12px;

}
.two-side .btn-red{
  margin-bottom: 15px;
  padding: 7px 40px !Important;
}

/*.two-side .btn-red:hover {
    background: #fff !important;
    color: #fb545b !important;
    border: 1px solid #fb545b;
}

.two-side .btn-red:disabled {
    background: #fb545b !important;
    color: #fff !important;
}*/

#premiumPaymentModal.modal {
    padding-right: 0px !important;
}

/* Start: Responsive of upgrade to pro modal */
@media screen and (min-width: 320px) and (max-width: 768px){
  .two-side .modal-left {
    padding: 0 70px;
    width: 100%;
  }

  .two-side .modal-right {
    display: none;
  }
  .chart-position {position: absolute; top: -45px !important; left: -146px !important;}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .two-side .modal-left {
    padding: 0px 85px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1100px){
  .two-side .modal-left {
    padding: 0px 150px;
  }

}

/* End: Responsive of upgrade to pro modal */







