<div class="all-users-container">
	<div class="row">
		<div class="col-md-12">
			<a href="javascript:void(0);" class="btn btn-default pull-right" id="btnAdduser" data-toggle="modal" data-target="#add-user">Add User</a>
		</div>
	</div>
	<div  id="table">
		<div id="table-datatable_wrapper" class="dataTables_wrapper no-footer">
			<div class="dataTables_length" id="table-dataTables_length">
				<label>Show 
                <select name="table-dataTables_length" aria-controls="all-companies-datatable" (change) = "limitChange($event)" class="">
                    <option value="{{limit}}" *ngFor = "let limit of limits">{{limit}}</option>
                </select>
                entries
            </label>
			</div>
			<div id="table-datatable_filter" class="dataTables_filter">
				<label>
                    Search:<input type="search" class="" placeholder="" [(ngModel)] = "search" aria-controls="table" (keyup) = "searchData()">
            </label>
			</div>
			<div *ngIf="loading">
				<center><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></center>
			</div>
			<table *ngIf="!loading" class="dataTable">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							Phone
						</th>
						<th>
							Location
						</th>
						<th>
							Email
						</th>
						<th>
							Last Login
						</th>
						<th>
							Edit
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of data">
						<td>
							{{user.name}}
						</td>
						<td>
							{{user.phone}}
						</td>
						<td>
							{{user.location}}
						</td>
						<td>
							{{user.emails[0].email}}
						</td>
						<td>
							{{dateFormat(user.last_login)}}
						</td>
						<td>
							<a [routerLink] = "['/admin/user',user._id]" ><i class="ui-tooltip fa fa-pencil" style="font-size: 22px;" data-original-title="Edit"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="dataTables_info" id="table-datatable_info" role="status" aria-live="polite"></div>
			<div class="dataTables_paginate paging_simple_numbers" id="all-companies-datatable_paginate">
				<a class="paginate_button previous " aria-controls="all-companies-datatable" data-dt-idx="0" tabindex="0" (click)="previous()"
					id="all-companies-datatable_previous">Previous</a>
				<span><a class="paginate_button" [ngClass] = "1==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(1)"  tabindex="0">1</a></span>
				<span *ngIf="current_page >= 5">...</span>
				<span><a class="paginate_button" [ngClass] = "num==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(num)"  tabindex="0" *ngFor = "let num of arrayOf(total_pages)">{{num}}</a></span>
				<span *ngIf="current_page <= total_pages - 5">...</span>
				<span><a class="paginate_button" *ngIf="total_pages!=1 && total_pages!=0" [ngClass] = "total_pages==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(total_pages)"  tabindex="0">{{total_pages}}</a></span>
				<a class="paginate_button next" aria-controls="all-companies-datatable" tabindex="0" (click)="next()" id="all-companies-datatable_next">Next</a>
			</div>
		</div>
	</div>
</div>

	<!-- Start: add new user Modal -->
	<div id="add-user" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content modal-bg">
				<div class="modal-header">
					<button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
					<h5 class="modal-title">Add a New User</h5>
				</div>
				<div class="modal-body">
					<div class="sahil-material">
						<div class="alert alert-danger custom-alert" *ngIf="error" id="success-addCompany">{{errorMessage}}</div>
						<form id="addUserForm" [formGroup]="addUserForm">
							<div class="form-group label-floating">
								<label class="control-label" for="username">Name</label>
								<input class="form-control" id="username" type="text" name="username" formControlName="username">
							</div>
							<div *ngIf="addUserForm.controls.username.touched && !addUserForm.controls.username.valid" class="alert alert-danger">
								<p *ngIf="addUserForm.controls.username.errors.required">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Name is required.
								</p>
								<p *ngIf="addUserForm.controls.username.errors.minlength">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Min 3 character is required.
								</p>
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="useremail">Email</label>
								<input class="form-control" id="useremail" type="text" name="useremail" formControlName="useremail">
							</div>
							<div *ngIf="addUserForm.controls.useremail.touched && !addUserForm.controls.useremail.valid" class="alert alert-danger">
								<p *ngIf="addUserForm.controls.useremail.errors.required">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Company email is required.
								</p>
								<p *ngIf="addUserForm.controls.useremail.errors.checkmail">
									<span class="mat-icon">
		                            <i class="material-icons">report_problem</i>
		                        </span> Invalid Email.
								</p>
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="userPassword">Password</label>
								<input class="form-control" id="userPassword" type="password" name="userPassword" formControlName="userPassword">
							</div>
							<div *ngIf="addUserForm.controls.userPassword.touched && !addUserForm.controls.userPassword.valid" class="alert alert-danger">
								<p *ngIf="addUserForm.controls.userPassword.errors.required">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Password is required.
								</p>
								<p *ngIf="addUserForm.controls.userPassword.errors.minlength">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Min 8 character is required.
								</p>
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="companyName">Company Name</label>
								<input class="form-control" id="companyName" type="text" name="companyName" formControlName="companyName">
							</div>
							<div *ngIf="addUserForm.controls.companyName.touched && !addUserForm.controls.companyName.valid" class="alert alert-danger">
								<p *ngIf="addUserForm.controls.companyName.errors.required">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Company Name is required.
								</p>
								<p *ngIf="addUserForm.controls.companyName.errors.minlength">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Min 3 character is required.
								</p>
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="companySubDomain">Sub Domain</label>
								<input class="form-control" id="companySubDomain" type="text" name="companySubDomain" formControlName="companySubDomain">
								<label class="in-active">{{extension}}</label>
							</div>
							<div *ngIf="addUserForm.controls.companySubDomain.touched && !addUserForm.controls.companySubDomain.valid" class="alert alert-danger">
								<p *ngIf="addUserForm.controls.companySubDomain.errors.required">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Sub domain is required.
								</p>
								<p *ngIf="addUserForm.controls.companySubDomain.errors.minlength">
									<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span> Min 4 character is required.
								</p>
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="chargebeeId">Chargebee Customer Id</label>
								<input class="form-control" id="chargebeeId" type="text" name="chargebeeId" formControlName="chargebeeId">
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="chargebeeSubsId">Chargebee Subscription Id</label>
								<input class="form-control" id="chargebeeSubsId" type="text" name="chargebeeSubsId" formControlName="chargebeeSubsId">
							</div>
							<div class="form-group label-floating">
								<label class="control-label" for="plan">Plan Id</label>
								<input class="form-control" id="plan" type="text" name="plan" formControlName="plan">
							</div>
							<button type="" (click)="addUser()" class="btn btn btn-red-outline btn-add-user btn-hover" id="adminAddUser" [disabled]="!addUserForm.valid">Add</button>
						</form>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	<!-- End:Upgrde Plan Modal -->


		