<div id="leads" class="login first-signUp">
    <div class="row">
        <div class="login-dialog">
            <!-- Modal content-->
            <div class="login-content modal-bg">
                <div class="login-body">
                    <a href="javascript:void(0);" id="menu-close" (click)="close()">
                        <button class="close btn-close" type="button">
                        <i class="material-icons">close</i></button>
                    </a>
                    <div class="col-md-12 col-sm-12 col-xs-12 np">
                        <div class="col-md-6 col-sm-6 col-xs-12 np login-left">
                            <div class="col-md-12 col-sm-12 col-xs-12 np login-left-inner">
                                <div class="text-center logo-section">
                                    <!-- <p class="font-italic text-grey">or login with</p> -->
                                    <img class="login-logo" src="assets/images/outgrow-logo.png" alt="Logo">
                                    <span class="">Let's Give Your Interactive <br/>Content a New Home</span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 np sahil-material">
                                    <form [formGroup]="signupForm" (ngSubmit)="saveLeads()" class="col-md-12 col-sm-12 col-xs-12 np sahil-material">
                                        <!-- <h3 class="col-md-12 col-sm-12 col-xs-12 np">Sign Up</h3> -->
                                        <div class="col-md-12 col-sm-12 col-xs-12 np">
                                            <div class="form-group label-floating">
                                                <label for="email" class="control-label">Your Work Email</label>
                                                <input id="email" type="text"  class="form-control" name="email" formControlName="email" (focus)="checkEmail()" (blur)="checkEmail()" tabindex="1"/>
                                            </div>
                                            <div *ngIf="signupForm.controls.email.touched && !signupForm.controls.email.valid" class="alert alert-danger">
                                                <p *ngIf="signupForm.controls.email.errors.required">
                                                    <span class="mat-icon">
                                                        <i class="material-icons">report_problem</i>
                                                    </span>
                                                    Email is required.
                                                </p>
                                                <p *ngIf="signupForm.controls.email.errors.minlength">
                                                    <span class="mat-icon">
                                                        <i class="material-icons">report_problem</i>
                                                    </span>
                                                    Min 3 character is required.
                                                </p>
                                                <p *ngIf="signupForm.controls.email.errors.checkmail">
                                                    <span class="mat-icon">
                                                        <i class="material-icons">report_problem</i>
                                                    </span>
                                                    Invalid Email.
                                                </p>
                                            </div>
                                            <div *ngIf="error" class="alert alert-danger">
                                                <p class="have-an-acc col-md-12">{{error}}
                                                    <a href="javascript:void(0)" *ngIf="isLeadExist" class="text-red text-red-link" (click)="login()"> Login</a>
                                                    {{resetMsg}}
                                                    <a href="javascript:void(0)" *ngIf="isLeadExist" class="text-red text-red-link" (click)="reset()" >Reset Password</a>
                                                </p>
                                            </div> 
                                            <div class="col-md-12 col-sm-12 col-xs-12 np text-center btn-lead-main">
                                                <button (click)="callGA()" type="submit" id="btnSignUp" [disabled]="!signupForm.valid" class="btn btn-red btn-createCalc">Can't wait to launch my first calculator &nbsp;<img src="assets/images/smile.png" class="smiley"></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 np login-right">
                            <div class="col-md-12 col-sm-12 col-xs-12 np login-right-inner">
                                <div class="login-testimonial">
                                    <div class="testimonial-block">
                                        <span>“</span>
                                    </div>
                                    <div class="testimonial-content">
                                    <span class="testi-desc">Two of our calculators went viral and completely transformed our lead generation strategy in a competitive market.</span>
                                    <span class="testi-client">Marketing Executive at a Top 10 Hotel Chain</span>
                                </div>
                                </div>
                                <div class="img-section">
                                    <img class="img-margin img-width login-img1 animated bounceInLeft go" src="assets/images/login1.jpg" alt="img">
                                    <img class="img-margin img-width login-img2 animated bounceInRight go" src="assets/images/login2.jpg" alt="img">
                                    <img class="img-margin img-width login-img3 animated bounceInUp go" src="assets/images/login3.jpg" alt="img">
                                </div>
                                <!-- <div class="text-center video-wrapper">
                                    <img class="img-margin img-width" src="assets/images/leadform-videowrapper.png" alt="img">
                                    <iframe class="iframe-1024" width="425" height="236" src="https://www.youtube.com/embed/wFrj5kc1MLs?vq=hd720p&play=1&loop=1&autoplay=1&loop=1&playlist=wFrj5kc1MLs" frameborder="0" allowfullscreen></iframe>
                                </div> -->
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- <div class="modal-footer">

                </div> -->
            </div>
        </div>
    </div>
</div>

