<div  *ngIf = "loading" class="col-md-10" >
    <center><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></center>
</div>
<div *ngIf ="!loading" class="col-md-10 all-plans-container" id="my-account">
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
    <div class="col-md-8 col-sm-8 col-xs-12 np">
        <!-- Start: Nav tabs -->
        <div class="np">
            <ul class="nav nav-tabs nav-justified" style="padding:0px;" role="tablist">
                <li role="presentation" [class.active]="i==0" *ngFor = "let plan of plans;
                let i =index">
                    <a href="#{{plan.plan._id}}" aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">{{plan.plan.name}}</a>
                </li>
            </ul>
        </div>
        <!-- End: Nav tabs -->
        <!-- Start: tabs sub content -->
        <div class="tab-content tab-sub-content tab-sub-content-2">
            <!-- Start: tab my-profile -->
            <div [class.active]="i==0" *ngFor="let plan of plans; let i = index" role="tabpanel" class="tab-pane sahil-material my-profile" id="{{plan.plan._id}}">
                <og-starter-features [data]="plan"></og-starter-features>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
        
    </div>
</div>