<div class="col-md-12">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Calculator Details</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class=" col-md-12 col-lg-12 ">
							<table id="calc-datatable" class="dataTable">
								<thead>
									<tr>
										<td>Calc Link</td>
										<td>Name</td>
										<td>Template</td>
										<td>Status</td>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let calc of calc_details">
										<td *ngIf="calc.liveApp!=null">
											<a href="javascript:void()" (click)="calc_navigation(calc.url)">{{link_maker(calc.url)}}</a>
										</td>
										<td *ngIf="calc.liveApp==null">
											{{link_maker(calc.url)}}
										</td>
										<td>{{calc.name}}</td>
										<td>{{calc.template}}</td>
										<td *ngIf="calc.liveApp==null && (calc.status=='DEV' || calc.status=='LIVE')">DEV</td>
										<td *ngIf="calc.liveApp!=null && (calc.status=='DEV' || calc.status=='LIVE')">LIVE</td>
										<td *ngIf="!(calc.status=='DEV' || calc.status=='LIVE')">{{calc.status}}</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>