<div class="col-md-12 col-sm-12 col-xs-12">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12 col-sm-12 col-xs-12 np">
            <div class="form-group label-floating">
                <label class="control-label" for="old_password">Current Password</label>
                <input id="old_password" type="password" required class="form-control" formControlName="old_password">
            </div>
            <div *ngIf="changePasswordForm.controls.old_password.touched && !changePasswordForm.controls.old_password.valid" class='alert alert-danger'>
                <p *ngIf="changePasswordForm.controls.old_password.errors.required">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Old Password is required.</p>
                <p *ngIf="changePasswordForm.controls.old_password.errors.minlength">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Use at least 8 characters
                </p>
            </div>
            <div class="form-group label-floating">
                <label class="control-label" for="new_password">New Password</label>
                <input id="new_password" type="password" required class="form-control" formControlName="new_password">
            </div>
            <div *ngIf="changePasswordForm.controls.new_password.touched && !changePasswordForm.controls.new_password.valid" class='alert alert-danger'>
                <p *ngIf="changePasswordForm.controls.new_password.errors.required">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    New Password is required.
                </p>
                <p *ngIf="changePasswordForm.controls.new_password.errors.minlength">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Use at least 8 characters
                </p>
            </div>
            <div class="form-group label-floating">
                <label class="control-label" for="confirm_password">Retype New Password</label>
                <input id="confirm_password" type="password" required class="form-control" formControlName="confirm_password">
            </div>
            <div *ngIf="changePasswordForm.controls.confirm_password.touched && !changePasswordForm.controls.confirm_password.valid" class='alert alert-danger'>
                <p *ngIf="changePasswordForm.controls.confirm_password.errors.required">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Confirm Password is required.
                </p>
                <p *ngIf="changePasswordForm.controls.confirm_password.errors.minlength">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Use at least 8 characters
                </p>
            </div>
            <div *ngIf="error" class="form-group alert alert-danger">
                <p>{{Message}}</p>
            </div>
            <div *ngIf="success" class="val-success-msg form-group success-message hide">
                <span class="icon-success">
                    <i class="material-icons">check_circle</i>
                </span>
                {{Message}}
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 np">
            <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-white btn-hover" id='updatePassword' (click)="callGA('UPDATEPASS')">Update</button>
        </div>
    </form>
</div>
<!-- Start: changes updated successfully div -->
<div class="float-changes-updated hide">  
    <div class="col-md-12 np">
        <span class="icon-done"><i class="material-icons">done</i></span>
        <span>{{Message}}</span>
    </div>
</div>
<!-- End: changes updated successfully div -->