
<div class="row divContainer">
	<div class="col-md-4">
		<b><u>Calculators: </u></b>
	</div>
	<div class="col-md-8">
		<div class="dropdown">
			<div class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Company
				<span class="caret"></span>
			</div>
			<ul class="dropdown-menu">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-2">
			All Calculators:
		</div>
		<div class="col-md-2 well">
			112 leads generated
		</div>
		<div class="col-md-2 well">
			112 unique views
		</div>
		<div class="col-md-2 well">
			82 times cost calculated
		</div>
		<div class="col-md-2">
			<a>view</a>
			/
			<a>edit</a>
		</div>
		<div class="col-md-2">

		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			How much to Build an app:
		</div>
		<div class="col-md-2 well">
			112 leads generated
		</div>
		<div class="col-md-2 well">
			112 unique views
		</div>
		<div class="col-md-2 well">
			82 times cost calculated
		</div>
		<div class="col-md-2">
			<a>view</a>
			/
			<a>edit</a>
		</div>
		<div class="col-md-2">

		</div>
	</div>
</div>