
.divContainer{
	height:80px;
}

:host {
  display: block;
  padding: 0 0;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.all-users-container{
  padding:0 0 ;

}