<div class="preloader" *ngIf="!jsonBuilderHelper.getJSONBuilt()">
    <div class="status">&nbsp;</div>
</div>
<div *ngIf="jsonBuilderHelper.getJSONBuilt()">
    <!-- Editor header start-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="mobile-top-menu">
            <div class="editor-navheader">
                <a href="" [routerLink]="['/dashboard']" class="navbar-brand" (click)="callGA('LOGO')">
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;    height: 110px;top: -65px;position: absolute;left: -5px;">
                        <path class="path" fill="#FFFFFF" stroke="#FB6066" stroke-width="9" stroke-miterlimit="10" d="M151.153,235.063C128.156,238.427 111.107,258.151 111.107,281.393C111.107,307.236 132.087,328.216 157.93,328.216C183.772,328.216 204.752,307.236 204.752,281.393C204.752,272.191 202.041,263.193 196.957,255.523L176.874,275.698L151.724,275.698L136.55,290.872" />
                    </svg>
                    <img src="assets/images/headerLogo.png" />
                </a>
                <a href="" [routerLink]="['/dashboard']" class="mobile-navbar-brand" (click)="callGA('LOGO')">
                    <img src="assets/images/mobileLogo.png" />
                </a>
            </div>
            <input type="text" class="ed-projectname ellipsis " contenteditable="true" id="fname" (blur)="appNameblured();onCalcNameChanged();" (focus)="appNameFocused()" [(ngModel)]="jsonBuilderHelper.getJSONBuilt().name" placeholder="{{companyName}}'s Calculator" />
            <!--<p *ngIf="!unique">This calculator Name is already taken</p>-->
        </div>
        <div class="mobile-menu-icon" (click)="mobileMenuClicked()">
            <i class="material-icons">menu</i>
        </div>
        <div class="navbar-rightside">
            <!-- <div class="drag-parent">
            <a href="javascript:void();" class="drag" (click)="drag()"><i class="material-icons">open_with</i></a>
        </div> -->
            <div class="zoom-parent" [hidden]="selectedSec!='build'">
                <a href="javascript:void();" class="zoom" (click)="zoom('in')"><i class="material-icons">add</i></a>
                <a href="javascript:void();" class="zoom" (click)="zoom('reset')"><i class="material-icons">zoom_out</i></a>
                <a href="javascript:void();" class="zoom" (click)="zoom('out')"><i class="material-icons">remove</i></a>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm btn-flat btn-basic btn-menu"><span class="elem"><i class="material-icons">donut_large</i></span></button>
                <!-- <div class="help-checktip">(since {{activeSince}})</div> -->
            </div>
            <a type="button" href="javascript:void(0);" class="btn btn-default btn-sm btn-flat btn-basic" (click)="onPreview();callGA('PREVIEW')">
                PREVIEW
                </a>
            <button id="live-btn" type="button" class="btn btn-default btn-sm btn-flat btn-basic" (click)="onPublish($event);callGA('GOLIVE')" [disabled]="!jsonBuilderHelper.getJSONBuilt().changed">
                {{(jsonBuilderHelper.getJSONBuilt().mode == 'PUBLIC')? (jsonBuilderHelper.getJSONBuilt().changed)?'PUBLISH CHANGES':'LIVE' :'GO LIVE'}}
            </button>
            <div class="btn-group navbar-leftside">
                <div class="col-xs-12 no-padding">
                    <!-- Start: header name-dropdown -->
                    <sd-toolbar [page]="'builder'"></sd-toolbar>
                    <!-- End: header name-dropdown -->
                </div>
            </div>
        </div>
    </nav>
    <!-- Editor header end-->
    <div class="process-bar" [class.process-margin]="selectedConfigComponent=='email' || selectedConfigComponent=='embedded-code'">
        <ul>
            <li><a href="javascript:void(0)" (click)="selectedSec='build'" [class.active]="selectedSec=='build'"><i class="material-icons ">dashboard</i> Build</a></li>
            <li><i class="material-icons">keyboard_arrow_right</i></li>
            <li><a href="javascript:void(0)" (click)="selectedSec='config'" [class.active]="selectedSec=='config'"><i class="material-icons ">settings</i> Configure</a></li>
            <li><i class="material-icons">keyboard_arrow_right</i></li>
            <li *ngIf="isAnalyticsAvailable">
            <a (click)="onSelect('analytics'); selectedAnalyticComponent = 'overview'" [class.active]="selectedSec=='analytics'"><i class="material-icons ">equalizer</i>Analyze</a> </li>

            <li *ngIf="!isAnalyticsAvailable">
                <a *ngIf="!jsonBuilderHelper.getJSONBuilt().liveApp" (click)="checkAnalytics()" [class.active]="selectedSec=='analytics'"><i class="material-icons">equalizer</i>Analyze</a>
                <a *ngIf="jsonBuilderHelper.getJSONBuilt().liveApp" (click)="checkAnalytics()" [class.active]="selectedSec=='analytics'"><i class="material-icons">equalizer</i>Analyze</a>
            </li>
        </ul>
    </div>
    <!-- Editor Left sidebar start -->
    <div class="editor-sidebar sidebar" [class.config-bg]="selectedSec=='config'">
        <component-manager *ngIf="jsonBuilderHelper.getJSONBuilt()" [hidden]="selectedSec!='build'"></component-manager>
        <component-manager-config (selection)="selectedConfigComponent = $event" [hidden]="selectedSec!='config'"></component-manager-config>
        <calc-analytics-manager *ngIf="selectedSec=='analytics'" [hidden]="selectedSec!='analytics'" (selection)="selectedAnalyticComponent = $event"></calc-analytics-manager>
        <div class="mobile-menucross-icon" (click)="mobileMenuCrossClicked()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- Editor Left sidebar end -->
    <!-- Editor Right Template section strat -->
    <div class="editor-template-tabs" [class.minH]="selectedSec=='analytics'" >
        <div id="build">
            <div class="building" [hidden]="selectedSec!='build'">
                <div class="template-section scrollbar" [hidden]="selectedSec!='build'" (dblclick)="openProperties()" (touch)="openProperties()">
                    <Temp></Temp>
                </div>
            </div>
            <config [hidden]="selectedSec!='config'" [component]="selectedConfigComponent" >
            </config>
            <div class="pt-30" [hidden]="selectedSec!='analytics'">
                <calc-analytics *ngIf="selectedSec=='analytics'" [component]="selectedAnalyticComponent" [calc]="jsonBuilderHelper.getJSONBuilt()">
                </calc-analytics>
            </div>
            <!--<div *ngIf="selectedSec=='analytics' && !jsonBuilderHelper.getJSONBuilt().liveApp" [hidden]="selectedSec!='analytics'">
                <div class="tab-content tabs-wrapper col-md-12 np">
                    <div class="no-analytics">
                        <div class="analytics-bottom-popup">
                            <i class="material-icons">grid_off</i>
                            <br> This calculator does not have any traffic yet. Once there is traffic, you will be able to see detailed analytics.
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- Editor Right Template section end  -->
    <!--landing layout start -->
    <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas affix" *ngIf="jsonBuilderHelper.getSelectedPage()" [hidden]="selectedSec!='build'">
        <div class="properties-window" *ngIf="(jsonBuilderHelper.getSelectedControl() || jsonBuilderHelper.getSelectedPage()) && jsonBuilderHelper.getSelectedPage().visible ">
            <i class="material-icons">tab</i>
            <span class="properties-tag">PROPERTIES</span>
        </div>
        <!--editors -->
        <editor *ngIf="(jsonBuilderHelper.getSelectedControl() || jsonBuilderHelper.getSelectedPage())">
        </editor>
        <!--editors -->
        <!--&& !((jsonBuilderHelper.getSelectedPage().type == 'Questionnaire') && (jsonBuilderHelper.getSelectedModel() == 'Page'))-->
    </div>
    <div class="mobile-prop-cross-icon" (click)="mobilePropCrossClicked()" [hidden]="selectedSec!='build'">
        <i class="material-icons">close</i>
    </div>
    <div class="properties-modal-backdrop" [hidden]="selectedSec!='build'"></div>
    <div class="sidebar-modal-backdrop"></div>
    <!--landing layout end -->
    <!-- Modal for the formula Dialog -->
    <!--<formula-dialog *ngIf="controls" [getJsonBuilt]="jsonBuilderHelper.getTemplateQuestionare()"></formula-dialog>-->
    <formula-pop></formula-pop>
</div>
