<!-- Common Component -->
<div class="type-details">
	<common-editor [control]="control">
	</common-editor>
</div>
<!-- Common Component-->
<div class="type-details">
	<span class="form-label" [class.no-margin]="control.config.showHelp === false">Help Text:</span>
	<div class="switch">
		<label>
                <input type="checkbox" name="properties-checkbox"
                class="show-check"
                [checked]="control.config.showHelp"
                (change)="onChangeDescription(control);callGA('HELPTEXT',control)"
                 data-size="mini" data-on-color="blue">
                  <span class="lever"></span>
                 </label>
	</div>
	<!--//on/off-->
	<div class="col-xs-12 no-padding div-check" *ngIf="control.config.showHelp">
		<textarea class="form-text question-textarea" [(ngModel)]="control.props.helpText"></textarea>
	</div>

</div>

<div class="type-details options-form">
	<span class="form-label">Options:</span>
	<div class="col-xs-12 no-padding text-group" *ngFor="let option of control.options ; let i = index">
		<span class="no-padding option-label">
					<div class="help-tip">
            <span class="default-label" *ngIf="option.defualtselected">D</span>
            <div class="help-checktip">Default Option</div>
        </div> 
		<span class="" *ngIf="!option.defualtselected">{{i+1}}</span>
		</span>
		<div class="col-md-10 col-xs-10 no-padding" style="   margin-right: 14px;">
			<div class="col-md-11 col-xs-11 no-padding">
				<input type="text" class="form-text" placeholder="Label" [(ngModel)]="option.label" (keyup)="onOptionLabelChange(option)">
			</div>
		</div>
		<div class="col-md-11 col-xs-11 no-padding">
			<label class="check-value" [class.help-tip-absent]="i!=0">VALUE 
				<div class="help-tip" *ngIf="i==0 && jsonBuilderHelper.getJSONBuilt().templateType=='Numerical'">
                    <i class="material-icons">info_outline</i>
                    <div class="help-checktip">
                    	Each option has a numeric 'value' that describes its impact to the end result. In a calculator calculating the total cost of a fruit basket, the 'value' will be the cost of a fruit item.
                    </div>
                </div>
			</label>
			<input type="inputType" class="form-text value-text" placeholder="Value" [value]="option.value" (keydown)="onKeyDown(i, $event)" (keyup)="onOptionValChange(option,$event)">
		</div>
		<!-- More button -->
		<div class="btn-group icon-options">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons" style="margin-top: 8px;">more_vert</i>
					</button>
			<ul class="dropdown-menu">
				<li><a href="javascript:void(0);" *ngIf="!option.defualtselected" (click)="seAsDefault(control.options,option,true);callGA('SETDEFAULT')"><i class="material-icons">done_all</i> Set as Default</a></li>
				<li><a href="javascript:void(0);" *ngIf="option.defualtselected" (click)="seAsDefault(control.options,option,false);callGA('UNSETDEFAULT')"><i class="material-icons">not_interested</i> Unset</a></li>
				<li><a href="javascript:void(0);" *ngIf="control.options.length !== 1" (click)="delete_Option_From_Items(control.options,i);callGA('DELETE')"><i class="material-icons">clear</i> Delete</a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 no-padding text-group">
		<span class="no-padding form-label"></span>
		<div class="col-md-10 col-xs-10 no-padding">
			<a href="javascript:void(0);" (click)="add_Option_In_Dropdown();callGA('ADDOPTION')" class="default">Add Option</a>
		</div>
	</div>
</div>

<div class="type-details">
	<label class="check">
                <input type="checkbox" value="Value1 " name="checkbox1" id="check1"
				[checked]="control.config.validations.required.status"
                (change)="onChange(control);callGA('MANDATE',control)"
				>
                <label for="check1"> </label> Mark as Mandatory
	</label>
</div>