* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
}

section.barEmbed {
	background: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9999999;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

section.barEmbed p {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    max-width: 80%;
    text-align: center;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.4;
    margin: 0px;
}

section.barEmbed button {
    border: none;
    background: #fff;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 12px;
    color: #666;
    max-width: calc(100% - 80%);
    margin-right: 20px;
    box-shadow: none !important;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: normal;
}
section.barEmbed a.greet-popup-open {
    border: none;
    background: #fff;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 12px;
    color: #666;
    max-width: calc(100% - 80%);
    margin-right: 20px;
    box-shadow: none !important;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    font-weight: normal;
}
section.barEmbed button:focus {
    outline: none;
}
section.barEmbed button:hover {
    opacity: 0.9;
}
.greetbar-popupClose{
    background: url(https://dlvkyia8i4zmz.cloudfront.net/yJ1fLTLtQBKzToBDSPjm_cross.png);
    position: fixed;
    top: 15px !important;
    right: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 99999 !important;
    background-size: 14px;
    background-repeat: no-repeat;
    box-shadow: none !important;
    border: none !important;
    -webkit-overflow-scrolling: touch;
}

/**** popup Css ****/
section.greet_popup {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0,0,0,0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
}
section.greet_popup iframe {
    z-index: 9;
    position: relative;
    margin: 0 auto;
    height: calc(100% - 16%);
    overflow: auto;
    border: none;
    max-width: 100%;
    width: 60%;
}
.close-popup{
    background: url(https://cdn.filestackcontent.com/D5NFRzLOSWCX666wU7Yx);
    position: fixed;
    top: 2% !important;
    right: 16%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 99999 !important;
    box-shadow: none !important;
}

.fadeOut {
    opacity: 0;
    transition: opacity 500ms;
}
@media (max-width: 1024px) and (min-width: 768px){
    section.greet_popup{
        align-items: end;
    }
}
@media (max-width: 767px) and (min-width: 0px){
    section.greet_popup{
        align-items: end;
    }
    section.greet_popup iframe {
        width: 100%;
        height: 100%;
    }
    .close-popup {
        right: 30px;
        top: 5px !important;
    }
    section.barEmbed {
        display: inline-block;
        text-align: center;
    }
    section.barEmbed a.greet-popup-open{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
        max-width: 80%;
    }
    section.barEmbed p {
        max-width: 93%;
    }
    section.barEmbed button {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
        max-width: 80%;
    }
    .greetbar-popupClose{
        right: -7px !important;
        background-size: 13px;
        top: 14px !important;
    }
}

/**** popup Css  end****/