.timerView .timer { transform: scale(1.25);width: 60px;height: 60px;background: rgba(255,255,255,0.6);  border-radius: 50%;position: relative;overflow: hidden;  box-sizing: border-box;}
.timerView {position: absolute;right: 40px;top: 30px;}
.timerView .timer .coutndown-wrapper {width: 60px;height: 60px;position: absolute;clip: rect(0px, 60px, 60px, 30px);}
.timerView .timer .coutndown-circle.coutndown-circle-left, 
.timerView .timer .coutndown-circle.coutndown-circle-right {  width: 60px !important;height: 60px !important;border: 0px !important;  border-radius: 60px !important;box-sizing: border-box !important;position: absolute;  clip: rect(0px, 30px, 60px, 0px);}
.timerView .timer .coutndown-wrapper-time {color: #666 !important;font-size: 14px !important;background: #fff;border-radius: 50%;left: 50%;top: 50%;transform: translate(-50% , -50%); width: 50px !important; height: 50px !important; line-height: 50px !important;}

@media (min-width:641px) and (max-width:995px){

  .timerView .timer{transform: scale(0.9);}
  /* .timerView .timer {width: 50px;height: 50px;}
  .timerView .timer .coutndown-wrapper {width: 50px !important;height: 50px !important;clip: rect(0px, 50px, 50px, 25px) !important;}
  .timerView .timer .coutndown-circle.coutndown-circle-left,
  .timerView .timer .coutndown-circle.coutndown-circle-right {width: 50px !important;height: 50px !important;clip: rect(0px, 25px, 50px, 0px) !important;}
  .timerView .timer .coutndown-wrapper-time {color: #666 !important;font-size: 13px !important;background: #fff;border-radius: 50%;left: 50%;top: 50%;transform: translate(-50% , -50%); width: 40px !important; height: 40px !important; line-height: 40px !important;} */

  }
@media (max-width:767px){
  .timerView .timer{transform: scale(0.85);}
  .timerView {position: relative;right: auto;top: 20px;text-align: center;left: auto;    display: flex;    justify-content: center;    margin-bottom: 20px;}
  .template-eight .timerView {position: absolute;right: 10px;margin: 0; top:10px}
  /* .timerView .timer .coutndown-wrapper-time {color: #666 !important;font-size: 12px !important;background: #fff;border-radius: 50%;left: 50%;top: 50%;transform: translate(-50% , -50%); width: 35px !important; height:35px !important; line-height: 35px !important;}
  .timerView .timer {width: 45px;height: 45px;}
  .timerView {position: relative;right: auto;top: 20px;text-align: center;left: auto;    display: flex;    justify-content: center;    margin-bottom: 20px;}
  .timerView .timer .coutndown-wrapper {width: 45px !important;height: 45px !important;clip: rect(0px, 45px, 45px, 22.5px) !important;}
  .timerView .timer .coutndown-circle.coutndown-circle-left,
  .timerView .timer .coutndown-circle.coutndown-circle-right {width: 45px !important;height: 45px !important;clip: rect(0px, 22.5px, 45px, 0px) !important;} */
  }
/* .timer-outer.active  .timer .coutndown-circle.coutndown-circle-right ,.timer-outer.active  .timer .coutndown-circle.coutndown-circle-left{opacity: 0.3;} */
  .template-section .template-container.mobile .timerView .timer {width: 40px;height: 40px;}
  .template-section .template-container.mobile .timerView .timer .coutndown-wrapper {width: 40px !important;height: 40px !important;clip: rect(0px, 40px, 40px, 20px) !important;}
  .template-section .template-container.mobile .timerView .timer .coutndown-circle.coutndown-circle-left,
  .template-section .template-container.mobile .timerView .timer .coutndown-circle.coutndown-circle-right {width: 40px !important;height: 40px !important;clip: rect(0px, 20px, 40px, 0px) !important;}
  .template-section .template-container.mobile .timerView .timer .coutndown-wrapper-time {width: 40px !important;height: 40px !important;line-height: 40px !important}
  .template-section .template-container.mobile .timerView {position: relative;right: auto;top: 0;display: flex;justify-content: center;}
  .timer-outer.active {
    border-radius: 50%;
    z-index: 10;
    width: auto !important;
    position: relative;
}
.timer-outer.active::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: 0;
}
@-webkit-keyframes pulse-animation{
  0%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
  50%{opacity:0;-webkit-transform:scale(1.5);transform:scale(1.5)}
  100%{opacity:0;-webkit-transform:scale(1.5);transform:scale(1.5)}
}
