.timerView .timer {width: 60px;height: 60px;background: #fff;  border-radius: 50%;position: relative;border: 1px solid #aaa;overflow: hidden;  box-sizing: border-box;}
.timerView {position: absolute;right: 20px;top: 20px;}
.timerView .timer .coutndown-wrapper {width: 60px;height: 60px;position: absolute;clip: rect(0px, 60px, 60px, 30px);}
.timerView .timer .coutndown-circle.coutndown-circle-left, .timerView .timer .coutndown-circle.coutndown-circle-right {  width: 60px !important;height: 60px !important;border: 0px !important;  border-radius: 60px !important;box-sizing: border-box !important;position: absolute;  clip: rect(0px, 30px, 60px, 0px);}
.timerView .timer .coutndown-wrapper-time {color: #666 !important;font-size: 12px !important;}

@media (max-width:640px){
  .timerView .timer {width: 40px;height: 40px;}
  .timerView .timer .coutndown-wrapper {width: 40px !important;height: 40px !important;clip: rect(0px, 40px, 40px, 20px) !important;}
  .timerView .timer .coutndown-circle.coutndown-circle-left,
  .timerView .timer .coutndown-circle.coutndown-circle-right {width: 40px !important;height: 40px !important;clip: rect(0px, 20px, 40px, 0px) !important;}
  .timerView .timer .coutndown-wrapper-time {width: 40px !important;height: 40px !important;line-height: 40px !important}
  }