<div class="type-details hide">
	<span class="form-label no-margin">Allow User to Multi Select</span>
	<div class="switch">
		<label>
		<input type="checkbox" name="multi-checkbox"
		class="show-check"
		[checked]="jsonBuilderHelper.getSelectedControl().type ==='checkbox'"
		(change)="onChangeControl()"
		data-size="mini" data-on-color="blue">
		<span class="lever"></span>
		</label>
	</div>
 </div>
<!-- Common Component -->
		<div class="type-details"><common-editor
			[control]="control"
		>
		</common-editor></div>
	<!-- Common Component-->
		 <div class="type-details">
            <span class="form-label" [class.no-margin]="control.config.showHelp === false">Help Text:</span>
            <div class="switch">
                 <label>
                <input type="checkbox" name="properties-checkbox"
                class="show-check"
                [checked]="control.config.showHelp"
                (change)="onChangeDescription(control);callGA('HELPTEXT',control)"
                 data-size="mini" data-on-color="blue">
                  <span class="lever"></span>
                 </label>
            </div>
<!--//on/off-->
				<div class="col-xs-12 no-padding text-group div-check"
				*ngIf="control.config.showHelp"
				>
						<textarea class="form-text question-textarea" [(ngModel)] = "control.props.helpText"></textarea>
				</div>
			</div>

		<div class="type-details">
			<span class="form-label">Options:</span>
			<div class="col-xs-12 no-padding text-group" *ngFor="let option of control.options ; let i = index">
				<span class="no-padding option-label">
					<div class="help-tip">
            <span class="default-label" *ngIf="option.defualtselected">D</span>
            <div class="help-checktip">Default Option</div>
        </div> 
					<span class="" *ngIf="!option.defualtselected">{{i+1}}</span>
				</span>
				<div class="col-md-5 col-xs-5 no-padding ">
					<input type="text" class="form-text" placeholder="Label" [(ngModel)] = "option.label">
				</div>
				<div class="col-md-5 col-xs-5">
					<input type="number" class="form-text" placeholder="Value" [(ngModel)] = "option.value" (keydown)="onKeyDown(i, $event)">
				</div>
				<!-- More button -->
				<div class="btn-group icon-options">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons">more_vert</i>
					</button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);" (click)="delete_Option_From_Items(control.options,i);callGA('DELETE')">Delete</a></li>
						<li><a href="javascript:void(0);" (click)="seAsDefault(control.options, option);callGA('SETDEFAULT')">Set as Default</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 no-padding text-group">
				<span class="no-padding form-label"></span>
				<div class="col-md-10 col-xs-10 no-padding">
					<a href="javascript:void(0);" (click)="add_Option_In_Dropdown();callGA('ADDOPTION')" class="default">Add Option</a>
				</div>
			</div>
		</div>

		 <div class="type-details">
            <label class="check">
                <input type="checkbox" value="Value1 " name="checkbox1" id="check1"
				[checked]="control.config.validations.required.status"
                (change)="onChange(control);callGA('MANDATE',control)"
				>
                <label for="check1"> </label>
                Mark as Mandatory
            </label>
        </div>