<div class="prop-arrow"><i class="material-icons">arrow_forward</i></div>

<div class="sidebar-layout scrollbar" [class.side-scroll]="jsonBuilderHelper.getSelectedPage().type != 'Result'" [class.no-scroll]="jsonBuilderHelper.getSelectedPage().type == 'Result'">
    <div class="main-side">
        <div class="sidebar-topselector">
            <div class="card-layout" *ngIf="jsonBuilderHelper.getSelectedModel() !== 'Section' && jsonBuilderHelper.getSelectedPage()">
               <span *ngIf="jsonBuilderHelper.getSelectedPage().type == 'Landing'" > WELCOME SCREEN  </span>
               <span *ngIf="jsonBuilderHelper.getSelectedPage().type == 'Questionnaire' && jsonBuilderHelper.getSelectedModel() !== 'Control'">QUESTION PROPERTIES </span>
               <span *ngIf="jsonBuilderHelper.getSelectedPage().type == 'Questionnaire' && jsonBuilderHelper.getSelectedModel() == 'Control' && jsonBuilderHelper.getSelectedControl().type!=='leadform_question'" > QUESTION 
                   {{jsonBuilderHelper.getQuestionNo()}}
                   </span>
               <span *ngIf="jsonBuilderHelper.getSelectedPage().type == 'Result' && jsonBuilderHelper.getSelectedModel()=='Control'" > Lead Generation  </span>
               <span *ngIf="jsonBuilderHelper.getSelectedPage().type == 'Result' && jsonBuilderHelper.getSelectedModel()=='Page' && jsonBuilderHelper.getJSONBuilt().templateType == 'Numerical'" > RESULT PAGE PROPERTIES  </span>
               <span *ngIf="jsonBuilderHelper.getSelectedPage().type == 'Result' && jsonBuilderHelper.getSelectedModel()=='Page' && jsonBuilderHelper.getJSONBuilt().templateType == 'Recommendation' && jsonBuilderHelper.getSelectedFormula()" > OUTCOME {{jsonBuilderHelper.getJSONBuilt().formula.indexOf(jsonBuilderHelper.getSelectedFormula()) + 1}}: {{jsonBuilderHelper.getSelectedFormula().name}}  </span>

               <span *ngIf="jsonBuilderHelper.getSelectedModel()=='Outcome_Settings' &&  jsonBuilderHelper.getSelectedPage().type == 'Result' && jsonBuilderHelper.getJSONBuilt().templateType == 'Recommendation'" > SETTINGS </span>

            </div>
            <div class="card-layout" *ngIf="jsonBuilderHelper.getSelectedModel() === 'Section' && jsonBuilderHelper.getSelectedPage()">
                <span  *ngIf="jsonBuilderHelper.getSelectedSection().type !=='LeadFormQ' && jsonBuilderHelper.getSelectedSection().type !=='LeadForm' && jsonBuilderHelper.getSelectedSection().type !=='Content Area'"> SECTION </span>
                <span  *ngIf="jsonBuilderHelper.getSelectedSection().type ==='LeadFormQ' || jsonBuilderHelper.getSelectedSection().type ==='LeadForm' || jsonBuilderHelper.getSelectedSection().type ==='Content Area' "> Lead Generation </span>
            </div>
        </div>
        <div class="sidebar-bottomselector editor">
                <!-- For Control sected in Editor -->
                
            <div class="type-details"  *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                    jsonBuilderHelper.getSelectedSection()?.type !=='LeadFormQ' && 
                    jsonBuilderHelper.getSelectedPage().type == 'Questionnaire'">
                <div class="col-md-12 no-padding horz-group">
                    <span class="form-label">Type:</span>
                    <div class="col-md-7 horz-control np">
                        <switch
                            *ngIf="jsonBuilderHelper.getSelectedControl()"  
                        >
                        </switch>          
                    </div>                 
                </div>
            </div>
            <!-- when result page selected from component -->       
            <!--<div 
                class="col-md-12 text-center double-tab"  
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Page' 
                && jsonBuilderHelper.getSelectedPage().type == 'Result'"
            >
                <button class="btn result-prop result-area" (click)="tabResults()">Results</button>
                <button class="btn result-prop details-area" (click)="tabDetails()">Details</button>
            </div>-->
        <!-- For Langding page editor -->
            <editor-page 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Page' &&
                jsonBuilderHelper.getSelectedPage().type == 'Landing'"
                [control]="jsonBuilderHelper.getSelectedPage()"
            >
            </editor-page>      
        <!-- For Langding page editor end  -->   
        <!-- For Result page editor -->
            <editor_result_page 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Page' &&
                jsonBuilderHelper.getSelectedPage().type == 'Result'"
            >
            </editor_result_page>  
        <!-- For Result page editor end -->
        <editor_RT_result_page 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Page' &&
                jsonBuilderHelper.getSelectedPage().type == 'Questionnaire'"
                [page] = "jsonBuilderHelper.getSelectedPage()"
            >
            </editor_RT_result_page> 
        <!-- For section editor -->
            <editor-section 
                *ngIf="jsonBuilderHelper.getSelectedModel() == 'Section' &&
                 (jsonBuilderHelper.getSelectedSection().type !=='LeadFormQ' && 
                 jsonBuilderHelper.getSelectedSection().type !=='Content Area' &&
                  jsonBuilderHelper.getSelectedSection().type !=='LeadForm')"
                [section]="jsonBuilderHelper.getSelectedSection()"
            >
            </editor-section>  
             <editor-section-leadform 
                *ngIf="jsonBuilderHelper.getSelectedModel() == 'Section' &&
                    jsonBuilderHelper.getSelectedSection().type =='LeadFormQ'"
            >
            </editor-section-leadform> 
            
             <editor-section-leadform-page 
                 *ngIf="jsonBuilderHelper.getSelectedModel() == 'Section' &&
                     (jsonBuilderHelper.getSelectedSection().type =='Content Area' ||
                      jsonBuilderHelper.getSelectedSection().type =='LeadForm')"
                      [page]= "jsonBuilderHelper.getSelectedPage()"
            >
            </editor-section-leadform-page>
              <editor-section-leadform-page 
                 *ngIf="jsonBuilderHelper.getSelectedModel() == 'Control' && 
                            jsonBuilderHelper.getSelectedControl() &&
                            jsonBuilderHelper.getSelectedControl().type == 'leadform'"
                      [page]= "jsonBuilderHelper.getSelectedPage()"
            >
            </editor-section-leadform-page>
        <!-- For section editor end -->
        <!-- recommendation calc common  editor-->
            <editor-recommendation 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' 
                    && jsonBuilderHelper.getJSONBuilt().templateType == 'Recommendation' 
                    && jsonBuilderHelper.getSelectedControl() &&
                    (jsonBuilderHelper.getSelectedControl().type=='selectbox'
                    || jsonBuilderHelper.getSelectedControl().type=='radio_button' 
                     || jsonBuilderHelper.getSelectedControl().type=='checkbox' 
                    )
                    " 
                [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-recommendation>

              <editor-outcome-settings 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Outcome_Settings' 
                 &&  jsonBuilderHelper.getSelectedPage().type == 'Result'
                 && jsonBuilderHelper.getJSONBuilt().templateType == 'Recommendation' 
                "
            >
            </editor-outcome-settings>     

            <editor-textfield 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                    jsonBuilderHelper.getSelectedControl() &&
                    jsonBuilderHelper.getSelectedControl().type=='textfield'" 
                [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-textfield>
            <editor-textarea 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='text-area'"
                 [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-textarea>
            <editor-textfield 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='file'" 
            >
            </editor-textfield>
            <editor-textfield 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='emailfield'" 
                [control]="jsonBuilderHelper.getSelectedControl()"
            ></editor-textfield>
            <editor-numerictextfield 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='numerictextfield'" 
                 [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-numerictextfield>
            <editor-date 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='date_picker'" 
                [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-date>
            <!--<editor-button 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' && 
                jsonBuilderHelper.getSelectedControl().type=='click_button'" 
                
            >
            </editor-button>-->
            <editor-selectbox 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                    jsonBuilderHelper.getSelectedControl()
                    && jsonBuilderHelper.getJSONBuilt().templateType == 'Numerical' 
                    && jsonBuilderHelper.getSelectedControl().type=='selectbox'" 
                 [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-selectbox>
            <editor-selectbox 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                    jsonBuilderHelper.getSelectedControl() &&
                    jsonBuilderHelper.getSelectedControl().type=='dropdown'" 
                 [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-selectbox>
            <editor-selectbox 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' && 
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='switchbox'" 
                [control]="jsonBuilderHelper.getSelectedControl()"
            >
            </editor-selectbox>
            <editor-checkbox 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' && 
                jsonBuilderHelper.getSelectedControl() 
                && jsonBuilderHelper.getJSONBuilt().templateType == 'Numerical' &&
                jsonBuilderHelper.getSelectedControl().type=='checkbox'" 
                
                  [control]="jsonBuilderHelper.getSelectedControl()"                
            >
            </editor-checkbox>
            <editor-checkbox 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' && 
                jsonBuilderHelper.getSelectedControl() 
                && jsonBuilderHelper.getJSONBuilt().templateType == 'Numerical' 
                && jsonBuilderHelper.getSelectedControl().type=='radio_button'"
                [control]="jsonBuilderHelper.getSelectedControl()"               
            >
            </editor-checkbox>
            <editor-header
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' && 
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='header'" 
                
            >
            </editor-header>
            
            
            <editor-logo 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' && 
                jsonBuilderHelper.getSelectedControl() &&
                jsonBuilderHelper.getSelectedControl().type=='logo'" 
                ></editor-logo>
            <editor-slider 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                    jsonBuilderHelper.getSelectedControl() &&
                    jsonBuilderHelper.getSelectedControl().type=='slider'" 
                [control]="jsonBuilderHelper.getSelectedControl()"
                >
            </editor-slider>                       
            <editor-counter 
                *ngIf="jsonBuilderHelper.getSelectedModel()=='Control' &&
                    jsonBuilderHelper.getSelectedControl() &&
                    jsonBuilderHelper.getSelectedControl().type=='counter'"
                    [control]="jsonBuilderHelper.getSelectedControl()"
                >
            </editor-counter> 
            <!-- setting   --> 
        </div>
    </div>
</div>  