<div class="col-md-12 col-sm-12 col-xs-12">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 np my-profile-header">
        <div class="col-md-12 col-sm-12 col-xs-12 np">
            <h6 class="">My Profile</h6>
        </div>
    </div> -->
    <form *ngIf="active" (ngSubmit)="onSubmit()" [formGroup]="basicDetailsForm">
        <div class="form-group label-floating " [class.is-empty] = "model.name==''">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" [class.is-empty] = "model.name==''" id="name" required [(ngModel)]="model.name" ngControl="name" formControlName="name" name="name"/>
        </div>
        <div *ngIf="basicDetailsForm.controls.name.touched && !basicDetailsForm.controls.name.valid" class="alert alert-danger">
                <p *ngIf="basicDetailsForm.controls.name.errors.required">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Name is required.
                </p>
                <p *ngIf="basicDetailsForm.controls.name.errors.minlength">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Min 4 character is required.
                </p>
                <p *ngIf="basicDetailsForm.controls.name.errors.pattern">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Invalid Name
				</p>
        </div>
        <div class="form-group label-floating contact-num" [class.is-empty] = "model.phone==null || model.phone==''">
            <label class="control-label" for="phone">Phone</label>
            <input type="text" class="form-control" [class.is-empty] = "model.phone==null" id="phone" [(ngModel)]="model.phone" ngControl="phone" name="phone" formControlName="phone"/>
        </div>
        <div *ngIf="basicDetailsForm.controls.phone.touched && !basicDetailsForm.controls.phone.valid" class='alert alert-danger'>
            <p *ngIf="basicDetailsForm.controls.phone.errors.required">
                <span class="mat-icon">
                    <i class="material-icons">report_problem</i>
                </span>
                Phone is required.
            </p>
            <p *ngIf="basicDetailsForm.controls.phone.errors.pattern">
                <span class="mat-icon">
                    <i class="material-icons">report_problem</i>
                </span>
                Invalid Entry
            </p>
            <p *ngIf="basicDetailsForm.controls.phone.errors.minlength && !basicDetailsForm.controls.phone.errors.pattern" >
                <span class="mat-icon">
                    <i class="material-icons">report_problem</i>
                </span>Min 5 digits are required.
            </p>
        </div>
        <div class="form-group label-floating">
            <label class="control-label" for="email">Email Address</label>
            <input type="email" readonly class="form-control disabled-text" id="email" required value={{user_email}}  disabled="disabled" />
            <!-- <button type="button" class="btn btn-red-outline btn-hover btn-updateEmail" data-toggle="modal" data-target="#change-email">Update Email</button> -->
            <span class="btn-changeEmail-outer">
                <a class="btn-changeEmail" data-toggle="modal" data-target="#change-email">Change Email</a>
            </span>
        </div>
        <div class="form-group label-floating" [class.is-empty] = "model.location==''">
            <label class="control-label" for="location">Location</label>
            <input type="text" class="form-control" placeholder="" [class.is-empty] = "model.location==''" id="location" [(ngModel)]="model.location" ngControl="location" formControlName="location" name="location" (blur)="chkLocation()"/>
        </div>
        <div *ngIf="basicDetailsForm.controls.location.touched && !basicDetailsForm.controls.location.valid" class='alert alert-danger'>
            <p *ngIf="basicDetailsForm.controls.location.errors.required">
                <span class="mat-icon">
                    <i class="material-icons">report_problem</i>
                </span>
                location is required.
            </p>
        </div>
        <!-- Start: Time zone -->
        <div class="form-group time-zone" [class.is-empty] = "model.timezone==''">
            <label class="control-label" for="timezone">Time zone</label>
            <select class="form-control" [class.is-empty] = "model.timezone==''" [(ngModel)]="model.timezone" ngControl="timezone" id="timezone" name="timezone" formControlName="timezone">
                <option selected>Select a Timezone</option>
                <option *ngFor="let t of timezones" [value]="t">{{t}}</option>
            </select>
            <div *ngIf="basicDetailsForm.controls.timezone.touched && !basicDetailsForm.controls.timezone.valid" class="col-md-12 alert alert-danger">
                <p *ngIf="basicDetailsForm.controls.timezone.errors.required">
                    <span class="mat-icon">
                        <i class="material-icons">report_problem</i>
                    </span>
                    Timezone is required.
                </p>
            </div>
        </div>
        <!-- End: Time zone -->
        
        <div class="col-md-12 np">
            <button type="submit" class="btn btn-white btn-update btn-hover" [disabled]="!basicDetailsForm.valid" id='saveBasicDetails' (click)="callGA('UPDATEACCOUNT')">Update</button>
            <div class="val-success-msg success-message hide">
                <span class="icon-success">
                    <i class="material-icons">check_circle</i>
                </span>
                {{Message}}
            </div>
        </div>
    </form>
</div>

<!-- Start: Change Email Modal -->
<div id="change-email" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <h5 class="modal-title">Change Email Address</h5>
            </div>
            <div class="modal-body">
                <form *ngIf="active" (ngSubmit)="updateEmail()" [formGroup]="emailForm">
                    <div class="form-group label-floating">
                        <label class="control-label" for="email">New Email Address:</label>
                        <input type="email" class="form-control" required [(ngModel)]="model.emails" ngControl="email" name="email" formControlName="email"/>
                    </div>
                  <div class="form-group label-floating">
                    <label class="control-label" for="email">Password:</label>
                    <input type="password" class="form-control" required [(ngModel)]="model.password" ngControl="password" name="password" formControlName="password"/>
                  </div>
                    <div *ngIf="error" class="alert alert-danger">
                        <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="setFalse()">&times;</a> -->
                        <p>
                            <span class="mat-icon">
                                <i class="material-icons">report_problem</i>
                            </span>
                            {{Message}}
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-red-outline btn-add-user btn-hover" id='updateEmail' (click)='updateEmail()'>Change Email</button>
            </div>
        </div>
    </div>
</div>
<!-- End: Change Email Modal -->

<div id="basicMessageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p>{{Message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Start: changes updated successfully div -->
<div class="float-changes-updated hide">
    <div class="col-md-12 np">
        <span class="icon-done"><i class="material-icons">done</i></span>
        <span>{{Message}}</span>
    </div>
</div>
<!-- End: changes updated successfully div -->
