<div class="dropdown-set">
	<div class="control-group select" [formGroup]="form" tabindex="0">
		<!--<i class="material-icons select-icon">lock</i>-->
		<select class="demo-default {{data._id}} " [(ngModel)]="data.props.currentValue" [id]="data._id" (change)="onChange($event)" [formControlName]="data._id">
				<!--<option selected hidden disabled value="">{{data.config.placeholder}}</option>-->
				<option tabindex="0" 
					*ngFor="let option of data.options; let i = index" 
						id="{{data._id}}{{i}}"
					[value]="option.value" 
					[selected]="option.selected"
				>
					{{option.label}}
				</option>
			</select>
		<div class="select__arrow"></div>
		<div class="errorMessage" *ngIf="!form.controls[data._id].pristine && !isValid">
			{{data.config.validations.required.message}}
		</div>
	</div>
</div>