<div class="preloader" *ngIf="loader==0">
    <div class="status">&nbsp;</div>
</div>
 <!--<div class="loader" *ngIf="loader==0"></div>-->
<div class="dashboard-toast" style="display: none; bottom:60px;"><i class="material-icons toast-ic">check</i>
    <span class="dash-toast-msg">Calculator Deleted Successfully.</span>
    <button type="button" class="btn d-toast-btn"><i class="material-icons">clear</i></button>
</div>
<!-- Dashboard Section -->
<div class="col-md-12 dashboard-topsec">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="dash-circle">{{currentCompanyInit}}</div>
        <div class="dash-prog-outer">
            <h2>Hey {{(username.substr(0,username.indexOf(' '))=='')?username:username.substr(0,username.indexOf(' '))}}, <br>We wish you a productive day :)</h2>
            <h5 class="ellipsis hide">{{currentCompany.name}}</h5>
            <div class="btn-group company-dropdown-wrapper hide">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);" (click)="callGA('ADDCOMPANY')" class="hvr-sweep-to-right add-new-company" data-toggle="modal" data-target="#add-new-company">
                            <i class="material-icons">playlist_add</i> &nbsp;Add New Company
                        </a>
                    </li>
                    <div class="company-dropdown-main">
                        <div class="company-dropdown-list" [class.slimscroll]="myCompaniesList.length > 3">
                            <li *ngFor="let company of myCompaniesList">
                                <a href="//{{company.sub_domain}}{{subdomainExtension}}/dashboard" class="hvr-sweep-to-right" *ngIf="company.user_company.active">
                                    <div class="company-block">
                                        <span class="company-block-inner">{{company.name[0]}}</span>
                                    </div>
                                    <div class="company-block-content">
                                        <span class="company-title ellipsis">{{company.name}}</span>
                                        <span class="company-site ellipsis">{{company.sub_domain}}{{subdomainExtension}}</span>
                                    </div>
                                </a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="circle-sec">
            <div class="dash-circle-red"><i class="material-icons">person</i></div>
            <div class="circle-cal-outer">
                <h2>{{totalUniqueVisitors}}</h2>
                <h5>Unique Visitors</h5>
            </div>
        </div>
        <div class="circle-sec">
            <div class="dash-circle-pink"><i class="material-icons">check_circle</i></div>
            <div class="circle-cal-outer">
                <h2>{{totalLeads}}</h2>
                <h5>Leads Generated</h5>
            </div>
        </div>
        <div class="circle-sec">
            <div class="dash-circle-d-pink"><i class="material-icons">trending_up</i></div>
            <div class="circle-cal-outer">
                <h2>{{overallConversionRate}}%</h2>
                <h5>Conversion Rate</h5>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <ul class="user-outr">

            <li *ngFor="let user of currentCompanyUsers">
                <a href="javascript:void(0);" class="more-users popover-wrapper">
                    <span>{{user.name[0]}}</span>
                    <div class="more-popover-block single-user">
                        <p class="ellipsis">{{user.name}}</p>
                        <label class="ellipsis">{{user.user_company.role}}</label>
                    </div>
                </a>
            </li>
            <li *ngIf="moreCompanyUsers.length > 0">
                <a href="javascript:void(0);" class="more-users popover-wrapper">
                    <i class="material-icons">more_horiz</i>
                    <div class="more-popover-block ">
                        <ul>
                            <li *ngFor="let user of moreCompanyUsers">
                                <a href="javascript:void(0);" class="hvr-sweep-to-right">
                                    <span>{{user.name[0]}}</span>
                                    <div class="more-users-list">
                                        <p class="ellipsis">{{user.name}}</p>
                                        <label class="ellipsis">{{user.user_company.role}}</label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <a (click)="callGA('ADDUSER')" href="javascript:void(0);" class="add-user popover-wrapper" data-toggle="modal" data-target="#add-new-user">
                    <i class="material-icons">add</i>
                    <div class="popover-block">Add collaborator</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Dashboard Section End-->
<!-- Dashboard 3 boxes start (sahil) -->
<div class="col-xs-12 dash-boxes-outr">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="dash-box dash-top3">
            <div class="dash-top3-textinner hide">
                <label>Now</label>
                <h3>Create a New Experience</h3>
            </div>
            <div class="dash-top3circletable">
                <!--<a href="javascript:void(0);" class="dash-top3-circle" (click)="addNewCalc();callGA('ADDCALC')"  data-toggle="modal" data-target="#calquiz-modal">-->
                <a href="javascript:void(0);" class="dash-top3-circle"  (click)="initCalcQuiz()" data-toggle="modal" data-target="#calquiz-modal">  
                    <i class="material-icons">add_circle_outline</i> Create a New Experience
                </a>
            </div>
        </div>
    </div>         
    <div *ngFor="let app of apps">
        <div class="col-xs-12 col-sm-12 col-md-4 ">
            <div class="dash-box">
                <figure>
                    <div class="dash-box-top" *ngIf="app.pages[0].bgImage" [style.backgroundImage]="'url(' + app.pages[0].bgImage + ')' | safeStyle">
                    </div>
                    <div class="dash-box-top" *ngIf="!app.pages[0].bgImage">
                    </div>
                </figure>
                <div class="dash-top2-textinner">
                    <div class="">
                        <span class="company-dropdown-title-active ellipsis" *ngIf="app.liveApp">Published: {{app.createdAt}}</span>
                        <span class="company-dropdown-title-active ellipsis" *ngIf="!app.liveApp">Last Edited: {{app.updatedAt}}</span>
                    </div>
                    <div class="dash-pullout-new">
                        <i class="material-icons">more_vert</i>
                        <ul class="new-dropdown-menu">
                            <li>
                                <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="openOldCalc(app,'build');callGA('EDITCALC')">
                                    <div class="company-block">
                                        <i class="material-icons">format_paint</i>
                                    </div>
                                    <div class="company-block-content">
                                        <span class="company-title ellipsis">&nbsp;Edit</span>
                                    </div>
                                </a>
                            </li>
							<li>
                                <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)=" checkAnalytics(app,'analytics');callGA('ANALYTICS')">
                                    <div class="company-block">
                                        <i class="material-icons">trending_up</i>
                                    </div>
                                    <div class="company-block-content">
                                        <span class="company-title ellipsis">&nbsp;Analytics</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="openOldCalc(app,'config');selectSubTab('settings');callGA('SETTINGS');">
                                    <div class="company-block">
                                        <i class="material-icons">mode_edit</i>
                                    </div>
                                    <div class="company-block-content">
                                        <span class="company-title ellipsis">&nbsp;Settings</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="hvr-sweep-to-right" (click)="duplicateApp(app._id);callGA('DUPLICATE')">
                                    <div class="company-block">
                                        <i class="material-icons">content_copy</i>
                                    </div>
                                    <div class="company-block-content">
                                        <span class="company-title ellipsis">&nbsp;Duplicate</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" (click)="deleteApp(app._id);callGA('DELETE')" class="hvr-sweep-to-right">
                                    <div class="company-block">
                                        <i class="material-icons">delete</i>
                                    </div>
                                    <div class="company-block-content">
                                        <span class="company-title ellipsis">&nbsp;Delete</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group company-dropdown-wrapper hide">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="das-box-menu">
                                <i class="material-icons">more_vert</i>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="openOldCalc(app,'build');callGA('EDITCALC')">
                                            <div class="company-block">
                                                <i class="material-icons">format_paint</i>
                                            </div>
                                            <div class="company-block-content">
                                                <span class="company-title ellipsis">&nbsp;Edit Design</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="openOldCalc(app,'config');selectSubTab('settings');callGA('SETTINGS')">
                                            <div class="company-block">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="company-block-content">
                                                <span class="company-title ellipsis">&nbsp;Edit Settings</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="checkAnalytics();callGA('ANALYTICS')">
                                            <div class="company-block">
                                                <i class="material-icons">trending_up</i>
                                            </div>
                                            <div class="company-block-content">
                                                <span class="company-title ellipsis">&nbsp;View Analytics</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="hvr-sweep-to-right" (click)="duplicateApp(app._id);callGA('DUPLICATE')">
                                            <div class="company-block">
                                                <i class="material-icons">content_copy</i>
                                            </div>
                                            <div class="company-block-content">
                                                <span class="company-title ellipsis">&nbsp;Duplicate Calc</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="openOldCalc(app,'config');selectSubTab('share-your-calculator');callGA('SHARE')">
                                            <div class="company-block">
                                                <i class="material-icons">computer</i>
                                            </div>
                                            <div class="company-block-content">
                                                <span class="company-title ellipsis">&nbsp;Publish / Share</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" (click)="deleteApp(app._id);callGA('DELETE')" class="hvr-sweep-to-right">
                                            <div class="company-block">
                                                <i class="material-icons">delete</i>
                                            </div>
                                            <div class="company-block-content">
                                                <span class="company-title ellipsis">&nbsp;Delete</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </button>
                    </div>
                    <h3>{{app.name}}</h3>
                    <div class="col-xs-12 text-center">
                        <a href="javascript:void(0);" (click)="openOldCalc(app,'build');callGA('OPENCALC')" class="dash-box-send">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </div>
                <div class="dash-box-bottom">
                    <ul>
                        <li>
                            <i class="material-icons">public</i>
                            <label class="text">Status</label>
                            <div class="switch-outr">
                                <div class="dummy-switch" [class.red]="app.mode=='PUBLIC'">
                                    <p>{{(app.mode=='PUBLIC')?'Live':'Draft'}}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="material-icons">person</i>
                            <label class="text">Unique Visits</label>
                            <span class="value">{{ (app.uniqueViews!=undefined)?app.uniqueViews:'--' }}</span>
                        </li>
                        <li>
                            <i class="material-icons">reorder</i>
                            <label class="text">Leads Generated</label>
                            <span class="value">{{ (app.leads!=undefined)?app.leads:'--' }}</span>
                        </li>
                        <li>
                            <i class="material-icons">done_all</i>
                            <label class="text">Conversion Rate</label>
                            <span class="value">{{ (app.conversionRate!=undefined)?app.conversionRate+'%':'--' }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dashboard 3 boxes end (sahil) -->

<div id="add-new-company" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        Modal content
        <div class="modal-content modal-bg">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <h5 class="modal-title">Create a New Company</h5>
            </div>
            <div class="modal-body">
                <div class="sahil-material">
                    <form [formGroup]="createCompanyForm" (ngSubmit)="createCompany()">
                        <div class="form-group label-floating">
                            <label class="control-label" for="companyname"> New Company Name</label>
                            <input class="form-control" id="companyname" type="text" name="companyname" formControlName="companyname" (focus)="hideError()">
                        </div>
                        <div *ngIf="createCompanyForm.controls.companyname.touched && !createCompanyForm.controls.companyname.valid" class="alert alert-danger">
                            <p *ngIf="createCompanyForm.controls.companyname.errors.required">Company Name is required.</p>
                            <p *ngIf="createCompanyForm.controls.companyname.errors.minlength">Min 3 character is required.</p>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label" for="domain"> Company Url</label>
                            <input class="form-control" id="domain" type="text" name="domain" formControlName="domain" (focus)="hideError()">
                            <label class="in-active">{{subdomainExtension}}</label>
                        </div>
                        <div *ngIf="createCompanyForm.controls.domain.touched && !createCompanyForm.controls.domain.valid" class="alert alert-danger">
                            <p *ngIf="createCompanyForm.controls.domain.errors.required">Company Name is required.</p>
                            <p *ngIf="createCompanyForm.controls.domain.errors.minlength">Min 3 character is required.</p>
                            <p *ngIf="createCompanyForm.controls.domain.errors.pattern">
                                Invalid Url
                            </p>
                        </div>
                        <button type="submit" id="btnCreateCompany" class="btn btn-red-outline btn-add-user btn-hover" [disabled]="!createCompanyForm.valid">Add New Company</button>
                    </form>
                    <div class="alert alert-danger hide" id="success-addCompany">
                        {{Message}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                Your company will be created immediately. As soon as the company is created, you can start adding users to collaborate.
            </div>
        </div>
    </div>
</div>

<div id="add-new-user" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-bg">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <h5 class="modal-title">Add New User</h5>
            </div>
            <form [formGroup]="inviteUserForm" (ngSubmit)="inviteUser()" id="inviteUserForm">
                <div class="modal-body">
                    <div class="alert alert-danger custom-alert hide" id="success-addUser">
                        <p>
                            <span class="mat-icon">
                                <i class="material-icons">report_problem</i>
                            </span>
                            <span id="dashboardAdduserMessage"></span>
                        </p>
                    </div>
                    <div class="sahil-material">
                        <div class="form-group label-floating">
                            <label class="control-label" for="inputName"> Name</label>
                            <input class="form-control" id="inputName" type="text" formControlName="userName" name="userName">
                        </div>
                        <div *ngIf="inviteUserForm.controls.userName.touched && !inviteUserForm.controls.userName.valid" class="alert alert-danger">
                            <p *ngIf="inviteUserForm.controls.userName.errors.required">Name is required.</p>
                            <p *ngIf="inviteUserForm.controls.userName.errors.minlength">
								<span class="mat-icon">
								  	<i class="material-icons">report_problem</i>
								</span>
								Min 3 character is required.
							</p>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label" for="inputEmail"> Email Address</label>
                            <input class="form-control" id="inputEmail" type="email" formControlName="userEmail" name="userEmail">
                        </div>
                        <div *ngIf="inviteUserForm.controls.userEmail.touched && !inviteUserForm.controls.userEmail.valid" class="alert alert-danger">
                            <p *ngIf="inviteUserForm.controls.userEmail.errors.required">Email is required.</p>
                            <p *ngIf="inviteUserForm.controls.userEmail.errors.checkmail">Invalid Email.</p>
                        </div>
                        <div class="form-group form-group-radio">
                            <label class="radio-inline">
                                <input type="radio" value="ADMIN" id="radioAdmin" formControlName="userRole" name="userRole">
                                <label for="radioAdmin"> </label> Admin {{userRole}}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="MANAGER" id="radioManager" formControlName="userRole" name="userRole">
                                <label for="radioManager"> </label> Manager
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="!inviteUserForm.valid" class="btn btn-red-outline btn-add-user btn-hover" id="btnInvite">Add New User</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--- cal quiz modal -->
<div id="calquiz-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-bg">
                <div class="modal-body">
                    <div class="calquiz-outr">
                        <div class="step1">
                             <div class="modal-header">
                                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <h5 class="modal-title">What will You Create Today? </h5>
                            </div>
                            <div class="calquiz-left">
                                <label class="check-icon">
                                    <input type="radio" value="Numerical" name="calQuiz" id="radio1" (click) = "selectCalc()">
                                    <label for="radio1">
                                        <span class="outer-border ">
                                            <i class="material-icons">dialpad</i>
                                        </span>
                                    </label> 
                                    <div class="col-md-12 col-sm-12 col-xs-12 np calc-quiz-margin">
                                        <h3>Numerical Calculator</h3>
                                        <span class="col-md-6 col-sm-12 col-xs-12 np">Gives a result in the form of a number like a price estimate, percentage or score.</span>
                                        <p class="col-md-6 col-sm-12 col-xs-12 np">
                                           How much does it cost to remodel your kitchen?<br/>
                                           What is the risk of getting zika?  <br/>
                                           How much do you really know about the Lakers?
                                        </p>
                                    </div>
                                </label>
                            </div>
                            <div class="calquiz-right">
                                <label class="check-icon ic">
                                    <input type="radio" value="Recommendation" name="calQuiz" id="radio2" (click) = "selectCalc()" >
                                    <label for="radio2">
                                        <span class="outer-border">
                                            <i class="material-icons">filter_vintage</i> 
                                        </span>
                                    </label> 
                                    <div class="col-md-12 col-sm-12 col-xs-12 np calc-quiz-margin">
                                        <h3>Outcome Quiz</h3>
                                        <span class="col-md-6 col-sm-12 col-xs-12 np">Gives a result in the form of a recommendation or a suggestion.</span>
                                        <p class="col-md-6 col-sm-12 col-xs-12 np">
                                            Which jeans should you wear?<br/>
                                            Which insurance plan is right for you?<br/>
                                            Which celebrity matches your style?
                                        </p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    <form [formGroup] = "calcNameform" (ngSubmit) = "onAddNewCalc()" id="type-calc" novalidate>
                        <div class="step2 hide">
                             <div class="modal-header">
                                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <h5 class="modal-title" style="color:#fb6066;">Give a Name </h5>
                            </div>
                            <div class="calquiz-left calquiz-right full-width">
                                <div class="back-icon" (click)="goBack()">
                                    <i class="material-icons">arrow_back</i>
                                </div>
                                <label class="check-icon">
                                    <input type="radio" checked="checked" id="lopa" name="noname">
                                    <label for="lopa">
                                        <span class="outer-border">
                                            <i class="material-icons" *ngIf="calcType ==='Numerical'">dialpad</i> 
                                            <i class="material-icons" *ngIf="calcType ==='Recommendation'">filter_vintage</i>
                                        </span>
                                    </label> 
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12 np calc-quiz-margin text-center">
                                    <div>
                                        <h3 *ngIf="calcType ==='Recommendation'">Quiz Title</h3>
                                        <h3 *ngIf="calcType ==='Numerical'">Calculator Title</h3>
                                        <input type="text" placeholder="{{calcType=='Recommendation'?'Which insurance plan is right for you?':'Estimate the Cost of Building a Website'}}"  (blur)="reset = true;" formControlName="calcName" name="calcName" class="calcName-input" >
                                        <div *ngIf="(calcNameform.controls.calcName.touched && !calcNameform.controls.calcName.valid) && reset" class="alert alert-danger">
                                            <p >
                                                <span  class="mat-icon">
                                                    <i class="material-icons">report_problem</i>
                                                </span>
                                                <span *ngIf="calcType ==='Numerical'">Calculator name is required.</span>
                                                <span *ngIf="calcType ==='Recommendation'">Quiz title is required.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <button  class="btn btn-red btn-hover">
                                <span *ngIf="calcType ==='Numerical'">Select Template</span>
                                <span *ngIf="calcType ==='Recommendation'">Get Started</span>
                            </button>
                        </div>
                    </form>

                    </div>
                </div>
            
        </div>
    </div>
</div>
<!--- cal quiz modal -->
<div class="float-changes-updated hide">
    <div class="col-md-12 np">
        <span class="icon-done"><i class="material-icons">done</i></span>
        <span id="floatMessage">{{ Message }} </span>
    </div>
</div>