<!-- Start: noti-settings (3) -->
<div class="tab-pane hide" id="noti-settings">
	<header id="userProfile-header" class="">
        <nav class="navbar navbar-default navbar-fixed-top white-logo">
          <div class="container-fluid nav-padding">
              <div class="col-xs-2 np">
                  <a href="javascript:void(0);">
                      <span class="mat-icon"><i class="material-icons">arrow_back</i></span>
                  </a>
              </div>
              <div class="navbar-header col-xs-8 np">
                  <!-- <a href="#" class="navbar-brand">
                      <img src="assets/images/headerLogo-white.png" class="" />
                  </a> -->
                  <h4 class="col-xs-12 np ellipsis title">Notification Settings</h4>
              </div>
              <div class="mobile-menu col-xs-2 np">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">menu</i>
                  </button>
                  <ul class="dropdown-menu">
                      <div class="user-name user-outr">
                          <li>
                              <a href="javascript:void(0);"><img src="assets/images/user1.png"> </a>
                              <span>Pratham</span>
                          </li>
                          <hr class="name-dropdown-border">
                      </div>
                      <div class="name-list">
                          <li>
                              <a href="#">
                                  <span class="name-list-icon"><i class="material-icons">home</i></span>
                                  <span class="name-list-title">Dashboard</span>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="name-list-icon"><i class="material-icons">equalizer</i></span>
                                  <span class="name-list-title">Analytics</span>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="name-list-icon"><i class="material-icons">lightbulb_outline</i></span>
                                  <span class="name-list-title">How Do I</span>
                              </a>
                          </li>
                          <hr class="name-dropdown-border">
                      </div>
                      <div class="company-list">
                          <li class="active">
                              <a href="#">
                                  <span class="company-selected"><i class="material-icons">done</i></span>
                                  <span class="company-list-title">Venture Pact</span>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="company-list-title">Teckraft Infosolutions</span>
                                  <!-- <span class="company-selected"><i class="material-icons">done</i></span> -->
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="company-list-title">Zycus Infotech</span>
                                  <!-- <span class="company-selected"><i class="material-icons">done</i></span> -->
                              </a>
                          </li>
                      </div>
                      <div class="name-list">
                          <li>
                              <a href="#">
                                  <span class="name-list-icon"><i class="material-icons">settings</i></span>
                                  <span class="name-list-title">Settings</span>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="name-list-icon"><i class="material-icons">power_settings_new</i></span>
                                  <span class="name-list-title">Logout</span>
                              </a>
                          </li>
                      </div>
                  </ul>
              </div>
          </div>
        </nav>
    </header>
	<div class="col-md-2 col-sm-2 col-xs-12">
	</div>
	<div class="col-md-8 col-sm-8 col-xs-12 np">
		4
	</div>	
	<div class="col-md-2 col-sm-2 col-xs-12 np">
	</div>
</div>
<!-- End: noti-settings (3) -->
