<span class="section-help">You can group your questions in sections to make it simple for the users to follow.</span>
<div class="type-details">
	<div>
		<span class="form-label">Section Title:</span>
		<textarea class="wysiwyg question-textarea" [(ngModel)]="section.title"></textarea>
	</div>
</div>
<div class="type-details">
	<span class="form-label" [class.no-margin]="section.showDesc === false">Help Text:</span>
	<div class="switch">
		<label>
			<input type="checkbox" name="properties-checkbox"
			class="show-check"
			[checked]="section.showDesc"
			(change)="onChangeDescription(section);callGA('HELPTEXT',section)"
			>
			<span class="lever"></span>
		</label>
	</div>
	<div class="col-xs-12 no-padding text-group div-check" *ngIf="section.showDesc">
		<textarea class="form-text question-textarea" [(ngModel)]="section.description"></textarea>
	</div>
</div>
<div class="type-details">
	<div>
		<span class="form-label">Button Text:</span>
		<div class="help-tip editor-helptip">
			<i class="material-icons">info_outline</i>
			<div class="help-checktip">This will come after the last question in the section.</div>
		</div>
		<input type="text" class="form-text" [(ngModel)]="section.buttonTitle" />
	</div>
</div>