:host{
	display: block;
	padding: 0 16px;
}
ul{
	list-style-type: none;
	padding: 0 0 0 8px;
}
.subdomain-container{
	top: 72px;
	position: relative;
	margin-left: 255px;
}
.row{
	padding-bottom: 20px;
}
#sel{
	margin-left: 15px;
}
/* custom material css start (sahil) */
.sahil-material .form-control {
    height: 38px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: montserratregular;
    color: #62696d;
}
.sahil-material .form-group label.control-label {
    font-size: 14px;
    line-height: 1.07142857;
    color: #8e989f;
    font-weight: 400;
    margin: 16px 0 0 0;
    font-family: montserratregular;
}
.sahil-material .form-group label.control-label.seo-static-label{
    text-transform: uppercase !important;
    font-size: 10px !important; 
    color: #8e989f !important;
}
.sahil-material .form-group.label-floating label.control-label, 
.sahil-material .form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 14px;
    line-height: 18px;
    color: #8e989f;
}
.sahil-material .form-group.label-floating:not(.is-empty) label.control-label {
    top: -20px; 
    font-family: montserratregular;
    font-size: 11px; 
    text-transform: uppercase;
    color: #8e989f !important;
}
.sahil-material .form-group.label-floating.is-focused label.control-label {
    top: -20px; 
    font-size: 11px; 
    font-family: montserratregular;
    color: #8e989f !important;
}
.sahil-material .form-group.is-focused label,
.sahil-material .form-group.is-focused label.control-label {
    font-size: 11px; 
    font-family: montserratregular;
    color: #8e989f !important;
    text-transform: uppercase;
}
.sahil-material .form-control,
.sahil-material .form-group .form-control {
    border: 0 !important;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
}
.sahil-material .form-group.is-focused .form-control {
    outline: none;
    background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

/* custom material css end (sahil) */

.my-profile{
    padding-left: 10px;
    padding-right: 10px;
}
.subExt{
    background: #fff;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 0px 0 26px;
    color: #62696d !important;
}
.delete{
    cursor: pointer;
}